{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ng-controller="expenseCtrl"  data-ng-init="datatable();getBareme()" id="expenseCtrl">
                        <div class="blockloader" ng-show="loading"></div>
                        {% include 'dashboard/expense.html.twig' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/ExpenseBundle/expenseCtrl.js')}}></script>
{% endblock %}
