<div id="New" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_NEW_EXPENSE' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

                <!-- End condition  -->

            </div>
            {{ render(controller('ExpenseBundle:hrm_expense_ik:new')) }}
            {{ render(controller('ExpenseBundle:hrm_expense_transport:new')) }}
            {{ render(controller('ExpenseBundle:hrm_expenses_accomodation:new')) }}
            {{ render(controller('ExpenseBundle:hrm_expenses_dining:new')) }}
            {{ render(controller('ExpenseBundle:hrm_expenses_other:new')) }}



            <!-- Date script to detect changment-->
            <script>
                $(function () {
                    $('.datepicker').on('dp.change', function () {
                        var scope = angular.element($('.datepicker')).scope();
                        var valuefirstone = $(this).val();
                        scope.$apply(function () {
                            scope.new.date = valuefirstone;
                        });
                    });
                });
            </script>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>

</style>
