<div id="Edit" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_expense">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EDIT_EXPENSE' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            <span ng-show="edit.type=='Ik'">
                {{ render(controller('ExpenseBundle:hrm_expense_ik:modaledit')) }}
            </span>

            <span ng-show="edit.type=='Transport'">
                {{ render(controller('ExpenseBundle:hrm_expense_transport:modaledit')) }}
            </span>

            <span ng-show="edit.type=='Hebergement'">
                {{ render(controller('ExpenseBundle:hrm_expenses_accomodation:modaledit')) }}
            </span>

            <span ng-show="edit.type=='Restauration'">
                {{ render(controller('ExpenseBundle:hrm_expenses_dining:modaledit')) }}
            </span>

            <span ng-show="edit.type=='Autres'">
                {{ render(controller('ExpenseBundle:hrm_expenses_other:modaledit')) }}
            </span>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(function () {
        $('.datepicker').on('dp.change', function () {
            var scope = angular.element($('.datepicker')).scope();
            var valuefirstone = $(this).val();
            scope.$apply(function () {
                scope.edit.date = valuefirstone;
            });
        });
    });
</script>