/*.header-yellow {
    color: #855D10!important;
    border-color: #E8B10D !important;
    background: #FFC657 !important; 
}*/
div>a.nav-logo:hover{
   color: #f57b00 !important; 
}

a{
   color: #FFF !important; 
}
.dataTable>thead>tr>th[class*=sort]:hover {
     color: #f57b00 !important;
}

.dataTable>thead>tr>th.sorting_desc:after {
    content: "\f0dd";
    top: -6px;
    color: #f57b00 !important;
}

.dataTable>thead>tr>th.sorting_asc:after {
    content: "\f0de";
    top: 4px;
    color: #f57b00 !important;
}

.dataTable>thead>tr>th[class*=sorting_] {
     color: #f57b00 !important;
}
.dataTables_wrapper .row:last-child{
       background-color: #F5F5F5 !important;
}

.dataTables_wrapper .row:first-child {
       background-color: #F5F5F5 !important;
}

.ace-nav>li.light-blue>a {
   /* background-color: #FFC657 !important;*/
    color: grey !important;
}

.ace-nav>li.light-blue>a:hover {
    color: #f57b00 !important;
}

::selection {
    background: #f57b00;
    color: #ffffff;
    text-shadow: none;
}
/*
.float-btn.btn-theme {
    box-shadow: 0 4px 0 #a95500 !important;
}*/

.btn-theme:hover {
    background: #ffA500 !important
}

.btn-theme-annu:hover {
    background: #abbac3 !important;
}

.btn-theme {
    background: #f57C00 !important;
}

.btn-theme-annu {
    background: #7f95a2 !important;
}

/*
.float-btn.btn-theme-annu {
    box-shadow: 0 4px 0 #7a8890 !important;
}
*/
.btn, a.btn {
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
    outline: 0 !important;
    border: none;
    padding: 10px 22px;
    margin: 0 0 15px;
    color: rgba(255, 255, 255, 0.9) !important;
    -webkit-transition: background linear 300ms;
    -moz-transition: background linear 300ms;
    -o-transition: background linear 300ms;
    transition: background linear 300ms;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

li a {
    color: #616161 !important;
    text-transform: none ;
    font-family: Open Sans, Helvetica, Arial, sans-serif !important;
}

li a:hover {
    color: #f57B00 !important;
}