/* Tabs bar */

.tabs-bar-content {
    height: 44px;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}
.badge_option .mdl-cell {
	padding-right: 0px;
}
.dropdown-toggle i{
    font-size: 14px;
    padding-left: 6px;
}
.tabs-bar {
    position:absolute;
    left:0px;
	right:0;
    top:0;bottom:0;
    padding:0px;
    z-index:15;
    background:#ffffff;
    overflow:hidden;
}
.tabs-bar .tabs-list-container {
    width: 99999px;
	height:100%;
}
.tabs-bar .tabs-list {
    margin:0;
	padding:0;
    list-style:none;
    display: flex;
    align-items: center;
    height: 100%;
}
.tabs-bar .tabs-list:after {
    display:table;
    content:"";
    clear:both;
}
.tabs-bar .tabs-list li {
    /* display:inline-block; */
    float:left;
    opacity:1;
    transition:all .4s ease;
    height: 100%;
    display: flex;
    align-items: center;
}
.tabs-bar .tabs-list li.hide{
    opacity:0;
}
.tabs-bar .tabs-list li.hide a{
    cursor:default;
}
.tabs-bar .tabs-list li a {
    display:inline-block;
    transition:all .2s ease;
    color:rgba(0,0,0, 0.54);
    font-size:14px;
    padding:0 10px;
    line-height:44px;

}
.tabs-bar .tabs-list li a:hover {
    color:rgb(66,66,66);

}
.tabs-bar .tabs-list li a.active {
    transition:all 0 ease;
    color:rgb(66,66,66);
	border-bottom:4px solid #f57c00;
}

/* Dropwdown */
.dropdown-toggle {
    border:0;outline:0;box-shadow:none;
    display:inline-block;
    transition:all .2s ease;
    z-index:10;position:relative;
    text-align:center;
    line-height:1;
    background:none;
    padding:0;
    color:rgba(0,0,0, 0.54);
    font-size:14px;
    padding:0 10px;
    position:absolute;
    top:0;right:0;
    opacity:0;
    cursor:default;
}
.dropdown-toggle.show {
    opacity:1;
    cursor:pointer;
}
.dropdown-toggle:hover {
    color:rgb(66,66,66);
}
.dropdown-toggle:active,
.dropdown-toggle.open{
    transition:all 0s ease;
    color:rgb(66,66,66);
}
.badge_option .dropdown {
    position:absolute;
    top:0;right:0;
    opacity:0;
    transition:all .2s ease;
    z-index:0;
}
.badge_option .dropdown.show {
    opacity:1;
	z-index:15;
}
.badge_option .dropdown ul {
    list-style:none;
    margin:0;padding:0;
    position:absolute;
    top:60px;right:0;
    max-width:300px;
    transition:all .2s ease;
    background:#fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-top: 1px solid rgba(0,0,0,.12);
    opacity:0;
}
.badge_option .dropdown.open ul {
    opacity:1;
    top:56px;
}
.badge_option .dropdown ul li {
    margin:0;padding:0;
    transition:all .4s ease;
    opacity:0;
    max-height:0;
    float:left;
    width:100%;
    position:relative;
    overflow:hidden;
}
.badge_option .dropdown ul li.show{
    opacity:1;
    max-height:50px;
    float:none;
}
.badge_option .dropdown ul li a {
    display:block;
    transition:all .2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgba(0,0,0, 0.54);
    padding:15px 15px;
    text-transform:uppercase;
    font-size:14px;
    line-height:1;
    cursor:default;
}
.badge_option .dropdown.open ul li a {
    cursor:pointer;
}
.badge_option .dropdown ul li:hover a {
	color:rgb(66,66,66);
    background:#bababa;
}
.dropdown ul li:active a {
	color:rgb(66,66,66);
    background:#bababa;
}

@media all and (max-width: 699px) {
    /* Tabs bar */
    .tabs-bar {
        left:0;
        padding:0 80px 0 0px;
    }
    .tabs-bar .tabs-list li a {
        font-size:14px;
        padding:0 10px;
        line-height:44px;
    }

    /* Dropdown */
    .dropdown-toggle {
        line-height:44px;
        font-size:14px;
        padding:0 10px;
		background-color:#fff;
	    display: flex;
		align-items: center;	
    }
    .badge_option .dropdown ul {
        top:45px
    }
    .badge_option .dropdown.open ul {
        top:45px;
    }
    .badge_option .dropdown ul li a {
        padding:10px;
        font-size:12px;
        line-height:16px;
    }
};
