<span>
    <div class="col-sm-12 header-content">
        <div class="col-sm-6 col-xs-12 title_header">
            <h2>{[{'JOB_SITE'|translate}]}</h2>
        </div>
    </div>

    <div class="space_div"></div>
    <!-- Présenation table -->
    <div class="col-sm-12">
        <div ng-repeat="(firstKey,category) in tasks" ng-class="{row:(firstKey%2!=0)}">
            <div class="col-md-6 pull-1">
                <section class="cards acc col-md-10">
                    <div class="card">
                        <div class="card-header orange darken-2">
                            <div class="card-title">{[{category.title}]}</div>
                        </div>
                        <div class="card-content">
                            <ul ng-repeat="(lastKey,link) in category.hrm_job_link_data">
                                <li>
                                    <a href="{[{link.href}]}" target="{[{link.target}]}">{[{link.title}]}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</span>
