{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'saveCurrency("Currency")'} }) }}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">&times;</button>
        <h4 class="modal-title">Saisissez le nouveau taux de change</h4>
    </div>
    <div class="modal-body" style="white-space: normal;">

        <div class="form-group">
            {{ form_label(form.name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-8">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.currency.name'} } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.currencyIsoCode, "{[{'currencyIsoCode' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-8" ng-init="SavedCurrencies()">
                <select required ng-model="new.currency.currencyIsoCode"
                        ng-options='iso for iso in CurrenciesList'
                        class="form-control">
                    {#<code>{[{CurrenciesList}]}</code>#}
                    {#<option value="">{[{'CURRENCY_CHOICE' | translate}]}</option>#}
                    <option value="">Sélectionner une devise</option>
                    </select>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.rate, "{[{'rate' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-8">
                {{ form_widget(form.rate, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.currency.rate','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' } } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.date, "{[{'DATE' | translate}]}") }}
            {{ form_errors(form.date) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.date,{'attr':{'ng-model':'new.currency.date'}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>
        <span><b>{[{1|number:2}]}  {[{new.currency.currencyIsoCode}]}  = {[{new.currency.rate|number:2}]} EUR - Euro</b></span>
    </div>

    <div class="modal-footer">
        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center ">
            <button type="submit" id="ValiderIK" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'BUTTON_VALIDATE' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                    aria-label="Close">
                {[{'CANCEL' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" ng-click="ShowIndex()">
                {[{'RETURN' | translate}]}
            </button>
        </div>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}

