<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">&times;</button>
        <h4 class="modal-title">SHOW modal</h4>
    </div>
    <div class="modal-body" style="white-space: normal;">

            <div class="col-md-12">
                <h4>SHOW</h4>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'NAME' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p>{[{edit.currency.name}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'RATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p>{[{edit.currency.rate}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'CODE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p>{[{edit.currency.currencyIsoCode}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'DATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p>{[{edit.currency.date}]}</p>
                    </div>
                </div>
            </div>

    </div>

    <div class="modal-footer">

        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center ">
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                    aria-label="Close">
                {[{'CANCEL' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" ng-click="ShowIndex()">
                {[{'RETURN' | translate}]}
            </button>
        </div>
    </div>
</div>

