<div class="col-sm-12 header-content" style="padding-top: 3em;">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_ALL_EXPENSE_TYPES_ACCOMODATION' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#New' ng-click="">{[{'BUTTON_NEW' |
            translate}]}
        </button>
    </div>
</div>
<div class="space_div"></div>
<div class="filtre_options" ng-init="init()">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i
                        class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i
                        class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>

    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading">
        <thead>
            <tr>
                <th></th>
                <th>{[{'NAME' | translate}]}</th>
                <th>{[{'MODEL_TAXES' | translate}]}</th>
                <th>{[{'TYPE_SETTINGS_EXPENSE' | translate}]}</th>
                  <th>{[{'EXTERNAL_CODE' | translate}]}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="dataResult.result" class="list">

            <tr ng-repeat="task in dataResult.result" class="item" ng-show="task.type=='Hebergement'">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/>
                        </label>
                    </div>
                </td>
                <td>{[{ task.display_name }]}</td>
                <td>{[{ task.tax_model.display_name }]}</td>
                <td>{[{ task.type }]}</td>
                <td>{[{ task.external_code }]}</td>
                <td class="btns_actions_table">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" id="secondaryActions">
                            <span class="md md-more-vert f20"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- *** ACTION MODIFIER *** -->
                            <li role="separator" class="divider"></li>
                            <li>
                                <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,task.type)"
                                   aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:void(0)" ng-click="delete(task.id,task.type)">{[{'REMOVE' |
                                    translate}]}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        <tbody>
    </table>
    <div class="pull-left">
{#        {[{dataResult.result.length}]} {[{'RESULTS' | translate}]}
#}    </div>
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat=" (key,task) in dataResult.result" ng-if="task.type=='Hebergement'">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    {[{task.display_name}]}
                </h2>
                <span style="">
                    {[{task.type}]}
                </span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <span class="no-m-t mdl-color-text--grey-700">
                        {[{task.tax_model.display_name}]}
                    </span>
                </div>
            </div>
            <div class="card__supporting-text">
                <h4 ng-repeat="tax in task.tax_model.tax">{[{tax.rate}]} %</h4>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">

                    <div class="mdl-card__menu">

                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" id="secondaryActions">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- *** ACTION MODIFIER *** -->
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,task.type)"
                                       aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0)" ng-click="delete(task.id,task.type)">{[{'REMOVE' |
                                        translate}]}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

