<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->

{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form' ,'ng-submit':'save("Accomodation")'} }) }}
<div ng-show="accomodation" >
    <div class="space_div without_border"></div>  
    <div class="modal-body">
        
        <div class="form-group">
            {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}  
            {{ form_errors(form.contributor) }}
            <div class="col-sm-8">
                {{ form_widget(form.contributor,{'attr':{'ng-model':'new.contributor.id'}}) }}
            </div>
        </div>   
        
        <div class="form-group">
            {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }}  
            {{ form_errors(form.displayName) }}
            <div class="col-sm-8">
                {{ form_widget(form.displayName,{'attr':{'ng-model':'new.displayName'}}) }}
            </div>
        </div>

        
        <div class="form-group">
            {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}  
            {{ form_errors(form.date) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
            {{ form_errors(form.validator) }}
            <div class="col-sm-8">
                {{ form_widget(form.validator,{'attr':{'ng-model':'new.validator'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="space-4"></div>
            {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
            {{ form_errors(form.requester) }}
            <div class="col-sm-8">
                {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}  
            {{ form_errors(form.type) }}
            <div class="col-sm-8">
                {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'new.type'}}) }}
            </div>
        </div>

        
        <div class="form-group">
            {{ form_label(form.settingsExpAccomodation, "{[{'NATURE' | translate}]}") }}  
            {{ form_errors(form.settingsExpAccomodation) }}
            <div class="col-sm-8">
                {{ form_widget(form.settingsExpAccomodation,{'attr':{'ng-model':'new.natureAcc' , 'ng-change':'getTaxModelInpout("accomodation_tax_model", "new", new.type, new.natureAcc)'}}) }}
            </div>
        </div>

        <span ng-if="currencies.result.length>0">
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountAcc!=null">
                <input type="hidden"
                       value="{[{new .currencyIsoCode = (currency.currencyIsoCode)}]}">
                <input type="hidden"
                       value="{[{new.amountAccBase= (currency.rate * new .amountAcc)|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountAccBase= (currency.rate * new .untaxedAmountAcc)|number:2}]}">
                <input type="hidden"
                       value="{[{new.taxRate = currency.rate}]}">
            </span>
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountOth==null">
                <input type="hidden"
                       value="{[{new.amountAccBase= 0|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountAccBase= 0|number:2}]}">
            </span>
        </span>

        <div class="form-group">
            {{ form_label(form.amountAcc, "{[{'AMOUNT_REPAY' | translate}]}") }}  
            {{ form_errors(form.amountAcc) }}
            <div  ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">
                {{ form_widget(form.amountAcc,{'attr':{'ng-model':'new.amountAcc','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' , 'ng-change':'calculate_tax(new.amountAcc, "untaxedAmount")'}}) }}
                <span ng-if="currencies.result.length>0">Montant de base à rembourser : {[{new.amountOthBase = (new.taxRate * new.amountOth)|number:2}]} Euros</span>
            </div>
            <div class="col-sm-3" ng-if="currencies.result.length>0">
                {{ form_widget(form.company_currency,{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','attr':{'ng-model':'new.currency'}}) }}
            </div>
        </div>

         {[{calculate_tax(new.amountAcc, "untaxedAmount")}]}
            <!-- don't change it -->
         <span class='inject-btn-{[{new.natureAcc}]}-new'></span>
          <!-- don't change it -->
          
        <div class="form-group">
            {{ form_label(form.untaxedAmount, "{[{'AMOUNT_HT' | translate}]}") }}  
            {{ form_errors(form.untaxedAmount) }}
            <div class="col-sm-8">
                {{ form_widget(form.untaxedAmount,{'attr':{'ng-model':'new.untaxedAmount','ng-value':'new.untaxedAmount|number:2'}}) }}
            </div>
        </div>   

{#        
        <div class="form-group">
            {{ form_label(form.settingsProjects) }}
            {{ form_errors(form.settingsProjects) }}
            <div class="col-sm-8">
                {{ form_widget(form.settingsProjects,{'attr':{'ng-model':'new.project'}}) }}
            </div>
        </div>#}

        {#        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                    
                    <div class="form-group">
                        {{ form_label(form.SettingsStatus) }}
                        {{ form_errors(form.SettingsStatus) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.SettingsStatus,{'attr':{'ng-model':'new.status'}}) }}
                        </div>
                    </div>  
                {% endif %}
        #}
        
        <div class="form-group">
            {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }} 
            {{ form_errors(form.comment) }}
            <div class="col-sm-8">
                {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
            </div>
        </div>

        
        <div class="form-group">
            {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}  
            {{ form_errors(form.settings_pay_period) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'new.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                    <span class="input-group-addon">    
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>    
        

        <div class="form-group m-t-40">
            <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
            <div class="col-sm-8">
                <span class="block_attach input-icon input-icon-right">
                    <input ng-model="new.attachments.path" data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadNewAcAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="new.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="new.attachments.mimetype.split('/')[0] =='image'" src="{[{ new.attachments.path }]}" width='100px;' maxHeight='auto' >      
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope" ng-click="new.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{new.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope" href="{[{new.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div> 
                </span>


            </div>
        </div>

    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
            <div class="form-group checkbox with_label">
        <label class="">
            <input name="form-field-checkbox" id="checkAccomodation" type="checkbox" ng-model="new.checkedAccomodation" class="new-item ace input-lg">
            {[{'ADD_NEW' | translate}]} 
        </label>
        </div>    
        <button type="submit" id="ValiderACCOMODATION" class="btn btn-sm btn-success action" ng-disabled="IsDisabled" >
            {[{'BUTTON_VALIDATE' | translate}]}
        </button>
        <button type="submit" id="SauvegarderACCOMODATION" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset"  data-dismiss="modal" ng-disabled="IsDisabled"> {[{'CANCEL' | translate}]}</button>                                                

    </div>
    </div>

</div>
{{ form_end(form, {'render_rest': false}) }}

