<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="brand-logo pull-left">
                <div id="logo">
                    <a href="https://www.fabereo.fr">
                        <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                    </a>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">        
                <li navbar-search="" class="pull-left">
                    <div>
                        <div class="mat-slide-right pull-right">
                            <form class="search-form form-inline pull-left ">
                                <div class="form-group input_search_header">
                                    <label class="sr-only" for="search-input">{[{'SEARCH_HEAD' | translate}]}</label>
                                    <input type="text" class="form-control" id="search-input" placeholder="{[{'SEARCH_HEAD' | translate}]}" > </div>
                            </form>
                        </div>
                        <div class="pull-right btn_search_header">
                            <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="glyphicon glyphicon-search"></i> </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
            <li class="dropdown pull-right">
                  <div class="list-actions"> 
                <a href="#" class="btn btn-link" id="link_to_menu" name="link_to_menu" data-toggle="dropdown">
                    <i class="md md-more-vert f20"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="javascript:void(0)">{{app.user.username}}</a></li>
                          <li class="divider"></li>
                          <li><a href="{{path('preferences')}}">{[{'PREF_USER' | translate:userData}]}</a></li>
                          <li class="divider"></li>
                          <li><a href="{{path('fos_user_security_logout')}}" id="link_to_logout" name="link_to_logout">{[{'LOG_OUT' | translate:userData}]}</a></li>
                        </ul>
            </div>
            </li>
        </ul>
    </div>
</nav>   
{% if is_granted('ROLE_ADMIN')%}
    {% include '::menu/menu_admin/header.html.twig' %}

{% else %}
    {% include '::menu/menu_resp/header.html.twig' %}
    {#    {% include '::menu/menu_collab/header.html.twig' %}#}
{% endif %}
