<style>
    .submenu_society_list {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .submenu_society_list:hover {
        background-color:#eee;
    }
    .submenu_society_list:active button, .submenu_society_list:focus button, .submenu_society_list:active a, .submenu_society_list:focus a,
    .submenu_society_list button, .submenu_society_list button:hover, .submenu_society_list button:focus, .submenu_society_list button:active {
        background-color:transparent !important;
    }
    .submenu_society_list button, .submenu_society_list button:hover, .submenu_society_list button:focus, .submenu_society_list button:active{
        border:0 !important;
        box-shadow: 0 0 0 !important;
        color: #b70d18 !important;
        text-decoration: none !important;
        text-transform: capitalize !important;
    }
    .submenu_society_list button{
        visibility:hidden;
    }
    .submenu_society_list:hover button{
        visibility:visible;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="brand-logo pull-left">
                <div id="logo">
                    <a  href="{{ preference.portalreturnurl }}">
                        {% if (is_granted('ROLE_COLLABORATEUR') or  is_granted('ROLE_RESPONSABLE') or  is_granted('ROLE_ADMIN')) %}
                            {% if file_exists('assets/css/provider/images/provider_image_'~preference.providerId~'.png')%}
                                <img  src="{{asset('assets/css/provider/images/provider_image_'~preference.providerId~'.png')}}">
                            {% else %}
                                <img src="{{ asset('assets/img/logo.png') }}" alt="logo">            
                            {% endif %}      
                        {% else %}
                            <img src="{{ asset('assets/img/logo.png') }}" alt="logo"> 
                        {% endif %}  
                    </a>
                    <!-- End override-->
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">        
                <li navbar-search="" class="pull-left">
                    <div>
                        <div class="mat-slide-right pull-right">
                            <form class="search-form form-inline pull-left ">
                                <div class="form-group input_search_header">
                                    <label class="sr-only" for="search-input">{[{'SEARCH_HEAD' | translate:userData}]}</label>
                                    <input type="text" class="form-control" id="search-input" placeholder="{[{'SEARCH_HEAD' | translate:userData}]}" > </div>
                            </form>
                        </div>
                        <div class="pull-right btn_search_header">
                            <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
{#           <a href="{{ path('hrmcompany_layout')}}" class="btn btn-link pull-left settings_header help_link"><img src="{{ asset('assets/img/icons/streamline/cog.svg') }}"/></a>#}
<li><a href="{{ path('company_single_page')|replace({'%23':'#!'}) }}" class="btn btn-link pull-left settings_header help_link">
                            <i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/cog.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/cog_sel.svg') }}"/>
                        </i>
    </a></li>
            {#           Hide OR Show up to provider is_company_allowed value #}
            {% if is_granted('ROLE_RESPONSABLE')  %}
            {% if preference.getIsCompanyAllowed %}
                <a href="{{ path('hrmcompany_layout') }}" class="btn btn-link pull-left settings_header company_setting"><img src="{{ asset('assets/img/icons/streamline/company-setting.svg') }}"/></a>
                {% endif%}
            {% endif%}

            <li class="dropdown pull-right">
                <div class="list-actions"> 
                    <a href="#" class="btn btn-link" data-toggle="dropdown">
                        {% if app.user.firstname %}<span>{{app.user.firstname|slice(0,1)|upper ~ app.user.lastname|slice(0,1)|upper }}</span>{% else %}
                            <span>{{app.user.username|slice(0,2)|upper}}</span>{% endif %}
                            <i class="md md-keyboard-arrow-down f20"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="javascript:void(0)"{# class="username_div"#}>
                                    {% if app.user.firstname %}
                                        <b>{{app.user.firstname}}  {{app.user.lastname}}</b>
                                    {% else %}
                                        <b>{[{app.user.username}]}</b>
                                    {% endif %}
                                    {#                                    {% if (is_granted('ROLE_COLLABORATEUR') or  is_granted('ROLE_RESPONSABLE')) %}
                                                                            {% if preference.getEmpData.company %} 
                                                                                <a href="{{ path('hrmcompany_layout') }}" class="company_name_div">{{preference.getEmpData.company.name}}</a> 
                                                                            {% endif %}      
                                                                        {% else %} 
                                                                            ADMIN
                                                                        {% endif %} #}                                     
                                </a>
                            </li>
                            <li class="divider"></li>
                                {% if (is_granted('ROLE_COLLABORATEUR') or  is_granted('ROLE_RESPONSABLE')) %}
                                    {% for profile in preference.providers %}
                                        {% if profile.company is not null%}
                                            {% if preference.company %}
                                                {% if profile.company.name != preference.company.name %}
                                                <li class="submenu_society_list">
                                                    <a href="javascript:void(0)" ng-model="provider" ng-value="profile.company.id"><small>{{ profile.company.Name }}</small></a>

                                                    <form action="{{ path("predashboard") }}" method="post"> 
                                                        <button type="submit"  id="_submit" name='company' value='{{profile.company.id}}' class="width-35 pull-right btn btn-sm btn-primary">
                                                            <span class="bigger-110"><i class="fa fa-refresh"></i>   Changer</span>
                                                        </button>
                                                    </form>

                                                </li>
                                                <li class="divider"></li>
                                                {% endif %}
                                            {% endif %}  
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            <li><a href="{{path('preference_single_page')|replace({'%23':'#!'})}}">{[{'PREF_USER' | translate:userData}]}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{path('fos_user_security_logout')}}">{[{'LOG_OUT' | translate:userData}]}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
