<div id="SendTemp" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'SEND_DOCUMENT_JOB'|translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
<div class="space_div without_border"></div>
 <div class="modal-body">
                             {{ form_start(mail_form, {'attr' : {'name':'form_send_new', 'id':'form_send_new', 'class': 'form-horizontal','role':'form' ,"ng-submit":"send('content-ckeditor')"} }) }}
                               
                               
                                
                                <div class="">
                                    <div class="form-group">
                                        {{ form_label(mail_form.recipient, "{[{'RECIPTIENT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-grpppoup">
                                                {{ form_widget(mail_form.recipient, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'mail.receipient' } } ) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(mail_form.copie_carbone, "{[{'RECIPTIENT_CC' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-grpppoup">
                                                {{ form_widget(mail_form.copie_carbone, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'mail.copie_carbone' } } ) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(mail_form.subject, "{[{'SUBJECT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-grpppoup">
                                                {{ form_widget(mail_form.subject, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'mail.subject' } } ) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(mail_form.message, "{[{'MESSAGE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-grpppoup">
                                                {{ form_widget(mail_form.message, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'mail.message' } } ) }}
                                            </div>
                                        </div>
                                    </div>
                                            
                                            
                                </div>
                             
                                  <div class="space_div btns_actions"></div>
                                  <div class="modal-footer form-actions center ">
                                     
                                      <button type="submit" id="" class="btn btn-sm btn-success action"
                                              ng-disabled="IsDisabled">
                                          {[{'SEND' | translate}]}
                                      </button>
                                      <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                                              ng-disabled="IsDisabled">
                                          {[{'CANCEL' | translate}]}
                                      </button>
                                  </div>
                                  
                                {{ form_end(mail_form, {'render_rest': false}) }}  
                           </div> 
                    </div>
                    </div>
                    </div>
{#                </div>#}
            