<div class='space_div without_border'></div>
<div class='modal-body content-offer'>
    {{ form_start(form,{ 'attr': {'style': 'display:none !important', 'id':'form-ckeditor'} }) }}  
    {{ form_widget(form.content) }}
    <div class='space_div btns_actions'></div>
    <div class='modal-footer form-actions center form-actions-ckeditor'>
        <button class='btn btn-sm  btn-success action' type='submit' ng-click='editCKeditor()'
                ng-disabled='IsDisabled'>
            {[{'SAVE' | translate}]}
        </button>
        <button type='button' class='btn btn-white btn-default reset' ng-click='editCKeditor()' >
            {[{'CANCEL' | translate}]}
        </button>        
    </div>
    {{ form_end(form) }}    
    <!-- Présenation table -->
    <div id='print-content' class='content-ckeditor'>    
        <p style='text-align:center;'>{[{new_job_description.name}]}</p>

        <div  style='margin-left: 30px;'>
            <p><u>La société</u></p>
            <p>La société {[{new_company.name}]} opère dans le secteur {[{ industrySector }]} où elle sert une clientèle {[{customerType}]}. {[{new_company.name}]} cherche à compléter son équipe de {[{ new_company.employeeNumber }]} collaborateur(s) avec un {[{new_job_description.name}]}. L'activité de {[{new_company.name}]} consiste à {[{new_company.description}]}.
            </p>
            <p><u>Le poste</u></p>
            <p>
            <ul>
                <li>
                    Le poste {[{ new_job_description.name }]} est rattaché à {[{ new_job_description.departement }]} et placé sous la responsabilité du/de la {[{applicantSuperior.first_name }]} {[{ applicantSuperior.last_name }]}.
                </li>
                <li>
                    Les principales missions à accomplir sont :
                       <p class="white-space-pre-line" ng-if="new_job_description.assignement">{[{ new_job_description.assignement }]}</p>
                </li>
                <li>
                    Le poste est basé <span ng-if="new_company.jobAdress!=''"> {[{ new_company.jobAdress}]} {[{new_company.jobPostalCode}]} {[{new_company.jobCity}]} {[{ getCountry('userbundle_hrmcompany_country',new_company.jobCountry) }]}</span>
                    <span ng-if="!new_company.jobAdress"> {[{ new_company.adress}]} {[{new_company.postalCode}]} {[{new_company.city}]} {[{ getCountry('userbundle_hrmcompany_country',new_company.country) }]}</span>.
                    <span ng-if="new_job_description.plannedJourneyNumber">{[{ plannedJourneyType }]} Des déplacements sont à prévoir pour environ {[{ new_job_description.plannedJourneyNumber }]} jours et ce au niveau {[{ plannedJType }]}</span>
                </li>
                <li>
                    Le contrat proposé est de type {[{ contractType }]}.
                    <span ng-show='contractType == "temps partiel"'> Il consiste en un temps partiel de {[{ new_job_description.partTimeDayNumber }]} jours par {[{ partTimeDayPeriodicity }]}.</span>
                    <span ng-show='contractType !== "CDI"'> Il peut prendre effet dès le {[{ new_job_description.startDate }]}, jusqu'au {[{ new_job_description.endDate }]}.</span>
                </li>
                <li>
                    La rémunération fixe est de {[{new_job_description.remunerationAmountFrom}]} à {[{ new_job_description.remunerationAmountTo }]} euros selon l'expérience du candidat.
                    <span ng-show='new_job_description.remunerationOthers.length'>. En complément, cette rémunération inclut également :
                        {[{ new_job_description.remunerationOthers }]}</span>
                </li>
            </ul>
            </p>
            <p><u>Le candidat/la candidate :</u></p>
            <p>
            <ul>
                <span ng-repeat='item in jobApplicationStudyModel'>
                    <li>
                        De formation {[{ item.studyType }]}, il possède un diplôme de niveau {[{ item.studyLevel }]} <span ng-show='new_job_applicant.ApplicantStudySup'>ou supérieur</span></li>
                </span>
                <li>
                    Le candidat/la candidate a une expérience professionnelle d'au moins {[{ new_job_applicant.applicantProfessionalExperience }]} an(s)
                </li>
                <li ng-if="jobApplicationCompanyModel">
                    Il a notamment travaillé dans le secteur : 
                    <ul>
                        <span ng-repeat='item in jobApplicationCompanyModel'>
                            <li>  {[{ item.industrysector }]}
                                où il a exercé le métier de {[{ item.jobType }]} pendant au moins {[{ new_job_applicant.applicantProfessionalExperience }]} an(s)
                            </li>
                        </span>
                    </ul>

                </li>
                <li ng-if="getApplicationLanguageModel">
                    En termes de langues, le candidat/la candidate :
                    <ul>
                        <span ng-repeat='item in getApplicationLanguageModel'> 
                            <li>
                                niveau {[{ item.languageLevel }]} en {[{ item.language }]}
                            </li>
                        </span>
                    </ul>

                </li>
                <li ng-if="ApplicationTechnologyModel">
                    En termes de connaissances informatiques, le candidat/la candidate 
                    <ul>
                        <span ng-repeat='item in ApplicationTechnologyModel'>
                            <li>  {[{ item.technologyLevel }]} niveau en {[{ item.technology }]}</li>
                        </span>
                    </ul>

                </li>

                <li>        
                    complément d'information
                    <span ng-show='new_job_applicant.ApplicantExperienceComment.length'>
                        {[{ new_job_applicant.ApplicantExperienceComment }]}
                    </span>
                </li>
            </ul>
            </p>

            <p>
                Merci d'adresser votre candidature (CV et lettre de motivation) à {[{applicantContact.first_name }]} {[{ applicantContact.last_name }]}.</p>
            <p>Coordonnées : - E-mail: {[{ applicantContact.email }]} <br>
                                 <span style='margin-left: 75px;'>- Téléphone : {[{applicantContact.mobilePhone}]}</span>
            </p>
        </div>
    </div>
    <div class='space_div btns_actions'></div>
    <div class='modal-footer form-actions center'>
        <button class='btn btn-sm  btn-success action' ng-click='editCKeditor("content-ckeditor")'>
            {[{'EDITING' | translate}]}
        </button>
        <form action='{{ path('hrm_document_jobdescription_applicant_download_document')}}' method='post'>
            <input type='hidden' name='content' ng-value='content'/>
            <button class='btn btn-sm btn-success action' type='submit' ng-click='download_page("content-ckeditor")'>
                {[{'DOWNLOADING' | translate}]}
            </button>           
        </form>
        <button class='btn btn-sm btn-success action' ng-click='imprimer_page("print-content")'>
            {[{'PRINT' | translate}]}
        </button>
        <button  type="button" class="btn btn-theme ng-binding" data-toggle="modal" data-target="#SendTemp" id="btn_new_document_send">
            {[{'SEND' | translate}]}
        </button>        
        <button class='btn btn-sm btn-success action' ng-click='save_document("content-ckeditor")'>
            {[{'SAVE' | translate}]}
        </button>
    </div>
</div>
