{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'update("payday_update",edit.id)'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New">
    <div class="form-group">
        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
        {{ form_errors(form.contributor) }}
        <div class="col-sm-8">
            {{ form_widget(form.contributor,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_COLLA"]','ng-model':'edit.contributor.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.date,"{[{'DATE_ALIAS'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.date, {'attr': {'type':'text','class': 'form-control edit-pay-date',  'ng-model':'edit.date'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="space-4"></div>
        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, "{[{'TYPE_ALIAS' | translate}]}") }}
        {{ form_errors(form.type) }}
        <div class="col-sm-8">
            {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'edit.type'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
        {{ form_errors(form.validator) }}
        <div class="col-sm-8">
            {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR"]','ng-model':'edit.validator.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.amount, "{[{'AMOUNT'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.amount, {'attr': {'type':'text','class': 'form-control',  'ng-model':'edit.amount','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~''} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="edit.type=='Saisie'">
        {{ form_label(form.nature, "{[{'NATURE' | translate}]}") }}
        {{ form_errors(form.nature) }}
        <div class="col-sm-8">
            {{ form_widget(form.nature,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_NATURE"]','ng-model':'edit.nature.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.nbre_months, "{[{'NUMBER_MONTHLY'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.nbre_months, {'attr': {'type':'text','class': 'form-control',  'ng-model':'edit.nbre_months','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~''} } ) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.comment, "{[{'COMMENTS'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.comment'} } ) }}
        </div>
    </div>

    <div class="form-group m-t-40" ng-show="edit.type=='Saisie'">
        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit.attachments.path" data-fp-multiple="false"
                       class=" btn-success btn btn-file action" type="filepicker"
                       data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf"
                       data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                       data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"
                       data-fp-services="COMPUTER, WEBCAM"
                       onchange="angular.element(this).scope().uploadEditIkAttachment(event.fpfile);"/>
                                <div>
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'"
                                         src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                         maxHeight='auto'>
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                         src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto'>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope"
                                       ng-click="edit.attachments= null">
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                       class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}"
                                       data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'"
                                       class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope"
                                       href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>
            </span>


        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button type="submit" id="EditValiderPayDay" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate}]}
        </button>
        <button ng-if="enableBtn('{{ preference.empData.id }}' ,edit.requester.id)" type="submit"
                id="EditSauvegarderPayDay" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" id="ValiderIK" data-dismiss="modal"
                aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
