{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ng-controller="paydayvariationsCtrl" ng-init="datatable()" id="paydayvariationsCtrl">
                        {% include 'paydayvariations/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/PaydayvariationsBundle/paydayvariationsCtrl.js')}}></script>
{% endblock %}

{% block javascripts %}
{#    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Bonjour je selectionne le validateur");
        $("#paydayvariationsbundle_paydayvariations_validator").val($("#paydayvariationsbundle_paydayvariations_validator option:eq(1)").val());
                if (typeof angular.element($('#paydayvariationsCtrl')).scope() !== undefined)
                if (typeof angular.element($('#paydayvariationsCtrl')).scope().new !== undefined)
                angular.element($('#paydayvariationsCtrl')).scope().new.validator.id = $("#paydayvariationsbundle_paydayvariations_validator option:eq(1)").val();
      console.log("le validateur est selectionné ?");   
    });
    </script>#}
{% endblock %}
