<div id="paiPeriodExpenseCtrl" ng-controller="payPeriodExpenseCtrl" data-ng-init="datatable();get()">
<div class="space_div"></div>
    <!-- Frais, Primes et autres -->
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="input-group pull-left">
                <input type="hidden" ng-model="searchText.item" class="form-control pull-left" >
            </div>
        </div>
    </div>
<div class="col-sm-12">
<fieldset>
        <legend>{[{'SUMMARY_BONUS' | translate}]}</legend>


    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading_expense','pointspinner')}}

    <table class="table table-striped" ng-hide="loading_expense">
        <thead>
            <tr>
                <th>{[{'COLLABORATERS' | translate}]}</th>
                <th>{[{'EXPENSE' | translate}]}</th>
                <th>{[{'BONUS' | translate}]}</th>
                <th>{[{'PAY_DAY_VARIATION' | translate}]}</th>
                <th>{[{'TRANSPORT' | translate}]}</th>
{#                <th class="blur">{[{'ADVANTAGE' | translate}]}</th>#}
                <th>{[{'PERIODS' | translate}]}</th>
            </tr>
        </thead>
        <tbody ng-repeat="(key, task) in data = (filterList | filter: {period:payPeriodSearch.item|| undefined,FLname:contributorSearch|| undefined } : true)  | start: (currentPage - 1) * perPage | limitTo: perPage">
            <tr>
                <td>{[{task.FLname}]}</td>
                <td>{[{ task.expense_amount | currency}]} </td>
                <td>{[{ task.bonus_amount | currency}]} </td>
                <td>{[{ task.payday_amount | currency}]}</td>
                <td>{[{ task.transport_amount| currency}]} </td>
{#                <td>{[{ task.advantage_amount | number}]} </td>#}
                <td>{[{ slct_pay_period }]}</td>
            </tr>
        </tbody>
    </table>
    <div class="pull-left">
        {[{data.length}]}
        {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
</fieldset>
</div>
    <!-- END Frais, Primes et autres -->
    <!-- show pay period -->
   {# <script src="{{ asset('assets/js/moment.min.js')}}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>#}
</div>
