<div id="paiPeriodCtrl" ng-controller="payPeriodCtrl" data-ng-init="datatable();get()">

<div style="clear:both;"></div>
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 searchPicker">
        <div class="form-group col-sm-8">
            <div class="input-group">
                <input id="datetimepicker-slct"  placeholder="{[{'PERIOD' | translate}]}" type="text" class="form-control date-picker-slct">
                <span class="add-on input-group-addon search-period"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 btns_header">
        <div class="btn-group pull-right">
            <span ng-switch="payperiodLength">
                <button ng-switch-when="0" type="button" class="btn btn-theme"  data-toggle="modal" data-target='#add_pp' id="btn_export_open_payperiod">{[{'OPEN_PERIOD' | translate}]}</button>
                <button ng-switch-when="1" type="button" class="btn btn-theme"  data-toggle="modal" data-target='#open_pp' id="btn_export_open_payperiod">{[{'OPEN_PERIOD' | translate}]}</button>
                <button ng-switch-default type="button" class="btn btn-theme"  data-toggle="modal" data-target='#default_pp' id="btn_export_open_payperiod">{[{'OPEN_PERIOD' | translate}]}</button>
            </span>
            <span>
            <button id="btn_export" type="button" class="btn btn-theme icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="md md-more-vert f20"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>        
            <ul class="dropdown-menu">
                    <!-- <li data-toggle="modal" data-target='#add_pp'><a href="#">Ajouter</a></li>-->
                    <li ng-show="payperiodLength >= 1" data-toggle="modal" data-target='#close_pp'><a href="javascript:void(0)" id="btn_export_close_payperiod">{[{'CLOSE_PAYPERIOD' | translate}]}</a></li>
                  
                    <li><a href="{{path('exportemployees')}}" download id="btn_export_collaborators" name="btn_export_collaborators">{[{'EXPORT_EMPLOYEE' | translate}]}</a></li>
                    <li ng-show='show_export'><a href="{{path('apiSettingsPayPeriod_export_data')}}/{[{exp_pay_period}]}" name="btn_export_absences" id="btn_export_absences">{[{'EXPORT_ABSENCE' | translate}]}</a></li>
                    <li><a href="{{path('export_VPItems')}}/{[{exp_pay_period}]}" id="btn_export_expenses">{[{'EXPORT_EXPENSES' | translate}]}</a></li>
                    <li><a href="{{path('export_VPItemsColumns')}}/{[{exp_pay_period}]}" id="btn_export_expenses">{[{'EXPORT_EXPENSES' | translate}]} Column</a></li>
            </ul>            
            </span>
        </div>
    </div>
</div>
            {% include 'payPeriod/popup_open.html.twig' %}
            {% include 'payPeriod/popup_add.html.twig' %}
            {% include 'payPeriod/popup_close.html.twig' %}
            {% include 'payPeriod/popup_default.html.twig' %}

    <div class="filtre_options">
        <div class="filtre_options_container">
            <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
                <div style="width:100%;">
                    <div class="mat-slide-right pull-right" style="width:100%;">
                        <form class="search-form form-inline pull-left ">
                            <div class="form-group input_search_header">
                                <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                                <input type="text" class="form-control" ng-model="searchText.item" placeholder="{[{'SEARCH' | translate}]}"> </div>
                        </form>
                    </div>
                    <div class="pull-right btn_search_header">
                        <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">
                <div class="box_filter n1 searchOp">
                    <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                        <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListSearchE" class="drop-menu" ng-hide="custom_search">
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByContributor('All')" ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}</li>
                            <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                                <li class="separator_item"></li>
                                <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur)" ng-class="{'active': contributorSearch == collaborateur}"><i class="glyphicon glyphicon-ok"></i>{[{collaborateur}]}</li>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space_div"></div>
    <div class="col-sm-12">
        <fieldset>
            <legend>{[{'SUMMARY_LEAVE' | translate}]}</legend>

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading','pointspinner')}}

            <table class="table table-striped" ng-hide="loading">
                <thead>
                    <tr>
                        <th>{[{'COLLABORATERS' | translate}]}</th>
                        <th>{[{'LEAVE' | translate}]}</th>
                        <th>{[{'RTT' | translate}]}</th>
                        <th>{[{'OTHER_ABSENCE' | translate}]}</th>
                       {# <th class="blur">{[{'TRAINING' | translate}]}</th>#}
                        <th>{[{'PERIODS' | translate}]}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key, task) in data = (filterList | filter: {startdate:payPeriodSearch.item|| undefined,FLname:contributorSearch|| undefined } : true)  | start: (currentPage - 1) * perPage | limitTo: perPage">
                    <tr>
                        <td>{[{task.FLname}]}</td>
                        <td>{[{task.nbr_cp}]} </td>
                        <td>{[{task.nbr_rtt}]} </td>
                        <td>{[{task.nbr_others}]} </td>
                        {#<td>{[{task.nbr_training}]}<b>J</b></td>#}
                        <td>{[{slct_pay_period}]}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-left">
                {[{data.length}]}
                {[{'RESULTS' | translate}]}
            </div>
            <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
        </fieldset>
    </div>



</div>
<style>

    #Export fieldset {
        min-width: 100%;
        padding: 60px 15px 15px 15px;
        margin: 0;
        border: 1px solid #eee;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        background-color: #fff;
    }
    #Export legend {
        display: inline-block;
        width: auto;
        padding: 0px 6px;
        font-size: 16px;
        margin-bottom: 0px;
        border-bottom: 0;
        font-weight: 500;
        color: #757575;
        position: absolute;
        top: 15px;
        line-height: 18px;
    }
    .search_btn .form-control{
        border-radius: 18px !important;
        padding-left: 36px;
    }
    .search_btn  i.glyphicon {
        position: absolute;
        z-index: 10;
        font-size: 1.5em;
        left: 10px;
        top: 9px;
        color: grey;
    }
    @media screen and (min-width: 768px) {
        .search_btn, .search_btn > div {
            padding-left:0;
        }
    }
   @media screen and (max-width: 767px) {
        #Export fieldset {
            overflow: auto;
        }
        .box_filter {
            border-bottom: 0px !important;
        }
        #Export .btns_header {
            margin-top:8px;
    }
    }
    .highlight  {
        background-color: #f57C00 !important;
        font-weight:bold;
    }
</style>        
