{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div class="tabbable">

                        {% if is_granted('ROLE_RESPONSABLE') %}
                            <div id="Export" class="tab-pane">
                                {% include 'hrm_exports/ExportAbsence.html.twig' %}
                                {% include 'hrm_exports/ExportExpense.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/PayPeriodBundle/payPeriodCtrl.js')}}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodExpenseCtrl.js')}}></script>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(function () {


        $('.date-picker-slct').datepicker({
            format: 'mm/yyyy',
            autoclose: true,
            todayHighlight: false, //If true, highlights the current date.
            startView: "months",
            minViewMode: "months",
            /* beforeShowMonth:function(d)
             {
             return 'highlight';
             }*/
        }).on("changeDate", function (e) {
            try {
                date_y_m = moment(e.date).format('YYYY-MM');
                date_m_y = moment(e.date).format('MM/YYYY');
            } catch (e) {
                date_y_m, date_m_y = null;
            }
            angular.element($('#paiPeriodCtrl')).scope().slct_pay_period = date_m_y;
            angular.element($('#paiPeriodCtrl')).scope().exp_pay_period = date_y_m;
            angular.element($('#paiPeriodCtrl')).scope().datatable(date_y_m);
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#datetimepicker-start').datetimepicker({
            format: 'MM/YYYY'
        }).on('dp.change', function (e) {
            angular.element($('#add_pp')).scope().pay_period = moment(e.date).format('MM/YYYY');
            angular.element($('#add_pp')).scope().$apply();
        });
        $('#datetimepicker-open').datetimepicker({
            format: 'MM/YYYY'
        }).on('dp.change', function (e) {
            angular.element($('#open_pp')).scope().open_pay_period = moment(e.date).format('MM/YYYY');
            angular.element($('#open_pp')).scope().$apply();
        });
        $('.close_pperiod').datetimepicker({
            format: 'MM/YYYY'
        }).on('dp.change', function (e) {
            angular.element($('#close_pp')).scope().pay_period = moment(e.date).format('MM/YYYY');

            console.log('-- close pperiod--');
        });

        $('.date-picker-slct').datepicker({
                   autoclose: true,
                   todayHighlight: true,
                   startView: "months",
                   minViewMode: 1,
           }).on("changeDate", function(e) {
               try { date = moment(e.date).format('YYYY-MM');
                     pp_date = moment(e.date).format('MM/YYYY');
               }catch(e){ date = null; pp_date = null;}
               angular.element($('#paiPeriodExpenseCtrl')).scope().slct_pay_period = pp_date;
               angular.element($('#paiPeriodExpenseCtrl')).scope().datatable(date);
           }).next().on(ace.click_event, function () {
                   $(this).prev().focus();
           });
    });

    /**
     * date_f = moment($filter('timezone')(d)).format('MM/YYYY');
     $.map(data.payperiodlist, function(elem, index) {
     console.log(elem.startDate+' , '+ date_f)
     if (elem.startDate == date_f)
     return 'highlight';
     });
     */

</script>
{% endblock %}