<!-- End Check and Set default language -->
{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'update("admin_hrm_settings_exp_accommodation_update",detail.id)'} }) }}

<div class="space_div without_border"></div>
<div class="modal-body" id="New" ng-show="detail.type=='Hebergement'">

    <div class="form-group">
        {{ form_label(form.display_name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'detail.display_name'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.taxModel, "Model Tax", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.taxModel, {'attr': {'class': 'form-control', 'ng-model':'detail.tax_model.id', 'ng-model':'detail.tax_model.id'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group tax_modele_list">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-5">               
            <ul ng-repeat="item in datamodels.models| filter:{id:detail.tax_model.id||null}">
                <li ng-repeat="tax in item.tax">{[{tax.rate}]} %</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'detail.description'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.external_code, "{[{'EXTERNAL_CODE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.external_code, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'detail.external_code'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">

        <button class="btn btn-sm  btn-success action" type="submit"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}

