<div class="page-content">
    <div class="row" id="fuelux-wizard-container">
        <div class="col-sm-12">
            <div class="tabbable">
                {# <ul class="nav nav-tabs padding-12" id="myTabInter">#}

                <div class="col-sm-12 badge_option_grid fix">
                    <div class="badge_option">
                        <div class="tabs-bar-content">
                            <nav class="tabs-bar test_bar">
                                <div class="tabs-list-container">
                                    <ul class="tabs-list nav nav-tabs droptabs">
                                        {% if preference.providersMenuList() is not empty %}


                                            {% for menu in preference.providersMenuList() %}
                                                {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}
                                                    {% if active is not defined %}
                                                        <li class="always-visible active">
                                                            {% set active = true %}
                                                            <a data-toggle="tab"
                                                               href="#{{ menu.setting_menu.routeLinks }}"
                                                               onclick="return false;">{[{'{{ menu.setting_menu.name }}'
                                                                | translate}]}</a>
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <a data-toggle="tab"
                                                               href="#{{ menu.setting_menu.routeLinks }}"
                                                               onclick="return false;">{[{'{{ menu.setting_menu.name }}'
                                                                | translate}]}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <li class="always-visible active">
                                                <a data-toggle="tab" href="#Bonus" onclick="return false;">{[{'BONUS' |
                                                    translate}]}</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#PayDayVariation" onclick="return false;">{[{'PAY_DAY_VARIATION'
                                                    | translate}]}</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#ExtraHours" onclick="return false;">{[{'HOUR_SUPP'
                                                    | translate}]}</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#Transport" onclick="return false;">{[{'TRANSPORT'
                                                    | translate}]}</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#Benefit" onclick="return false;">{[{'AVNATAGES_NATURE'
                                                    | translate}]}</a>
                                            </li>
                                        {% endif %}
                                        <li class="dropdown plusList pull-right"><a href="#" id="myTabDrop1"
                                                                                    class="dropdown-toggle"
                                                                                    data-toggle="dropdown">{[{'BUTTON_PLUS'
                                                | translate}]} <b class="caret"></b></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>


                {#   <li class="active" >
                           <a data-toggle="tab" href="#Bonus">{[{'BONUS' | translate}]}</a>
                   </li>
                   <li>
                       <a data-toggle="tab" href="#PayDayVariation">{[{'PAY_DAY_VARIATION' | translate}]}</a>
                   </li>
                   <li>
                       <a data-toggle="tab" href="#ExtraHours">{[{'HOUR_SUPP' | translate}]}</a>
                   </li>
                   <li>
                       <a data-toggle="tab" href="#Transport">{[{'TRANSPORT' | translate}]}</a>
                   </li>
                   <li>
                       <a data-toggle="tab" href="#Benefit">{[{'AVNATAGES_NATURE' | translate}]}</a>
                   </li>

               </ul>#}

                <div class="tab-content">
                    {% if preference.providersMenuList() is not empty %}
                        {% for menu in preference.providersMenuList() %}
                            {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}

                                {% if menu.setting_menu.routeLinks == 'bonus_layout' %}
                                    <div id="{{ menu.setting_menu.routeLinks }}"
                                         class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">

                                        <div ng-controller="bonusCtrl" data-ng-init="datatable();initBonusType()"
                                             id="bonusCtrl">
                                            {% include ('hrm_bonus/index.html.twig') %}
                                        </div>
                                    </div>
                                {% elseif  menu.setting_menu.routeLinks == 'paydayvariations_layout' %}
                                    <div id="{{ menu.setting_menu.routeLinks }}"
                                         class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %} ">
                                        {% set active_tab = true %}
                                        <div ng-controller="paydayvariationsCtrl" ng-init="datatable()"
                                             id="paydayvariationsCtrl">
                                            {% include ('paydayvariations/index.html.twig') %}
                                        </div>
                                    </div>
                                {% elseif  menu.setting_menu.routeLinks == 'hours_layout' %}
                                    <div id="{{ menu.setting_menu.routeLinks }}"
                                         class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                        {% set active_tab = true %}
                                        <div ng-controller="extrahoursCtrl" ng-init="datatable();getOpenMonths()">
                                            {% include ('extra_hours/index.html.twig') %}
                                        </div>
                                    </div>
                                {% elseif  menu.setting_menu.routeLinks == 'hrm_transport_layout' %}
                                    <div id="{{ menu.setting_menu.routeLinks }}"
                                         class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                        {% set active_tab = true %}
                                        <div ng-controller="transportCtrl" data-ng-init="datatable()"
                                             id="transportCtrl">
                                            {% include ('transport/index.html.twig') %}
                                        </div>
                                    </div>
                                {% elseif  menu.setting_menu.routeLinks == 'benefit_layout' %}
                                    <div id="{{ menu.setting_menu.routeLinks }}"
                                         class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                        {% set active_tab = true %}
                                        <div ng-controller="benefitCtrl" data-ng-init="datatable()" id="benefitCtrl">
                                            {% include ('benefit/index.html.twig') %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div id="Bonus" class="tab-pane in active">
                            {#{% include 'hrm_bonus/index.html.twig' %}#}
                            <div ng-controller="bonusCtrl" data-ng-init="datatable();initBonusType()" id="bonusCtrl">
                                {{ render(controller('BonusBundle:hrm_bonus:index')) }}
                            </div>
                        </div>
                        <div id="PayDayVariation" class="tab-pane">
                            <div ng-controller="paydayvariationsCtrl" ng-init="datatable()" id="paydayvariationsCtrl">
                                {% include 'paydayvariations/index.html.twig' %}
                            </div>
                        </div>
                        <div id="ExtraHours" class="tab-pane">
                            <div ng-controller="extrahoursCtrl" ng-init="datatable();getOpenMonths()">
                                {% include 'extra_hours/index.html.twig' %}
                            </div>
                        </div>
                        <div id="Transport" class="tab-pane">
                            <div ng-controller="transportCtrl" data-ng-init="datatable()" id="transportCtrl">
                                {{ render(controller('TransportBundle:hrm_transport:index')) }}
                            </div>
                        </div>
                        <div id="Benefit" class="tab-pane">
                            <div ng-controller="benefitCtrl" data-ng-init="datatable()" id="benefitCtrl">
                                {{ render(controller('BenefitBundle:hrm_benefit:index')) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/angular/filepicker.js') }}"></script>
<script type="text/javascript">
    filepicker.setKey("AYMtrggo0TACjDPBMsQ3uz");
    //filepicker.pick(picker_options, onSuccess(Blob){}, onError(FPError){}, onProgress(FPProgress){});
</script>