{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ng-controller="settingspaydayvarnatureCtrl" ng-init="init()">
                        {#{[{tasks}]}#}
                        {#<div class="blockloader" ng-show="loading"></div>#}
                        {% include 'Admin/settings_paydayvar_nature/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/AdminBundle/settingspaydayvarnatureCtrl.js')}}></script>
{% endblock %}
