<!-- End Check and Set default language -->
{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'save("api_pay_day_variation_save")'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New">
    <div class="form-group">
        {{ form_label(form.displayName, "{[{'NAME'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.displayName, {'attr': {'type':'text','class': 'form-control', 'ng-model':'new.displayName'} } ) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.description, "{[{'DESCRIPTION'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control','ng-model':'new.description'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.external_code, "{[{'EXTERNAL_CODE'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.external_code, {'attr': {'class': 'form-control','ng-model':'new.external_code'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="checkbox" id="checkbox" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form) }}
