{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settings_paydayvar_nature</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settings_paydayvar_nature.id }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ settings_paydayvar_nature.displayName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ settings_paydayvar_nature.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsnature_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsnature_edit', { 'id': settings_paydayvar_nature.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
