<span>
    <div class="col-sm-12 header-content">
        <div class="col-sm-6 col-xs-12 title_header">
            <h2>{[{'CONTRACT_JOB'|translate}]}</h2>
        </div>
    </div>

    <div class="space_div"></div>
    <!-- Présenation table -->
    <div class="col-sm-12">
        <a href="http://oauth2client.dev.hrm.pmeti.hosting/?connect=google"  target="_blank"> Oauth 2 Client</a>
        <div ng-repeat="(firstKey,contract_category) in tasks" ng-class="{row:(firstKey%2!=0)}">
            <div class="col-md-6 pull-1">
                <section class="cards acc col-md-10">
                    <div class="card">
                        <div class="card-header orange darken-2">
                            <div class="card-title">{[{contract_category.title}]}</div>
                        </div>
                        <div class="card-content">
                            <ul ng-repeat="(lastKey,contract_link) in contract_category.hrm_contract_link_data">
                                <li>
                                    <a href="{[{contract_link.href}]}" target="{[{contract_link.target}]}">{[{contract_link.title}]}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</span>
