{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div id="collaborateurCtrl" ng-controller="collaboraterCtrl"  data-ng-init="datatable()">
                    <div class="col-sm-12 header-content">
                        <div class="col-sm-6 col-xs-12 title_header">
                            <h2>{[{'LIST_COLLAB' | translate}]}</h2>
                        </div>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                            <!-- Split button -->
                            <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-theme"  data-toggle="modal" data-target='#newemployee' id="btn_new_collaborator">{[{'CREATE_COLLAB' | translate}]}</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="filtre_options">
                        <div class="filtre_options_container">
                            <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
                                <div style="width:100%;">
                                    <div class="mat-slide-right pull-right" style="width:100%;">
                                        <form class="search-form form-inline pull-left ">
                                            <div class="form-group input_search_header">
                                                <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                                                <input type="text" class="form-control" ng-model="searchText" placeholder="{[{'SEARCH' | translate}]}"> </div>
                                        </form>
                                    </div>
                                    <div class="pull-right btn_search_header">
                                        <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                                    </div>
                                </div>
                            </div>                
                            <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">
                                <div class="box_filter n1 searchOp">
                                    <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                                        <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                                    </button>
                                    <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                                        <ul class="tri_option">
                                            <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE'
                            | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.username)"
                                ng-class="{'active': contributorSearch == collaborateur.username}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                        </span>
                                        </ul> 
                                    </div>  
                                    
                                    
                                </div>  
                                <div class="box_filter n2 pull-right" >
                                    <button class="btn mdl-button mdl-js-button tri"   ng-click="toggleUp1();">
                                        <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                                        <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                                    </button>
                                    <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {[{'FILT_TYPE' | translate}]}  <i class="glyphicon glyphicon-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu tri_option">
                                        <li class="mdl-menu__item" ng-click="filterByContract('All')" ng-class="{'active': contractSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'FILTER_BY_TYPE' | translate}]}</li>
                                        <span ng-repeat="(key,contract) in contractList">
                                            <li class="separator_item"></li>
                                            <li class="mdl-menu__item" ng-click="filterByContract(contract)" ng-class="{'active': contractSearch == contract}"><i class="glyphicon glyphicon-ok"></i>{[{contract}]}</li>
                                        </span>
                                    </ul> 						
                                </div>
                                <div class="box_filter n4">
                                    <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i class="glyphicon glyphicon-th"></i></button>
                                    <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i class="glyphicon glyphicon-th-list"></i></button>
                                </div>
                            </div>
                        </div>            
                    </div>  
                    <div class="space_div"></div>
                    <!-- Présenation table -->
                    <div class="col-sm-12 table_grid" ng-show="showTable">
                        {#       Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
                        {% import "loader/tableLoader.html.twig" as loading %}
                        {{loading.spinner('loading','pointspinner')}}
                        <table class="table table-striped" ng-hide="loading">
                            <thead>
                                <tr>
                                    <th>{[{'COLLABORATER' | translate}]}</th>
                                    <th>{[{'CONTRAT' | translate}]}</th>
                                    <th>{[{'POSITION_NAME' | translate}]}</th>
                                    <th>{[{'EMAIL' | translate}]}</th>
                            <tbody ng-repeat="(key, task) in response = (filterList | filter: {user:{username:contributorSearch||undefined},employee_contract:{contractType:{display_name:contractSearch|| undefined}} && undefined}: true)| orderBy:'contractType.contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">
                                <tr>
                                    <td>
                                        <span ng-if="task.user.first_name!=NULL || task.user.first_name!=''">{[{task.user.first_name}]} {[{task.user.last_name}]}</span>
                                        <span ng-if="task.user.first_name==NULL || task.user.first_name==''">{[{task.user.username}]}</span>
                                    </td>
                                    <td>{[{task.employee_contract.contractType.display_name}]}</td>
                                    <td>{[{task.employee_contract.salJobTitle}]}</td>
                                    <td>{[{task.user.email}]}</td> 
                                    <td class="btns_actions_table"> 
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="btn_collaborator_{[{task.id}]}">
                                                <span class="md md-more-vert f20"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a  data-toggle="modal" data-target='#CollaborateurShow' ng-click="SelectInfos(task.id,'Collaborateur')" id="show_collaborator_{[{task.id}]}"  ><i class="icon-arrow-up"></i>{[{'BUTTON_SHOW' | translate}]}</a></li>
                                                <li><a  data-toggle="modal" data-target='#EditCollaborator' ng-click="SelectInfos(task.id,'Collaborateur')" id="edit_collaborator_{[{task.id}]}"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a data-toggle="modal" data-target='#CollaborateurContractShow' ng-click="SelectInfosShowContrat(task.id,'Collaborateur')" id="show_contract_{[{task.id}]}"><i class="icon-arrow-up"></i>{[{'BUTTON_SHOW' | translate}]} {[{'CONTRAT' | translate}]}</a></li>
                                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                                                    <li><a data-toggle="modal" data-target='#ContratCollaborateur' ng-click="SelectInfos(task.id,'Collaborateur')"  id="edit_contract_{[{task.id}]}" aria-haspopup="true" aria-expanded="false" ng-click="SelectInfos(task.id,'Collaborateur')"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]} {[{'CONTRAT' | translate}]}</a></li>
                                                    {% endif %}
                                            </ul>
                                        </div>
                                    </td>       
                                </tr>
                            <tbody>
                        </table>
                        <div class="pull-left">
                            {[{response.length}]}
                            {[{'RESULTS' | translate}]} 
                        </div>
                        <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
                    </div>
                    <!-- Présenation Card -->
                    <div class="col-sm-12 card_grid" ng-hide="showTable">
                        <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="(k, task) in response ">
                            <div class="card bordered">
                                <div class="card-header">
{#                                    <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{task.first_name}]}</h2>#}
                                        <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                                            <span ng-show="task.user.first_name!=NULL || task.user.first_name!=''">{[{task.user.first_name}]} {[{task.user.last_name}]}</span>
                                            <span ng-show="task.user.first_name==NULL || task.user.first_name==''">{[{task.user.username}]}</span>
                                        </h2>
                                    <span>{[{task.birth_date| date:'dd/MM/yyyy'}]}</span>
                                </div>
                                <div class="card-content">
                                    <div class="p-00">
                                        <h4 class="no-m-t mdl-color-text--grey-700">
                                            <p>
                                                {[{task.employee_contract.contractType.display_name}]}
                                            </p>                     
                                        </h4>
                                    </div>
                                </div>
                                <div class="card__supporting-text">
                                    <p>
                                        {[{task.user.email}]}
                                    </p>   
                                    <h5 class="no-m-t mdl-color-text--grey-700">{[{task.employee_contract.salJobTitle}]}</h5>                          
                                </div>
                                <div class="card-action">
                                    <div class="card__menu_btns">
                                        <div class="mdl-card__menu"> 
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="md md-more-vert f20"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a  data-toggle="modal" data-target='#CollaborateurShow' ng-click="SelectInfos(task.id,'Collaborateur')"><i class="icon-arrow-up"></i>{[{'BUTTON_SHOW' | translate}]}</a></li>
                                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                                                        <li><a  data-toggle="modal" data-target='#EditCollaborator' ng-click="SelectInfos(task.id,'Collaborateur')"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                                                        {% endif %}
                                                    <li role="separator" class="divider"></li>
                                                    <li><a data-toggle="modal" data-target='#ContratCollaborateur' ng-click="SelectInfos(task.id,'Collaborateur')" aria-haspopup="true" aria-expanded="false" ng-click="SelectInfos(task.id,'Collaborateur')"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]} {[{'CONTRAT' | translate}]}</a></li>
                                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                                                        <li><a  data-toggle="modal" data-target='#CollaborateurContractShow' ng-click="SelectInfosShowContrat(task.id,'Collaborateur')"><i class="icon-arrow-up"></i>{[{'BUTTON_SHOW' | translate}]} {[{'CONTRAT' | translate}]}</a></li>
                                                        {% endif %}
                                                </ul>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <!-- Modal -->
                    {% include 'collaborator/profile/show.html.twig' %}
                    {% include 'collaborator/contract/show.html.twig' %}
                    {{ render(controller('UserBundle:Profils:edit')) }}
                    {{ render(controller('UserBundle:Profils:editcontract')) }}
                    {{ render(controller('UserBundle:Profils:new')) }}                           
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
{#    document.addEventListener('click', function (e) {
            $( ".tri_add_del_options select" ).each(function() {
            $(this).on("blur focus", function (e) {
                $p1 = $(this).parent();
                console.log('$p1',$p1);
                $radioB = $p1.prev();
                console.log('$radioB',$radioB);
                $radioB.click();
            });
        });
        $( ".tri_add_del_options input" ).each(function( i ) {
            $(this).on("blur focus", function (e) {
                $p2 = $(this).parent();
                console.log('$p2',$p2);
                $radioS = $p2.prev();
                console.log('$radioS',$radioS);
                $radioS.click();
            });
            });
}, false);#}
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                toolbarPlacement: 'bottom',
                showClear: true,
                showClose: true,
                format: 'DD/MM/YYYY',
                icons: {
                    date: 'fa fa-calendar',
                    up: 'sfa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            });

            $('.datepicker').on('dp.change', function (e) {
                if ($(this).hasClass('edit_birthdate')) {
                    if (typeof angular.element($('#EditCollaborator')).scope().edit.birth_date !== "undefined")
                    {
                        angular.element($('#EditCollaborator')).scope().edit.birth_date = moment(e.date).format('DD/MM/YYYY');
                        angular.element($('#EditCollaborator')).scope().$apply();
                    }
                }
                if ($(this).hasClass('new_birthdate')) {
                    // if (typeof angular.element($('#newemployee')).scope().new.birth_date !== "undefined") {  
                    angular.element($('#newemployee')).scope().new.birth_date = moment(e.date).format('DD/MM/YYYY');
                    angular.element($('#newemployee')).scope().$apply();
                    //}
                }
                if ($(this).hasClass('salJoinedDate')) {
                    if (typeof angular.element($('#ContratCollaborateur')).scope().editcontrat.salJoinedDate !== "undefined")
                    {
                        console.log("typeof");
                        angular.element($('#ContratCollaborateur')).scope().editcontrat.salJoinedDate = moment(e.date).format('DD/MM/YYYY');
                        angular.element($('#ContratCollaborateur')).scope().$apply();
                    }
                }
                if ($(this).hasClass('salLeftDate')) {
                    if (typeof angular.element($('#ContratCollaborateur')).scope().editcontrat.salLeftDate !== "undefined")
                    {
                        angular.element($('#ContratCollaborateur')).scope().editcontrat.salLeftDate = moment(e.date).format('DD/MM/YYYY');
                        angular.element($('#ContratCollaborateur')).scope().$apply();
                    }
                }

                if ($(this).hasClass('salSeniorityDate')) {
                    if (typeof angular.element($('#ContratCollaborateur')).scope().editcontrat.salSeniorityDate !== "undefined")
                    {
                        angular.element($('#ContratCollaborateur')).scope().editcontrat.salSeniorityDate = moment(e.date).format('DD/MM/YYYY');
                        angular.element($('#ContratCollaborateur')).scope().$apply();
                    }
                }
            });
        });
    </script>  
    <script type="text/javascript">
        jQuery(function ($) {
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                    .next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
        });
    </script>
{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/CollaboraterBundle/collaboraterCtrl.js')}}></script>
    {#<script src={{ asset('angular/CollaboraterBundle/skillsCtrl.js')}}></script>#}
{% endblock %}
