<ul class="nav nav-list">

    <!-- Only USER ADMIN have to access this menu -->
        <!--- Manage Users --->
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Utilisateurs </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <!-- START -->
            <ul class="submenu">

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Roles
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li class="">
                            <a href="{{path('adminRoles_index')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Liste roles
                            </a>

                            <b class="arrow"></b>
                            </il>
                        <li class="">
                            <a href="{{path('adminRoles_new')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Nouveau
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <!-- --->
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Type des contrats
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li class="">
                            <a href="{{path('adminTypeContracts_index')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Liste type des contrats
                            </a>

                            <b class="arrow"></b>
                            </il>
                        <li class="">
                            <a href="{{path('adminTypeContracts_new')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Nouveau
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <!-- -->
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Mode de paiement
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li class="">
                            <a href="{{path('adminPaymentMethod_index')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Liste  mode de paiement
                            </a>

                            <b class="arrow"></b>
                            </il>
                        <li class="">
                            <a href="{{path('adminPaymentMethod_new')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Nouveau
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <!-- 
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Catégories
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li class="">
                            <a href="{{path('adminCategories_index')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Liste catégories
                            </a>

                            <b class="arrow"></b>
                            </il>
                        <li class="">
                            <a href="{{path('adminCategories_new')|replace({'%23':'#'})}}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Nouveau
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                --->
               <!-- Satuts employe -->
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text"> Statut employés </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="{{path('adminSettingsEmpStatus_index')|replace({'%23':'#'})}}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Liste statut
                                </a>

                                <b class="arrow"></b>
                                </il>
                            <li class="">
                                <a href="{{path('adminSettingsEmpStatus_new')|replace({'%23':'#'})}}">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Nouveau
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                <!-- fin Satuts employe --> 
            </ul>
            <!-- END -->                        
        </li>

    <!-- End Manage Users -->
    <!-- Congés et Absences -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Congés et Absences </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminConges_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Congés
                </a>

                <b class="arrow"></b>
            </li>
           <!-- <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>

                    Types de congés
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminTypeConges_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Liste des Types des congés
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminTypeConges_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
             Gestion Types des Absences -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Type des congés </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsAbsences_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste type des congés
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsAbsences_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion Type des absences --> 
        </ul>
        <b class="arrow"></b>



    </li>

    <!-- gestion Régime -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> >Conventions Collectives </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                <a href="{{path('adminRegimes_index')|replace({'%23':'#'}) }}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste Conventions
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{path('adminRegimes_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>                  
    </li>

    <!-- Gestion de PROJETS -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Projets </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="active">
                <a href="{{path('adminProjects_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste Projets
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="{{path('adminProjects_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>                  
    </li>

    <!-- Gestion Barémes Kilométriques-->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Barémes KM </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsExpCoeff_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste barémes
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsExpCoeff_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion Barémes Kilométriques -->

    <!-- Gestion des formations -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Type des Formations </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminTrainingType_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste Type des Formations
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminTrainingType_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion des formations -->

    <!-- Gestion des Statuts -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Statut </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminStatus_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste statuts
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminStatus_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion des Statuts -->
    <!-- Gestion des Primes -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text">Primes </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
                  <!-- Bonus -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">Primes </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSubPremiumType_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Primes
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSubPremiumType_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- end Bonus -->
            <!-- Type Bonus -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">Types </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminPremiumType_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Types
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminPremiumType_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- end Type bonus -->
        </ul>
    </li>
    <!-- fin gestion des Primes -->    

        <!-- Gestion Avantages en Nature -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Avantages en Nature </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <!--  Context des cadeaux -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">Contexte des cadeaux</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSettingsGiftContext_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Liste Contexte des cadeaux
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSettingsGiftContext_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- end Context des cadeaux -->
            
          <!--  Véhicules -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">Véhicules</span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSettingsAdvVehicle_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Liste Véhicules
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSettingsAdvVehicle_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- end Véhicules -->
        </ul>
    </li>
    <!-- fin gestion Avantages en Nature -->         
    
        <!-- Gestion Types des transports -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Type des Transports </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminTypeTransports_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste type des transports
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminTypeTransports_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion Type des transports -->

<!-- Gestion Types des frais -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Frais </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        
      <ul class="submenu">
           <!-- Gestion nature des transports -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Transport </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSettingsExpTransport_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Natures transport
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSettingsExpTransport_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
           <!-- fin nature des transports -->
           <!-- Gestion des Hébergements -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Hébergement </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSettingsExpAccommodation_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Natures hébergement
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSettingsExpAccommodation_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau 
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- fin gestion Hébergement --> 
            <!-- Gestion nature des restaurations -->
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Restauration  </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{path('adminSettingsExpDinning_index')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Natures restauration
                        </a>

                        <b class="arrow"></b>
                        </il>
                    <li class="">
                        <a href="{{path('adminSettingsExpDinning_new')|replace({'%23':'#'})}}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nouveau 
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <!-- fin nature des restaurations --> 
            <!-- Autres natures -->
             <li class="">
              <a href="#" class="dropdown-toggle">
                  <i class="menu-icon fa fa-list"></i>
                  <span class="menu-text"> Autres natures  </span>

                  <b class="arrow fa fa-angle-down"></b>
              </a>

              <b class="arrow"></b>

              <ul class="submenu">
                  <li class="">
                      <a href="{{path('adminTypeExpenses_index')|replace({'%23':'#'})}}">
                          <i class="menu-icon fa fa-caret-right"></i>
                          Liste natures
                      </a>

                      <b class="arrow"></b>
                      </il>
                  <li class="">
                      <a href="{{path('adminTypeExpenses_new')|replace({'%23':'#'})}}">
                          <i class="menu-icon fa fa-caret-right"></i>
                          Nouveau 
                      </a>

                      <b class="arrow"></b>
                  </li>
              </ul>
          </li>
            <!-- end Autres natures -->  
        </ul>
    </li>
    <!-- fin gestion Type des frais -->    
  

<!-- Gestion TAX -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> TAX </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsTax_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste TAX
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsTax_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin gestion TAX -->    
    
<!-- Gestion des Etudes -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Etudes </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        
      <ul class="submenu">
      <!-- type de frais -->
       <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Type  </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsStudyType_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste types
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsStudyType_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau 
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
      <!-- end type de frais -->
      
                <!-- Gestion niveaux d'études -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Niveaux  </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsStudyLevel_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste niveaux
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsStudyLevel_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau 
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <!-- fin niveau d'étude --> 

        </ul>
    </li>
<!-- fin gestion d'Etudes --> 

<!-- Gestion devises -->
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Devises </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{path('adminSettingsCurrency_index')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liste devises
                </a>

                <b class="arrow"></b>
                </il>
            <li class="">
                <a href="{{path('adminSettingsCurrency_new')|replace({'%23':'#'})}}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Nouveau
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
<!-- fin gestion devises --> 

</ul>