<div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                        <span class="sr-only">Toggle sidebar</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                        <a href="{{path('adminRoles_index')|replace({'%23':'#'})}}" class="navbar-brand">
                                <small style="color:#999999 !important">
                                        <i class="fa fa-leaf"></i>
                                 H.R.M
                                </small>
                        </a>
</div>

<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">						

						<li class="light-blue dropdown">
							<a data-toggle="dropdown" data-disabled href="javascript:void(0)" class="dropdown-toggle">
                                                            {% if app.user %}
                                                                 {% if  (file_exists('uploads/avatars/'~app.user.avatars)) and (app.user.avatars != "") %}
                                                                    <img class="nav-user-photo p-avatar" src="{{ asset('uploads/avatars/'~app.user.avatars) }}" alt="{{app.user.username}}" />
                                                                {% else %}
                                                                    <img class="nav-user-photo p-avatar" src="{{ asset('uploads/avatars/avatar.png') }}" alt="" />
                                                                 {% endif %}
								<span class="user-info">
									<small style="color:#999999 !important">Welcome,</small>
                                                                          {{ app.user.username }}
								</span>
                                                            {% endif %}
								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="javascript:void(0)">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="{{path('admin_profils_edit')|replace({'%23':'#'})}}">
										<i class="ace-icon fa fa-user"></i>
										Profil
									</a>
								</li>
                                                                <li>
									<a href="{{path('admin_EmployeeContract_edit')|replace({'%23':'#'})}}">
										<i class="ace-icon fa fa-list-alt"></i>
										Contrat
									</a>
								</li>
								<li class="divider"></li>

								<li>
									<a href="{{ path('fos_user_security_logout') }}">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
                                                                                
        </div><!-- /.navbar-container -->
</div>                                                                                