{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ng-controller="settingsLanguageCtrl" ng-init="init()">
                        {% include 'Admin/hrm_settings_language/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/AdminBundle/adminCtrl.js')}}></script>
{% endblock %}
