{% import "Actions/SecondaryActions/actionsForTraining.html.twig" as action %}
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_HRM_TRAINING' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <div class="btn-group">
            <button type="button" class="btn btn-theme" data-toggle="modal" id="btnNewTraining" name="btnNewTraining"
                    data-target='#NewTraining'>
                {[{'BUTTON_NEW' | translate}]}
            </button>
        </div>

        {% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}
        {{ globalaction.global() }}
        
    </div>
</div>
<input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.getEmpData().getId() }}">
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" id="search-input"
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

            <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchA" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE'
                            | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur)"
                                ng-class="{'active': contributorSearch == collaborateur}"><i
                                        class="glyphicon glyphicon-ok"></i>{[{collaborateur}]}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <div class="box_filter n2">
                <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByStatus('All')"
                        ng-class="{'active': statutSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' |
                        translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')"
                        ng-class="{'active': statutSearch == 'En attente de validation'}"><i
                                class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Validé')"
                        ng-class="{'active': statutSearch == 'Validé'}"><i class="glyphicon glyphicon-ok"></i>{[{'VALID'
                        | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')"
                        ng-class="{'active': statutSearch == 'Brouillon'}"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT'
                        | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Refusé')"
                        ng-class="{'active': statutSearch == 'Refusé'}"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED'
                        | translate}]}
                    </li>
                </ul>
            </div>

            <div class="box_filter n2 not_bordered">
                <div class="searchDate" style="position:relative;">
                    <button class="btn tri_up_down" ng-click="toggleCustom()">
                        <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                                class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListDateF" class="drop-menu" ng-hide="custom">
                        <div class="tri_dates">
                            <div class="element1" style="display:block;">
                                <div>
                                    <input ng-model='dateSearch' class="form-control date-picker-from-month"
                                           id="date-picker-from-month" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByDatePicker('All')"
                                ng-class="{'active': dateSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES'
                                | translate}]}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="box_filter n3">
                <button class="btn tri" ng-click="toggleUp2();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up2"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up2"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[{'FILT_TYPE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByTrainingType('All')"
                        ng-class="{'active': trainingTypeSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_TYPES'
                        | translate}]}
                    </li>
                    <span ng-repeat="(key,trainingtype) in trainingTypes">
                        <li class="separator_item"></li>
                        <li class="mdl-menu__item" ng-click="filterByTrainingType(trainingtype)"
                            ng-class="{'active': trainingTypeSearch == trainingtype}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{trainingtype}]}</li>
                    </span>
                </ul>
            </div>
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i
                            class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i
                            class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 badge_option_grid">
    <div class="badge_option">
        <div class="tabs-bar-content">
            <nav class="tabs-bar test_bar">
                <div class="tabs-list-container">
                    <ul class="tabs-list nav nav-tabs droptabs">
                        <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                               ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                               data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                               ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                        class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                               ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                               ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                        data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                               ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                        </li>
                        
                        <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                </ul>
                        </li>
                
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="space_div"></div>
<div class="col-sm-12 table_grid" ng-show="showTable">
    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}
    <table class="table table-striped" ng-hide="loading">
        <thead>
        <tr>
            <th></th>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th class="hideCol">{[{'NAME' | translate}]}</th>
            <th>{[{'TYPE_ALIAS' | translate}]}</th>
            <th>{[{'STARTDATE' | translate}]}</th>
            <th>{[{'ENDDATE' | translate}]}</th>
            <th>{[{'AMOUNT' | translate}]}</th>
            <th>{[{'STATUS' | translate}]}</th>
            <th class="hideCol">{[{'JUSTIF' | translate}]}</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, task) in data = (filterList | filter: {start_date_month:dateSearch|| undefined,settings_status:{display_name:statutSearch|| undefined} ,settingsTrainingType:{display_name:trainingTypeSearch|| undefined},FLname:contributorSearch|| undefined }: true)| orderBy:'settings_status.display_name':up1| orderBy:'settingsTrainingType.display_name':up2 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <tr>
            {{ globalaction.checkbox("{[{task.id}]}",'remove_training','{[{task.settings_pay_period.status}]}',preference.empData.user.roles[0],'{[{task.settings_status.display_name}]}', preference.empData.id) }}
            <td>{[{task.FLname}]} </td>
            <td class="hideCol">{[{task.displayName}]}</td>
            <td>{[{task.settingsTrainingType.display_name}]}</td>
            <td>{[{task.startDate| date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.endDate| date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.amount|currency}]}</td>
            <td ng-if="task.settings_status.id=='1'" class="attente_stat">
                <p>
                    {[{'WAITING' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                <p>
                    {[{'DRAFT' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='2'" class="valide_stat">
                <p>
                    {[{'VALID' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='3'" class="refuse_stat">
                <p>
                    {[{'REJECTED' | translate}]}
                </p>
            </td>
            <td class="hideCol">
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   data-lightbox="example-1">
                    <span class="glyphicon glyphicon-paperclip text-muted"></span>

                </a>
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   download>
                    <span class="glyphicon glyphicon-download text-muted"></span>
                </a>
            </td>
            <td class="btns_actions_table">
                {{ action.secondaryForTraining('confirm_training','cancel_training','remove_training') }}
            </td>
        </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{data.length}]}
        {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat="(key, task) in data = (filterList | filter: {FLname:contributorSearch|| undefined,settings_status:{display_name:statutSearch|| undefined} ,settingsTrainingType:{display_name:trainingTypeSearch|| undefined} }: true)| orderBy:'settings_status.display_name':up1| orderBy:'settingsTrainingType.display_name':up2 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    {[{task.contributor.user.username}]}</h2>
                <span style="">{[{task.startDate | date:'dd/MM/yyyy'}]}</span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">{[{task.amount| currency}]}</h4>
                </div>
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">{[{task.settingsTrainingType.display_name}]}</h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p ng-if="task.settings_status.id=='1'" class="attente_stat">
                    {[{'WAITING' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                   {[{'DRAFT' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='2'" class="valide_stat">
                    {[{'VALID' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='3'" class="refuse_stat">
                    {[{'REJECTED' | translate}]}
                </p>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">

                    <div class="mdl-card__menu">
                        <div class="btn-group pull-right">
                            {{ action.secondaryForTraining('confirm_training','cancel_training','remove_training') }}
                        </div>
                    </div>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       data-lightbox="example-1">
                        <span class="glyphicon glyphicon-paperclip text-muted"></span>

                    </a>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       download>
                        <span class="glyphicon glyphicon-download text-muted"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->

<!--New -->
{{ render(controller('TrainingBundle:training:new')) }}

<!--Edit -->
{{ render(controller('TrainingBundle:training:edit')) }}

{#<!--Show -->#}
{% include 'training/show.html.twig' %}
