{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">  
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>  
                    <div ng-controller="trainingCtrl"  data-ng-init="datatable();">
                        <div class="blockloader" ng-show="loading"></div>
                        {% include 'training/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/TrainingBundle/trainingCtrl.js') }}></script>
{% endblock %}

{% block javascripts %}
    
{% endblock %}

{#<div class="form-group">#}
    {#<div class="space-4"></div>#}
    {#{{ form_label(form.settingsTrainingType, "{[{'BONUS_TYPE'|translate}]}") }}#}
    {#{{ form_errors(form.settingsTrainingType) }}#}
    {#<div class="col-sm-8">#}
        {#{{ form_widget(form.settingsTrainingType,{'attr':{'ng-model':'new.settingsTrainingType'}}) }}#}
    {#</div>#}
{#</div>#}