<div id="Edit_transport" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_edit_transport">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EDIT_HRM_TRANSPORT'|translate}]}
                    {#{{ preference.companyId  }}#}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'ng-submit':'update("hrm_transports_update",edit.id)','ng-model':'edit.id'} }) }}
            <div class="space_div without_border"></div>
            <div class="modal-body" id="new">
                <input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.employeeId }}">
                <div {#ng-init="InitFields()"#}>
                    <div class="form-group">
                        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
                        {{ form_errors(form.contributor) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.contributor,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_COLLA"]','ng-model':'edit.contributor.id'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.date, "{[{'TRANSPORT_DATE' | translate}]}") }}
                        {{ form_errors(form.date) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.date,{'attr':{'ng-model':'edit.date'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
                        {{ form_errors(form.validator) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR"]','ng-model':'edit.validator.id'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="space-4"></div>
                        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
                        {{ form_errors(form.requester) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
                        {{ form_errors(form.type) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'edit.type'}}) }}
                        </div>
                    </div>
                    <div class="form-group" ng-if="edit.type=='Transport personnel'">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6">
                            <label class="radio required">
                                <p class="help-block">
                                    Le salarié est-il contraint d'utiliser sa voiture personnelle
                                    soit à cause de difficultés d'horaires,
                                    soit à cause de l'inexistance de transports en commun
                                </p>
                            </label>
                        </div>
                        <div class="col-sm-1">
                        </div>

                        <div class="col-sm-2">
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           id="optionsRadios1"
                                           ng-model="edit.publicMandatory" ng-value="true"
                                           ng-checked="edit.publicMandatory"
                                           id="transportbundle_hrm_transport_publicMandatory_0"
                                           name="transportbundle_hrm_transport[publicMandatory]"
                                           required="required"
                                           >
                                    Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           id="optionsRadios2"
                                           ng-model="edit.publicMandatory" ng-value="false"
                                           ng-checked="!edit.publicMandatory"
                                           id="transportbundle_hrm_transport_publicMandatory_1"
                                           name="transportbundle_hrm_transport[publicMandatory]"
                                           required="required"
                                          >
                                    Non
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.amount, "{[{'AMOUNT' | translate}]}") }}
                        {{ form_errors(form.amount) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.amount,{'attr':{'ng-model':'edit.amount','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.startDate, "{[{'START_DATE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.startDate) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.startDate,{'attr':{'ng-model':'edit.startDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.endDate, "{[{'END_DATE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.endDate) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.endDate,{'attr':{'ng-model':'edit.endDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
                        {{ form_errors(form.comment) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.comment,{'attr':{'ng-model':'edit.comment'}}) }}
                        </div>
                    </div>

                    <div class="form-group m-t-40">
                        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' |
                            translate}]}</label>
                        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit.attachments.path" data-fp-multiple="false"
                       class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM"
                       data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                       data-fp-hide="false" hideWhenUploading="true"
                       data-fp-container="window" onchange="angular.element(this).scope().uploadEditAttachment(event.fpfile);"/>
                                <div>
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" ng-click="edit.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>
            </span>


                        </div>
                    </div>
                    <div class="space_div btns_actions"></div>
                    <div class="modal-footer form-actions center ">
                        <div class="form-group checkbox with_label">
                            <label class="">
                                <input name="form-field-checkbox" id="checkTransport" type="checkbox"
                                       ng-model="edit.check"
                                       class="new-item ace input-lg">
                                {[{'ADD_NEW' | translate}]}
                            </label>
                        </div>
                        <button type="submit" id="EditValiderTransport" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'BUTTON_VALIDATE' | translate}]}
                        </button>
                        {#        {% endif %}#}
                        <button type="submit" id="EditSauvegarderTransport" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'SAVE' | translate}]}
                        </button>
                        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                                ng-disabled="IsDisabled">
                            {[{'CANCEL' | translate}]}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
