{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div ng-controller="transportCtrl" data-ng-init="datatable()" id="transportCtrl" >
                    {{ render(controller('TransportBundle:hrm_transport:index')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/TransportBundle/transportCtrl.js') }}></script>
{% endblock %}
{#{% block javascripts %}
<script type="text/javascript">
$(function () {
        $('.datepicker').datetimepicker({
            toolbarPlacement: 'bottom',
            showClear: true,
            showClose: true,
            format: 'DD/MM/YYYY',

        });
    });
</script>
{% endblock %}#}