<div id="NewTransport" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_new_transport">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_HRM_TRANSPORT'|translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'ng-submit':'save("hrm_TRANSPORT_add")'} }) }}
            <div class="space_div without_border"></div>
            <div class="modal-body" id="new">
                <input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.employeeId }}">
                <div ng-init="InitFields()">
                    <div class="form-group">
                        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
                        {{ form_errors(form.contributor) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.contributor,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_COLLA","'~preference.employeeId~'"]','ng-model':'new.contributor.id'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.date, "{[{'TRANSPORT_DATE' | translate}]}") }}
                        {{ form_errors(form.date) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
                        {{ form_errors(form.validator) }}
                        <div class="col-sm-8">{#new.validator.id {[{ new.validator.id }]}#}
                            {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR",null]','ng-model':'new.validator.id'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="space-4"></div>
                        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
                        {{ form_errors(form.requester) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
                        {{ form_errors(form.type) }}
                        <div class="col-sm-8"> {#new.type {[{new.type }]}#}
                            {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','ng-model':'new.type'}}) }}
                        </div>
                    </div>
                    <div class="form-group" ng-if="getType(new.type) =='Transport personnel'">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6">
                            <label class="radio required">
                                <p class="help-block">
                                    Le salarié est-il contraint d'utiliser sa voiture personnelle
                                    soit à cause de difficultés d'horaires,
                                    soit à cause de l'inexistance de transports en commun
                                </p>
                            </label>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           id="optionsRadios1"
                                           ng-model="new.publicMandatory"
                                           id="transportbundle_hrm_TRANSPORT_publicMandatory_0"
                                           name="transportbundle_hrm_transport[publicMandatory]"
                                           required="required"
                                           value="1">
                                    Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="optionsRadios"
                                           id="optionsRadios2"
                                           ng-model="new.publicMandatory"
                                           id="transportbundle_hrm_TRANSPORT_publicMandatory_1"
                                           name="transportbundle_hrm_transport[publicMandatory]"
                                           required="required"
                                           value="0">
                                    Non
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.amount, "{[{'AMOUNT' | translate}]}") }}
                        {{ form_errors(form.amount) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.amount,{'attr':{'ng-model':'new.amount','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.startDate, "{[{'START_DATE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.startDate) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.startDate,{'attr':{'ng-model':'new.startDate', 'ng-init':'new.date = CurrentDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.endDate, "{[{'END_DATE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.endDate) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.endDate,{'attr':{'ng-model':'new.endDate', 'ng-init':'new.date = CurrentDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
                        {{ form_errors(form.comment) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
                        </div>
                    </div>

                    <div class="form-group m-t-40">
                        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' |
                            translate}]}</label>
                        <div class="col-sm-8">
                            <span class="block_attach input-icon input-icon-right">
                                {#input ng-model="new.attachments" data-fp-multiple="false" class=" btn-success btn btn-file action"
                                       type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM"
                                       data-fp-button-class="" data-fp-hide="false" hideWhenUploading="true"
                                       data-fp-container="window" onchange="event.fpfile.url"/>#}
                                <input ng-model="new.attachments.path" data-fp-multiple="false"
                                       data-fp-services="COMPUTER, WEBCAM"
                                       data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf"
                                       class=" btn-success btn btn-file action" type="filepicker"
                                       data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                                       data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"
                                       onchange="angular.element(this).scope().uploadNewAttachment(event.fpfile);"/>
                                <div>
                                    <img ng-show="new.attachments.mimetype ==='application/pdf'"
                                         src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                         maxHeight='auto'>
                                    <img ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                         src="{[{ new.attachments.path }]}" width='100px;'
                                         maxHeight='auto'>         </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       ng-click="new.attachments= null">
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                       class="icon_attach example-image" ng-href="{[{new.attachments.path}]}"
                                       data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype ==='application/pdf'"
                                       class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       href="{[{new.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="space_div btns_actions"></div>
                    <div class="modal-footer form-actions center ">
                        <div class="form-group checkbox with_label">
                            <label class="">
                                <input name="form-field-checkbox" id="checkTransport" type="checkbox"
                                       ng-model="new.check"
                                       class="new-item ace input-lg">
                                {[{'ADD_NEW' | translate}]}
                            </label>
                        </div>
                        <button type="submit" id="ValiderTransport" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'BUTTON_VALIDATE' | translate}]}
                        </button>
                        {#        {% endif %}#}
                        <button type="submit" id="SauvegarderTransport" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'SAVE' | translate}]}
                        </button>
                        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                                ng-disabled="IsDisabled">
                            {[{'CANCEL' | translate}]}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
            <!-- Date script to detect changment-->


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
