<!-- popup Show -->
{#{[{edit}]}#}
<div id="Show_transport" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_transport">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'SHOW_HRM_TRANSPORT'|translate}]}</h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->

            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body form-horizontal show_form">
                <!-- start commun-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COLLABORATER' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.contributor.user.first_name }]} {[{edit.contributor.user.last_name }]}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'HRM_TRANSPORT_DATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.date | date:'dd/MM/yyyy'}]}</p>
                    </div>
                </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'VALIDATOR' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.validator.user.first_name }]} {[{edit.validator.user.last_name }]}</p>
                    </div>
                </div>

                
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'REQUESTER' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.requester.user.first_name }]} {[{edit.requester.user.last_name }]}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'HRM_TRANSPORT_TYPE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.type}]}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'AMOUNT' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.amount | number:2}]}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'START_DATE_ALIAS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.startDate | date:'dd/MM/yyyy'}]}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'END_DATE_ALIAS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.endDate | date:'dd/MM/yyyy'}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'STATUS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.settings_status.display_name}]}</p>
                    </div>
                </div>

                <!-- End Transport-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COMMENTS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.comment}]}</p>

                    </div>
                </div>
                <!-- End commun -->

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'ATTACHMENT' | translate}]}
                    </label>
                    <div class="col-sm-8">

                                    <span class="block_attach">
                                <div>
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'"
                                         src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                         maxHeight='auto'>
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                         src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto'>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                       class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}"
                                       data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'"
                                       class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope"
                                       href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>
                                    </span>


                    </div>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>