{% extends '::Admin/admin.html.twig' %}

{% block content %}
 <div data-ng-controller="AdminCtrl">
     <div data-ng-view></div>
  <div id="dialog-confirm" class="hide"></div>     
 </div>   
  
{% endblock %}
