{#{% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}#}
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'CostsHelp'|translate}]}</h2>
    </div>
</div>

<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12">
    <div class="embedded_costs">
<script
id="script-simulateur-embauche" data-couleur="#f57c00" src="https://embauche.beta.gouv.fr/modules/v2/dist/simulateur.js"></script>
</div>
</div>



