{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block AngularjsControllers %}

    <script src={{ asset('angular/BonusBundle/bonusCtrl.js') }}></script>
    <script src={{ asset('angular/ExpenseBundle/expenseCtrl.js') }}></script>
    <script src={{ asset('angular/requestAbsenceBundle/requestAbsenceCtrl.js') }}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodCtrl.js') }}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodExpenseCtrl.js') }}></script>
    <script src={{ asset('angular/CollaboraterBundle/collaboraterCtrl.js')}}></script>

    {% if preference.providersMenuList() is not empty %}
        {% for menu in preference.providersMenuList() %}
            {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}

                {% if menu.setting_menu.routeLinks == 'bonus_layout' %}
                    <script src={{ asset('angular/BonusBundle/bonusCtrl.js') }}></script>
                {% elseif  menu.setting_menu.routeLinks == 'paydayvariations_layout' %}
                    <script src={{ asset('angular/PaydayvariationsBundle/paydayvariationsCtrl.js') }}></script>
                {% elseif  menu.setting_menu.routeLinks == 'hours_layout' %}
                    <script src={{ asset('angular/ExtraHoursBundle/extrahoursCtrl.js') }}></script>
                {% elseif  menu.setting_menu.routeLinks == 'hrm_transport_layout' %}
                    <script src={{ asset('angular/TransportBundle/transportCtrl.js') }}></script>
                {% elseif  menu.setting_menu.routeLinks == 'benefit_layout' %}
                    <script src={{ asset('angular/BenefitBundle/benefitCtrl.js') }}></script>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <script src={{ asset('angular/BonusBundle/bonusCtrl.js') }}></script>
        <script src={{ asset('angular/PaydayvariationsBundle/paydayvariationsCtrl.js') }}></script>
        <script src={{ asset('angular/ExtraHoursBundle/extrahoursCtrl.js') }}></script>
        <script src={{ asset('angular/TransportBundle/transportCtrl.js') }}></script>
        <script src={{ asset('angular/BenefitBundle/benefitCtrl.js') }}></script>
    {% endif %}


    <script src={{ asset('angular/AdminBundle/joblinkdataCtrl.js') }}></script>
    <script src={{ asset('angular/AdminBundle/contractLinkDataCtrl.js') }}></script>
    <script src={{ asset('angular/Hiring/hiringCtrl.js')}}></script>


    <script src={{ asset('angular/PayPeriodBundle/payPeriodCtrl.js')}}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodExpenseCtrl.js')}}></script>

    <script src={{ asset('angular/CollaboraterBundle/companyCtrl.js')}}></script>

    <script src={{ asset('angular/SettingsBundle/settingsCtrl.js')}}></script>
    <script src="{{ asset('angular/BaseBundle/routing.js') }}"></script>
{% endblock %}

{% block javascripts %}

{% endblock %}
