
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                   <li style="color:#fb5700 !important">
            <i class="ace-icon fa fa-home home-icon"></i>
            Accueil
        </li>
                    <li class="active"><a style="color:#999999 !important" href="{{path('adminSettingsGiftContext_index')|replace({'%23':'#'}) }}">Contexte des cadeaux</a></li>
                    <li class="" style="color:#999999 !important">Modifier contexte des cadeaux</li>
            </ul><!-- /.breadcrumb -->

            <!-- /.nav-search -->
    </div>
 <div class="page-content">                    
<div class="page-header">
        <h1 style="color:#fb5700 !important">
        Contexte des cadeaux
                <small style="color:#999999 !important">
                        <i class="ace-icon fa fa-angle-double-right"></i>  
                   Modifier contexte des cadeaux
                </small>
        </h1>
</div><!-- /.page-header -->                     


    <div class="row">
    <div class="col-xs-12" data-ng-init="setCurrentId({{settingsgiftcontext.id}})">
      
            <!-- PAGE CONTENT BEGINS -->
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form', 'ng-submit':'update('~settingsgiftcontext.id~')'}}) }}
       <div class="form-group">
           {{ form_label(form.display_name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
           <div class="col-sm-5">
               <div class="input-grpppoup">
               {{ form_widget(form.display_name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'detail.display_name' } } ) }}
                 </div>
           </div>
       </div>
       <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
           <div class="col-sm-5">
               {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'detail.description'} } ) }}
           </div>
       </div>
<div class="form-actions center navbar-fixed-bottom" style="margin-bottom: 0px">
    <button type="submit" class="btn float-btn  btn-theme">
     Valider   
    </button>    
<button type="button" class="btn  float-btn  btn-theme-annu" ng-click="path('adminSettingsGiftContext_index')"> Annuler</button>                                                    
 </div>

    {{ form_end(form) }}
 </div> 
 </div> 
 </div>