{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_expenses_guests list</h1>

    <table>
        <thead>
            <tr>
                <th>Uid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Createdate</th>
                <th>Createuid</th>
                <th>Lastupdate</th>
                <th>Lastupdateuid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hrm_expenses_guest in hrm_expenses_guests %}
            <tr>
                <td><a href="{{ path('guests_show', { 'id': hrm_expenses_guest.uid }) }}">{{ hrm_expenses_guest.uid }}</a></td>
                <td>{{ hrm_expenses_guest.firstName }}</td>
                <td>{{ hrm_expenses_guest.lastName }}</td>
                <td>{% if hrm_expenses_guest.createDate %}{{ hrm_expenses_guest.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_expenses_guest.createUid }}</td>
                <td>{% if hrm_expenses_guest.lastUpdate %}{{ hrm_expenses_guest.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_expenses_guest.lastUpdateUid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('guests_show', { 'id': hrm_expenses_guest.uid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('guests_edit', { 'id': hrm_expenses_guest.uid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guests_new') }}">Create a new hrm_expenses_guest</a>
        </li>
    </ul>
{% endblock %}
