<div class="space-4"></div>
<div class="form-group">
    {{ form_label(form.firstName) }}
    {{ form_errors(form.firstName) }}
    <div class="col-sm-5">
        {{ form_widget(form.firstName,{'attr':{'ng-model':'new.firstName'}}) }}
    </div>
</div>
<div class="space-4"></div>
<div class="form-group">
    {{ form_label(form.lastName) }}
    {{ form_errors(form.lastName) }}
    <div class="col-sm-5">
        {{ form_widget(form.lastName,{'attr':{'ng-model':'new.lastName'}}) }}
    </div>
</div>

{{ form_end(form, {'render_rest': false}) }}