{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_expenses_guest</h1>

    <table>
        <tbody>
            <tr>
                <th>Uid</th>
                <td>{{ hrm_expenses_guest.uid }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ hrm_expenses_guest.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ hrm_expenses_guest.lastName }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{% if hrm_expenses_guest.createDate %}{{ hrm_expenses_guest.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createuid</th>
                <td>{{ hrm_expenses_guest.createUid }}</td>
            </tr>
            <tr>
                <th>Lastupdate</th>
                <td>{% if hrm_expenses_guest.lastUpdate %}{{ hrm_expenses_guest.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastupdateuid</th>
                <td>{{ hrm_expenses_guest.lastUpdateUid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('guests_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('guests_edit', { 'id': hrm_expenses_guest.uid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
