<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_settingcongetype','name':'form_edit_settingcongetype' ,'role':'form'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
        <div class="form-group">
            {{ form_label(form.type, "{[{'TYPE_ALIAS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                <div class="input-grpppoup">
                    {{ form_widget(form.type, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingcongetype.type' } } ) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.soldeNegative, "{[{'NEGATIF_BALANCE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                <div class="input-grpppoup">
                    {{ form_widget(form.soldeNegative, {'attr': {'ng-model':'edit_settingcongetype.soldeNegative','ng-checked':'edit_settingcongetype.soldeNegative', 'class':'ace ace-switch ace-switch-5'} }) }}
                    <span class="lbl middle"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.nbJours, "{[{'NDAYS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                <div class="input-grpppoup">
                    {{ form_widget(form.nbJours, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingcongetype.nbJours' } } ) }}
                </div>
            </div>
        </div>
       <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="update()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>

        {{ form_end(form) }}
    </div> 
</div>   
 </div>