{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'ng-submit':'update("extra_hours_update",edit.id)'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New">
    <div class="form-group">
        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
        {{ form_errors(form.contributor) }}
        <div class="col-sm-8">
            {{ form_widget(form.contributor,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_COLLA"]','ng-model':'edit.contributor.id', 'ng-init':'edit.contributor.id = "'~preference.employeeId~'"'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.date,"{[{'HOUR_SUPP_DATE'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.date, {'attr': {'type':'text','class': 'form-control',  'ng-model':'edit.date'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="space-4"></div>
        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
        {{ form_errors(form.validator) }}
        <div class="col-sm-8">
            {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR"]','ng-model':'edit.validator.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.settings_additional_hours_type, "{[{'TYPE_ALIAS' | translate}]}") }}
        {{ form_errors(form.settings_additional_hours_type) }}
        <div class="col-sm-8">
            {{ form_widget(form.settings_additional_hours_type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'edit.type.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.hour25, "{[{'HOUR_SUPP_25'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.hour25, {'attr': {'type':'text','class': 'form-control',  'ng-model':'edit.hour25','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~''} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.hour50, "{[{'HOUR_SUPP_50'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.hour50, {'attr': {'type':'text','class': 'form-control',  'ng-model':'edit.hour50','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~''} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.comment, "{[{'COMMENTS'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.comment'} } ) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}
        {{ form_errors(form.settings_pay_period) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'edit.payPeriod',  'paypperiod-datepicker':''}}) }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit.attachments.path"  data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" data-fp-services="COMPUTER, WEBCAM" onchange="angular.element(this).scope().uploadEditIkAttachment(event.fpfile);"/>
                <div>
                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >
                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" ng-click="edit.attachments= null" >
                        <span>
                            <i class="fa fa-trash-o fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                        <span>
                            <i class="fa fa-eye fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                        <span>
                            <i class="fa fa-eye fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                        <span>
                            <i class="fa fa-download fa-2"></i>
                        </span>
                    </a>
                </div>
            </span>
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button type="submit" id="EditValiderExtraHours" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate}]}
        </button>
        <button type="submit" id="EditSauvegarderExtraHours" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" id="ValiderIK" data-dismiss="modal"
                aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
