{% import "Actions/SecondaryActions/actionsForExtraHours.html.twig" as action %}

<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'HOUR_SUPP_LIST' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#New_extraHours' id="btn_new_extrahour" ng-click="">{[{'BUTTON_NEW' | translate}]}
        </button>

        {% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}
        {{ globalaction.global() }}
    </div>
</div>
<input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.empData.id }}">
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

            <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                       <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.name)"
                                ng-class="{'active': contributorSearch == collaborateur.name}"><i
                                        class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                        </span>
                    </ul>
                </div>
            </div>


            <div class="box_filter n2 ">

                <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         id="btn_filter_statut">
                    {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByStatus('All')" id="btn_filter_status_all"
                        ng-class="{'active': statutSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')" id="btn_filter_status_all"
                        ng-class="{'active': statutSearch == 'En attente de validation'}"><i
                                class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Valide')" id="btn_filter_status_valid"
                        ng-class="{'active': statutSearch == 'Valide'}"><i class="glyphicon glyphicon-ok"></i>{[{'VALID' | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')" id="btn_filter_status_draft"
                        ng-class="{'active': statutSearch == 'Brouillon'}"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT' | translate}]}
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Refuse')" id="btn_filter_status_rejected"
                        ng-class="{'active': statutSearch == 'Refuse'}"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED' | translate}]}
                    </li>
                </ul>
            </div>

            <div class="box_filter n2 {#not_bordered#}">
                <div class="searchDate" style="position:relative;">
                    <button class="btn tri_up_down" ng-click="toggleCustom()">
                        <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                                class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListDateF" class="drop-menu" ng-hide="custom">
                        <div class="tri_dates">
                            <div class="element1" style="display:block;">
                                <div>
                                    <input ng-model='dateSearch' class="form-control date-picker-from-month"
                                           id="date-picker-from-month" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByDatePicker('All')"
                                ng-class="{'active': dateSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES' | translate}]}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="box_filter n3">
                <button class="btn tri" ng-click="toggleUp2();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up2"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up2"></i>
                </button>
                <div>
                    <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="btnType">
                        {[{'FILT_TYPE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>

                    <ul class="dropdown-menu tri_option" id="selectType">
                        <li class="mdl-menu__item" ng-click="filterByType('All')" id="all"
                            ng-class="{'active': typeSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' |
                            translate}]}
                        </li>
                        <span ng-repeat="(key,type) in TypesArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByType(type)"
                                ng-class="{'active': typeSearch == type}"><i
                                        class="glyphicon glyphicon-ok"></i>{[{type}]}</li>
                        </span>


                    </ul>
                </div>
            </div>
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i
                            class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i
                            class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>

    </div>
</div>

<div class="col-sm-12 badge_option_grid">
    <div class="badge_option">
        <div class="tabs-bar-content">
            <nav class="tabs-bar test_bar">
                <div class="tabs-list-container">
                    <ul class="tabs-list nav nav-tabs droptabs">
                        <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                               ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                               data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                               ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                        class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                               ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                               ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                        data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                               ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                        </li>
                        
                        <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                </ul>
                        </li>
                
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading">
        <thead>
        <tr>
            <th></th>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>{[{'TYPE' | translate}]}</th>
            <th>{[{'HOUR_SUPP_25'|translate}]}</th>
            <th>{[{'HOUR_SUPP_50'|translate}]}</th>
            <th class="hideCol">{[{'DATE_ALIAS' | translate}]}</th>
            <th>{[{'PAYPERIOD' | translate}]}</th>
            <th class="hideCol">{[{'STATUS' | translate}]}</th>
            <th class="hideCol">{[{'JUSTIF' | translate}]}</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat=" (key,task) in tasks= (filterList | filter: {settings_pay_period_month:dateSearch|| undefined, FLname:contributorSearch|| undefined,settings_additional_hours_type:{display_name:typeSearch|| undefined},settings_status:{display_name:statutSearch|| undefined}}:true)| orderBy:'type':up2| orderBy:'settings_status.id':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">

        <tr>
            {{ globalaction.checkbox("{[{task.id}]}",'delete_extra_hours','{[{task.settings_pay_period.status}]}',preference.empData.user.roles[0],'{[{task.settings_status.display_name}]}',preference.empData.id) }}

            <td>{[{ task.FLname }]}</td>
            <td>{[{ task.settings_additional_hours_type.display_name }]}</td>
            <td>
                {[{ task.hour25|number:2 }]}
            </td>
            <td>
                {[{ task.hour50|number:2 }]}
            </td>
            <td class="hideCol">{[{ task.date | date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.settings_pay_period_month}]}</td>
                <td ng-if="task.settings_status.id=='1'" class="hideCol attente_stat">
                    <p>
                        {[{'WAITING' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='4'" class="hideCol brouillon_stat">
                    <p>
                        {[{'DRAFT' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='2'" class="hideCol valide_stat">
                    <p>
                        {[{'VALID' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='3'" class="hideCol refuse_stat">
                    <p>
                        {[{'REJECTED' | translate}]}
                    </p>
                </td>
            <td  class="hideCol">
                <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}"
                   data-lightbox="example-1">
                    <span class="glyphicon glyphicon-paperclip text-muted"></span>
                </a>
                <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}" download>
                    <span class="glyphicon glyphicon-download text-muted"></span>
                </a>
            </td>

            {# Secondary action for pay day variations #}
            <td class="btns_actions_table" >
                {{ action.secondaryForExtraHours('confirm_extra_hours','cancel_extra_hours','delete_extra_hours') }}
            </td>
            {# End Secondary action for pay day variations #}

        </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{tasks.length}]} {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="tasks.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true">

    </uib-pagination>
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat=" (key,task) in tasks= (filterList | filter: {settings_pay_period_month:dateSearch|| undefined,FLname:contributorSearch|| undefined,settings_additional_hours_type:{display_name:typeSearch|| undefined},settings_status:{display_name:statutSearch|| undefined}}:true)| orderBy:'type':up2| orderBy:'settings_status.id':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">

        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    {[{task.FLname}]}
                </h2>
                <span style="">
                        {[{task.settings_additional_hours_type.display_name }]}
                </span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <span class="no-m-t mdl-color-text--grey-700">
                        {[{task.date | date:'dd/MM/yyyy'}]}
                    </span>
                </div>
            </div>
            <div class="card__supporting-text">
                <h4>{[{task.hour25|number:2}]} </h4>
                <h4>{[{task.hour50|number:2}]} </h4>
                <p ng-if="task.settings_status.id=='1'" class="attente_stat">
                    {[{'WAITING' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                    {[{'DRAFT' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='2'" class="valide_stat">
                    {[{'VALID' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='3'" class="refuse_stat">
                    {[{'REJECTED' | translate}]}
                </p>
            </div>
            
            <div class="card-action">
                <div class="card__menu_btns">

                    <div class="mdl-card__menu">

                        <div class="btn-group pull-right">

                            {# Secondary action for pay day variations #}
                            {{ action.secondaryForExtraHours('confirm_extra_hours','cancel_extra_hours','delete_extra_hours') }}
                            {# End Secondary action for pay day variations #}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->

<!--New -->
<div id="New_extraHours" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'HOUR_SUPP_ADD' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            {{ render(controller('ExtraHoursBundle:hrm_additional_hours:new')) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>

</style>


<!--Show -->
{% include 'extra_hours/show.html.twig' %}

<!--edit -->
{#{% include 'Admin/expense_settings_types/expense_modal_edit.html.twig' %}#}
<div id="Edit_extraHours" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'HOUR_SUPP_EDIT' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>

            {{ render(controller('ExtraHoursBundle:hrm_additional_hours:edit')) }}

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
