<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!-- NAME: 1 COLUMN -->
<!--[if gte mso 15]>
<xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml>
<![endif]-->


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>*|MC:SUBJECT|*</title>

<style type="text/css">
p {
margin: 10px 0;
padding: 0;
}

table {
border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
display: block;
margin: 0;
padding: 0;
}

img, a img {
border: 0;
height: auto;
outline: none;
text-decoration: none;
}

body, #bodyTable, #bodyCell {
height: 100%;
margin: 0;
padding: 0;
width: 100%;
}

#outlook a {
padding: 0;
}

img {
-ms-interpolation-mode: bicubic;
}

table {
mso-table-lspace: 0pt;
mso-table-rspace: 0pt;
}

.ReadMsgBody {
width: 100%;
}

.ExternalClass {
width: 100%;
}

p, a, li, td, blockquote {
mso-line-height-rule: exactly;
}

a[href^=tel], a[href^=sms] {
color: inherit;
cursor: default;
text-decoration: none;
}

p, a, li, td, body, table, blockquote {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

.ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font {
line-height: 100%;
}

a[x-apple-data-detectors] {
color: inherit !important;
text-decoration: none !important;
font-size: inherit !important;
font-family: inherit !important;
font-weight: inherit !important;
line-height: inherit !important;
}

#bodyCell {
padding: 10px;
}

.templateContainer {
max-width: 600px !important;
}

a.mcnButton {
display: block;
}

.mcnImage {
vertical-align: bottom;
}

.mcnTextContent {
word-break: break-word;
}

.mcnTextContent img {
height: auto !important;
}

.mcnDividerBlock {
table-layout: fixed !important;
}

/*
@tab Page
@section Background Style
@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
*/
body, #bodyTable {
/*@editable*/
background-color: #fafafa;
}

/*
@tab Page
@section Background Style
@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
*/
#bodyCell {
/*@editable*/
border-top: 0;
}

/*
@tab Page
@section Email Border
@tip Set the border for your email.
*/
.templateContainer {
/*@editable*/
border: 0;
}

/*
@tab Page
@section Heading 1
@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
@style heading 1
*/
h1 {
/*@editable*/
color: #202020;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 26px;
/*@editable*/
font-style: normal;
/*@editable*/
font-weight: bold;
/*@editable*/
line-height: 125%;
/*@editable*/
letter-spacing: normal;
/*@editable*/
text-align: left;
}

/*
@tab Page
@section Heading 2
@tip Set the styling for all second-level headings in your emails.
@style heading 2
*/
h2 {
/*@editable*/
color: #202020;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 22px;
/*@editable*/
font-style: normal;
/*@editable*/
font-weight: bold;
/*@editable*/
line-height: 125%;
/*@editable*/
letter-spacing: normal;
/*@editable*/
text-align: left;
}

/*
@tab Page
@section Heading 3
@tip Set the styling for all third-level headings in your emails.
@style heading 3
*/
h3 {
/*@editable*/
color: #202020;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 20px;
/*@editable*/
font-style: normal;
/*@editable*/
font-weight: bold;
/*@editable*/
line-height: 125%;
/*@editable*/
letter-spacing: normal;
/*@editable*/
text-align: left;
}

/*
@tab Page
@section Heading 4
@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
@style heading 4
*/
h4 {
/*@editable*/
color: #202020;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 18px;
/*@editable*/
font-style: normal;
/*@editable*/
font-weight: bold;
/*@editable*/
line-height: 125%;
/*@editable*/
letter-spacing: normal;
/*@editable*/
text-align: left;
}

/*
@tab Preheader
@section Preheader Style
@tip Set the background color and borders for your email's preheader area.
*/
#templatePreheader {
/*@editable*/
background-color: #fafafa;
/*@editable*/
background-image: none;
/*@editable*/
background-repeat: no-repeat;
/*@editable*/
background-position: center;
/*@editable*/
background-size: cover;
/*@editable*/
border-top: 0;
/*@editable*/
border-bottom: 0;
/*@editable*/
padding-top: 9px;
/*@editable*/
padding-bottom: 9px;
}

/*
@tab Preheader
@section Preheader Text
@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
#templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
/*@editable*/
color: #656565;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 12px;
/*@editable*/
line-height: 150%;
/*@editable*/
text-align: left;
}

/*
@tab Preheader
@section Preheader Link
@tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/
#templatePreheader .mcnTextContent a, #templatePreheader .mcnTextContent p a {
/*@editable*/
color: #656565;
/*@editable*/
font-weight: normal;
/*@editable*/
text-decoration: underline;
}

/*
@tab Header
@section Header Style
@tip Set the background color and borders for your email's header area.
*/
#templateHeader {
/*@editable*/
background-color: #f57d00;
/*@editable*/
background-image: none;
/*@editable*/
background-repeat: no-repeat;
/*@editable*/
background-position: center;
/*@editable*/
background-size: cover;
/*@editable*/
border-top: 0;
/*@editable*/
border-bottom: 0;
/*@editable*/
padding-top: 0px;
/*@editable*/
padding-bottom: 0;
}

/*
@tab Header
@section Header Text
@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
*/
#templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
/*@editable*/
color: #ffffff;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 16px;
/*@editable*/
line-height: 150%;
/*@editable*/
text-align: left;
}

/*
@tab Header
@section Header Link
@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/
#templateHeader .mcnTextContent a, #templateHeader .mcnTextContent p a {
/*@editable*/
color: #2BAADF;
/*@editable*/
font-weight: normal;
/*@editable*/
text-decoration: underline;
}

/*
@tab Body
@section Body Style
@tip Set the background color and borders for your email's body area.
*/
#templateBody {
/*@editable*/
background-color: #ffffff;
/*@editable*/
background-image: none;
/*@editable*/
background-repeat: no-repeat;
/*@editable*/
background-position: center;
/*@editable*/
background-size: cover;
/*@editable*/
border-top: 0;
/*@editable*/
border-bottom: 2px solid #EAEAEA;
/*@editable*/
padding-top: 0;
/*@editable*/
padding-bottom: 9px;
}

/*
@tab Body
@section Body Text
@tip Set the styling for your email's body text. Choose a size and color that is easy to read.
*/
#templateBody .mcnTextContent, #templateBody .mcnTextContent p {
/*@editable*/
color: #505050;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 16px;
/*@editable*/
line-height: 150%;
/*@editable*/
text-align: left;
}

/*
@tab Body
@section Body Link
@tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
*/
#templateBody .mcnTextContent a, #templateBody .mcnTextContent p a {
/*@editable*/
color: #f57d00;
/*@editable*/
font-weight: normal;
/*@editable*/
text-decoration: underline;
}

/*
@tab Footer
@section Footer Style
@tip Set the background color and borders for your email's footer area.
*/
#templateFooter {
/*@editable*/
background-color: #ffc200;
/*@editable*/
background-image: none;
/*@editable*/
background-repeat: no-repeat;
/*@editable*/
background-position: center;
/*@editable*/
background-size: cover;
/*@editable*/
border-top: 0;
/*@editable*/
border-bottom: 0;
/*@editable*/
padding-top: 0px;
/*@editable*/
padding-bottom: 0px;
}

/*
@tab Footer
@section Footer Text
@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
*/
#templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
/*@editable*/
color: #ffffff;
/*@editable*/
font-family: Helvetica;
/*@editable*/
font-size: 12px;
/*@editable*/
line-height: 125%;
/*@editable*/
text-align: center;
}

/*
@tab Footer
@section Footer Link
@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
#templateFooter .mcnTextContent a, #templateFooter .mcnTextContent p a {
/*@editable*/
color: #656565;
/*@editable*/
font-weight: normal;
/*@editable*/
text-decoration: underline;
}

@media only screen and (min-width: 768px) {
.templateContainer {
width: 600px !important;
}

}

@media only screen and (max-width: 480px) {
body, table, td, p, a, li, blockquote {
-webkit-text-size-adjust: none !important;
}

}

@media only screen and (max-width: 480px) {
body {
width: 100% !important;
min-width: 100% !important;
}

}

@media only screen and (max-width: 480px) {
#bodyCell {
padding-top: 10px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImage {
width: 100% !important;
}

}

@media only screen and (max-width: 480px) {
.mcnCartContainer, .mcnCaptionTopContent, .mcnRecContentContainer, .mcnCaptionBottomContent, .mcnTextContentContainer, .mcnBoxedTextContentContainer, .mcnImageGroupContentContainer, .mcnCaptionLeftTextContentContainer, .mcnCaptionRightTextContentContainer, .mcnCaptionLeftImageContentContainer, .mcnCaptionRightImageContentContainer, .mcnImageCardLeftTextContentContainer, .mcnImageCardRightTextContentContainer {
max-width: 100% !important;
width: 100% !important;
}

}

@media only screen and (max-width: 480px) {
.mcnBoxedTextContentContainer {
min-width: 100% !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageGroupContent {
padding: 9px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnCaptionLeftContentOuter .mcnTextContent, .mcnCaptionRightContentOuter .mcnTextContent {
padding-top: 9px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageCardTopImageContent, .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
padding-top: 18px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageCardBottomImageContent {
padding-bottom: 9px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageGroupBlockInner {
padding-top: 0 !important;
padding-bottom: 0 !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageGroupBlockOuter {
padding-top: 9px !important;
padding-bottom: 9px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnTextContent, .mcnBoxedTextContentColumn {
padding-right: 18px !important;
padding-left: 18px !important;
}

}

@media only screen and (max-width: 480px) {
.mcnImageCardLeftImageContent, .mcnImageCardRightImageContent {
padding-right: 18px !important;
padding-bottom: 0 !important;
padding-left: 18px !important;
}

}

@media only screen and (max-width: 480px) {
.mcpreview-image-uploader {
display: none !important;
width: 100% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Heading 1
@tip Make the first-level headings larger in size for better readability on small screens.
*/
h1 {
/*@editable*/
font-size: 22px !important;
/*@editable*/
line-height: 125% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Heading 2
@tip Make the second-level headings larger in size for better readability on small screens.
*/
h2 {
/*@editable*/
font-size: 20px !important;
/*@editable*/
line-height: 125% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Heading 3
@tip Make the third-level headings larger in size for better readability on small screens.
*/
h3 {
/*@editable*/
font-size: 18px !important;
/*@editable*/
line-height: 125% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Heading 4
@tip Make the fourth-level headings larger in size for better readability on small screens.
*/
h4 {
/*@editable*/
font-size: 16px !important;
/*@editable*/
line-height: 150% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Boxed Text
@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
*/
.mcnBoxedTextContentContainer .mcnTextContent, .mcnBoxedTextContentContainer .mcnTextContent p {
/*@editable*/
font-size: 14px !important;
/*@editable*/
line-height: 150% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Preheader Visibility
@tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
*/
#templatePreheader {
/*@editable*/
display: block !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Preheader Text
@tip Make the preheader text larger in size for better readability on small screens.
*/
#templatePreheader .mcnTextContent, #templatePreheader .mcnTextContent p {
/*@editable*/
font-size: 14px !important;
/*@editable*/
line-height: 150% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Header Text
@tip Make the header text larger in size for better readability on small screens.
*/
#templateHeader .mcnTextContent, #templateHeader .mcnTextContent p {
/*@editable*/
font-size: 16px !important;
/*@editable*/
line-height: 150% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Body Text
@tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
*/
#templateBody .mcnTextContent, #templateBody .mcnTextContent p {
/*@editable*/
font-size: 16px !important;
/*@editable*/
line-height: 150% !important;
}

}

@media only screen and (max-width: 480px) {
/*
@tab Mobile Styles
@section Footer Text
@tip Make the footer content text larger in size for better readability on small screens.
*/
#templateFooter .mcnTextContent, #templateFooter .mcnTextContent p {
/*@editable*/
font-size: 14px !important;
/*@editable*/
line-height: 150% !important;
}

}</style>

</head>
<body>
<center>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
<tr>
<td align="center" valign="top" id="bodyCell">
<!-- BEGIN TEMPLATE // -->
<!--[if gte mso 9]>
<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
<tr>
<td align="center" valign="top" width="600" style="width:600px;">
<![endif]-->
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
<tr>
<td valign="top" id="templatePreheader">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
style="min-width:100%;">
<tbody class="mcnTextBlockOuter">
<tr>
<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
<!--[if mso]>
<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
style="width:100%;">
<tr>
<![endif]-->

<!--[if mso]>
<td valign="top" width="600" style="width:600px;">
<![endif]-->
<table align="left" border="0" cellpadding="0" cellspacing="0"
style="max-width:100%; min-width:100%;" width="100%"
class="mcnTextContentContainer">
<tbody>
<tr>

<td valign="top" class="mcnTextContent"
style="padding: 0px 18px 9px; text-align: center;">

Problème d'affichage ? <a href="*|ARCHIVE|*" target="_blank">Visualisez
cet email dans votre navigateur</a>
</td>
</tr>
</tbody>
</table>
<!--[if mso]>
</td>
<![endif]-->

<!--[if mso]>
</tr>
</table>
<![endif]-->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="top" id="templateHeader">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCodeBlock">
<tbody class="mcnTextBlockOuter">
<tr>
<td valign="top" class="mcnTextBlockInner">
<table border="0" cellpadding="0" cellspacing="0" width="600"
style="background-color:#f57d00;color:#505050;border-bottom:0;font-weight:bold;line-height:normal;vertical-align:middle;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;">
<tbody>
<tr>
<td style="padding:0;background-color:#fff;">
<p style="text-align:center;"><img
src="https://www.fabereo.com/wp-content/uploads/2016/08/logo-fabereo-final-160722-MAILING.jpg"
alt="FABEREO"
style="border:none;font-size:14px;font-weight:bold;height:auto;line-height:100%;text-decoration:none;text-transform:capitalize;margin:auto;">
</p>
</td>
<td id="mcnTextContent" style="padding:36px 30px;">
<h1 style="color:#ffffff;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-size:23px;font-weight:300;line-height:normal;margin:0;">
Demande d'absence</h1>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" valign="top" style="padding:0;">

</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
<td valign="top" id="templateBody">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
style="min-width:100%;">
<tbody class="mcnTextBlockOuter">
<tr>
<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
<!--[if mso]>
<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
style="width:100%;">
<tr>
<![endif]-->

<!--[if mso]>
<td valign="top" width="600" style="width:600px;">
<![endif]-->
<table align="left" border="0" cellpadding="0" cellspacing="0"
style="max-width:100%; min-width:100%;" width="100%"
class="mcnTextContentContainer">
<tbody>
<tr>
<td valign="top" class="mcnTextContent"
style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
{% if role =='COLLABORATEUR' %}
<p>Bonjour,
« {{ entity.getManager().getUser().getFirstName() }} {{ entity.getManager().getUser().getLastName() }}
»</p>
<br>
<p> Votre collaborateur
« {{ entity.getRequester().getUser().getFirstName() }} {{ entity.getRequester().getUser().getLastName() }}
»
a {{ etat }} {{ typeRequest }} sur votre tableau de bord
: </p>
{% else %}
<p>Bonjour,
« {{ entity.getRequester().getUser().getFirstName() }} {{ entity.getRequester().getUser().getLastName() }}
»</p>
<br>
<p>
« {{ entity.getManager().getUser().getFirstName() }} {{ entity.getManager().getUser().getLastName() }}
»
a {{ etat }} {{ typeRequest }} sur votre tableau de bord
:</p>
{% endif %}

<table style="font-size: 12px;">
<tr style="background-color: #f57d00;">
{% if role =='COLLABORATEUR' %}
<th>collaborater</th>
{% endif %}
<th>Date</th>
<th>Type</th>
<th>Nombre de jours</th>
<th>Date de début</th> <th>Date de fin</th>
<tr style="background-color: #ffe4d0;">
{% if role =='COLLABORATEUR' %}
<td style="width: 200px"> {#{{ entity.getRequester().getUser().getFirstName() }} #} {{ entity.getRequester().getUser().getLastName() }} </td>
{% endif %}
<td style="width: 130px">{{ entity.getRequestdate()|date("d/m/Y")}}</td>
<td style="width: 160px">{{ entity.absencetype }}</td>
<td style="width: 160px">{{ entity.numberdays }}</td>
<td style="width: 130px">{{ entity.startdate()|date("d/m/Y")}}</td>
<td style="width: 100px">{{ entity.enddate()|date("d/m/Y")}}</td>
</tr>
</table>
<p>Merci de consulter votre tableau de bord sur votre espace HRM
.</p>
</td>
</tr>
</tbody>
</table>
<table class="m_-3731704160263225409mcnButtonBlock"
style="min-width:100%;border-collapse:collapse" width="100%"
cellspacing="0" cellpadding="0" border="0">
<tbody class="m_-3731704160263225409mcnButtonBlockOuter">
<tr>
<td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px"
class="m_-3731704160263225409mcnButtonBlockInner" valign="top"
align="center">
<table class="m_-3731704160263225409mcnButtonContentContainer"
style="border-collapse:separate!important;border-radius:3px;background-color:#f57000"
cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td class="m_-3731704160263225409mcnButtonContent"
style="font-family:Arial;font-size:16px;padding:15px"
valign="middle" align="center">
<a class="m_-3731704160263225409mcnButton"
title="ACCEDER A VOTRE ESPACE HRM"
href={{redirect_uri}}
mc:disable-tracking
style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block"
target="_blank"
data-saferedirecturl={{redirect_uri}}
mc:disable-tracking>ACCEDER A VOTRE ESPACE HRM</a>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--[if mso]>
</td>
<![endif]-->

<!--[if mso]>
</tr>
</table>
<![endif]-->
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
style="min-width:100%;">
<tbody class="mcnTextBlockOuter">
<tr>
<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
<!--[if mso]>
<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
style="width:100%;">
<tr>
<![endif]-->

<!--[if mso]>
<td valign="top" width="600" style="width:600px;">
<![endif]-->
<table align="left" border="0" cellpadding="0" cellspacing="0"
style="max-width:100%; min-width:100%;" width="100%"
class="mcnTextContentContainer">
<tbody>
<tr>

<td valign="top" class="mcnTextContent"
style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
Cordialement<br>L'équipe Fabereo<br>
    <a href="https://www.fabereo.com/"
       rel="nofollow">www.fabereo.com</a>
    </td>
    </tr>
    </tbody>
    </table>
    <!--[if mso]>
    </td>
    <![endif]-->

    <!--[if mso]>
    </tr>
    </table>
    <![endif]-->
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
        <td valign="top" id="templateFooter">
            <table class="mcnFollowBlock" style="min-width:100%;" width="100%" cellspacing="0"
                   cellpadding="0" border="0">
                <tbody class="mcnFollowBlockOuter">
                    <tr>
                        <td style="padding:9px" class="mcnFollowBlockInner" valign="top" align="center">
                            <table class="mcnFollowContentContainer" style="min-width:100%;" width="100%"
                                   cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:9px;padding-right:9px;" align="center">
                                            <table style="min-width: 100%;background-color: #808080;"
                                                   class="mcnFollowContent" width="100%" cellspacing="0"
                                                   cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-top:9px; padding-right:9px; padding-left:9px;"
                                                            valign="top" align="center">
                                                            <table cellspacing="0" cellpadding="0" border="0"
                                                                   align="center">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" align="center">
                                                                        <!--[if mso]>
                                                                        <table align="center" border="0"
                                                                        cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->
                                                                        <table class="mcnFollowStacked"
                                                                        style="display:inline;"
                                                                        cellspacing="0" cellpadding="0"
                                                                        border="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                        <td class="mcnFollowIconContent"
                                                                        style="padding-right:10px; padding-bottom:5px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.fabereo.com"
                                                                        target="_blank"><img
                                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-link-96.png"
                                                                        alt="Fabereo.com"
                                                                        class="mcnFollowBlockIcon"
                                                                        style="width:48px; max-width:48px; display:block;"
                                                                        width="48"></a>
                                                                        </td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td class="mcnFollowTextContent"
                                                                        style="padding-right:10px; padding-bottom:9px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.fabereo.com"
                                                                        target="_blank"
                                                                        style="color: #FFC400;font-family: Arial;font-size: 13px;font-weight: bold;text-decoration: none;">Fabereo.com</a>
                                                                        </td>
                                                                        </tr>
                                                                        </tbody>
                                                                        </table>
                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->

                                                                        <table class="mcnFollowStacked"
                                                                        style="display:inline;"
                                                                        cellspacing="0" cellpadding="0"
                                                                        border="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                        <td class="mcnFollowIconContent"
                                                                        style="padding-right:10px; padding-bottom:5px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.linkedin.com/company/Fabereo"
                                                                        target="_blank"><img
                                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-linkedin-96.png"
                                                                        alt="LinkedIn"
                                                                        class="mcnFollowBlockIcon"
                                                                        style="width:48px; max-width:48px; display:block;"
                                                                        width="48"></a>
                                                                        </td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td class="mcnFollowTextContent"
                                                                        style="padding-right:10px; padding-bottom:9px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.linkedin.com/company/Fabereo"
                                                                        target="_blank"
                                                                        style="color: #FFC400;font-family: Arial;font-size: 13px;font-weight: bold;text-decoration: none;">LinkedIn</a>
                                                                        </td>
                                                                        </tr>
                                                                        </tbody>
                                                                        </table>
                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->
                                                                        <table class="mcnFollowStacked"
                                                                        style="display:inline;"
                                                                        cellspacing="0" cellpadding="0"
                                                                        border="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                        <td class="mcnFollowIconContent"
                                                                        style="padding-right:10px; padding-bottom:5px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.facebook.com/FaberEo-319771601698415/"
                                                                        target="_blank"><img
                                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-facebook-96.png"
                                                                        alt="Facebook"
                                                                        class="mcnFollowBlockIcon"
                                                                        style="width:48px; max-width:48px; display:block;"
                                                                        width="48"></a>
                                                                        </td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td class="mcnFollowTextContent"
                                                                        style="padding-right:10px; padding-bottom:9px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://www.facebook.com/FaberEo-319771601698415/"
                                                                        target="_blank"
                                                                        style="color: #FFC400;font-family: Arial;font-size: 13px;font-weight: bold;text-decoration: none;">Facebook</a>
                                                                        </td>
                                                                        </tr>
                                                                        </tbody>
                                                                        </table>
                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->
                                                                        <table class="mcnFollowStacked"
                                                                        style="display:inline;"
                                                                        cellspacing="0" cellpadding="0"
                                                                        border="0" align="left">
                                                                        <tbody>
                                                                        <tr>
                                                                        <td class="mcnFollowIconContent"
                                                                        style="padding-right:0; padding-bottom:5px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://twitter.com/FaberEo_fr"
                                                                        target="_blank"><img
                                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-twitter-96.png"
                                                                        alt="Twitter"
                                                                        class="mcnFollowBlockIcon"
                                                                        style="width:48px; max-width:48px; display:block;"
                                                                        width="48"></a>
                                                                        </td>
                                                                        </tr>
                                                                        <tr>
                                                                        <td class="mcnFollowTextContent"
                                                                        style="padding-right:0; padding-bottom:9px;"
                                                                        valign="top" align="center">
                                                                        <a href="https://twitter.com/FaberEo_fr"
                                                                        target="_blank"
                                                                        style="color: #FFC400;font-family: Arial;font-size: 13px;font-weight: bold;text-decoration: none;">Twitter</a>
                                                                        </td>
                                                                        </tr>
                                                                        </tbody>
                                                                        </table>
                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        </tr>
                                                                        </table>
                                                                        <![endif]-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="mcnTextBlock" style="min-width:100%;" width="100%" cellspacing="0"
                   cellpadding="0" border="0">
                <tbody class="mcnTextBlockOuter">
                    <tr>
                        <td class="mcnTextBlockInner" style="padding-top:9px;" valign="top">
                            <!--[if mso]>
                            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                   style="width:100%;">
                                <tr>
                            <![endif]-->

                            <!--[if mso]>
                            <td valign="top" width="600" style="width:600px;">
                            <![endif]-->
                            <table style="max-width:100%; min-width:100%;" class="mcnTextContentContainer"
                                   width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                <tbody>
                                    <tr>

                                        <td class="mcnTextContent"
                                            style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                                            valign="top">

                                            FaberEo / PMETI SAS au Capital de 100 000 euros – RCS 821 034
                                            063<br>
                                                Siège social : 61 Rue Henri Regnault 92400 COURBEVOIE<br>
                                                    Contact Client : support@fabereo.com – +33 9 70 73 23 01
                                                    </td>
                                                    </tr>
                                                    </tbody>
                                                    </table>
                                                    <!--[if mso]>
                                                    </td>
                                                    <![endif]-->

                                                    <!--[if mso]>
                                                    </tr>
                                                    </table>
                                                    <![endif]-->
                                                    </td>
                                                    </tr>
                                                    </tbody>
                                                    </table>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                                                           style="min-width:100%;">
                                                        <tbody class="mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                                    <!--[if mso]>
                                                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%"
                                                                        style="width:100%;">
                                                                        <tr>
                                                                    <![endif]-->

                                                                    <!--[if mso]>
                                                                    <td valign="top" width="600" style="width:600px;">
                                                                    <![endif]-->
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                                        style="max-width:100%; min-width:100%;" width="100%"
                                                                        class="mcnTextContentContainer">
                                                                        <tbody>
                                                                        <tr>

                                                                        <td valign="top" class="mcnTextContent"
                                                                        style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                                                                        <div style="text-align: center;">&nbsp;</div>

                                                                        <div style="text-align: center;">Pourquoi recevez-vous&nbsp;cet
                                                                        email ?<br>
                                                                        Vous pouvez&nbsp;<a href="*|UPDATE_PROFILE|*">m</a><a
                                                                        href="*|UPDATE_PROFILE|*" target="_blank">odifier vos
                                                                        préférences</a> ou&nbsp;<a href="*|UNSUB|*">v</a><a
                                                                        href="*|UNSUB|*" target="_blank">ous désinscrire</a>
                                                                        </div>

                                                                        </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!--[if mso]>
                                                                    </td>
                                                                    <![endif]-->

                                                                    <!--[if mso]>
                                                                    </tr>
                                                                    </table>
                                                                    <![endif]-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                    </tr>
                                                    </table>
                                                    <!--[if gte mso 9]>
                                                    </td>
                                                    </tr>
                                                    </table>
                                                    <![endif]-->
                                                    <!-- // END TEMPLATE -->
                                                    </td>
                                                    </tr>
                                                    </table>
                                                    </center>
                                                    </body>
                                                    </html>



