<div id="EditHiring" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">
                    {[{'EDIT_DOCUMENT_JOB'|translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12" style="justify-content:center;">
                                <li class="active" >
                                    <a data-toggle="tab" id="btn_edit_hiring_company" href="#EditCompany" onclick="return false;">{[{'COMPANY' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_edit_hiring_job" href="#EditJobDescription" onclick="return false;">{[{'JOB' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_edit_hiring_applicant" href="#EditApplicant" onclick="return false;">{[{'CANDIDATE' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_edit_hiring_other" href="#EditOtherInfos" onclick="return false;">{[{'OTHERS' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_edit_hiring_job_opp" href="#EditOffreEmp" onclick="hideCKeditor(event, 'edit');">{[{'DOCUMENT' | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content" >
                                <div id="EditCompany" name="EditCompany" class="tab-pane in active"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'THE_COMPANY' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:editCompany')) }}
                                    </div>
                                </div>
                                <div id="EditJobDescription" name="EditJobDescription" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'JOB_OFFER' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:editJobDescription')) }}
                                    </div>
                                </div>
                                <div id="EditApplicant" name="EditApplicant" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'THE_CANDIDATE' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" >
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:editJobApplicant')) }}
                                    </div>
                                </div>
                                <div id="EditOtherInfos" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'OTHERS' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" id="EditHiringOther" name="EditHiringOther">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:editJobOthers')) }}
                                    </div> 
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div id="EditOffreEmp" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'DOCUMENT' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" id="templateEdit">
                                        {% import "loader/tableLoader.html.twig" as loading %}
                                        {{ loading.spinner('loading','pointspinner') }}
                                        {#{{ render(controller('HiringBundle:hrm_document_jobDescription:newJobApplicantOffre')) }}#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
