<div class="page-content">
    <div class="col-sm-12 header-content">
        <div class="col-sm-6 col-xs-12 title_header">
            <h2>{[{'DocumentJob'|translate}]}</h2>
        </div>
        <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-theme" data-toggle="modal" ng-click="new()" data-target='#NewHiring' id="btn_new_hiring">{[{'BUTTON_NEW'| translate}]}</button>
            </div>
        </div>
    </div>
    <div class="filtre_options">
        <div class="filtre_options_container">
            <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
                <div style="width:100%;">
                    <div class="mat-slide-right pull-right" style="width:100%;">
                        <form class="search-form form-inline pull-left ">
                            <div class="form-group input_search_header">
                                <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                                <input type="text" class="form-control" ng-model="searchText" placeholder="{[{'SEARCH' | translate}]}"> </div>
                        </form>
                    </div>
                    <div class="pull-right btn_search_header">
                        <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">
                <div class="box_filter n1 searchOp">
                    <button class="btn mdl-button mdl-js-button tri"   ng-click="toggleUp1();">
                        <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                        <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                    </button>
                    <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                        <i class="glyphicon glyphicon-user"></i> {[{'FILTER_BY_CONTRAT' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByContract('All')"
                                ng-class="{'active': contractSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL'| translate}]}
                            </li> 
                            <span ng-repeat="(key,contract) in contractTypes">
                                <li class="separator_item"></li>
                                <li class="mdl-menu__item" ng-click="filterByContract(contract.display_name)"
                                    ng-class="{'active': contractSearch == contract.display_name}"><i class="glyphicon glyphicon-ok"></i>{[{contract.display_name}]}</li>
                            </span>
                        </ul>
                    </div>
                </div>
                <div class="box_filter n4">
                    <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i class="glyphicon glyphicon-th"></i></button>
                    <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i class="glyphicon glyphicon-th-list"></i></button>
                </div>
            </div>
        </div>            
    </div> 
    <div class="space_div"></div>
    <div class="col-sm-12 table_grid" ng-show="showTable">
        {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
        {% import "loader/tableLoader.html.twig" as loading %}
        {{ loading.spinner('loading','pointspinner') }}
        <table class="table table-striped" ng-hide="loading" id="table-benefit">
            <thead>
                <tr>
                    <th></th>
                    <th>{[{'JOB_DESC' | translate}]}</th>
                    <th>{[{'TYPE_ALIAS'|translate}]}</th>
                    <th>{[{'DATE_ALIAS'|translate}]}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat=" (key,task) in data = (filterList | filter: { _contractType:contractSearch || undefined }: true) | orderBy:'_contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">
                <tr>
                    <td></td>
                    <td>{[{task.name}]}</td>
                    <td>{[{task.contractType.display_name}]}</td>
                    <td>{[{task.create_date}]}</td>
                    <td class="btns_actions_table">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_bonus_{[{task.id}]}">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a  data-toggle="modal" data-target='#HiringShow' id="show_hiring_{[{task.id}]}" ng-click="SelectInfos(task.id,'jobDescription')">{[{'BUTTON_SHOW' | translate}]}</a></li>
                                <li><a  data-toggle="modal" data-target='#EditHiring' ng-click="SelectInfos(task.id,'jobDescription')" id="edit_job_description_{[{task.id}]}"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                                <li><a href="javascript:void(0)" ng-click="delete(task.id)" id="remove_hiring_{[{task.id}]}">{[{'REMOVE' | translate}]}</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            <tbody>
        </table>
        <div class="pull-left">
            {[{data.length}]} {[{'RESULTS' | translate}]}
        </div>
        <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                        previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm pull-right" boundary-link-numbers="true">
        </uib-pagination>
    </div>
    <!-- Présenation Card -->
    <div class="col-sm-12 card_grid" ng-hide="showTable">
        <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
            {{ loading.spinner('loading','pointspinner') }}
        </div>
        <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12" ng-repeat=" (key,task) in data = (filterList | filter: { _contractType:contractSearch || undefined }: true) | orderBy:'_contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">
            <div class="card bordered">
                <div class="card-header">
                    <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                        {[{task.name}]}</h2>
                    <span style="">{[{task.create_date}]}</span>
                </div>
                <div class="card-content">
                    <div class="p-00">
                        <h4 class="no-m-t mdl-color-text--grey-700">{[{task.contractType.display_name}]}</h4>
                    </div>
                </div>
                <div class="card-action">
                    <div class="card__menu_btns">
                        <div class="mdl-card__menu">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_doc_job{#_{[{task.id}]}#}">
                                    <span class="md md-more-vert f20"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a  data-toggle="modal" data-target='#HiringShow' id="show_hiring_{[{task.id}]}" ng-click="SelectInfos(task.id,'jobDescription')">{[{'BUTTON_SHOW' | translate}]}</a></li>
                                    <li><a  data-toggle="modal" data-target='#EditHiring' ng-click="SelectInfos(task.id,'jobDescription')" id="edit_job_description_{[{task.id}]}"><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                                    <li><a href="javascript:void(0)" ng-click="delete(task.id)" id="remove_hiring_{[{task.id}]}">{[{'REMOVE' | translate}]}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!--New -->
    {{ render(controller('HiringBundle:Hiring:newDocumentJob')) }}
    <!--Edit -->
    {{ render(controller('HiringBundle:Hiring:editDocumentJob')) }}
    {{ render(controller('HiringBundle:hrm_document_jobDescription:EmailModele')) }}
    <!--Show -->
    {#{% include 'hrm_hiring/hrm_document_job/show.html.twig' %}         #}
    {% include 'hrm_hiring/hrm_document_job/show.html.twig' %}
</div>
