<div id="NewHiring" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" close-modal>
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_DOCUMENT_JOB'|translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12" style="justify-content:center;">
                                <li class="active" >
                                    <a data-toggle="tab" id="btn_new_hiring_company" href="#societe" onclick="return false;">{[{'COMPANY' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_new_hiring_job" href="#poste" onclick="return false;">{[{'JOB' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_new_hiring_applicant" href="#candidat" onclick="return false;">{[{'CANDIDATE' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_new_hiring_other" href="#otherJob" onclick="return false;">{[{'OTHERS' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" id="btn_new_hiring_job_opp" href="#offreEmp" onclick="hideCKeditor(event, 'add');return false;">{[{'DOCUMENT' | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="societe" class="tab-pane in active"> 
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'THE_COMPANY' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:newCompany')) }}
                                    </div>
                                </div>
                                <div id="poste" class="tab-pane"> 
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'JOB_OFFER' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" id="NewJobDescription" name="NewJobDescription">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:new')) }}
                                    </div>
                                </div>
                                <div id="candidat" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'THE_CANDIDATE' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" id="NewHiringApplicant" name="NewHiringApplicant">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:newJobApplicant')) }}
                                    </div>
                                </div>
                                <div id="otherJob" class="tab-pane"> 
                                    <div class="page-header" style="width: 75%;">
                                        <h4>{[{'OTHERS' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group" id="NewHiringOther" name="NewHiringOther">
                                        {{ render(controller('HiringBundle:hrm_document_jobDescription:newJobOthers')) }}
                                    </div> 
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div id="offreEmp" class="tab-pane"> 
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'DOCUMENT' | translate}]}</h4> 
                                    </div>
                                    <div class="form-group" id="templateBody">
                                        {% import "loader/tableLoader.html.twig" as loading %}
                                        {{ loading.spinner('loading','pointspinner') }}
                                        {#{{ render(controller('HiringBundle:hrm_document_jobDescription:newJobApplicantOffre')) }}#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
