<div id="HiringShow" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" id="btn_return_requestabsence" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">{[{'SHOW_DOCUMENT_JOB' | translate}]} </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body form-horizontal show_form">
                <div class="tabbable">
                    <ul class="nav nav-tabs form padding-12" style="justify-content:center;">
                        <li class="active" >
                            <a data-toggle="tab" id="btn_show_hiring_company" href="#showCompany" onclick="return false;">{[{'COMPANY' | translate}]}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" id="btn_show_hiring_job" href="#showJobDescription" onclick="return false;">{[{'JOB' | translate}]}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" id="btn_show_hiring_applicant" href="#showApplicant" onclick="return false;">{[{'CANDIDATE' | translate}]}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" id="btn_show_hiring_other" href="#showOthers" onclick="return false;">{[{'OTHERS' | translate}]}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#showOffreEmp" onclick="hideCKeditor(event, 'show')">{[{'DOCUMENT' | translate}]}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="showCompany" class="tab-pane in active"> 
                            <div class="page-header" style="    width: 75%;">
                                <h4>{[{'THE_COMPANY' | translate}]}</h4>
                            </div> 
                            <div class="form-group">
                                {% include 'hrm_hiring/company/show.html.twig' %} 
                            </div>
                        </div>
                        <div id="showJobDescription" name="showJobDescription" class="tab-pane"> 
                            <div class="page-header" style="    width: 75%;">
                                <h4>{[{'JOB_OFFER' | translate}]}</h4>
                            </div> 
                            <div class="form-group" >
                                {% include 'hrm_hiring/hrm_document_jobdescription/show.html.twig' %} 
                            </div>
                        </div>
                        <div id="showApplicant" name="showApplicant" class="tab-pane"> 
                            <div class="page-header" style="width: 75%;">
                                <h4>{[{'THE_CANDIDATE' | translate}]}</h4>
                            </div> 
                            <div class="form-group">
                                {% include 'hrm_hiring/applicant/show.html.twig' %}
                            </div>
                        </div>
                        <div id="showOthers" name="showOthers" class="tab-pane"> 
                            <div class="page-header" style="width: 75%;">
                                <h4>{[{'OTHER_INFOS' | translate}]}</h4>
                            </div> 
                            <div class="form-group">
                                {% include 'hrm_hiring/others/show.html.twig' %}
                            </div> 
                            <div class="form-group">
                            </div>
                        </div>
                        <div id="showOffreEmp" class="tab-pane"> 
                            <div class="page-header" style="    width: 75%;">
                                <h4>{[{'DOCUMENT' | translate}]}</h4> 
                            </div>
                            <div class="form-group" id="templateShow">
                                {% import "loader/tableLoader.html.twig" as loading %}
                                {{ loading.spinner('loading','pointspinner') }}
                                {#{{ render(controller('HiringBundle:hrm_document_jobDescription:newJobApplicantOffre')) }}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 