{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_document_jobapplicantstudies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hrm_document_jobApplicantStudy in hrm_document_jobApplicantStudies %}
            <tr>
                <td><a href="{{ path('hrm_document_jobapplicantstudy_show', { 'id': hrm_document_jobApplicantStudy.id }) }}">{{ hrm_document_jobApplicantStudy.id }}</a></td>
                <td>{{ hrm_document_jobApplicantStudy.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hrm_document_jobapplicantstudy_show', { 'id': hrm_document_jobApplicantStudy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hrm_document_jobapplicantstudy_edit', { 'id': hrm_document_jobApplicantStudy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hrm_document_jobapplicantstudy_new') }}">Create a new hrm_document_jobApplicantStudy</a>
        </li>
    </ul>
{% endblock %}
