{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_document_jobapplicantstudy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hrm_document_jobApplicantStudy.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hrm_document_jobApplicantStudy.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hrm_document_jobapplicantstudy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hrm_document_jobapplicantstudy_edit', { 'id': hrm_document_jobApplicantStudy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
