{% extends '::base.html.twig' %}
{#{% block ng_app %}ng-app="adminApp"{% endblock %} #}
{% block stylesheets %}

{% endblock %}
{% block AngularjsControllers %}
<script src="{{ asset('angular/AdminBundle/adminCtrl.js') }}"></script>
<script src="{{ asset('angular/AdminBundle/routing.js') }}"></script>
<script src="{{ asset('angular/AdminBundle/directive.js') }}"></script>
{#<script src={{ asset('assets/angular/angular-datatables.min.js')}}></script>
<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap-notify.min.js') }}"></script>#}
{% endblock %}
{% block javascripts %} 
{#    
<script src="{{ asset('angular/AdminBundle/adminCtrl.js') }}"></script>
<script src="{{ asset('angular/AdminBundle/routing.js') }}"></script>
<script src="{{ asset('angular/AdminBundle/directive.js') }}"></script>
<script src={{ asset('assets/angular/angular-datatables.min.js')}}></script>
<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap-notify.min.js') }}"></script>
<script>
    $(function() {
      // $('#navbar').addClass('header-yellow');
       //$('li.light-blue').addClass('header-yellow');
    });
   
</script>#}


{% endblock %}
