
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading">
        <thead>
        <tr>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>{[{'TYPE_ALIAS' | translate}]}</th>
            <th>Nbre</th>
            <th>{[{'TOTAL' | translate}]}</th>
        </tr>
        </thead>
        <tbody ng-repeat=" (key,task) in data | orderBy:'-nbr_request' | start: (currentPage - 1) * perPage | limitTo: perPage">            
        <tr>
            
            <td>{[{task.first_name}]} {[{task.last_name}]}</td>
            <td>{[{task.type | translate}]}</td>
            <td>{[{task.nbr_request}]}</td>
            <td>{[{task.total | number:2}]} ({[{task.fixer | translate}]})</td>   
        </tr>
        <tbody>
    </table>
{#    <div class="pull-left">
        {[{data.length}]} {[{'RESULTS' | translate}]}
    </div>#}
    <uib-pagination total-items="data.length" items-per-page="4" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true">

    </uib-pagination>
</div>

<style type="text/css">
    .lb-number {
        display: none !important;
    }

    .lb-nav {
        display: none !important;
    }

    .lb-prev {
        display: none !important;
    }

    .lb-next {
        display: none !important;
    }
</style>
