
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading">
        <thead>
        <tr>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>Nombre de demandes</th>
            <th>{[{'NDAYS' | translate}]}</th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, task) in data | orderBy:'-total_days'">
        <tr>
            
            <td>{[{task.first_name}]} {[{task.last_name}]}</td>
            <td>{[{task.nbr_request}]}</td>
            <td>{[{task.total_days|number:2}]}</td>            
        </tr>
        <tbody>
    </table>
{#    <div class="pull-left">
        {[{data.length}]}
        {[{'RESULTS' | translate}]}
    </div>#}
{#    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>#}
</div>
