<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_NATURE_EXTRA_HOUR' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#New' ng-click="">{[{'BUTTON_NEW' |
            translate}]}
        </button>
    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading">
        <thead>
        <tr>
            <th></th>
            <th>{[{'NAME' | translate}]}</th>
            <th>Description</th>
            <th>{[{'EXTERNAL_CODE' | translate}]}</th>
            <th></th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="tasks" class="list">
          <tr ng-repeat="task in tasks" class="item">        
        {#<tbody ng-repeat=" (key,task) in tasks= (filterList )| start: (currentPage - 1) * perPage | limitTo: perPage">

        <tr>#}
            {#<tr data-ng-repeat="task in dataResult.result">#}
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>
                    </label>
                </div>
            </td>
            <td>{[{ task.display_name }]}</td>
            <td>{[{ task.description }]}</td>
            <td>{[{ task.external_code }]}</td>
            <td class="btns_actions_table">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="secondaryActions">
                        <span class="md md-more-vert f20"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- *** ACTION MODIFIER *** -->
                        <li role="separator" class="divider"></li>
                        <li>
                            <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'extraHoursType')"
                               aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                        </li>

                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" ng-click="delete('api_extra_hours_delete',task.id)">{[{'REMOVE'
                                |
                                translate}]}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pull-left">
        {[{tasks.length}]} {[{'RESULTS' | translate}]}
    </div>
{#    <uib-pagination total-items="tasks.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true">

    </uib-pagination>#}
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat=" (key,task) in tasks">

        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    {[{task.display_name}]}
                </h2>
                <span style="">
                        {[{ task.coeffValue|number:2}]}
                </span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <span class="no-m-t mdl-color-text--grey-700">
                        {[{task.year}]}
                    </span>
                </div>
            </div>
            <div class="card__supporting-text">
                <p>{[{task.description}]}</p>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">

                    <div class="mdl-card__menu">

                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" id="secondaryActions">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- *** ACTION MODIFIER *** -->
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'extraHoursType')"
                                       aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="javascript:void(0)"
                                       ng-click="delete('api_extra_hours_delete',task.id)">{[{'REMOVE' |
                                        translate}]}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->

<!--New -->
<div id="New" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EXTRA_HOUR_SUPP_ADD' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            {{ render(controller('AdminBundle:hrm_settings_additional_hours_type:new')) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>

</style>


<!--Show -->
{#{% include 'hrm_expense/hrm_expense_ik/popup_show.html.twig' %}#}

<!--edit -->
{#{% include 'Admin/expense_settings_types/expense_modal_edit.html.twig' %}#}
<div id="Edit" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EXTRA_HOUR_SUPP_EDIT' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>

            {{ render(controller('AdminBundle:hrm_settings_additional_hours_type:edit')) }}

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
