{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_settings_additional_hours_type</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hrm_settings_additional_hours_type.id }}</td>
            </tr>
            <tr>
                <th>Seqno</th>
                <td>{{ hrm_settings_additional_hours_type.seqno }}</td>
            </tr>
            <tr>
                <th>Display_name</th>
                <td>{{ hrm_settings_additional_hours_type.displayname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hrm_settings_additional_hours_type.description }}</td>
            </tr>
            <tr>
                <th>Create_date</th>
                <td>{% if hrm_settings_additional_hours_type.createdate %}{{ hrm_settings_additional_hours_type.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createuid</th>
                <td>{{ hrm_settings_additional_hours_type.createUid }}</td>
            </tr>
            <tr>
                <th>Last_update</th>
                <td>{% if hrm_settings_additional_hours_type.lastupdate %}{{ hrm_settings_additional_hours_type.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Last_update_uid</th>
                <td>{{ hrm_settings_additional_hours_type.lastupdateuid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hour_type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hour_type_edit', { 'id': hrm_settings_additional_hours_type.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
