<aside class="sidebar fixed" style="width: 260px; left: 0px; ">
    <div class="nav-side-menu">
        <div class="menu-links menu-list">

            <ul id="menu-content" class="menu-content out">
                <!-- Only USER ADMIN have to access this menu -->
                <!--- Manage Users --->
                <li data-toggle="collapse" data-target="#utilisateurs" class="collapsed">
                    <a target="_self" href="javascript:void(0)">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'USERS' | translate}]}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="utilisateurs">
                    <!-- Roles -->
                    {#                    <li class="collapsed active">
                                            <a target="_self" href="{{path('adminRoles_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>{[{'ROLES' | translate}]}</span></a>
                                        </li>#}
                    {#                    <ul class="sub-menu collapse" id="roles">
                                            <li class="active"><a target="_self" href="{{path('adminRoles_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste roles</span></a></li>
                                            <li><a target="_self" href="{{path('adminRoles_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- Type des contrats -->
                    <li {#data-toggle="collapse" data-target="#fraisnav" class="collapsed "#}>
                        <a target="_self" href="{{ path('adminTypeContracts_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'TYPE_CONTRATS' | translate}]} </span></a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="typedescontrats">
                                            <li><a target="_self" href="{{path('adminTypeContracts_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste type des contrats</span></a></li>
                                            <li><a menu-link target="_self" href="{{path('adminTypeContracts_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- Mode de paiement -->
                    <li>
                        <a target="_self" href="{{ path('adminPaymentMethod_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'PAY_METHOD' | translate}]}</span></a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="modepaiement">
                                            <li><a target="_self" href="{{path('adminPaymentMethod_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste mode de paiement</span></a></li>
                                            <li><a target="_self" href="{{path('adminPaymentMethod_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- Catégories -->
                    {# <li>
                        <a target="_self" href="{{path('adminCategories_index')|replace({'%23':'#'})}}"><i>
                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                </i>
                <span>Catégories </span><span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="categorie">   
                            <li><a target="_self" href="{{path('adminCategories_index')|replace({'%23':'#'})}}"><i>
                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                </i>
                <span>Liste catégories</span></a></li>
                            <li><a target="_self" href="{{path('adminCategories_new')|replace({'%23':'#'})}}"><i>
                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                </i>
                <span>Nouveau</span></a></li>
                        </li>
                    </ul> #}
                    <!-- Statut employés -->
                    <li>
                        <a target="_self" href="{{ path('adminSettingsEmpStatus_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'EMP_STATUS' | translate}]} </span>
                        </a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="statutemp">
                                            <li><a target="_self" href="{{path('adminSettingsEmpStatus_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste statut</span></a></li>
                                            <li><a target="_self" href="{{path('adminSettingsEmpStatus_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- fin Satuts employe -->
                </ul>
                <!-- End Manage Users -->
                <!-- Congés et Absences -->
                <li>
                    <a target="_self" href="{{ path('adminSettingsAbsences_index')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/new-notepad-text.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/new-notepad-text-sel.svg') }}"/>
                        </i>
                        <span>{[{'HOLIDAYS_ABSENCE' | translate}]}</span></a>
                </li>
                {#                <li data-toggle="collapse" data-target="#congeetabsences" class="collapsed">
                                    <a target="_self" href="javascript:void(0)" ><i>
                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                        </i>
                                        <span>{[{'HOLIDAYS_ABSENCE' | translate}]} </span><span class="arrow"></span></a>
                                </li>#}
                {#                <ul class="sub-menu collapse" id="congeetabsences">#}
                <!-- Types de congés -->
                {#                    <li>
                                        <a target="_self" href="{{path('adminTypeConges_index')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>{[{'HOLIDAYS_TYPE' | translate}]} </span></a>
                                    </li>#}
                {#                    <ul class="sub-menu collapse" id="typeconge">
                                        <li><a target="_self" href="{{path('adminTypeConges_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Liste types de congés</span></a></li>
                                        <li><a target="_self" href="{{path('adminTypeConges_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                <!-- Gestion Types des Absences -->
                {#                    <li>
                                        <a target="_self" href="{{path('adminSettingsAbsences_index')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>{[{'ABSNECE_TYPE' | translate}]} </span></a>
                                    </li>#}
                {#                    <ul class="sub-menu collapse" id="typeabsence">
                                        <li><a target="_self" href="{{path('adminSettingsAbsences_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Liste type de absences</span></a></li>
                                        <li><a target="_self" href="{{path('adminSettingsAbsences_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                <!-- fin gestion Type des absences -->
                <!-- gestion convensions -->
                {#  <li>
                    <a target="_self" href="{{path('adminRegimes_index')|replace({'%23':'#'}) }}"><i>
                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
            </i>
            <span>Conventions</span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="conventions">
                    <li><a target="_self" href="{{path('adminRegimes_index')|replace({'%23':'#'}) }}"><i>
                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
            </i>
            <span>Liste conventions</span></a></li>
                    <li><a target="_self" href="{{path('adminRegimes_new')|replace({'%23':'#'})}}"><i>
                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
            </i>
            <span>Nouveau</span></a></li>
                </ul>
                #}
                {#    </ul>#}
                <!-- gestion Projets -->
                {#                    <li>
                                        <a target="_self" href="{{path('adminProjects_index')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>Projets </span></a>
                                    </li>#}
                {#                    <ul class="sub-menu collapse" id="projets">
                                        <li><a target="_self" href="{{path('adminProjects_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Liste Projets</span></a></li>
                                        <li><a target="_self" href="{{path('adminProjects_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                <!-- Gestion des formations -->
                {#                    <li>
                                        <a target="_self" href="{{path('adminTrainingType_index')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>{[{'TRAINING' | translate}]} </span></a>
                                    </li>#}
                {#                    <ul class="sub-menu collapse" id="typeformations">
                                        <li><a target="_self" href="{{path('adminTrainingType_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>{[{'LIST_TRAINING' | translate}]}</span></a></li>
                                        <li><a target="_self" href="{{path('adminTrainingType_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                <!-- fin gestion des formations -->
                {#
                              <!-- Gestion des Statuts -->
                              <li>
                                  <a target="_self" href="{{ path('adminStatus_index')|replace({'%23':'#'}) }}"><i>
                                          <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                                          <img class="icon-sel"
                                               src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                                      </i>
                                      <span>{[{'LIST_STATUS' | translate}]}</span></a>
                              </li>
                                               <ul class="sub-menu collapse" id="statut">
                                                      <li><a target="_self" href="{{path('adminStatus_index')|replace({'%23':'#'})}}"><i>
                                                                  <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                                  <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                              </i>
                                                              <span>{[{'REQUESTS_STATUS' | translate}]}</span></a></li>
                                                      <li><a target="_self" href="{{path('adminStatus_new')|replace({'%23':'#'})}}"><i>
                                                                  <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                                  <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                              </i>
                                                              <span>Nouveau</span></a></li>
                                                  </ul>#}
                <!-- fin gestion des Statuts -->
                <!-- Gestion des Primes -->
                <li data-toggle="collapse" data-target="#prime" class="collapsed ">
                    <a target="_self" href="javascript:void(0)"><i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/gift-sharing.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/gift-sharing-sel.svg') }}"/>
                        </i><span>{[{'BONUS_TYPES' | translate}]}</span> <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="prime">
                    <li>
                        <a target="_self" href="{{ path('adminSubPremiumType_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/gift-sharing.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/gift-sharing-sel.svg') }}"/>
                            </i>
                            <span>{[{'BONUS' | translate}]} </span></a>
                    </li>
                    {#                        <ul class="sub-menu collapse" id="primeint">
                                                <li><a target="_self" href="{{path('adminSubPremiumType_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'BONUS' | translate}]}</span></a></li>
                                                <li><a target="_self" href="{{path('adminSubPremiumType_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul> #}
                    <!-- end Bonus -->
                    <!-- Type Bonus -->
                    <li{# data-toggle="collapse" data-target="#types" class="collapsed "#}>
                        <a target="_self" href="{{ path('adminPremiumType_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/gift-sharing.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/gift-sharing-sel.svg') }}"/>
                            </i>
                            <span>{[{'TYPE_ALIAS' | translate}]} </span></a>
                    </li>
                    {#                        <ul class="sub-menu collapse" id="types">
                                                <li><a target="_self" href="{{path('adminPremiumType_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Types</span></a></li>
                                                <li><a target="_self" href="{{path('adminPremiumType_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- end Type bonus -->
                </ul>
                <!-- fin gestion des Primes -->
                <!-- Gestion Avantages en Nature -->
                <li data-toggle="collapse" data-target="#avantagesennature" class="collapsed ">
                    <a target="_self" href="javascript:void(0)"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>Avantages en Nature </span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="avantagesennature">
                    <li>
                        <a target="_self"
                           href="{{ path('adminSettingsBenefitPeriodicity_layout')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'TYPE_PERIODICITY' | translate}]}</span></a>
                    </li>
                    {#                                        <li>
                                                                <a target="_self" href="{{path('adminSettingsGiftContext_index')|replace({'%23':'#'})}}"><i>
                                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                                    </i>
                                                                    <span>{[{'GIFTS_CONTEXT' | translate}]}</span></a>
                                                            </li>#}
                    {#                        <ul class="sub-menu collapse" id="contextecadeaux">
                                                <li><a target="_self" href="{{path('adminSettingsGiftContext_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Liste Contexte des cadeaux</span></a></li>
                                                <li><a target="_self" href="{{path('adminSettingsGiftContext_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- end Context des cadeaux -->
                    <!--  Véhicules -->
                    {#                        <li>
                                                <a target="_self" href="{{path('adminSettingsAdvVehicle_index')|replace({'%23':'#'})}}"><i><img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i><span>{[{'VEHICLES' | translate}]} </span></a>
                                            </li>#}
                    {#                        <ul class="sub-menu collapse" id="vehicules">
                                                <li><a target="_self" href="{{path('adminSettingsAdvVehicle_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'LIST_VEHICLES' | translate}]}</span></a></li>
                                                <li><a target="_self" href="{{path('adminSettingsAdvVehicle_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                </ul>
                <!-- fin gestion Avantages en Nature -->
                <!-- Gestion Types des transports -->
                {#                    <li>
                                        <a target="_self" href="{{path('admin_hrm_settings_exp_transport_index')|replace({'%23':'#'})}}"><img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>{[{'TRANSPORT' | translate}]} </span></a>
                                    </li>#}
                {#                    <ul class="sub-menu collapse" id="typetransport">
                                        <li><a target="_self" href="{{path('admin_hrm_settings_exp_transport_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>{[{'LIST_TYPE_TRANSPORTS' | translate}]}</span></a></li>
                                        <li><a target="_self" href="{{path('admin_hrm_settings_exp_transport_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                <!-- fin gestion Type des transports -->
                <!-- Gestion Types des frais -->
                <li data-toggle="collapse" data-target="#fraisnav" class="collapsed ">
                    <a target="_self" href="javascript:void(0)"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/credit-card.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/credit-card-sel.svg') }}"/>
                        </i>
                        <span>{[{'EXPENSE' | translate}]} </span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="fraisnav">
                    <!-- Gestion nature des transports -->
                    <li data-toggle="collapse" data-target="#param" class="collapsed active">
                        <a target="_self" href="{{ path('admin_expense_types_layout') }}">
                            <i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/credit-card.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/credit-card-sel.svg') }}"/>
                            </i>
                            <span> {[{'EXPENSE_PARAM' | translate}]}</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    {#                        <li>
                                                <a target="_self" href="{{path('admin_hrm_settings_exp_transport_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>{[{'TRANSPORT' | translate}]} </span></a>
                                            </li>#}
                    {#                        <ul class="sub-menu collapse" id="transportfrais">
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_transport_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'NATURE_TRANSPORTS' | translate}]}</span></a></li>
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_transport_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- fin nature des transports -->
                    <!-- Gestion des Hébergements -->
                    {#                        <li>
                                                <a target="_self" href="{{path('admin_hrm_settings_exp_accommodation_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>{[{'ACCOMMPDATION' | translate}]} </span></a>
                                            </li>#}
                    {#                        <ul class="sub-menu collapse" id="hebergementfrais">
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_accommodation_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'NATURE_ACCOMODATION' | translate}]}</span></a></li>
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_accommodation_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- fin gestion Hébergement -->
                    <!-- Gestion nature des restaurations -->
                    {#                       <li>
                                               <a target="_self" href="{{path('admin_hrm_settings_exp_dinning_index')|replace({'%23':'#'})}}"><i>
                                                       <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                       <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                   </i>
                                                   <span>{[{'CATERING' | translate}]} </span></a>
                                           </li>#}
                    {#                        <ul class="sub-menu collapse" id="restaurationfrais">
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_dinning_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'NATURE_RESTORATION' | translate}]}</span></a></li>
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_dinning_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- fin nature des restaurations -->
                    <!-- Autres natures -->
                    {#                       <li>
                                               <a target="_self" href="{{path('admin_hrm_settings_exp_other_index')|replace({'%23':'#'})}}"><i>
                                                       <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                       <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                   </i>
                                                   <span>{[{'OTHER_NATURE' | translate}]} </span></a>
                                           </li>#}
                    {#                        <ul class="sub-menu collapse" id="autresnaturefrais">
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_other_index')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>{[{'LIST_NATURE' | translate}]}</a></li>
                                                <li><a target="_self" href="{{path('admin_hrm_settings_exp_other_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>
                                            </ul>#}
                    <!-- end Autres natures -->
                    <!-- Gestion Barémes Kilométriques-->
                    <li>
                        <a target="_self" href="{{ path('admin_expense_ik') }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/credit-card.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/credit-card-sel.svg') }}"/>
                            </i>
                            <span>{[{'BAREMES_KM' | translate}]}</span></a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="baremekm">
                                            <li><a target="_self" href="{{path('adminSettingsExpCoeff_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>{[{'LIST_BAREMES' | translate}]}</span></a></li>
                                            <li><a target="_self" href="{{path('adminSettingsExpCoeff_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- fin gestion Barémes Kilométriques -->
                </ul>

                <!-- fin gestion Type des frais -->
                <!-- fin gestion Type des frais -->
                <!-- Gestion TAX -->
                <li data-toggle="collapse" data-target="#tvanav" class="collapsed ">
                    <a target="_self" href="javascript:void(0)"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/receipt.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/receipt-sel.svg') }}"/>
                        </i>
                        <span>{[{'TAXES' | translate}]} </span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="tvanav">
                    <li><a target="_self" href="{{ path('admin_hrm_settings_tax_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/receipt.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/receipt-sel.svg') }}"/>
                            </i>
                            <span>{[{'LIST_TAXES' | translate}]}</span></a></li>
                            {#                    <li><a target="_self" href="{{path('admin_hrm_settings_tax_new')|replace({'%23':'#'})}}"><i>
                                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                        </i>
                                                        <span>Nouveau</span></a></li>#}
                    <!-- Gestion modele TAX -->
                    <li>
                        <a target="_self"
                           href="{{ path('admin_hrm_settings_exp_tax_model_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/receipt.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/receipt-sel.svg') }}"/>
                            </i>
                            <span>{[{'MODEL_TAXES' | translate}]} </span></a>
                    </li>
                    {#                <ul class="sub-menu collapse" id="modeletva">
                                        <li><a target="_self" href="{{path('admin_hrm_settings_exp_tax_model_index')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>{[{'LIST_MODEL_TAXES' | translate}]}</span></a></li>
                                        <li><a target="_self" href="{{path('admin_hrm_settings_exp_tax_model_new')|replace({'%23':'#'})}}"><i>
                                                    <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                    <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                </i>
                                                <span>Nouveau</span></a></li>
                                    </ul>#}
                </ul>
                <!-- fin gestion modèle TAX -->
                <!-- Gestion des Etudes -->
                <li data-toggle="collapse" data-target="#etudes" class="collapsed ">
                    <a target="_self" href="javascript:void(0)"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/book-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/book-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'STUDIES' | translate}]} </span><span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="etudes">
                    <li>
                        <a target="_self" href="{{ path('adminSettingsStudyType_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/book-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/book-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'TYPE_ALIAS' | translate}]} </span></a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="typeetudes">
                                            <!-- Etudes types -->
                                            <li><a target="_self" href="{{path('adminSettingsStudyType_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste types</span></a></li>
                                            <li><a target="_self" href="{{path('adminSettingsStudyType_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- end Etudes types -->
                    <!-- Gestion niveaux d'études -->
                    <li>
                        <a target="_self" href="{{ path('adminSettingsStudyLevel_index')|replace({'%23':'#'}) }}"><i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/book-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/book-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'LEVELS' | translate}]} </span></a>
                    </li>
                    {#                    <ul class="sub-menu collapse" id="niveauxetudes">
                                            <li><a target="_self" href="{{path('adminSettingsStudyLevel_index')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Liste niveaux</span></a></li>
                                            <li><a target="_self" href="{{path('adminSettingsStudyLevel_new')|replace({'%23':'#'})}}"><i>
                                                        <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                        <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                                    </i>
                                                    <span>Nouveau</span></a></li>
                                        </ul>#}
                    <!-- end Gestion niveaux d'études -->
                </ul>
                <!-- fin gestion d'Etudes -->

                <li>
                    <a target="_self" href="{{ path('settingsnature_layout')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/business-bag-cash.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/business-bag-cash-sel.svg') }}"/>
                        </i>
                        <span>{[{'NATURE_PAY_DAY_VARIATION' | translate}]}</span></a>
                </li>


                <li>
                    <a target="_self" href="{{ path('hour_type_ilayout')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'NATURE_EXTRA_HOUR' | translate}]}</span></a>
                </li>
                <li>
                    <a target="_self" href="{{ path('adminTrainingType_index')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'TRAINING' | translate}]} </span></a>
                </li>
                <li>
                    <a target="_self" href="{{ path('adminTypeTransports_index')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'TRANSPORT' | translate}]} </span></a>
                </li>

                <li>
                    <a target="_self" href="{{ path('hrm_settings_customertype_layout')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'CUSTOMERTYPE' | translate}]} </span></a>
                </li>
                <!-- Gestion devises -->
                <li>
                    <a target="_self" href="{{ path('admin_hrm_settings_menu_index')|replace({'%23':'#'}) }}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}"/>
                        </i>
                        <span>Gestion Menu</span></a>
                </li>


                <li>
                    <a target="_self" href="{{path('hrm_settings_industrysector_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'INDUSTRYSECTOR' | translate}]} </span></a>
                </li>

                <li>
                    <a target="_self" href="{{path('hrm_settings_plannedjourney_type_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'PLANNED_JOURNEY' | translate}]} </span></a>
                </li>

                     <li>
                    <a target="_self" href="{{path('hrm_settings_job_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'JOB_SETTING' | translate}]} </span></a>
                </li>
                
                   <li>
                    <a target="_self" href="{{path('hrm_settings_periodicity_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'SETTING_PERIODICITY' | translate}]} </span></a>
                </li>
                
                      <li>
                    <a target="_self" href="{{path('hrm_settings_technology_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'TECHNOLOGY' | translate}]} </span></a>
                </li>
                
                <li>
                    <a target="_self" href="{{path('hrm_settings_technology_level_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'TECHNOLOGY_LEVEL' | translate}]} </span></a>
                </li>
                
                <li>
                    <a target="_self" href="{{path('hrm_settings_language_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'LANGUES' | translate}]} </span></a>
                </li>
                
                  <li>
                    <a target="_self" href="{{path('hrm_settings_language_level_layout')|replace({'%23':'#'})}}"><i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_1/home-1-sel.svg') }}" />
                        </i>
                        <span>{[{'LANGUES_LEVEL' | translate}]} </span></a>
                </li>
                
               
                

                {#                <li>
                                    <a target="_self" href="{{path('adminSettingsCurrency_index')|replace({'%23':'#'})}}"><i>
                                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                        </i>
                                        <span>{[{'CURRENCIES' | translate}]} </span></a>
                                </li>#}
                {#                <ul class="sub-menu collapse" id="devices">
                                    <li><a target="_self" href="{{path('adminSettingsCurrency_index')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>Liste devises</span></a></li>
                                    <li><a target="_self" href="{{path('adminSettingsCurrency_new')|replace({'%23':'#'})}}"><i>
                                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}" />
                                                <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}" />
                                            </i>
                                            <span>Nouveau</span></a></li>
                                </ul>#}
                <!-- fin Gestion devises -->
                <li data-toggle="collapse" data-target="#link" class="collapsed">
                    <a target="_self" href="javascript:void(0)">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'JOB_SITE' | translate}]}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="link">
                    <li {#data-toggle="collapse" data-target="#fraisnav" class="collapsed "#}>
                        <a target="_self" href="{{ path('job_category_layout') }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'JOB_CATEGORY' | translate}]} </span></a>
                    </li>
                    <li {#data-toggle="collapse" data-target="#fraisnav" class="collapsed "#}>
                        <a target="_self" href="{{ path('job_link_layout') }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'JOB_LINK' | translate}]} </span></a>
                    </li>
                </ul>
                <!-- fin site d'emploi  -->
                <li data-toggle="collapse" data-target="#contractJob" class="collapsed">
                    <a target="_self" href="javascript:void(0)">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'CONTRACT_JOB' | translate}]}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <ul class="sub-menu collapse" id="contractJob">
                    <li {#data-toggle="collapse" data-target="#fraisnav" class="collapsed "#}>
                        <a target="_self" href="{{ path('contract_category_layout') }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'JOB_CATEGORY' | translate}]} </span></a>
                    </li>
                    <li {#data-toggle="collapse" data-target="#fraisnav" class="collapsed "#}>
                        <a target="_self" href="{{ path('contract_link_layout') }}"><i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                            </i>
                            <span>{[{'JOB_LINK' | translate}]} </span></a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</aside>
