<div id="EditCollaborator" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'IDENTIFICATION' | translate:userData}]}
                    {#                    Collaborateur
                                        <small>
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            Identification 
                                        </small>  #}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12">
                                <li class="active">
                                    <a data-toggle="tab" href="#formCarteIdentiteModif" onclick="return false;">{[{'CARTE_IDENTITE'
                                        | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#formComptencesModif" onclick="return false;">{[{'COMPETENCES'
                                        | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="formCarteIdentiteModif" class="tab-pane in active">

                                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form'}}) }}
                                    {#               <div class="col-xs-9">#}
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'PERSONAL_INFOS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.first_name, "{[{'FIRST_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.first_name, {'attr': {'class': 'form-control', 'ng-model':'edit.first_name'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.last_name, "{[{'LAST_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.last_name, {'attr': {'class': 'form-control', 'ng-model':'edit.last_name'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email, "{[{'EMAIL' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'ng-model':'edit.email'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.employee_number, "{[{'NUM_MATRICULE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.employee_number, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.employee_number'} }) }}
                                        </div>
                                    </div>

                                    {# </div>
                                  <div class="col-xs-12">#}
                                    <div class="form-group">
                                        {{ form_label(form.employee.gender, "{[{'GENDER' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.gender, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.sexe'} }) }}
                                        </div>
                                        {#     <span>
                                                   <label class="middle">
                                                       {{ form_widget(form.employee.isPubGender, {'attr': {'class': 'ace',
                                                                        'ng-model':'edit.public_profil.is_pub_gender' } }) }}                                 
                                                       <span class="lbl"> {{ form_label(form.employee.isPubGender, "Public") }} </span>
                                                   </label>
                                               </span>#}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.name_usage, "{[{'USE_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.name_usage, {'attr': {'class': 'form-control', 'ng-model':'edit.name_usage'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubNameUsage, {'attr': {'class': 'ace',
                                                                                                     'ng-model':'edit.public_profil.is_pub_name_usage'} }) }}                               
                                                                                    <span class="lbl"> {{ form_label(form.employee.isPubNameUsage, "Public") }} </span>
                                                                                </label>
                                                                            </span>  #}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.birth_date, "{[{'BIRTH_DAY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                {{ form_widget(form.employee.birth_date, {'attr': {'type':'date','class': 'form-control datepicker edit_birthdate','data-date-format' : 'DD/MM/YYYY', 'ng-model': 'edit.birth_date'} } ) }}
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubBirthDate, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_birth_date'} }) }}                                 
                                                                <span class="lbl"> {{ form_label(form.employee.isPubBirthDate, "Public") }} </span>
                                                            </label>
                                                        </span>  #}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.department_birth, "{[{'BIRTH_DEPARTMENT' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.department_birth, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.department_birth'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.place_birth, "{[{'BIRTH_PLACE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.place_birth, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.place_birth'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.nation_code, "{[{'BIRTH_COUNTRY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.nation_code, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'edit.nation_code'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubNationCode, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_nation_code'} }) }}                                  
                                                                <span class="lbl"> {{ form_label(form.employee.isPubNationCode, "Public") }} </span>
                                                            </label>
                                                        </span> #}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.country_nationality, "{[{'NATIONALITY_COUNTRY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.country_nationality, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'edit.country_nationality','ng-init':'edit.country_nationality="FR"'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubCounNation, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_count_nation'} }) }}                                  
                                                                <span class="lbl"> {{ form_label(form.employee.isPubCounNation, "Public") }} </span>
                                                            </label>
                                                        </span>     #}
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'COORDONEES' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.address, "{[{'ADRESS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.address, {'attr': {'class': 'form-control', 'ng-model':'edit.address'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubAddress, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_address'} }) }}                                                                   
                                                                <span class="lbl"> {{ form_label(form.employee.isPubAddress, "Public") }} </span>
                                                            </label>
                                                        </span>#}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.commune, "{[{'TOWN' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.commune, {'attr': {'class': 'form-control', 'ng-model':'edit.commune'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.zip_code, "{[{'ZIP_CODE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.zip_code, {'attr': {'class': 'form-control', 'ng-model':'edit.zip_code'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubZipCode, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_zip_code'} }) }}                                 
                                                                <span class="lbl"> {{ form_label(form.employee.isPubZipCode, "Public") }} </span>
                                                            </label>
                                                        </span>  #}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.country_code, "{[{'COUNTRY' | translate:userData}]} ({[{'FISCAL_RES' | translate:userData}]})", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.country_code, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'edit.country_code'} }) }}
                                        </div>
                                        {#                <span>
                                                            <label class="middle">
                                                                {{ form_widget(form.employee.isPubCountryCode, {'attr': {'class': 'ace',
                                                                                 'ng-model':'edit.public_profil.is_pub_country_code'} }) }}                                 
                                                                <span class="lbl"> {{ form_label(form.employee.isPubCountryCode, "Public") }} </span>
                                                            </label>
                                                        </span>  #}
                                    </div>


                                    <div class="form-group">
                                        {{ form_label(form.employee.mobilePhone, "{[{'NNUM_TEL_MOBILE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.mobilePhone, {'id':'collaborator_edit_tel_mobile','attr': {'class': 'form-control', 'ng-model':'edit.mobilePhone'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.homePhone, "{[{'NNUM_TEL_FIXE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.homePhone, {'id':'collaborator_edit_tel_fixe','attr': {'class': 'form-control', 'ng-model':'edit.homePhone'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.skype, "{[{'Skype' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.skype, {'id':'collaborator_edit_skype','attr': {'class': 'form-control', 'ng-model':'edit.skype'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.linkedin, "{[{'LinkedIn' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.linkedin, {'id':'collaborator_edit_linkedin','attr': {'class': 'form-control', 'ng-model':'edit.linkedin'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.viadeo, "{[{'Viadeo' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.viadeo, {'id':'collaborator_edit_viadeo','attr': {'class': 'form-control', 'ng-model':'edit.viadeo'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.twitter, "{[{'Twitter' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.twitter, {'id':'collaborator_edit_twitter','attr': {'class': 'form-control', 'ng-model':'edit.twitter'} }) }}
                                        </div>
                                    </div>


                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'DETAILS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.ssn_num, "{[{'SOCIAL_SEC_NUM' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.ssn_num, {'attr': {'class': 'form-control', 'ng-dom':'', 'ng-model':'edit.ssn_num' ,
                                                'title':'le numéro de sécurité sociale est composé de 15 chiffres', 'maxlength':'15'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.is_handicape, "{[{'DISABLED_PERSON' | translate:userData}]} ?", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                {{ form_widget(form.employee.is_handicape, {'attr': {'class': 'ace ace-switch ace-switch-5', 'ng-model':'edit.is_handicape'} }) }}
                                                <span class="lbl middle"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.num_children, "{[{'DEPENDENT_CHILD' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.num_children, {'attr': {'class': 'form-control', 'ng-model':'edit.num_children',
                                                'string-to-number':'', 'min':'0', 'max':'5'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.family_status, "{[{'FAMILY_SITUATION' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.family_status, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.family_status'} }) }}
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'BANC_INFO' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.payment_method, "{[{'PAY_METHOD' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.payment_method, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.paymentmethod' }}) }}
                                        </div>
                                    </div>
                                    <div ng-show="edit.paymentmethod == 1" class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right"
                                               for="userbundle_employeecontract_notes">{[{'DOWNLOAD_RIB' |
                                            translate}]}</label>
                                        <div class="col-sm-5">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="edit.ribAttachments" data-fp-multiple="false"
                                                       class=" btn-success btn btn-file action" type="filepicker"
                                                       data-fp-button-text="{[{'SELECT_FILE' | translate:userData}]}"
                                                       data-fp-button-class="" data-fp-hide="false"
                                                       hideWhenUploading="true" data-fp-container="window"
                                                       onchange="edit.ribAttachments = event.fpfile.url"/>
                                                <br> <br> 
                                                <img ng-src={[{edit.ribAttachments}]} width='150px;' maxHeight='auto'
                                                     ng-hide="edit.ribAttachments.path!= null">
                                                <img ng-src={[{edit.ribAttachments.path}]} width='150px;'
                                                     maxHeight='auto' ng-model="oldRibAttachments"
                                                     ng-show="edit.ribAttachments.path!= null">
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-show="edit.paymentmethod == 1">
                                        <div class="form-group">
                                            {{ form_label(form.employee.iban, "IBAN", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.iban, {'attr': {'class': 'form-control', 'ng-model':'edit.iban', 'ng-value':'FR00-0000-0000-0000-0000-0000-000', 'mask':'FR00-0000-0000-0000-0000-0000-000' ,'mask-repeat':'1', 'mask-restrict':'accept', 'mask-validate':'true' } }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.employee.bic, "BIC", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.bic, {'attr': {'class': 'form-control','maxlength':'15', 'ng-model':'edit.bic'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.employee.domiciliation, "{[{'BANK_DOMICILIATION' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.domiciliation, {'attr': {'class': 'form-control', 'ng-model':'edit.domiciliation'} }) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space_div btns_actions"></div>
                                    <div class="modal-footer form-actions center">
                                        <button type="submit" class="btn btn-sm btn-success action"
                                                ng-click="updateprofile('profils_update',edit.id,'contract')">
                                            {[{'BUTTON_VALIDATE' | translate:userData}]} > {[{'CONTRAT' |
                                            translate:userData}]}
                                        </button>
                                        <button type="submit" class="btn btn-sm btn-success action"
                                                ng-click="updateprofile('profils_update',edit.id,'close')">
                                            {[{'BUTTON_VALIDATE' | translate:userData}]}
                                        </button>
                                        <button type="button" class="btn btn-white btn-default reset"
                                                data-dismiss="modal"> {[{'CANCEL' | translate:userData}]}
                                        </button>
                                    </div>

                                    {{ form_end(form, {'render_rest': false}) }}
                                </div>
                                <div id="formComptencesModif" class="tab-pane">
                                    {{ render(controller('UserBundle:hrm_employee_skills:edit')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> 