<div id="newemployee" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'IDENTIFICATION' | translate:userData}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12">
                                <li id="carteIdentiteTag" class="active">
                                    <a data-toggle="tab" href="#formCarteIdentiteAdd" onclick="return false;">{[{'CARTE_IDENTITE'
                                        | translate}]}</a>
                                </li>
                                <li id="CompetenceTag" class="notappear">
                                    <a data-toggle="tab" href="#formComptencesAdd"
                                       class="CompetenceCLASS"
                                       onclick="return false;">{[{'COMPETENCES'
                                        | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="formCarteIdentiteAdd" class="tab-pane in active">

                                    {{ form_start(form, {'attr': {'id':'collaborator_new_form','class': 'form-horizontal', 'role':'form'}}) }}
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'PERSONAL_INFOS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.first_name, "{[{'FIRST_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.first_name, {'id':'collaborator_new_first_name', 'attr': {'class': 'form-control', 'ng-model':'new.first_name'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.last_name, "{[{'LAST_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.last_name, {'id':'collaborator_new_last_name','attr': {'class': 'form-control', 'ng-model':'new.last_name'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email, "{[{'EMAIL' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.email, {'id':'collaborator_new_email','attr': {'class': 'form-control', 'ng-model':'new.email'} }) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.employee.employee_number, "{[{'NUM_MATRICULE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.employee_number, {'id':'collaborator_new_employee_number','attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.employee_number'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.gender, "{[{'GENDER' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.gender, {'id':'collaborator_new_gender','attr': {'type-suggestions':'', 'datasource':'["GENDER"]','class': 'form-control', 'ng-model':'new.sexe'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.name_usage, "{[{'USE_NAME' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.name_usage, {'id':'collaborator_new_name_usage','attr': {'class': 'form-control', 'ng-model':'new.name_usage'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.birth_date, "{[{'BIRTH_DAY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                {{ form_widget(form.employee.birth_date, {'id':'collaborator_new_birth_date','attr': {'type':'date','class': 'form-control datepicker new_birthdate','data-date-format' : 'DD/MM/YYYY', 'ng-model': 'new.birth_date'} } ) }}
                                                <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.department_birth, "{[{'BIRTH_DEPARTMENT' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.department_birth, {'id':'collaborator_new_department_birth','attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.department_birth'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.place_birth, "{[{'BIRTH_PLACE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.place_birth, {'id':'collaborator_new_place_birth','attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.place_birth'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.nation_code, "{[{'BIRTH_COUNTRY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.nation_code, {'id':'collaborator_new_nation_code','attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'new.nation_code','ng-init':'new.nation_code="FR"'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.country_nationality, "{[{'NATIONALITY_COUNTRY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.country_nationality, {'id':'collaborator_new_country_nationality','attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'new.country_nationality','ng-init':'new.country_nationality="FR"'} }) }}
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'COORDONEES' | translate:userData}]}</h4>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.employee.address, "{[{'ADRESS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.address, {'id':'collaborator_new_address','attr': {'class': 'form-control', 'ng-model':'new.address'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.commune, "{[{'TOWN' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.commune, {'id':'collaborator_new_commune','attr': {'class': 'form-control', 'ng-model':'new.commune'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.zip_code, "{[{'ZIP_CODE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.zip_code, {'id':'collaborator_new_zip_code','attr': {'class': 'form-control', 'ng-model':'new.zip_code'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.country_code, "{[{'COUNTRY' | translate:userData}]} ({[{'FISCAL_RES' | translate:userData}]})", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.country_code, {'id':'collaborator_new_country_code','attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-model':'new.country_code','ng-init':'new.country_code="FR"'} }) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.employee.mobilePhone, "{[{'NNUM_TEL_MOBILE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.mobilePhone, {'id':'collaborator_new_tel_mobile','attr': {'class': 'form-control', 'ng-model':'new.mobilePhone'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.homePhone, "{[{'NNUM_TEL_FIXE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.homePhone, {'id':'collaborator_new_tel_fixe','attr': {'class': 'form-control', 'ng-model':'new.homePhone'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.skype, "{[{'Skype' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.skype, {'id':'collaborator_new_skype','attr': {'class': 'form-control', 'ng-model':'new.skype'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.linkedin, "{[{'LinkedIn' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.linkedin, {'id':'collaborator_new_linkedin','attr': {'class': 'form-control', 'ng-model':'new.linkedin'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.viadeo, "{[{'Viadeo' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.viadeo, {'id':'collaborator_new_viadeo','attr': {'class': 'form-control', 'ng-model':'new.viadeo'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.twitter, "{[{'Twitter' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.twitter, {'id':'collaborator_new_twitter','attr': {'class': 'form-control', 'ng-model':'new.twitter'} }) }}
                                        </div>
                                    </div>


                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'DETAILS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.ssn_num, "{[{'SOCIAL_SEC_NUM' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.ssn_num, {'id':'collaborator_new_ssn_num','attr': {'class': 'form-control', 'ng-dom':'', 'ng-model':'new.ssn_num' ,
                                                'title':'le numéro de sécurité sociale est composé de 15 chiffres', 'maxlength':'15'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.is_handicape, "{[{'DISABLED_PERSON' | translate:userData}]} ?", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                {{ form_widget(form.employee.is_handicape, {'id':'collaborator_new_is_handicape','attr': {'class': 'ace ace-switch ace-switch-5', 'ng-model':'new.is_handicape'} }) }}
                                                <span class="lbl middle"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.num_children, "{[{'DEPENDENT_CHILD' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.num_children, {'id':'collaborator_new_num_children','attr': {'class': 'form-control', 'ng-model':'new.num_children',
                                                'string-to-number':'', 'min':'0', 'max':'5'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.family_status, "{[{'FAMILY_SITUATION' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.family_status, {'id':'collaborator_new_family_status','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'new.family_status',
                                                'string-to-number':'', 'min':'0', 'max':'5'} }) }}
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'BANC_INFO' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.employee.payment_method, "{[{'PAY_METHOD' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                        <div class="col-sm-8">
                                            {{ form_widget(form.employee.payment_method, {'id':'collaborator_new_payment_method','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'new.paymentmethod' }}) }}
                                        </div>
                                    </div>
                                    <div ng-show="new.paymentmethod == 1">
                                        <div class="form-group">
                                            {{ form_label(form.employee.iban, "IBAN", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.iban, {'id':'collaborator_new_iban','attr': {'class': 'form-control', 'ng-model':'new.iban', 'ng-value':'FR00-0000-0000-0000-0000-0000-000', 'mask':'FR00-0000-0000-0000-0000-0000-000' ,'mask-repeat':'1', 'mask-restrict':'accept', 'mask-validate':'true' } }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.employee.bic, "BIC", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.bic, {'id':'collaborator_new_bic','attr': {'class': 'form-control','maxlength':'15', 'ng-model':'new.bic'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.employee.domiciliation, "{[{'BANK_DOMICILIATION' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.employee.domiciliation, {'id':'collaborator_new_domiciliation','attr': {'class': 'form-control', 'ng-model':'new.domiciliation'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="new.paymentmethod == 1" class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right"
                                               for="userbundle_employeecontract_notes">{[{'DOWNLOAD_RIB' |
                                            translate}]}</label>
                                        <div class="col-sm-5">
                    <span class="block input-icon input-icon-right">
                        <input class=" btn-success btn btn-file action" type="filepicker"
                               data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                               data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"
                               on-success="new.ribAttachments = event.fpfile.url"/>
                        <br>
                        <br>
                        <img ng-src="{[{ edit.ribAttachments.path }]}" width="150px; maxHeight='auto'">
                        <div ng-show="new.ribAttachments.path > 0 && edit.payment_method == 1">
                            <img ng-src={[{edit.ribAttachments.path}]} width="150px; maxHeight='auto'"
                                 ng-show="new.ribAttachments.path!= null">
                        </div>
                        <div ng-show="new.ribAttachments.length > 0 && edit.payment_method == 1">
                        </div>
                        <img ng-show="new.ribAttachments.path.length > 0 && edit.edit.paymentmethod == 1"
                             ng-src={[{edit.ribAttachments.path}]} width="150px; maxHeight='auto'">
                        <br>
                        <br>
                        <a ng-show="new.ribAttachments.length > 0 && edit.payment_method == 1" class="red ng-scope"
                           ng-click="new.ribAttachments= ''">
                            <span class="red">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                        </a>
                        <a ng-show="new.rib_attachments.path.length > 0 && edit.payment_method == 1"
                           class="red ng-scope" ng-click="new.rib_attachments= ''">
                            <span class="red">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                        </a>
                    </span>
                                        </div>
                                    </div>


                                    {#                   </div>#}
                                    <div class="space_div btns_actions"></div>
                                    <div id="newemployee" class="modal fade bd-example-modal-lg">ce_div"></div>
                                    <div class="modal-footer form-actions center">
                                        <button type="submit" class="btn btn-sm btn-success action"
                                                ng-click="newemployee('contract')"
                                                id="btn_new_validate_collaborator_contract">
                                            {[{'BUTTON_VALIDATE' | translate:userData}]} > {[{'CONTRAT' |
                                            translate:userData}]}
                                        </button>
                                        <button type="submit" class="btn btn-sm btn-success action"
                                                ng-click="newemployee('skills')"
                                                id="btn_new_validate_collaborator">
                                            {[{'BUTTON_VALIDATE' | translate:userData}]}> {[{'COMPETENCES' |
                                            translate:userData}]}
                                        </button>
                                        <button type="button" class="btn btn-white btn-default reset"
                                                data-dismiss="modal"> {[{'CANCEL' |
                                            translate:userData}]}
                                        </button>
                                    </div>

                                    {{ form_end(form, {'render_rest': false}) }}
                                </div>
                                <div id="formComptencesAdd" class="tab-pane in ">
                                    {{ render(controller('UserBundle:hrm_employee_skills:new')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
