<div id="CollaborateurShow" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">{[{'PROFILE_DETAILS' | translate}]}</h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body form-horizontal show_form navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12">
                                <li class="active">
                                    <a data-toggle="tab" href="#formCarteIdentiteShow" onclick="return false;">{[{'CARTE_IDENTITE'
                                        | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#formComptencesShow" onclick="return false;">{[{'COMPETENCES'
                                        | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="formCarteIdentiteShow" class="tab-pane in active">


                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'PERSONAL_INFOS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'FIRST_NAME' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.user.first_name}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'LAST_NAME' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.user.last_name}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'EMAIL' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.user.email}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'NUM_MATRICULE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.employee_number}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'GENDER' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.gender.display_name}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'USE_NAME' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.user.name_usage}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'BIRTH_DAY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.birth_date| date:'dd/MM/yyyy'}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'BIRTH_DEPARTMENT' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.department_birth}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'BIRTH_PLACE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.place_birth}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'BIRTH_COUNTRY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.nation_code}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'NATIONALITY_COUNTRY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.country_nationality}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'HOME_ADRESS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'ADRESS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.address}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'TOWN' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.commune}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'ZIP_CODE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.zip_code}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'COUNTRY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.country_code}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'NNUM_TEL_MOBILE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.mobilePhone}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'NNUM_TEL_FIXE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.homePhone}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'Skype' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.skype}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'LinkedIn' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.linkedin}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'Viadeo' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.viadeo}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'Twitter' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.twitter}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'DETAILS' | translate:userData}]}</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'SOCIAL_SEC_NUM' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.ssn_num}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'DISABLED_PERSON' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control" ng-if="edit.is_handicape==true">{[{'ALIAS_TRUE' |
                                                translate}]}</p>
                                            <p class="form-control" ng-if="edit.is_handicape==false">{[{'ALIAS_FALSE' |
                                                translate}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'DEPENDENT_CHILD' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.num_children}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'FAMILY_SITUATION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control" ng-if="edit.family_status=='2'">{[{'SINGLE_STATUS' |
                                                translate}]}</p>
                                            <p class="form-control" ng-if="edit.family_status=='1'">{[{'MARIED_STATUS' |
                                                translate}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>Informations Bancaires</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'PAY_METHOD' | translate}]}
                                        </label>
                                        <div class="col-sm-8" ng-if="edit.payment_method.id=='1'">
                                            <p class="form-control">{[{edit.payment_method.display_name}]}</p>
                                            <img ng-src={[{edit.ribAttachments}]} width='150px;' maxHeight='auto'
                                                 ng-hide="edit.ribAttachments.path!= null">
                                            <img ng-src={[{edit.ribAttachments.path}]} width='150px;' maxHeight='auto'
                                                 ng-model="oldRibAttachments" ng-show="edit.ribAttachments.path!= null">
                                            <br>
                                        </div>
                                        <div class="col-sm-8" ng-if="edit.payment_method.id!='1'">
                                            <p class="form-control">{[{edit.payment_method.display_name}]}</p>
                                            <img ng-src={[{edit.ribAttachments}]} width='150px;' maxHeight='auto'
                                                 ng-hide="edit.ribAttachments.path!= null">
                                            <img ng-src={[{edit.ribAttachments.path}]} width='150px;' maxHeight='auto'
                                                 ng-model="oldRibAttachments" ng-show="edit.ribAttachments.path!= null">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="edit.payment_method.id=='1'">
                                        <label class="col-sm-3 control-label">
                                            IBAN
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.iban}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="edit.payment_method.id=='1'">
                                        <label class="col-sm-3 control-label">
                                            BIC
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.bic}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="edit.payment_method.id=='1'">
                                        <label class="col-sm-3 control-label">
                                            {[{'BANK_DOMICILIATION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.domiciliation}]}</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="formComptencesShow" class="tab-pane">
                                    <div class="page-header">
                                        <h4>{[{'STUDY' | translate:userData}]} </h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'STUDY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control" ng-repeat="(key,study) in edit.skills.skills_study">
                                                {[{study.study_type.display_name}]} -
                                                {[{study.study_level.display_name}]} -
                                                {[{study.displayName}]}
                                            </p>
                                        </div>
                                    </div>
                                    {#                <div class="form-group">
                                                        <label class="col-sm-3 control-label">
                                                            {[{'LEVEL_STUDY' | translate}]}
                                                        </label>
                                                        <div class="col-sm-8 ">
                                                            <p class="form-control">{[{edit.study_level.display_name}]}</p>
                                                        </div>
                                                    </div>  #}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'COMMENTS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.skills.studyComment}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>
                                    <div class="page-header">
                                        <h4>{[{'COMPETENCES' | translate:userData}]} </h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'JOB_SECTOR' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control"
                                               ng-repeat="(key,company) in edit.skills.skills_company">
                                                {[{company.job.display_name}]} -
                                                {[{company.industrysector.display_name}]} -
                                                {[{company.displayName}]}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'LANGUES' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control"
                                               ng-repeat="(key,language) in edit.skills.skills_language">
                                                {[{language.language.display_name}]} -
                                                {[{language.language_level.display_name}]}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'INFORMATIQUE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control"
                                               ng-repeat="(key,technology) in edit.skills.skills_technology">
                                                {[{technology.technology.display_name}]} -
                                                {[{technology.technology_level.display_name}]}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'OTHERS_SKILLS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control"
                                               ng-repeat="tag in edit.skills.skills_other | unique: 'tag'">
                                                {[{tag.tag}]}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'COMMENTS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{edit.skills.experienceComment}]}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
