<!-- End Check and Set default language -->

<div class="space_div without_border"></div>
<div class="modal-body">
    <!-- -->
    <table datatable="ng" class="table table-striped" data-ng-init="initMenus()">
        <thead>
        <tr>
            <th></th>
            <th>{[{'NAME' | translate}]}</th>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="tasks" class="list">
        {#<tbody>#}
        <tr ng-repeat="link in tasks" class="item">
            <td><input type="checkbox" ng-model="menus[link.route_links+'_'+link.id]"></td> 
            <td><b>{[{link.name }]}</b> <span ng-if="link.associated_to != null">(Sous-menu <b>{[{link.associated_to.name}]}</b>)</span></td> 
        </tr>
        </tbody>
    </table> 
    <div class="pull-left">
        {[{tasks.length}]}
        {[{'RESULTS' | translate}]}
    </div> 
<div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="update()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>        
    <!-- -->
    
    {#
     {% for menu in menus %}
         <form ng-submit="update()" id="form_menu" class= "form-horizontal" role="form">
       <div class="form-group">
           {% if menu.getAssociatedTo() is not null %}
               {{ menu.getName() }} (Sous-menu <b>{{menu.getAssociatedTo().getName}}</b>)
            {% else %}
                <b>{{ menu.getName() }}</b>
            {% endif %}
           <div class="col-sm-3">
               <div class="input-grpppoup">
                    <input type="checkbox" 
                           id="{{menu.getRouteLinks()~'_'~menu.getId()}}">
                  </div>
           </div>
       </div>
      {% endfor %}
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" 
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
     </form>#}
</div>
