<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_PROVIDERS' | translate}]}</h2>
    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#       Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading','pointspinner')}}
    <table datatable="ng" class="table table-striped" ng-hide="loading" data-ng-init="init()">
        <thead>
            <tr>
                <th>{[{'NAME' | translate}]}</th>
                <th>{[{'PATH' | translate}]}</th>
                <th>{[{'DESCRIPTION' | translate}]}</th>
                <th></th>
        </thead>
{#        <tbody ng-repeat="(key, task) in response = (filterList | filter: {first_name:contributorSearch||undefined,employee_contract:{contractType:{display_name:contractSearch|| undefined}} && undefined}: true)| orderBy:'contractType.contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">#}
        <tbody>
            <tr data-ng-repeat="hrm_settings_provider in data.providers">
                <td>{[{ hrm_settings_provider.display_name }]}</td>
                <td>{[{ hrm_settings_provider.portal_return_url }]}</td>
                <td>{[{ hrm_settings_provider.description }]}</td>               
                <td class="btns_actions_table"> 
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="md md-more-vert f20"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" data-target='#EditMenu' ng-click="setCurrentId(hrm_settings_provider.id)" aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a></li>                            
                        </ul>
                    </div>
                </td>       
            </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{data.providers.length}]}
        {[{'RESULTS' | translate}]} 
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
</div>                     

<!-- Modal -->

<!--Edit -->
  <div id="EditMenu" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">  
                    {[{'MODIFY_MENUS' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

            </div>
             {{ render(controller('AdminBundle:hrm_settings_menu:edit')) }}
        </div>
    </div>
</div> 
