
<div class="col-sm-12 m-t-10">
        <section class="charts">
            <div class="row">

                <div class="col-sm-12 col-md-6"  ng-controller="expenseCtrl">
                    <div class="card small donut-chart">
                        <div class="card-header form_block">
                            <div class="card-title">
                                <b>{[{'VALID_DASH' | translate}]}</b>
                                <span class="btn btn-round-sm btn-link dashboard-tooltip" style="right:65px;" role="button" data-placement="bottom" data-toggle="popover" 
                                      data-html="true" data-animation="true" data-trigger="hover click" data-delay="200" 
                                      data-template="<div class=&quot;popover slide-down&quot; role=&quot;tooltip&quot; style=&quot;line-height: 19px;min-width: 330px;background-color: rgb(245, 124, 0);color: #fff;&quot;><div class=&quot;arrow&quot; style=&quot;border-bottom-color: rgb(245, 124, 0); border-top-color: rgb(245, 124, 0);&quot;></div> <button style=&quot;padding:8px;margin-right:3px;font-size:19.5px;line-height: 1; &quot; class=&quot;close&quot; type=&quot;button&quot;><span style=&quot;font-family:inherit;color:#fff;font-size:19.5px; &quot; class=&quot;js-tooltip-tour-dismiss&quot;>x</span></button> <div class=&quot;popover-content&quot;></div> <div class=&quot;popover-footer&quot; aria-hidden=&quot;true&quot; style=&quot;display: none;&quot;> <button class=&quot;btn js-tooltip-tour-dismiss&quot; onclick=&quot;return false;&quot; type=&quot;button&quot;> OK </button> </div></div>" data-content="<p>{[{'VALIDATION_REQUEST_1' | translate}]}</p><p>{[{'VALIDATION_REQUEST_2' | translate}]}</p><p>{[{'VALIDATION_REQUEST_3' | translate}]}</p>" 
                                      onclick="return false;" data-original-title="" title="">
                                    <i class="fa fa-question"></i>
                                </span>
                            </div>
                            <div class="col-sm-12 col-xs-12 searchPicker">
                                <div class="form-group col-sm-6 col-xs-8">
                                    <div class="input-group">   
                                        <input id="datetimepicker-slct-expense"  placeholder="{[{'THIS_MONTH' | translate}]}" type="text" class="form-control date-picker-slct-expense">
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>   
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="card-content" data-ng-init='expenseMonthDonutChart(null)'>
                            <div id="donut-chart-expense"></div>
                            <div class="nbre_count_request">
                            </div>
                        </div>
                    </div>
                </div>

{#                <div class="col-sm-12 col-md-6" ng-controller="requestAbsenceCtrl">
                    <div class="card small donut-chart">
                        <div class="card-header form_block">
                            <div class="card-title"><b>{[{'VALID_ABSENCE' | translate}]}</b></div>
                            <div class="col-sm-12 col-xs-12 searchPicker">
                                <div class="form-group col-sm-6 col-xs-8">
                                    <div class="input-group">   
                                        <input id="datetimepicker-slct-absence"  placeholder="{[{'THIS_MONTH' | translate}]}" type="text" class="form-control date-picker-slct-absence">
                                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>   
                                    </div>
                                </div>
                            </div>                             
                        </div>
                        <div class="card-content" data-ng-init='absencesMonthDonutChart(null)'>
                            <div id="donut-chart-absence"></div>
                        </div>
                    </div>
                </div>#}
{#            </div>
        </section>
    </div>
#}

<style>
    .big-font {
  font-size:30px;
}
</style>    