  
{#<div class="col-sm-12 m-t-10">
        <section class="charts">
            <div class="row">#}

                <!-- grid -->
                <div class="col-sm-12 col-md-6">
                    <div class="card small donut-chart">
                        <div class="card-header form_block">
                            <div class="card-title">
                                <b>{[{'SUMMARY_VALIDATED_REQUESTS' | translate}]}</b>
                                <span class="btn btn-round-sm btn-link dashboard-tooltip" style="right:65px;" role="button" data-placement="bottom" data-toggle="popover" 
                                      data-html="true" data-animation="true" data-trigger="hover click" data-delay="200" 
                                      data-template="<div class=&quot;popover slide-down&quot; role=&quot;tooltip&quot; style=&quot;line-height: 19px;min-width: 330px;background-color: rgb(245, 124, 0);color: #fff;&quot;>
                                      <div class=&quot;arrow&quot; style=&quot;border-bottom-color: rgb(245, 124, 0); border-top-color: rgb(245, 124, 0);&quot;></div>
                                      <button style=&quot;padding:8px;margin-right:3px;font-size:19.5px;line-height: 1; &quot; class=&quot;close&quot; type=&quot;button&quot;><span style=&quot;font-family:inherit;color:#fff;font-size:19.5px; &quot; class=&quot;js-tooltip-tour-dismiss&quot;>x</span></button> 
                                      <div class=&quot;popover-content&quot;></div> 
                                      <div class=&quot;popover-footer&quot; aria-hidden=&quot;true&quot; style=&quot;display: none;&quot;> 
                                      <button class=&quot;btn js-tooltip-tour-dismiss&quot; onclick=&quot;return false;&quot; type=&quot;button&quot;> OK </button> 
                                      </div></div>" 
                                      data-content="<p>{[{'SYNTHESE_REQUEST_1' | translate}]}</p><p>{[{'SYNTHESE_REQUEST_2' | translate}]}</p><p>{[{'SYNTHESE_REQUEST_3' | translate}]}</p>" 
                                      onclick="return false;" data-original-title="" title="">
                                    <i class="fa fa-question"></i>
                                </span>                                
                            </div>
                                                <div class="col-sm-12 col-xs-12 searchPicker">
                        <div class="form-group col-sm-6 col-xs-8">
                            <div class="input-group">   
                                <input id="datetimepicker-slct-expense-grid"  placeholder="{[{'THIS_MONTH' | translate}]}" type="text" class="form-control date-picker-slct-expense-grid">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>   
                            </div>
                        </div>
                    </div> 
                        </div>
                        <div class="card-content">

                            <div id="grid-chart-expense" ng-controller="expenseCtrl" data-ng-init="expenseMonthGridChart(null)">
                                {% include 'dashboard/charts/partials/grid_expense.html.twig' %}
                            </div>
{#                            <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                                            previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                                            class="pagination-sm pull-right" boundary-link-numbers="true">

                            </uib-pagination>#}
                        </div>
                    </div>
                </div>

{#                <div class="col-sm-12 col-md-6">
                    <div class="card small donut-chart">
                        <div class="card-header form_block">
                            <div class="card-title"><b>{[{'CLASS_ABSENCE' | translate}]}</b></div>
                                                <div class="col-sm-12 col-xs-12 searchPicker">
                        <div class="form-group col-sm-6 col-xs-8">
                            <div class="input-group">   
                                <input id="datetimepicker-slct-absence-grid"  placeholder="{[{'THIS_MONTH' | translate}]}" type="text" class="form-control date-picker-slct-absence-grid">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>   
                            </div>
                        </div>
                    </div> 
                        </div>
                        <div class="card-content">
                            <div id="grid-chart-absence" ng-controller="requestAbsenceCtrl" data-ng-init="absencesMonthGridChart(null)">
                                {% include 'dashboard/charts/partials/grid_absence.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </section>
    </div>