{% macro absencesecondary(confirm, cancel, remove) %}
    <div class="btn-group pull-right">
{#        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
            <button ng-if="!(task.status.id=='3')" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#EditAbsence' ng-click="opentheform('edit',task.id)" aria-haspopup="true" aria-expanded="false">Modifier</button>
            <button ng-if="(task.status.id=='3')" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#EditAbsence' ng-click="opentheform('edit',task.id)" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
        {% else %}
            <button  ng-if="task.status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#EditAbsence' ng-click="opentheform('edit',task.id)" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
            <button  ng-if="task.status.id!='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#EditAbsence' ng-click="opentheform('edit',task.id)" aria-haspopup="true" aria-expanded="false">Modifier</button>
        {% endif %}#}
        <button type="button" class="btn btn-theme btn-sm icon-toggle" id="BUTTON_REQUEST_ABSENCE{[{task.id}]}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="md md-more-vert f20"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a  data-toggle="modal" data-target='#AbsenceShow' id="show_request_absence_{[{task.id}]}" ng-click="SelectInfos(task.id,'Absence')">{[{'BUTTON_SHOW' | translate}]}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}

                <!-- *** ACTION MODIFIER *** -->
                <li ng-if="!(task.status.id=='3')" role="separator" class="divider"></li>
                <li ng-if="!(task.status.id=='3')">
                    <a data-toggle="modal" data-target='#EditAbsenceRequest' ng-click="SelectInfos(task.id,'Absence')" id="edit_request_absence_{[{task.id}]}" aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                
             {#   <li ng-if="(task.status.id=='3')" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='3')">
                    <a data-toggle="modal" data-target='#EditAbsenceRequest' ng-click="SelectInfos(task.id,'Absence')" id="edit_request_absence_{[{task.id}]}" aria-haspopup="true" aria-expanded="false" disabled>{[{'BUTTON_EDIT' | translate}]}</a>
                </li>#}
                
                <!-- *** ACTION CONFIRMER *** -->
                <!-- Status Brouillon -> En attente -->
                <li ng-if="(task.status.id=='4')&&app.id==task.createuid.id" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='4')&&app.id==task.createuid.id">
                    <a ng-click="changestatus(task.id,'valider')" id="validate_request_absence_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
{#                       <a ng-click="confirm('{{confirm}}',task.id,'valider')">{[{'BUTTON_CONFIRM' | translate}]}</a>#}
                </li>

                <!-- Status En attente -> Valide -->
                <li ng-if="(task.status.id=='1')&&app.id==task.manager.id" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='1')&&app.id==task.manager.id">
                    <a ng-click="changestatus(task.id,'valider')" id="validate_request_absence_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>
                <!-- *** END ACTION CONFIRMER *** -->

                <!-- *** ACTION REJETER *** -->
                <!-- Status En attente -> Refusé -->
                <li ng-if="(task.status.id=='1')&&app.id==task.manager.id" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='1')&&app.id==task.manager.id">
                    <a ng-click="cancel('{{cancel}}',task.id)"  id="reject_request_absence_{[{task.id}]}">{[{'BUTTON_REJECT' | translate}]}</a>
                </li>
                <!-- *** END ACTION REJETER *** -->
                
                <!-- *** ACTION ANNULER *** -->
                <!-- Status En attente OU periode de pay valide ouverte -> Brouillon -->
                <li ng-if="((task.status.id=='1'||(task.status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.createuid.id)" role="separator" class="divider"></li>
                <li ng-if="((task.status.id=='1'||(task.status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.createuid.id)">
                    <a href="javascript:void(0)"  ng-click="Annuler('{{cancel}}',task.id)" id="cancel_request_absence_{[{task.id}]}">{[{'CANCEL' | translate}]}</a>
                </li>
                <!-- *** END ACTION ANNULER *** -->

                <!-- *** ACTION SUPPRIMER *** -->
                <!-- Status Brouillon -> Supprimer -->
                <li ng-if="task.status.id=='4'&&app.id==task.createuid.id" role="separator" class="divider"></li>
                <li ng-if="task.status.id=='4'&&app.id==task.createuid.id">
                    <a href="javascript:void(0)"  ng-click="delete(task.id)" id="remove_request_absence_{[{task.id}]}">{[{'REMOVE' | translate}]}</a>
                </li>
                <!-- *** END ACTION SUPPRIMER *** -->

            {% else %}
                
                <!-- *** ACTION MODIFIER *** -->
{#                <li ng-if="task.status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle" role="separator" class="divider"></li>
                <li ng-if="task.status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle">
                    <a data-toggle="modal" data-target='#EditAbsenceRequest' ng-click="SelectInfos(task.id,'Absence')" aria-haspopup="true" id="edit_request_absence_{[{task.id}]}" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                #}
                <li ng-if="task.status.id!='2'" role="separator" class="divider"></li>
                <li ng-if="task.status.id!='2'">
                    <a data-toggle="modal" data-target='#EditAbsenceRequest' ng-click="SelectInfos(task.id,'Absence')" aria-haspopup="true" id="edit_request_absence_{[{task.id}]}" aria-expanded="false" >{[{'BUTTON_EDIT' | translate}]}</a>
                </li>                
                
                <li ng-if="(task.status.id=='4')&&app.id==task.createuid.id" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='4')&&app.id==task.createuid.id">
                    <a ng-click="CollaborateurValidate('{{confirm}}',task.id)" id="validate_request_absence_{[{task.id}]}">{[{'BUTTON_VALIDATE' | translate}]}</a>
                </li>
                <li ng-if="(task.status.id=='1')&&app.id==task.createuid.id" role="separator" class="divider"></li>
                <li ng-if="(task.status.id=='1')&&app.id==task.createuid.id">
                    <a ng-click="Annuler('{{cancel}}',task.id)" id="cancel_request_absence_{[{task.id}]}">{[{'CANCEL' | translate}]}</a>
                </li>
                <li ng-if="task.status.id=='4'" role="separator" class="divider"></li>
                <li ng-if="task.status.id=='4'">
                    <a href="javascript:void(0)" ng-click="delete(task.id)" id="remove_request_absence_{[{task.id}]}">{[{'REMOVE' | translate}]}</a>
                </li>
            {% endif %}

        </ul>
    </div>

{% endmacro %}