{% macro secondary(confirm, cancel, remove) %}
    <div class="btn-group pull-right">
{#        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
            <button ng-if="!((task.settings_status.id=='3'||task.settings_pay_period.status=='open'||task.settings_pay_period.status=='close')&&app.id==task.validator.id)" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false">Modifier</button>
            <button ng-if="(task.settings_status.id=='3'||task.settings_pay_period.status=='open'||task.settings_pay_period.status=='close')&&app.id==task.validator.id" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>

        {% else %}
            <button  ng-if="task.settings_status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
            <button  ng-if="task.settings_status.id!='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false">Modifier</button>
        {% endif %}#}
        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_expense_{[{task.uid}]}">
            <span class="md md-more-vert f20"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a  data-toggle="modal" data-target='#Show' ng-click="SelectInfos(task.uid,task.type, 'show')" id="show_expense_{[{task.uid}]}">{[{'BUTTON_SHOW' | translate}]}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                
                <!-- *** ACTION MODIFIER *** -->
           {#     <li ng-if="!((task.settings_status.id=='3'||task.settings_pay_period.status=='open'||task.settings_pay_period.status=='close')&&app.id==task.validator.id)" role="separator" class="divider"></li>
                <li ng-if="!((task.settings_status.id=='3'||task.settings_pay_period.status=='open'||task.settings_pay_period.status=='close')&&app.id==task.validator.id)">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false" id="edit_expense_{[{task.uid}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                #}
                <li ng-if="!(task.settings_status.id=='2'&&task.settings_pay_period.status=='close')" role="separator" class="divider"></li>
                <li ng-if="!(task.settings_status.id=='2'&&task.settings_pay_period.status=='close')">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false"  id="edit_expense_{[{task.uid}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                
                <!-- *** ACTION CONFIRMER *** -->
                <!-- Status Brouillon -> En attente -->
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                    <a id="Confirmer" ng-click="confirm('{{confirm}}',task.uid,'valider')" id="confirm_expense_{[{task.uid}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>

                <!-- Status En attente -> Valide -->
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                    <a ng-click="confirm('{{confirm}}',task.uid,'confirmer')" id="confirm_expense_{[{task.uid}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>
                <!-- *** END ACTION CONFIRMER *** -->

                <!-- *** ACTION REJETER *** -->
                <!-- Status En attente -> Refusé -->
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                    <a ng-click="cancel('{{cancel}}',task.uid)" id="reject_expense_{[{task.uid}]}">{[{'BUTTON_REJECT' | translate}]}</a>
                </li>
                <!-- *** END ACTION REJETER *** -->
                
                <!-- *** ACTION ANNULER *** -->
                <!-- Status En attente OU periode de pay valide ouverte -> Brouillon -->
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))">
                    <a href="javascript:void(0)"  ng-click="Annuler('{{cancel}}',task.uid)" id="cancel_expense_{[{task.uid}]}">{[{'CANCEL' | translate}]}</a>
                </li>
   {#             <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)" role="separator" class="divider"></li>
                <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)">
                    <a href="javascript:void(0)"  ng-click="Annuler('{{cancel}}',task.uid)">Annuler</a>
                </li>#}
                <!-- *** END ACTION ANNULER *** -->

                <!-- *** ACTION SUPPRIMER *** -->
                <!-- Status Brouillon -> Supprimer -->
                <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id">
                    <a href="javascript:void(0)"  ng-click="delete('{{remove}}',task.uid)" id="remove_expense_{[{task.uid}]}">{[{'REMOVE' | translate}]}</a>
                </li>
                <!-- *** END ACTION SUPPRIMER *** -->

            {% else %}
                
                <!-- *** ACTION MODIFIER *** -->
         {#       <li ng-if="task.settings_status.id=='2'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='2'">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false" id="edit_expense_{[{task.uid}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                #}
                <li ng-if="task.settings_status.id!=='2'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id!=='2'">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.uid,task.type)" aria-haspopup="true" aria-expanded="false"  id="edit_expense_{[{task.uid}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>

                
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                    <a ng-click="CollaborateurValidate('{{confirm}}',task.uid)" id=confirm_expense_{[{task.uid}]}">{[{'BUTTON_VALIDATE' | translate}]}</a>
                </li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id">
                    <a ng-click="Annuler('{{cancel}}',task.uid)">Annuler</a>
                </li>
                <li ng-if="task.settings_status.id=='4'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'">
                    <a href="javascript:void(0)"  ng-click="delete('{{remove}}',task.uid)">{[{'REMOVE' | translate}]}</a>
                </li>
            {% endif %}

        </ul>
    </div>

{% endmacro %}