{% macro secondaryForTransport(confirm, cancel, remove) %}
   
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_transport_{[{task.id}]}">
            <span class="md md-more-vert f20"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a  data-toggle="modal" data-target='#Show_transport' ng-click="SelectInfos(task.id,'extraHours')" id="show_transport_{[{task.id}]}">{[{'BUTTON_SHOW' | translate}]}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                
                <!-- *** ACTION MODIFIER *** -->
                <li ng-if="!((task.settings_status.id=='3')&&'{{preference.empData.id}}' ==task.validator.id)" role="separator" class="divider"></li>
                <li ng-if="!((task.settings_status.id=='3')&&'{{preference.empData.id}}' ==task.validator.id)">
                    <a data-toggle="modal" data-target='#Edit_transport' ng-click="SelectInfos(task.id,'extraHours')" aria-haspopup="true" aria-expanded="false" id="show_transport_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                
                {#<li ng-if="(task.settings_status.id=='3')&&'{{preference.empData.id}}' ==task.validator.id" role="separator" class="divider"></li>#}
                {#<li ng-if="(task.settings_status.id=='3')&&'{{preference.empData.id}}' ==task.validator.id">#}
                    {#<a data-toggle="modal" data-target='#Edit_transport' ng-click="SelectInfos(task.id,'extraHours')" aria-haspopup="true" aria-expanded="false" disabled>{[{'BUTTON_EDIT' | translate}]}</a>#}
                {#</li>#}
                
                <!-- *** ACTION CONFIRMER *** -->
                <!-- Status Brouillon -> En attente -->
                <li ng-if="(task.settings_status.id=='4')&&'{{preference.empData.id}}' ==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&'{{preference.empData.id}}' ==task.requester.id">
                    <a id="Confirmer" ng-click="confirm('{{confirm}}',task.id,'valider')" id="confirm_transport_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>

                <!-- Status En attente -> Valide -->
                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.validator.id">
                    <a ng-click="confirm('{{confirm}}',task.id,'confirmer')" id="confirm_transport_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>
                <!-- *** END ACTION CONFIRMER *** -->

                <!-- *** ACTION REJETER *** -->
                <!-- Status En attente -> Refusé -->
                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.validator.id">
                    <a ng-click="cancel('{{cancel}}',task.id)" id="reject_transport_{[{task.id}]}">{[{'BUTTON_REJECT' | translate}]}</a>
                </li>
                <!-- *** END ACTION REJETER *** -->
                
                <!-- *** ACTION ANNULER *** -->
                <!-- Status En attente OU periode de pay valide ouverte -> Brouillon -->
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'))" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'))">
                    <a href="javascript:void(0)"  ng-click="Annuler('{{cancel}}',task.id)" id="cancel_transport_{[{task.id}]}">{[{'CANCEL' | translate}]}</a>
                </li>
   {#             <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'))&&'{{preference.empData.id}}' ==task.requester.id)" role="separator" class="divider"></li>
                <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'))&&'{{preference.empData.id}}' ==task.requester.id)">
                    <a href="javascript:void(0)"  ng-click="Annuler('{{cancel}}',task.id)">Annuler</a>
                </li>#}
                <!-- *** END ACTION ANNULER *** -->

                <!-- *** ACTION SUPPRIMER *** -->
                <!-- Status Brouillon -> Supprimer -->
                <li ng-if="task.settings_status.id=='4'&&'{{preference.empData.id}}' ==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'&&'{{preference.empData.id}}' ==task.requester.id">
                    <a href="javascript:void(0)"  ng-click="delete('{{remove}}',task.id)" id="remove_transport_{[{task.id}]}">{[{'REMOVE' | translate}]}</a>
                </li>
                <!-- *** END ACTION SUPPRIMER *** -->

            {% else %}
                
                <!-- *** ACTION MODIFIER *** -->
                {#<li ng-if="task.settings_status.id=='2'" role="separator" class="divider"></li>#}
                {#<li ng-if="task.settings_status.id=='2'">#}
                    {#<a data-toggle="modal" data-target='#Edit_transport' ng-click="SelectInfos(task.id,'extraHours')" aria-haspopup="true" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a>#}
                {#</li>#}
                
                <li ng-if="task.settings_status.id!='2'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id!='2'">
                    <a data-toggle="modal" data-target='#Edit_transport' ng-click="SelectInfos(task.id,'extraHours')" aria-haspopup="true" aria-expanded="false" id="edit_transport_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>

                
                <li ng-if="(task.settings_status.id=='4')&&'{{preference.empData.id}}' ==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&'{{preference.empData.id}}' ==task.requester.id">
                    <a ng-click="CollaborateurValidate('{{confirm}}',task.id)">{[{'BUTTON_VALIDATE' | translate}]}</a>
                </li>

                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&'{{preference.empData.id}}' ==task.requester.id">
                    <a ng-click="Annuler('{{cancel}}',task.id)">Annuler</a>
                </li>

                <li ng-if="task.settings_status.id=='4'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'">
                    <a href="javascript:void(0)"  ng-click="delete('{{remove}}',task.id)" id="remove_transport_{[{task.uid}]}">{[{'REMOVE' | translate}]}</a>
                </li>
            {% endif %}

        </ul>
    </div>

{% endmacro %}