{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div ng-controller="benefitCtrl" data-ng-init="datatable()" id="benefitCtrl" >
                    {{ render(controller('BenefitBundle:hrm_benefit:index')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/BenefitBundle/benefitCtrl.js') }}></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
      {#        $("#benefitbundle_hrm_benefit_validator").val($("#benefitbundle_hrm_benefit_validator option:eq(1)").val());
            if (typeof angular.element($('#NewBenefit')).scope().new !== "undefined")
                 if (typeof angular.element($('#NewBenefit')).scope().validator !== "undefined")
                angular.element($('#NewBenefit')).scope().new.validator.id = $("#benefitbundle_hrm_benefit_validator option:eq(1)").val();#}
        });
    </script>
{% endblock %}