<div id="NewBenefit" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_HRM_BENEFIT'|translate}]}
                    {#{{ preference.companyId  }}#}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            {{ form_start(form, { 'attr' : {'id':'form_benefit_new', 'class': 'form-horizontal' ,'ng-submit':'save("Benefit")','ng-init':'InitFields()'} }) }}
            <div class="space_div without_border"></div>
            <div class="modal-body" id="new">
                <input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.employeeId }}">
                <div {#ng-init="InitFields()"#}>

                    <div class="form-group">
                        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
                        {{ form_errors(form.contributor) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.contributor,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_COLLA","'~preference.employeeId~'"]','ng-model':'new.contributor.id', 'ng-init':'new.contributor.id = "'~preference.employeeId~'"'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.type, "{[{'TYPE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.type) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'[]','ng-model':'new.type','ng-init':'new.type="Nourriture"'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.date, "{[{'DATE_ALIAS' | translate}]}") }}
                        {{ form_errors(form.date) }}
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
                        {{ form_errors(form.validator) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR", null]','ng-model':'new.validator.id'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="space-4"></div>
                        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
                        {{ form_errors(form.requester) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
                        </div>
                    </div>

          <span ng-if="new.type=='Véhicule'">

                <div class="form-group">
                    {{ form_label(form_car.calculationMethod, "{[{'CALCULATION_METHOD' | translate}]}") }}
                    {{ form_errors(form_car.calculationMethod) }}
                    <div class="col-sm-5 checkbox with_label">
                        <label>
                          {{ form_widget(form_car.calculationMethod, {'attr': {'ng-model':'new.calculationMethod', 'class':'new-item ace input-lg','name':'form-field-checkbox' } } ) }}
                            {[{'REAL_VALUE' | translate}]}
                        </label>
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    {[{'TEXT_BENEFIT_CAR' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.car, "{[{'CAR' | translate}]}") }}
                    <div class="col-sm-8">
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="carRadios"
                                           id="carRadios1"
                                           ng-model="new.car"
                                           id="car_0"
                                           name="hrm_benefit[car]"
                                           required="required"
                                           value="Acheté">
                                    {[{'BOUGHT' | translate}]}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="carRadios"
                                           id="carRadios2"
                                           ng-model="new.car"
                                           id="car_1"
                                           name="hrm_benefit[car]"
                                           required="required"
                                           value="Loué">
                                    {[{'RENTED' | translate}]}
                                </label>
                            </div>
                        </div>

                    </div>

                <div class="form-group">
                    {{ form_label(form_car.circulationDate, "{[{'CIRCULATION_DATE' | translate}]}") }}
                    {{ form_errors(form_car.circulationDate) }}
                    <div class="col-sm-5">
                        <div class="input-group">
                            {{ form_widget(form_car.circulationDate,{'attr':{'ng-model':'new.circulationDate', 'ng-init':'new.circulationDate = CurrentDate'}}) }}
                            <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                        </div>
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'DATE_REGISTER_CAR' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.buyingPrice, "{[{'BUYING_PRICE' | translate}]}") }}
                    {{ form_errors(form_car.buyingPrice) }}
                    <div class="col-sm-5">
                        {{ form_widget(form_car.buyingPrice,{'attr':{'ng-model':'new.buyingPrice','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'AMOUNT_TTC' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.fuel, "{[{'FUEL' | translate}]}") }}
                    <div class="col-sm-5">
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="fuelRadios"
                                           id="fuelRadios1"
                                           ng-model="new.fuel"
                                           id="fuel_0"
                                           name="hrm_benefit[fuel]"
                                           required="required"
                                           value="1">
                                    {[{'YES_ALIAS' | translate}]}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio"
                                           name="fuelRadios"
                                           id="fuelRadios2"
                                           ng-model="new.fuel"
                                           id="fuel_1"
                                           name="hrm_benefit[fuel]"
                                           required="required"
                                           value="0">
                                    {[{'NO_ALIAS' | translate}]}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'USING_CAR_OUTSIDE' | translate}]}
                                </p>
                        </div>
                    </div>

                <div class="form-group">
                    {{ form_label(form_car.participation, "{[{'PARTICICPATION' | translate}]}") }}
                    {{ form_errors(form_car.participation) }}
                    <div class="col-sm-5">
                        {{ form_widget(form_car.participation,{'attr':{'ng-model':'new.participation','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                    </div>
                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'PER_MONTH' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.cost, "{[{'COST' | translate}]}") }}
                    {{ form_errors(form_car.cost) }}
                    <div class="col-sm-5">
                        {{ form_widget(form_car.cost,{'attr':{'ng-model':'new.cost','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'GLOBAL_COST_CAR' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.totalDistance, "{[{'TOTAL_DISTANCE' | translate}]}") }}
                    {{ form_errors(form_car.totalDistance) }}
                    <div class="col-sm-5">
                        {{ form_widget(form_car.totalDistance,{'attr':{'ng-model':'new.totalDistance','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                {[{'DURING_MONTH' | translate}]}
                                </p>
                        </div>
                </div>

                <div class="form-group">
                    {{ form_label(form_car.privateDistance, "{[{'PRIVATE_DISTANCE' | translate}]}") }}
                    {{ form_errors(form_car.privateDistance) }}
                    <div class="col-sm-5">
                        {{ form_widget(form_car.privateDistance,{'attr':{'ng-model':'new.privateDistance','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                    </div>

                        <div class="col-sm-3">
                                <p class="help-block">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                 {[{'DURING_MONTH' | translate}]}
                                </p>
                        </div>
                </div>

           </span>


                    <span ng-if="new.type!='Véhicule'">
                    <!-- BLOCK Other types -->
                    <div class="form-group">
                        {{ form_label(form.realAmount, "{[{'REAL_AMOUNT' | translate}]}") }}
                        {{ form_errors(form.realAmount) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.realAmount,{'attr':{'ng-model':'new.realAmount','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.hrm_settings_benefit_periodicity, "{[{'PERIODICITY' | translate}]}") }}
                        {{ form_errors(form.hrm_settings_benefit_periodicity) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.hrm_settings_benefit_periodicity,{'attr':{'type-suggestions':'', 'datasource':'[]','ng-model':'new.periodicity.id'}}) }}
                        </div>
                    </div>
                        <!-- END BLOCK Other types -->
                    </span>

                    <div class="form-group">
                        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
                        {{ form_errors(form.comment) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
                        </div>
                    </div>
                    <div class="form-group m-t-40">
                        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' |
                            translate}]}</label>
                        <div class="col-sm-8">
                            <span class="block_attach input-icon input-icon-right">
                                {#input ng-model="new.attachments" data-fp-multiple="false" class=" btn-success btn btn-file action"
                                       type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM"
                                       data-fp-button-class="" data-fp-hide="false" hideWhenUploading="true"
                                       data-fp-container="window" onchange="event.fpfile.url"/>#}
                                <input ng-model="new.attachments.path" data-fp-multiple="false"
                                       data-fp-services="COMPUTER, WEBCAM"
                                       data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf"
                                       class=" btn-success btn btn-file action" type="filepicker"
                                       data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                                       data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"
                                       onchange="angular.element(this).scope().uploadNewAttachment(event.fpfile);"/>
                                <div>
                                    <img ng-show="new.attachments.mimetype ==='application/pdf'"
                                         src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                         maxHeight='auto'>
                                    <img ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                         src="{[{ new.attachments.path }]}" width='100px;'
                                         maxHeight='auto'>         </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       ng-click="new.attachments= null">
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                       class="icon_attach example-image" ng-href="{[{new.attachments.path}]}"
                                       data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype ==='application/pdf'"
                                       class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       href="{[{new.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="space_div btns_actions"></div>
                    <div class="modal-footer form-actions center ">
                        <div class="form-group checkbox with_label">
                            <label class="">
                                <input name="form-field-checkbox" id="checkBenefit" type="checkbox"
                                       ng-model="new.check"
                                       class="new-item ace input-lg">
                                {[{'ADD_NEW' | translate}]}
                            </label>
                        </div>
                        <button type="submit" id="ValiderBenefit" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'BUTTON_VALIDATE' | translate}]}
                        </button>
                        {#        {% endif %}#}
                        <button type="submit" id="SauvegarderBenefit" class="btn btn-sm btn-success action"
                                ng-disabled="IsDisabled">
                            {[{'SAVE' | translate}]}
                        </button>
                        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                                ng-disabled="IsDisabled">
                            {[{'CANCEL' | translate}]}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
