<!-- popup Show -->
<div id="Show_benefit" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_benefit">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'SHOW_HRM_BENEFIT'|translate}]}</h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body form-horizontal show_form">
                <!-- start commun-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COLLABORATER' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.contributor.user.first_name }]} {[{edit.contributor.user.last_name }]}</p>
                    </div>
                </div>
                   <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'TYPE_ALIAS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.type}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'DATE_ALIAS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.date | date:'dd/MM/yyyy'}]}</p>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'VALIDATOR' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.validator.user.first_name }]} {[{edit.validator.user.last_name }]}</p>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'REQUESTER' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.requester.user.first_name }]} {[{edit.requester.user.last_name }]}</p>
                    </div>
                </div>
                <span ng-if="edit.type!='Véhicule'">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'REAL_AMOUNT' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.realAmount | currency}]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'PERIODICITY' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.hrm_settings_benefit_periodicity.display_name}]}</p>
                        </div>
                    </div>
                </span>
                <span ng-if="edit.type=='Véhicule'">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'CALCULATION_METHOD' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.calculationMethod }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'CAR' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.car }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'CIRCULATION_DATE' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.circulationDate | date:'dd/MM/yyyy'}]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'BUYING_PRICE' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.buyingPrice|currency }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'FUEL' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.fuel }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'PARTICICPATION' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.participation|currency }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'COST' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.cost|currency }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'TOTAL_DISTANCE' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.totalDistance|currency }]}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            {[{'PRIVATE_DISTANCE' | translate}]}
                        </label>
                        <div class="col-sm-8">
                            <p class="form-control">{[{edit.privateDistance|currency }]}</p>
                        </div>
                    </div>
                </span>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'STATUS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.settings_status.display_name}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COMMENTS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.comment}]}</p>
                    </div>
                </div>
                <!-- End commun -->
                <div class="form-group m-t-20">
                    <label class="col-sm-3 control-label">
                        {[{'ATTACHMENT' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <span class="block_attach">
                            <div>
                                <img ng-show="edit.attachments.mimetype ==='application/pdf'"
                                     src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                     maxHeight='auto'>
                                <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                     src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto'>
                                <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'"
                                   class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}"
                                   data-lightbox="example-1">
                                    <span>
                                        <i class="fa fa-eye fa-2"></i>
                                    </span>
                                </a>
                                <a ng-show="edit.attachments.mimetype ==='application/pdf'"
                                   class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                    <span>
                                        <i class="fa fa-eye fa-2"></i>
                                    </span>
                                </a>
                                <a ng-show="edit.attachments.path" class="icon_attach ng-scope"
                                   href="{[{edit.attachments.path}]}" download>
                                    <span>
                                        <i class="fa fa-download fa-2"></i>
                                    </span>
                                </a>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>