{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settingsconventions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Displayname</th>
                <th>Description</th>
                <th>Provider_id</th>
                <th>Create_date</th>
                <th>Createuid</th>
                <th>Last_update</th>
                <th>Last_update_uid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for settingsConvention in settingsConventions %}
            <tr>
                <td><a href="{{ path('settingsconvention_show', { 'id': settingsConvention.id }) }}">{{ settingsConvention.id }}</a></td>
                <td>{{ settingsConvention.displayName }}</td>
                <td>{{ settingsConvention.description }}</td>
                <td>{{ settingsConvention.providerid }}</td>
                <td>{% if settingsConvention.createdate %}{{ settingsConvention.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ settingsConvention.createUid }}</td>
                <td>{% if settingsConvention.lastupdate %}{{ settingsConvention.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ settingsConvention.lastupdateuid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('settingsconvention_show', { 'id': settingsConvention.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('settingsconvention_edit', { 'id': settingsConvention.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsconvention_new') }}">Create a new settingsConvention</a>
        </li>
    </ul>
{% endblock %}
