{% extends 'base.html.twig' %}

{% block body %}
    <h1>Settingsconvention</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ settingsConvention.id }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ settingsConvention.displayName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ settingsConvention.description }}</td>
            </tr>
            <tr>
                <th>Provider_id</th>
                <td>{{ settingsConvention.providerid }}</td>
            </tr>
            <tr>
                <th>Create_date</th>
                <td>{% if settingsConvention.createdate %}{{ settingsConvention.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createuid</th>
                <td>{{ settingsConvention.createUid }}</td>
            </tr>
            <tr>
                <th>Last_update</th>
                <td>{% if settingsConvention.lastupdate %}{{ settingsConvention.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Last_update_uid</th>
                <td>{{ settingsConvention.lastupdateuid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('settingsconvention_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('settingsconvention_edit', { 'id': settingsConvention.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
