{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_settings_benefit_periodicities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Seqno</th>
                <th>Display_name</th>
                <th>Description</th>
                <th>Create_date</th>
                <th>Createuid</th>
                <th>Last_update</th>
                <th>Last_update_uid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hrm_settings_benefit_periodicity in hrm_settings_benefit_periodicities %}
            <tr>
                <td><a href="{{ path('periodicity_show', { 'id': hrm_settings_benefit_periodicity.id }) }}">{{ hrm_settings_benefit_periodicity.id }}</a></td>
                <td>{{ hrm_settings_benefit_periodicity.seqno }}</td>
                <td>{{ hrm_settings_benefit_periodicity.displayname }}</td>
                <td>{{ hrm_settings_benefit_periodicity.description }}</td>
                <td>{% if hrm_settings_benefit_periodicity.createdate %}{{ hrm_settings_benefit_periodicity.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_settings_benefit_periodicity.createUid }}</td>
                <td>{% if hrm_settings_benefit_periodicity.lastupdate %}{{ hrm_settings_benefit_periodicity.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_settings_benefit_periodicity.lastupdateuid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('periodicity_show', { 'id': hrm_settings_benefit_periodicity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('periodicity_edit', { 'id': hrm_settings_benefit_periodicity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('periodicity_new') }}">Create a new hrm_settings_benefit_periodicity</a>
        </li>
    </ul>
{% endblock %}
