<!-- End Check and Set default language -->
{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'save("api_hrm_job_category_save")'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New">
    <div class="form-group">
        {{ form_label(form.title, "{[{'TITLE'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.title, {'attr': {'type':'text','class': 'form-control', 'ng-model':'new.title'} } ) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.description, "{[{'DESCRIPTION'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new.description'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="checkBox" id="checkBox" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
