{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_job_link_category</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hrm_job_link_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ hrm_job_link_category.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hrm_job_link_category.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('job_category_edit', { 'id': hrm_job_link_category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
