{% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_BONUS'|translate}]}</h2>
    </div>
    <!-- Split button   -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        {% if is_granted('ROLE_RESPONSABLE') %}
            <div class="btn-group">
                <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#NewBonus' id="btn_new_bonus">{[{'BUTTON_NEW'
                    |
                    translate}]}
                </button>
            </div>
            {{ globalaction.global() }}
        {% endif %}
    </div>
</div>
<input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.userId }}">
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">
            <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                        class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE'
                            | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.username)"
                                ng-class="{'active': contributorSearch == collaborateur.username}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <div class="box_filter n2 ">
                <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        id="btn_filter_statut">
                    {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByStatus('All')" id="all"
                        ng-class="{'active': statutSearch == ''}"><a href="javascript:void(0)" id="btn_filter_status_all"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' |
                            translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')" id="attente"
                        ng-class="{'active': statutSearch == 'En attente de validation'}"><a href="javascript:void(0)" id="btn_filter_status_waiting"><i
                                class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Validé')" id="valide"
                        ng-class="{'active': statutSearch == 'Validé'}"><a href="javascript:void(0)" id="btn_filter_status_valid"><i class="glyphicon glyphicon-ok"></i>{[{'VALID' | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')" id="brouillon"
                        ng-class="{'active': statutSearch == 'Brouillon'}"><a href="javascript:void(0)" id="btn_filter_status_draft"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT' | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Refusé')" id="refuse"
                        ng-class="{'active': statutSearch == 'Refusé'}"><a href="javascript:void(0)" id="btn_filter_status_rejected"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED' | translate}]}</a>
                    </li>
                </ul>
            </div>
            <div class="box_filter n2 {#not_bordered#}" >
                <div class="searchDate" style="position:relative;">
                    <button class="btn tri_up_down" ng-click="toggleCustom()">
                        <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListDateF" class="drop-menu" ng-hide="custom">
                        <div class="tri_dates">
                            <div class="element1" style="display:block;">
                                <div>
                                    <input ng-model='dateSearch' class="form-control date-picker-from-month"
                                           id="date-picker-from-month" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByDatePicker('All')"
                                ng-class="{'active': dateSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES' | translate}]}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box_filter n3">
                <button class="btn tri" ng-click="toggleUp2();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up2"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up2"></i>
                </button>
                <div>                
                <button class="btn tri_up_down" ng-click="toggleCustomSearchBonusType()">
                    {[{'FILT_TYPE' | translate}]} <i
                        class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="selectType" class="drop-menu" ng-hide="custom_search_bonus_type">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByBonusType('All')"
                            ng-class="{'active': bonusTypeSearch == ''}"><i class="glyphicon glyphicon-ok"></i>
                            {[{'FILTER_BY_TYPE' | translate}]}
                        </li>
                        <span ng-repeat="(key,bonusType) in BonusTypes">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByBonusType(bonusType)"
                                ng-class="{'active': bonusTypeSearch == bonusType}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{bonusType}]}</li>
                        </span>
                    </ul>
                </div>
            </div>
            </div>
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i
                        class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i
                        class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>

    </div>
</div>
<div class="col-sm-12 badge_option_grid">
    <div class="badge_option">
        <div class="tabs-bar-content">
            <nav class="tabs-bar test_bar">
                <div class="tabs-list-container">
                    <ul class="tabs-list nav nav-tabs droptabs">
                        <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                                                      ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                            data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                               ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                    class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                               ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                  data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                               ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                               ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                  data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                        </li>

                        <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">
    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}
    <table class="table table-striped" ng-hide="loading" id="table-bonus">
        <thead>
            <tr>
                <th></th>
                <th>{[{'COLLABORATER' | translate}]}</th>
                <th  class="hideCol">{[{'DATE_ALIAS' | translate}]}</th>
                <th>{[{'BONUS_TYPE'|translate}]}</th>
                <th>{[{'BONUS_NAME'|translate}]}</th>
                <th>{[{'PAYPERIOD' | translate}]}</th>
                <th>{[{'AMOUNT' | translate}]}</th>
                <th>{[{'STATUS' | translate}]}</th>
                <th class="hideCol">{[{'JUSTIF' | translate}]}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat=" (key,task) in data = (filterList | filter: {settings_pay_period_month:dateSearch|| undefined,settings_status:{display_name:statutSearch|| undefined}  ,settings_bonus_type:{display_name:bonusTypeSearch|| undefined},contributor:{user:{username:contributorSearch|| undefined}} }: true) | orderBy:'settings_pay_period.id' | orderBy:'settings_status.id':up2| orderBy:'settings_status.display_name':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <tr>
            {{ globalaction.checkbox("{[{task.id}]}",'remove_bonus','{[{task.settings_pay_period.status}]}',preference.empData.user.roles[0],'{[{task.settings_status.display_name}]}', preference.empData.id) }}

       
               <td>
                <span ng-if="task.contributor.user.first_name!=NULL || task.contributor.user.first_name!=''">{[{task.contributor.user.first_name}]} {[{task.contributor.user.last_name}]}</span>
                <span ng-if="task.contributor.user.first_name==NULL || task.contributor.user.first_name==''">{[{task.contributor.user.username}]}</span>
            </td>
            
            <td  class="hideCol">{[{task.date | date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.settings_bonus_type.display_name}]}</td>
            <td>{[{task.settings_bonus_name.display_name}]}</td>
            <td>{[{task.settings_pay_period_month}]}</td>
            <td>{[{task.amount| currency}]}</td>
            <td ng-if="task.settings_status.id=='1'" class="attente_stat">
                <p>
                    {[{'WAITING' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                <p>
                    {[{'DRAFT' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='2'" class="valide_stat">
                <p>
                    {[{'VALID' | translate}]}
                </p>
            </td>
            <td ng-if="task.settings_status.id=='3'" class="refuse_stat">
                <p>
                    {[{'REJECTED' | translate}]}
                </p>
            </td>
            <td  class="hideCol">
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   data-lightbox="example-1">
                    <span class="glyphicon glyphicon-paperclip text-muted"></span>

                </a>
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   download>
                    <span class="glyphicon glyphicon-download text-muted"></span>
                </a>
            </td>


            <td class="btns_actions_table">
                <div class="btn-group pull-right">
{#        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
            <button ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false">Modifier</button>
            <button ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>

        {% else %}
            <button  ng-if="task.settings_status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
            <button  ng-if="task.settings_status.id!='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false">Modifier</button>
        {% endif %}#}
        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_bonus_{[{task.id}]}">
            <span class="md md-more-vert f20"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a  data-toggle="modal" data-target='#Show' ng-click="SelectInfos(task.id,'Bonus', 'show')" id="show_bonus_{[{task.id}]}">{[{'BUTTON_SHOW' | translate}]}</a></li>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                
                <!-- *** ACTION MODIFIER *** -->
                <li ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)" role="separator" class="divider"></li>
                <li ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                
                <li ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>
                
                <!-- *** ACTION CONFIRMER *** -->
                <!-- Status Brouillon -> En attente -->
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                    <a id="Confirmer" ng-click="confirm('confirm_Bonus',task.id,'valider')" id="confirm_bonus_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>

                <!-- Status En attente -> Valide -->
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                    <a ng-click="confirm('confirm_Bonus',task.id,'confirmer')" id="confirm_bonus_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                </li>
                <!-- *** END ACTION CONFIRMER *** -->

                <!-- *** ACTION REJETER *** -->
                <!-- Status En attente -> Refusé -->
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                    <a ng-click="cancel('cancel_Bonus',task.id)" id="reject_bonus_{[{task.id}]}">{[{'BUTTON_REJECT' | translate}]}</a>
                </li>
                <!-- *** END ACTION REJETER *** -->
                
                <!-- *** ACTION ANNULER *** -->
                <!-- Status En attente OU periode de pay valide ouverte -> Brouillon -->
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))">
                    <a href="javascript:void(0)"  ng-click="Annuler('cancel_Bonus',task.id)" id="cancel_bonus_{[{task.id}]}">{[{'CANCEL' | translate}]}</a>
                </li>
   {#             <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)" role="separator" class="divider"></li>
                <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)">
                    <a href="javascript:void(0)"  ng-click="Annuler('cancel_Bonus',task.id)">Annuler</a>
                </li>#}
                <!-- *** END ACTION ANNULER *** -->

                <!-- *** ACTION SUPPRIMER *** -->
                <!-- Status Brouillon -> Supprimer -->
                <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id">
                    <a href="javascript:void(0)"  ng-click="delete('remove_Bonus',task.id)" id="remove_bonus_{[{task.id}]}">{[{'REMOVE' | translate}]}</a>
                </li>
                <!-- *** END ACTION SUPPRIMER *** -->

            {% else %}
                
                <!-- *** ACTION MODIFIER *** -->
                {#<li ng-if="task.settings_status.id=='2'" role="separator" class="divider"></li>#}
                {#<li ng-if="task.settings_status.id=='2'">#}
                    {#<a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>#}
                {#</li>#}
                
                <li ng-if="task.settings_status.id!=='2'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id!=='2'">
                    <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                </li>

                
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                    <a ng-click="CollaborateurValidate('confirm_Bonus',task.id)" id=confirm_bonus_{[{task.id}]}">{[{'BUTTON_VALIDATE' | translate}]}</a>
                </li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id" role="separator" class="divider"></li>
                <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id">
                    <a ng-click="Annuler('cancel_Bonus',task.id)">Annuler</a>
                </li>
                <li ng-if="task.settings_status.id=='4'" role="separator" class="divider"></li>
                <li ng-if="task.settings_status.id=='4'">
                    <a href="javascript:void(0)"  ng-click="delete('remove_Bonus',task.id)">{[{'REMOVE' | translate}]}</a>
                </li>
            {% endif %}

        </ul>
    </div>
            </td>
        </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{data.length}]} {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true">

    </uib-pagination>
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat=" (key,task) in data = (filterList | filter: {settings_status:{display_name:statutSearch|| undefined}  ,settings_bonus_type:{display_name:bonusTypeSearch|| undefined},contributor:{user:{username:contributorSearch|| undefined}} }: true) | orderBy:'settings_pay_period.id' | orderBy:'settings_status.id':up2| orderBy:'settings_status.display_name':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    {[{task.settings_bonus_name.display_name}]}</h2>
                <span style="">{[{task.date | date:'dd/MM/yyyy'}]}</span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">{[{task.contributor.user.username}]}</h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p ng-if="task.settings_status.id=='1'" class="attente_stat">
                    {#  {[{task.settings_status.display_name}]} #}
                    {[{'WAITING' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                    {[{'DRAFT' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='2'" class="valide_stat">
                    {[{'VALID' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='3'" class="refuse_stat">
                    {[{'REJECTED' | translate}]}
                </p>
                <h4 ng-if="task.type=='Ik'" class="no-m-t mdl-color-text--grey-700">{[{task.amount | currency}]}€</h4>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">

                    <div class="mdl-card__menu">

                        <div class="btn-group pull-right">
                            {#        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                                        <button ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false">Modifier</button>
                                        <button ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
                            
                                    {% else %}
                                        <button  ng-if="task.settings_status.id=='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled>Modifier</button>
                                        <button  ng-if="task.settings_status.id!='2'" class="btn btn-theme btn-sm dropdown-toggle" type="button" data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false">Modifier</button>
                                    {% endif %}#}
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_bonus_{[{task.id}]}">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a  data-toggle="modal" data-target='#Show' ng-click="SelectInfos(task.id,'Bonus', 'show')" id="show_bonus_{[{task.id}]}">{[{'BUTTON_SHOW' | translate}]}</a></li>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}

                                    <!-- *** ACTION MODIFIER *** -->
                                    <li ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)" role="separator" class="divider"></li>
                                    <li ng-if="!((task.settings_status.id=='3')&&app.id==task.validator.id)">
                                        <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                                    </li>

                                    <li ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='3')&&app.id==task.validator.id">
                                        <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                                    </li>

                                    <!-- *** ACTION CONFIRMER *** -->
                                    <!-- Status Brouillon -> En attente -->
                                    <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                                        <a id="Confirmer" ng-click="confirm('confirm_Bonus',task.id,'valider')" id="confirm_bonus_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                                    </li>

                                    <!-- Status En attente -> Valide -->
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                                        <a ng-click="confirm('confirm_Bonus',task.id,'confirmer')" id="confirm_bonus_{[{task.id}]}">{[{'BUTTON_CONFIRM' | translate}]}</a>
                                    </li>
                                    <!-- *** END ACTION CONFIRMER *** -->

                                    <!-- *** ACTION REJETER *** -->
                                    <!-- Status En attente -> Refusé -->
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.validator.id">
                                        <a ng-click="cancel('cancel_Bonus',task.id)" id="reject_bonus_{[{task.id}]}">{[{'BUTTON_REJECT' | translate}]}</a>
                                    </li>
                                    <!-- *** END ACTION REJETER *** -->

                                    <!-- *** ACTION ANNULER *** -->
                                    <!-- Status En attente OU periode de pay valide ouverte -> Brouillon -->
                                    <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))">
                                        <a href="javascript:void(0)"  ng-click="Annuler('cancel_Bonus',task.id)" id="cancel_bonus_{[{task.id}]}">{[{'CANCEL' | translate}]}</a>
                                    </li>
                                    {#             <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)" role="separator" class="divider"></li>
                                                 <li ng-if="((task.settings_status.id=='1'||(task.settings_status.id=='2'&&task.settings_pay_period.status=='open'))&&app.id==task.requester.id)">
                                                     <a href="javascript:void(0)"  ng-click="Annuler('cancel_Bonus',task.id)">Annuler</a>
                                                 </li>#}
                                    <!-- *** END ACTION ANNULER *** -->

                                    <!-- *** ACTION SUPPRIMER *** -->
                                    <!-- Status Brouillon -> Supprimer -->
                                    <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id" role="separator" class="divider"></li>
                                    <li ng-if="task.settings_status.id=='4'&&app.id==task.requester.id">
                                        <a href="javascript:void(0)"  ng-click="delete('remove_Bonus',task.id)" id="remove_bonus_{[{task.id}]}">{[{'REMOVE' | translate}]}</a>
                                    </li>
                                    <!-- *** END ACTION SUPPRIMER *** -->

                                {% else %}

                                    <!-- *** ACTION MODIFIER *** -->
                                    <li ng-if="task.settings_status.id=='2'" role="separator" class="divider"></li>
                                    <li ng-if="task.settings_status.id=='2'">
                                        <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                                    </li>

                                    <li ng-if="task.settings_status.id!=='2'" role="separator" class="divider"></li>
                                    <li ng-if="task.settings_status.id!=='2'">
                                        <a data-toggle="modal" data-target='#Edit' ng-click="SelectInfos(task.id,'Bonus')" aria-haspopup="true" aria-expanded="false" disabled id="edit_bonus_{[{task.id}]}">{[{'BUTTON_EDIT' | translate}]}</a>
                                    </li>


                                    <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='4')&&app.id==task.requester.id">
                                        <a ng-click="CollaborateurValidate('confirm_Bonus',task.id)" id=confirm_bonus_{[{task.id}]}">{[{'BUTTON_VALIDATE' | translate}]}</a>
                                    </li>
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id" role="separator" class="divider"></li>
                                    <li ng-if="(task.settings_status.id=='1')&&app.id==task.requester.id">
                                        <a ng-click="Annuler('cancel_Bonus',task.id)">Annuler</a>
                                    </li>
                                    <li ng-if="task.settings_status.id=='4'" role="separator" class="divider"></li>
                                    <li ng-if="task.settings_status.id=='4'">
                                        <a href="javascript:void(0)"  ng-click="delete('remove_Bonus',task.id)">{[{'REMOVE' | translate}]}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       data-lightbox="example-1">
                        <span class="glyphicon glyphicon-paperclip text-muted"></span>

                    </a>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       download>
                        <span class="glyphicon glyphicon-download text-muted"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->

<!--New -->
{{ render(controller('BonusBundle:hrm_bonus:new')) }}

<!--Edit -->
{{ render(controller('BonusBundle:hrm_bonus:edit')) }}

<!--Show -->
{% include 'hrm_bonus/show.html.twig' %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{'MSG_CONF_DELETE' | translate}]}</h4>
            </div>
            <div class="modal-body">
                <p>{[{'MSG_DELETE' | translate}]}</p>
            </div>
            <div class="modal-footer">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                    <button type="button" ng-click="RemoveAll()" class="btn btn-warning">{[{'YES_ALIAS' | translate}]}</button>
                {% else %}
                    <button type="button" ng-click="CollaborateurRemoveAll()" class="btn btn-warning">{[{'YES_ALIAS' | translate}]}</button>
                {% endif %}
                <button type="button" class="btn btn-white btn-default" data-dismiss="modal">{[{'CANCEL' | translate}]</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .lb-number {
        display: none !important;
    }

    .lb-nav {
        display: none !important;
    }

    .lb-prev {
        display: none !important;
    }

    .lb-next {
        display: none !important;
    }
</style>
