    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div ng-controller="bonusCtrl" data-ng-init="datatable();initBonusType()" id="bonusCtrl">
                    {{ render(controller('BonusBundle:hrm_bonus:index')) }}
                </div>
            </div>
        </div>
    </div>
