{% macro global() %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false" id="removeAction">
            <span class="md md-more-vert f20"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        {#<button ng-if="tasks.length==0" type="button" disabled class="btn btn-theme btn-sm icon-toggle"#}
                {#data-toggle="dropdown"#}
                {#aria-haspopup="true"#}
                {#aria-expanded="false" id="removeAction">#}
            {#<span class="md md-more-vert f20"></span>#}
            {#<span class="sr-only">Toggle Dropdown</span>#}
        {#</button>#}
        <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-target='#GlobalRemove' ng-click="">{[{'BUTTON_GLOBAL_REMOVE' |
                    translate}]}</a></li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="GlobalRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{[{'MSG_CONF_DELETE' | translate}]}</h4>
                </div>
                <div class="modal-body">
                    <p>{[{'MSG_DELETE' | translate}]}</p>
                </div>
                <div class="modal-footer">
                    {#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}#}
                    <button type="button" ng-click="RemoveAll()" class="btn btn-warning" ng-disabled="IsDisabled">{[{'YES_ALIAS' | translate}]}
                    </button>
                    {#{% else %}#}
                    {#<button type="button" ng-click="CollaborateurRemoveAll()" class="btn btn-warning">Oui</button>#}
                    {#{% endif %}#}
                    <button type="button" class="btn btn-white btn-default" data-dismiss="modal"
                            ng-disabled="IsDisabled">{[{'CANCEL' | translate}]}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro checkbox(id,type,period,role,status,connectedEMP) %}
    <td>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       data-id="{{ id }}"
                       data-action="{{ type }}"
                       data-period="{{ period }}"
                       data-role="{{ role }}"
                       data-status="{{ status }}"
                       data-user="{[{equality({{ connectedEMP }},task.requester.id)}]}"/>
            </label>

        </div>
    </td>
{% endmacro %}
