<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_settingtypecontacts','name':'form_edit_settingtypecontacts' ,'role':'form'} }) }}
{#{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form', 'ng-submit':'save()'}}) }}#}
<div class="space_div without_border"></div>
<div class="modal-body">
        <div class="form-group">
            {{ form_label(form.display_name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                <div class="input-grpppoup">
                    {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingtypecontracts.display_name' } } ) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description, "{[{'DESCRIPTION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-5">
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingtypecontracts.description'} } ) }}
            </div>
        </div>
        {#    <div class="form-group">
            {{ form_label(form.seqno, "{[{'SEQNO' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
         <div class="col-sm-5">
            {{ form_widget(form.seqno, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingtypecontracts.seqno',
                    'ng-options': 'n for n in getSeqnos(data.typecontracts.length)' } } ) }}
        </div>
        </div>#}
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="update()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}

