<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(edit_form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_industry_sector','name':'form_edit_industry_sector' ,'role':'form', 'ng-submit':'saveNDValidate("COMPANY")'} }) }}
<div class="space_div without_border"></div>
<div class="">
    <div class="form-group">
        {{ form_label(edit_form.name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.name' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.industrySector, "{[{'INDUSTRYSECTOR' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.industrySector, {'attr': {'type-suggestions':'', 'datasource':'["INDUSTRYSECTOR"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_company.industrySector',"ng-change":"change('settingsIndustrySector', edit_company.industrySector, 'edit_industrySector')" } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(edit_form.employeeNumber, "{[{'EMPLOYEENUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.employeeNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.employeeNumber' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.adress, "{[{'ADDRESS_HEADQUARTERS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.adress, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.adress','placeholder':"{[{'STREET' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {#        {{ form_label(edit_form.adress, "", {'label_attr': {'class': ''} }) }}#}
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-3">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.postalCode, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.postalCode','placeholder':"{[{'ZIP_CODE' | translate}]}" } } ) }}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.city, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.city','placeholder':"{[{'CITY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.country, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_company.country','placeholder':"{[{'COUNTRY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>  

    <div class="form-group">
        <label class="col-sm-3 control-label label_lineHeight no-padding-right  ng-binding" for="EDUCATION">{[{'JOB_ADDRESS' | translate}]} </label>  
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.jobAdress, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.jobAdress','placeholder':"{[{'STREET' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {#        {{ form_label(edit_form.adress, "", {'label_attr': {'class': ''} }) }}#}
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-3">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.jobPostalCode, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.jobPostalCode','placeholder':"{[{'ZIP_CODE' | translate}]}" } } ) }}
            </div>
        </div>

        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.jobCity, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.jobCity','placeholder':"{[{'CITY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.jobCountry, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_company.jobCountry','placeholder':"{[{'COUNTRY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>      
    <div class="form-group">
        {{ form_label(edit_form.description, "{[{'DESCRIPTION_ACTIVITE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_company.description'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.customerType, "{[{'CUSTOMERTYPE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.customerType, {'attr': {'type-suggestions':'', 'datasource':'["CUSTOMERTYPE"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_company.customerType', "ng-change":"change('settingsCustomerType', edit_company.customerType, 'edit_customerType' )"} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(edit_form.applicantContact, "{[{'APPLICANT_CONTACT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.applicantContact, {'attr': {'type-suggestions':'', 'datasource':'["APPLICANT_CONTACT"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_company.applicantContact', "ng-change":"change('applicantContact', edit_company.applicantContact)"} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button ng-click="update_company()" type="submit" id="EditSaveCompany" class="btn btn-sm  btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button ng-click="update_continue_company()" type="submit" id="EditValidateCompany" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(edit_form, {'render_rest': false}) }}
