<div class="form-group" >
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'NAME' | translate}]}
        </label> <div class="col-sm-8">
            <div class="input-grpppoup">
                <p class="form-control">{[{showCompany.name}]}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'INDUSTRYSECTOR' | translate}]}
        </label>  <div class="col-sm-8">
            <div class="input-grpppoup">
                <p class="form-control">{[{showCompany.industrySector.display_name}]}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'EMPLOYEENUMBER' | translate}]}
        </label> 
        <div class="col-sm-8">
                <p class="form-control">{[{showCompany.employeeNumber}]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'ADDRESS_HEADQUARTERS' | translate}]}
        </label>
        <div class="col-sm-8">
            <p class="form-control">{[{showCompany.adress}]} {[{showCompany.postalCode}]} {[{showCompany.city}]} {[{ getCountry('userbundle_hrmcompany_country',showCompany.country) }]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label label_lineHeight no-padding-right  ng-binding" for="EDUCATION">{[{'JOB_ADDRESS' | translate}]} </label>  
        <div class="col-sm-8">
            <p class="form-control">{[{edit_company.jobAdress}]}{[{edit_company.jobPostalCode}]} {[{edit_company.jobCity}]} {[{ getCountry('userbundle_hrmcompany_country',showCompany.jobCountry) }]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'DESCRIPTION_ACTIVITE' | translate}]}
        </label> 
        <div class="col-sm-8">
            <div class="input-grpppoup">
                <p class="form-control">{[{showCompany.description}]}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'CUSTOMERTYPE' | translate}]}
        </label> 
        <div class="col-sm-8">
            <p class="form-control">{[{showCompany.customerType.display_name}]}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            {[{'APPLICANT_CONTACT' | translate}]}
        </label>
        <div class="col-sm-8">
            <p class="form-control"> {[{showCompany.applicantContact.user.first_name}]} {[{showCompany.applicantContact.user.last_name}]}</p>
        </div>
    </div>
</div>