<!-- End Check and Set default language -->
{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'update("api_hrm_job_link_update",edit.id)'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New">
    <div class="form-group">
        {{ form_label(form.title, "{[{'TITLE'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.title, {'attr': {'type':'text','class': 'form-control', 'ng-model':'edit.title'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.href, "{[{'HREF'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.href, {'attr': {'type':'text','class': 'form-control', 'ng-model':'edit.href'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.hrm_job_link_category, "{[{'LINK_CATEGORY'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.hrm_job_link_category, {'attr': {'type':'text','class': 'form-control', 'ng-model':'edit.hrm_job_link_category.id'} } ) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.target, "{[{'LINK_TARGET' | translate}]}") }}
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <input type="radio"
                           name="targetRadios"
                           id="targetRadios1"
                           ng-model="edit.target"
                           id="target_0"
                           name="hrm_benefit[target]"
                           required="required"
                           value="_blank">
                    {[{'_blank' | translate}]}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                           name="targetRadios"
                           id="targetRadios2"
                           ng-model="edit.target"
                           id="target_1"
                           name="hrm_benefit[target]"
                           required="required"
                           value="_self">
                    {[{'_self' | translate}]}
                </label>
            </div>
        </div>

    </div>

    <div class="form-group">
        {{ form_label(form.description, "{[{'DESCRIPTION'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.description'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
