<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->

{{ form_start(form, { 'attr' : {'id':'form_paydayvariations_new',  'class': 'form-horizontal' ,'role':'form' ,'ng-submit':'save("Other")'} }) }}
<div ng-show="other" {#ng-init="getCurrencies()"#}>
    <div class="space_div without_border"></div>
    <div class="modal-body">

        <div class="form-group">
            {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
            {{ form_errors(form.contributor) }}
            <div class="col-sm-8">
                {{ form_widget(form.contributor,{'attr':{'ng-model':'new.contributor.id'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }}
            {{ form_errors(form.displayName) }}
            <div class="col-sm-8">
                {{ form_widget(form.displayName,{'attr':{'ng-model':'new.displayName'}}) }}
            </div>
        </div>


        <div class="form-group">
            {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}
            {{ form_errors(form.date) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
            {{ form_errors(form.validator) }}
            <div class="col-sm-8">
                {{ form_widget(form.validator,{'attr':{'ng-model':'new.validator'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="space-4"></div>
            {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
            {{ form_errors(form.requester) }}
            <div class="col-sm-8">
                {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
            {{ form_errors(form.type) }}
            <div class="col-sm-8">
                {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'new.type'}}) }}

            </div>


        </div>


        <div class="form-group">
            {{ form_label(form.SettingsExpenses, "{[{'NATURE' | translate}]}") }}
            {{ form_errors(form.SettingsExpenses) }}
            <div class="col-sm-8">
                {{ form_widget(form.SettingsExpenses,{'attr':{'ng-model':'new.natureOth', 'ng-change':'getTaxModelInpout("other_tax_model", "new", new.type, new.natureOth)'}}) }}
            </div>
        </div>
        <span ng-if="currencies.result.length>0">
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountOth!=null">
                <input type="hidden"
                       value="{[{new .currencyIsoCode = (currency.currencyIsoCode)}]}">
                <input type="hidden"
                       value="{[{new.amountOthBase= (currency.rate * new .amountOth)|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountOthBase= (currency.rate * new .untaxedAmountOth)|number:2}]}">
                <input type="hidden"
                       value="{[{new.taxRate = currency.rate}]}">
            </span>
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountOth==null">
                <input type="hidden"
                       value="{[{new.amountOthBase= 0|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountOthBase= 0|number:2}]}">
            </span>
        </span>
        {#<div class="form-group" ng-init="getCurrencies()">#}
        {#{{ form_label(form.amountOth, "{[{'AMOUNT_REPAY' | translate}]}") }}#}
        {#{{ form_errors(form.amountOth) }}#}
        {#<div ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">#}
        {#{{ form_widget(form.amountOth,{'attr':{'ng-model':'new.amountOth','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}#}
        {#</div>#}
        {#</div>#}
        <div class="form-group">
            {{ form_label(form.amountOth, "{[{'AMOUNT_REPAY' | translate}]}") }}
            {{ form_errors(form.amountOth) }}
            <div ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">
                {{ form_widget(form.amountOth,{'attr':{'ng-model':'new.amountOth','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                <span ng-if="currencies.result.length>0">Montant de base à rembourser : {[{new.amountOthBase = (new.taxRate * new.amountOth)|number:2}]} Euros</span>
            </div>
            <div class="col-sm-3" ng-if="currencies.result.length>0">
                {{ form_widget(form.company_currency,{'attr':{'ng-model':'new.currency'}}) }}
            </div>
        </div>

        {[{calculate_tax(new.amountOth, "untaxedAmountOth")}]}
        <!-- don't change it -->
        <span class='inject-btn-{[{new.natureOth}]}-new'></span>
        <!-- don't change it -->

        <div class="form-group">
            {{ form_label(form.untaxedAmountOth, "{[{'AMOUNT_HT' | translate}]}") }}
            {{ form_errors(form.untaxedAmountOth) }}
            <div class="col-sm-8">
                {{ form_widget(form.untaxedAmountOth,{'attr':{'ng-model':'new.untaxedAmountOth','ng-value':'new.untaxedAmountOth|number:2'}}) }}
                <span ng-if="currencies.result.length>0">Montant HT de base à rembourser : {[{new.untaxedAmountOthBase = (new.taxRate * new.untaxedAmountOth)|number:2}]} Euros</span>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
            {{ form_errors(form.comment) }}
            <div class="col-sm-8">
                {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}
            {{ form_errors(form.settings_pay_period) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'new.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group m-t-40">
            <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
            <div class="col-sm-8">
                <span class="block_attach input-icon input-icon-right">
                    <input ng-model="new.attachments.path" data-fp-multiple="false"
                           class=" btn-success btn btn-file action" type="filepicker"
                           data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM"
                           data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class=""
                           data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"
                           onchange="angular.element(this).scope().uploadNewOtAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="new.attachments.mimetype ==='application/pdf'"
                                         src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;'
                                         maxHeight='auto'>
                                    <img ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                         src="{[{ new.attachments.path }]}" width='100px;' maxHeight='auto'>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       ng-click="new.attachments= null">
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype.split('/')[0] =='image'"
                                       class="icon_attach example-image" ng-href="{[{new.attachments.path}]}"
                                       data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype ==='application/pdf'"
                                       class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope"
                                       href="{[{new.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div> 
                </span>
            </div>
        </div>

        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center">
            <div class="form-group checkbox with_label">
                <label>
                    <input name="form-field-checkbox" id="checkOther" type="checkbox" ng-model="new.checkOther"
                           class="new-item ace input-lg">
                    {[{'ADD_NEW' | translate}]}
                </label>
            </div>
            <button type="submit" id="ValiderOTHER" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'BUTTON_VALIDATE' | translate}]}
            </button>
            <button type="submit" id="SauvegarderOTHER" class="btn btn-sm btn-success action"
                    ng-disabled="IsDisabled">
                {[{'SAVE' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal"
                    ng-disabled="IsDisabled">
                {[{'CANCEL' | translate}]}
            </button>
        </div>
    </div>

</div>
{{ form_end(form, {'render_rest': false}) }}
