{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'ng-submit':'updateSkills()'} }) }}
<!-- START Study Section -->
<div class="page-header">
    <h4>{[{'STUDY' | translate:userData}]} </h4>
</div>
{#START DYNAMIC STUDY#}
<input type="hidden" ng-model="edit.skills.employeeId" ng-value="edit.id">
<span data-ng-repeat="(key,field) in edit.skills.study">
    <div class="form-group tri_add_del_options">
        {{ form_label(form.skills_study.skills_study, "{[{'STUDY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="edit.skills.study.checked" ng-click="getChecked(key,'EDIT')" ng-class="{'selected': edit.skills.study.checked==key}">
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.skills_study, {'id':'collaborator_new_study_type','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.study[$index].study_type'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.study_level, {'id':'collaborator_new_study_level','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.study[$index].study_level'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.displayName, {'id':'collaborator_new_nem_establishment','attr': {'class': 'form-control', 'ng-model':'edit.skills.study[$index].displayName'} }) }}
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit.skills.study)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="edit.skills.study.length>1">
            <a ng-show="IsEmptyObject(edit.skills.study.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(edit.skills.study.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(edit.skills.study.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(edit.skills.study,edit.skills.study,edit.skills.study.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="edit.skills.study.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(edit.skills.study.checked,edit.skills.study)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(edit.skills.study.checked,edit.skills.study,edit.skills.study.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
            </span>
    </div>
</div>


{#END DYNAMIC STUDY#}

<div class="form-group">
    {{ form_label(form.studyComment, "{[{'COMMENTS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-8">
        {{ form_widget(form.studyComment, {'id':'collaborator_new_comments','attr': {'class': 'form-control', 'ng-model':'edit.skills.studyComment'} }) }}
    </div>
</div>
<div class="space_div"></div>
<!-- END Study Section -->

<!-- START Skills Section -->
<div class="page-header">
    <h4>{[{'COMPETENCES' | translate:userData}]} </h4>
</div>
<span data-ng-repeat="(key,field) in edit.skills.company">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_company.job, "{[{'JOB_SECTOR' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="edit.skills.company.checked" ng-click="getChecked(key,'EDITC')" ng-class="{'selected': edit.skills.company.checked==key}">
            <div class="col-sm-4">
                {{ form_widget(form.skills_company.job, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.company[$index].job'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_company.industrysector, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.company[$index].sector'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_company.displayName, {'id':'collaborator_new_nem_establishment3','attr': {'class': 'form-control', 'ng-model':'edit.skills.company[$index].displayName'} }) }}
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit.skills.company)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="edit.skills.company.length>1">
            <a ng-show="IsEmptyObject(edit.skills.company.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(edit.skills.company.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(edit.skills.company.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(edit.skills.company,edit.skills.company,edit.skills.company.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="edit.skills.company.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(edit.skills.company.checked,edit.skills.company)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(edit.skills.company.checked,edit.skills.company,edit.skills.company.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
             </span>
    </div>
</div>
<span data-ng-repeat="(key,field) in edit.skills.language">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_language.language, "{[{'LANGUES' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="edit.skills.language.checked" ng-click="getChecked(key,'EDITL')" ng-class="{'selected': edit.skills.language.checked==key}">
            <div class="col-sm-4">
        {{ form_widget(form.skills_language.language, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.language[$index].language'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_language.language_level, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.language[$index].language_level'} }) }}
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit.skills.language)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="edit.skills.language.length>1">
            <a ng-show="IsEmptyObject(edit.skills.language.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(edit.skills.language.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(edit.skills.language.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(edit.skills.language,edit.skills.language,edit.skills.language.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="edit.skills.language.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(edit.skills.language.checked,edit.skills.language)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(edit.skills.language.checked,edit.skills.language,edit.skills.language.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
            </span>
    </div>
</div>
<span data-ng-repeat="(key,field) in edit.skills.technology">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_technology.technology, "{[{'INFORMATIQUE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="edit.skills.technology.checked" ng-click="getChecked(key,'EDITT')" ng-class="{'selected': edit.skills.technology.checked==key}">
            <div class="col-sm-4">
        {{ form_widget(form.skills_technology.technology, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.technology[$index].technology'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_technology.technology_level, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit.skills.technology[$index].technology_level'} }) }}
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit.skills.technology)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="edit.skills.technology.length>1">
            <a ng-show="IsEmptyObject(edit.skills.technology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(edit.skills.technology.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(edit.skills.technology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(edit.skills.technology,edit.skills.technology,edit.skills.technology.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="edit.skills.technology.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(edit.skills.technology.checked,edit.skills.technology)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(edit.skills.technology.checked,edit.skills.technology,edit.skills.technology.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
            </span>
    </div>
</div>
    
    

<div class="form-group" ng-init="getTags()">
    {{ form_label(form.skills_other.tag, "{[{'OTHER_SKILLS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-5">
        <div class="input-grpppoup">
            <tags-input useStrings="true" ng-model="edit.skills.other"
                        add-on-paste="true">
                <auto-complete source="loadTags($query)" min-length="0"></auto-complete>
            </tags-input>
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.experienceComment, "{[{'COMMENTS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-8">
        {{ form_widget(form.experienceComment, {'id':'collaborator_new_comments_skills','attr': {'class': 'form-control', 'ng-model':'edit.skills.experienceComment'} }) }}
    </div>
</div>
<div class="space_div btns_actions"></div>
<div class="modal-footer form-actions center">
    <button type="submit" class="btn btn-sm btn-success action" ng-disabled="edit.skills.employeeId == null">
        {[{'BUTTON_VALIDATE' | translate:userData}]}
    </button>
    <button type="button" class="btn btn-white btn-default reset"
            data-dismiss="modal"> {[{'CANCEL' |
        translate:userData}]}
    </button>
</div>

{{ form_end(form, {'render_rest': false}) }}
