{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'save("skills")'} }) }}

<input type="hidden" ng-model="new.skills.employeeId">
<!-- START Study Section -->
<div class="page-header">
    <h4>{[{'STUDY' | translate:userData}]} </h4>
</div>
{#START DYNAMIC STUDY#}
<span data-ng-repeat="(key,field) in new.skills.study">
    <div class="form-group tri_add_del_options">
        {{ form_label(form.skills_study.skills_study, "{[{'STUDY' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="new.skills.study.checked" ng-click="getChecked(key,'NEW')" ng-class="{'selected': new.skills.study.checked==key}">
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.skills_study, {'id':'collaborator_new_study_type','attr': {'type-suggestions':'', 'datasource':'["SELECT_STUDY"]','class': 'form-control', 'ng-model':'new.skills.study[$index].study_type'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.study_level, {'id':'collaborator_new_study_level','attr': {'type-suggestions':'', 'datasource':'["SELECT_LEVEL"]','class': 'form-control', 'ng-model':'new.skills.study[$index].study_level'} }) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(form.skills_study.displayName, {'id':'collaborator_new_nem_establishment','attr': {'class': 'form-control', 'ng-model':'new.skills.study[$index].displayName'} }) }}
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(new.skills.study)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="new.skills.study.length>1">
            <a ng-show="IsEmptyObject(new.skills.study.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(new.skills.study.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(new.skills.study.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(new.skills.study,new.skills.study,new.skills.study.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="new.skills.study.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(new.skills.study.checked,new.skills.study)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(new.skills.study.checked,new.skills.study,new.skills.study.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
</span>
    </div>
</div>
{#END DYNAMIC STUDY#}

<div class="form-group">
    {{ form_label(form.studyComment, "{[{'COMMENTS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-8">
        {{ form_widget(form.studyComment, {'id':'collaborator_new_comments','attr': {'class': 'form-control', 'ng-model':'new.skills.studyComment'} }) }}
    </div>
</div>
<div class="space_div"></div>
<!-- END Study Section -->

<!-- START Skills Section -->
<div class="page-header">
    <h4>{[{'COMPETENCES' | translate:userData}]} </h4>
</div>

<span data-ng-repeat="(key,field) in new.skills.company">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_company.job, "{[{'JOB_SECTOR' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="new.skills.company.checked" ng-click="getChecked(key,'NEWC')" ng-class="{'selected': new.skills.company.checked==key}">
            <div class="col-sm-4">
        {{ form_widget(form.skills_company.job, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'["SELECT_JOB"]','class': 'form-control', 'ng-model':'new.skills.company[$index].job'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_company.industrysector, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'["SELECT_SECTOR"]','class': 'form-control', 'ng-model':'new.skills.company[$index].sector'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_company.displayName, {'id':'collaborator_new_nem_establishment3','attr': {'class': 'form-control', 'ng-model':'new.skills.company[$index].displayName'} }) }}
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(new.skills.company)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="new.skills.company.length>1">
            <a ng-show="IsEmptyObject(new.skills.company.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(new.skills.company.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(new.skills.company.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(new.skills.company,new.skills.company,new.skills.company.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="new.skills.company.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(new.skills.company.checked,new.skills.company)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(new.skills.company.checked,new.skills.company,new.skills.company.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
    </span>
    </div>
</div>

<span data-ng-repeat="(key,field) in new.skills.language">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_language.language, "{[{'LANGUES' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="new.skills.language.checked" ng-click="getChecked(key,'NEWL')" ng-class="{'selected': new.skills.language.checked==key}">
            <div class="col-sm-4">
        {{ form_widget(form.skills_language.language, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'["SELECT_LANGUAGE"]','class': 'form-control', 'ng-model':'new.skills.language[$index].language'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_language.language_level, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'["SELECT_LEVEL"]','class': 'form-control', 'ng-model':'new.skills.language[$index].level'} }) }}
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(new.skills.language)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="new.skills.language.length>1">
            <a ng-show="IsEmptyObject(new.skills.language.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(new.skills.language.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(new.skills.language.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(new.skills.language,new.skills.language,new.skills.language.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="new.skills.language.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(new.skills.language.checked,new.skills.language)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(new.skills.language.checked,new.skills.language,new.skills.language.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
            </span>
    </div>
</div>
<span data-ng-repeat="(key,field) in new.skills.technology">
    <div class="form-group tri_add_del_options">
    {{ form_label(form.skills_technology.technology, "{[{'INFORMATIQUE' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right appear_el appear_{[{key+1}]}'} }) }}
        <div class="col-sm-8 no-padding" ng-model="new.skills.technology.checked" ng-click="getChecked(key,'NEWT')" ng-class="{'selected': new.skills.technology.checked==key}">
            <div class="col-sm-4">
        {{ form_widget(form.skills_technology.technology, {'id':'collaborator_new_nem_establishment1','attr': {'type-suggestions':'', 'datasource':'["COMPUTER"]','class': 'form-control', 'ng-model':'new.skills.technology[$index].technology'} }) }}
            </div>
            <div class="col-sm-4">
        {{ form_widget(form.skills_technology.technology_level, {'id':'collaborator_new_nem_establishment2','attr': {'type-suggestions':'', 'datasource':'["SELECT_TECHNO"]','class': 'form-control', 'ng-model':'new.skills.technology[$index].technology_level'} }) }}
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</span>
<div class="form-group">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-8">
        <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(new.skills.technology)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {[{'ADD' | translate:userData}]}</a>

        <span ng-show="new.skills.technology.length>1">
            <a ng-show="IsEmptyObject(new.skills.technology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-disabled="IsEmptyObject(new.skills.technology.checked)"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
            <a ng-hide="IsEmptyObject(new.skills.technology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
               ng-click="removeChoice(new.skills.technology,new.skills.technology,new.skills.technology.checked,'New')"
               ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                {[{'DELETE' | translate:userData}]}
            </a>
        </span>
<span ng-show="new.skills.technology.length>1">
        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="up(new.skills.technology.checked,new.skills.technology)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            {#         Apply Up to the last item  #}

        <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
           ng-click="down(new.skills.technology.checked,new.skills.technology,new.skills.technology.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            {#         Apply down to the first item  #}
            </span>
    </div>
</div>


{#<div class="form-group">#}
{#{{ form_label(form.skills_other.tag, "{[{'OTHERS_SKILLS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}#}
{#<div class="col-sm-8">#}
{#{{ form_widget(form.skills_other.tag, {'id':'collaborator_new_others_skills','attr': {'class': 'form-control', 'ng-model':'new.skills.other.tag'} }) }}#}
{#</div>#}
{#</div>#}
<div class="form-group" ng-init="getTags()">
    {{ form_label(form.skills_other.tag, "{[{'OTHER_SKILLS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-8">
        <div class="input-grpppoup">
            <tags-input useStrings="true" ng-model="new.skills.other.c"
                        add-on-paste="true">
                <auto-complete source="loadTags($query)" min-length="0"></auto-complete>
            </tags-input>
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.experienceComment, "{[{'COMMENTS' | translate:userData}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
    <div class="col-sm-8">
        {{ form_widget(form.experienceComment, {'id':'collaborator_new_comments_skills','attr': {'class': 'form-control', 'ng-model':'new.skills.experienceComment'} }) }}
    </div>
</div>
<div class="space_div btns_actions"></div>
<div class="modal-footer form-actions center">
    <button type="submit" class="btn btn-sm btn-success action" ng-disabled="new.skills.employeeId == null">
        {[{'BUTTON_VALIDATE' | translate:userData}]}
    </button>
    <button type="button" class="btn btn-white btn-default reset"
            data-dismiss="modal"> {[{'CANCEL' |
        translate:userData}]}
    </button>
</div>

{{ form_end(form, {'render_rest': false}) }}
