<div class="modal" tabindex="-1" role="dialog" id="IndexPopUpCurrency">
    <div class="modal-dialog" ng-show="ModalIndex">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Configurer le Multi-devise</h4>
            </div>
            <div class="modal-body" style="white-space: normal;">

                <h4>Devise comptable : <b>EUR - Euro</b></h4>
                <p>
                    La devise comptable est la devise avec laquelle les écritures comptables sont générées. Cela ne peut
                    pas être changé après que des écritures ont été créées.
                </p>
                <div class="row m-b-40">
                    <div class="col-md-12">
                        <div class="card no-margin">
                            <div class="table-responsive white">
                                <table class="table table-striped table-full table-full-small">
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Devise</th>
                                        <th>Taux de change</th>
                                        <th>Date de mise à jour</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="currency in Datacurrencies" ng-if="currency.name!='Euro'">
                                    <tr>
                                        <td>{[{currency.name}]}</td>
                                        <td>{[{currency.currencyIsoCode}]}</td>
                                        <td>{[{currency.rate}]}</td>
                                        <td>{[{currency.date}]}</td>
                                        <td class="btns_actions_table">

                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-theme btn-sm icon-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id="btn_currency_{[{task.uid}]}">
                                                    <span class="md md-more-vert f20"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {#<li>#}
                                                    {#<a ng-click="ShowShow(currency.id)"#}
                                                    {#id="show_currency_{[{task.id}]}">{[{'BUTTON_SHOW' |#}
                                                    {#translate}]}</a>#}
                                                    {#</li>#}
                                                    <li>
                                                        <a ng-click="ShowEdit(currency.id)"
                                                           id="edit_currency_{[{task.id}]}">{[{'BUTTON_EDIT' |
                                                            translate}]}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)"
                                                           ng-click="delete('remove_currencies',currency.id)"
                                                           id="remove_currency_{[{task.uid}]}">{[{'REMOVE' |
                                                            translate}]}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close
                </button>
                <button type="button" class="btn btn-theme" ng-click="ShowNew()">
                    {[{'New' | translate}]}
                </button>
            </div>
        </div>
    </div>
    <div class="modal-dialog" ng-show="ModalNew">
        {{ render(controller('UserBundle:hrm_company_currency:new')) }}
    </div>
    <div class="modal-dialog" ng-show="ModalEdit">
        {{ render(controller('UserBundle:hrm_company_currency:edit')) }}
    </div>
    <div class="modal-dialog" ng-show="ModalShow">
        {{ render(controller('UserBundle:hrm_company_currency:show')) }}
    </div>
    {#{% include 'hrm_company_currency/show.html.twig' %}#}
</div>
