<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li style="color:#fb5700 !important">
            <i class="ace-icon fa fa-home home-icon"></i>
            Accueil
        </li>
        <li class="active"><a style="color:#999999 !important" href="{{path('adminConges_index')|replace({'%23':'#'})}}">Congés</a></li>
        <li class="" style="color:#999999 !important">Modifier Congés</li>
    </ul><!-- /.breadcrumb -->

    <!-- /.nav-search -->
</div>
<div class="page-content">        
    <div class="page-header">
        <h1 style="color:#fb5700 !important">
            Congés 
            <small style="color:#999999 !important">
                <i class="ace-icon fa fa-angle-double-right"></i>  
                Modifier congé
            </small>
        </h1>
    </div><!-- /.page-header -->  

    <div class="row">
        <div class="col-xs-12" data-ng-init="setCurrentId({{conge.id}})">
            <!-- PAGE CONTENT BEGINS -->
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form', 'ng-submit':'update('~conge.id~')'}}) }}
            <div class="form-group">
                {{ form_label(form.start_date, "Date de début", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                <div class="col-sm-5">
                    <div class="input-grpppoup">
                        {{ form_widget(form.start_date, {'attr': {'type':'text','class': 'form-control date-picker', 'data-date-format': 'dd-mm-yyyy',
                  'ng-model':'detail.start_date | date:"dd-MM-yyyy"' } } ) }}
                        <span class="input-grpppoup-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.end_date, "Date de fin", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                <div class="col-sm-5">
                    <div class="input-grpppoup">
                        {{ form_widget(form.end_date, {'attr': {'type':'text','class': 'form-control date-picker', 'data-date-format': 'dd-mm-yyyy',  
                    'ng-model':'detail.end_date| date:"dd-MM-yyyy"' } } ) }}
                        <span class="input-grpppoup-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.type, "Type", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
                <div class="col-sm-5">
                    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'detail.type',
                'ng-init':'TypeCongesList()',                 
                'ng-options': 'typeconge.id as typeconge.type for typeconge in typeconges' } } ) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.note, "Notes", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                <div class="col-sm-5">
                    {{ form_widget(form.note, {'attr': {'class': 'form-control', 'ng-model':'detail.note'} } ) }}
                </div>
            </div>
            <div class="form-actions center navbar-fixed-bottom">
                <button type="submit" class="btn float-btn  btn-theme">
                    Valider
                </button>            
                <button type="button" class="btn  float-btn  btn-theme-annu" ng-click="path('adminConges_index')"> Annuler</button> 
                <button type="button" class="btn  float-btn  btn-theme-annu" ng-click="delete({{conge.id}}, true, 'Supprimer Congés', 'Supprimer', 'Annuler', 'adminConges_index')">Supprimer</button>                   

            </div>

            {{ form_end(form) }}
        </div> 
    </div> 
</div>
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript">
jQuery(function ($) {
    //datepicker plugin
    //link
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    //or change it into a date range picker
    $('.input-daterange').datepicker({autoclose: true});
})
    </script>
{% endblock %}