
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li style="color:#fb5700 !important">
            <i class="ace-icon fa fa-home home-icon"></i>
            Accueil
        </li>
        <li style="color:#999999 !important">Congés</li>
        <li class="" style="color:#999999 !important">Liste des congés</li>
    </ul><!-- /.breadcrumb -->

    <!-- /.nav-search -->
</div>
<div class="page-content">
    <div class="page-header">
        <h1 style="color:#fb5700 !important">
            Congés
            <small style="color:#999999 !important">
                <i class="ace-icon fa fa-angle-double-right"></i> 
                Liste des congés
            </small>         
        </h1>
    </div><!-- /.page-header --> 

    <div>
        <table datatable="ng" class="table table-striped table-bordered table-hover" data-ng-init="init()">
            <thead>
                <tr>
                    <th class="hidden-480">Date de début</th>
                    <th class="hidden-480">Date de fin</th>
                    <th class="hidden-480">Type de conges</th>
                    <th class="hidden-480">Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="conge in data.conges">
                    <td> <span ng-if="conge.start_date">{[{ conge.start_date|date:'dd-MM-yyyy' }]} </span></td>
                    <td> <span ng-if="conge.end_date">{[{ conge.end_date|date:'dd-MM-yyyy' }]} </span></td>
                    <td>{[{ conge.type }]}</td>
                    <td>{[{ conge.note }]}</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="green" href="javascript:void(0)" ng-click="path('adminConges_edit', conge.id)">
                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                            </a>

                            <a class="red" href="javascript:void(0)" ng-click="delete(conge.id)">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">                                  
                                    <li>
                                        <a href="javascript:void(0)" ng-click="path('adminConges_edit', conge.id)" class="tooltip-success" data-rel="tooltip" title="Edit">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-click="delete(conge.id)" class="tooltip-error" data-rel="tooltip" title="Delete">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>            
            </tbody>
        </table><br/>
        <a class="btn float-btn  btn-theme"  target href="{{ path('adminConges_new')|replace({'%23':'#'})}}">    
            <i class="ace-icon fa fa-plus"></i>
            Nouveau
        </a>
    </div>            