{% extends 'base.html.twig' %}
{% block body %}
    <style>
        /*****************Modal**************/
        #ModifyColumns .filtre-search-list{
            width:100%;position:relative;
        }
        #ModifyColumns .form-group.input_search_header.active input{
            border-color:#f57c00;
        }
        #ModifyColumns .form-group.input_search_header input{
            background-color:#fff;
            border:1px solid #ddd;
        }
        #ModifyColumns .btn_search_header {
            top:0;  
        }
        #ModifyColumns .btn_search_header button {
            color: rgba(0,0,0, 0.54);
        }
        @media (min-width:768px) {
            #ModifyColumns .modal-dialog {
                width: 738px;
            }
        }
        @media (max-width:767px) {
            #ModifyColumns .modal-dialog {
                width: 100%;
            }
        }
        .list-columns-checkbox {
            border: 1px solid #ddd;
            overflow: auto;
            height: 287px;
            max-width: 354px;
        }
        .list-columns-checkbox.bool-list ul li {
            background-color: #f57c00;
            color: #fff;
        }
        .list-columns-checkbox.bool-list ul li button{
            color: #fff;
        }
        #ModifyColumns div>p {
            margin-bottom: 17px;
            line-height: 37px;
        }
        .list-columns-checkbox ul li {
            list-style-type: none;
            position: relative;
            border-bottom: 1px solid #ddd;
            padding: 8px 0px;
            line-height: 27px;
            white-space: nowrap;
        }
        .list-columns-checkbox ul{
            padding: 0;
            width: 100%;
            display: inline-table;
        }
.list-columns-checkbox ul li label input[type=checkbox] {
    margin-left: 0;
    position: absolute;
    left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    top: 0;
}
        .list-columns-checkbox ul li label{
            padding-left: 37px;
            margin: 0;
        }
        .list-columns-checkbox ul li label input[type=checkbox]:checked:before {
            top: 14px;
            left: 16px;
        }
        .list-columns-checkbox ul li label input[type=checkbox]:after{
            margin-top:12px;    margin-left: 10px;
        }
        #ModifyColumns td {
            vertical-align: top;
        }
        .list-columns-checkbox li button {
            background: transparent;
            border: 0;
            box-shadow: 0 0 0;
            position: absolute;
            left: 3px;
            font-size: 19px;
            color:#666;
        }
        .list-columns-checkbox::-webkit-scrollbar,
        .masse-container::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        .list-columns-checkbox::-webkit-scrollbar:hover,
        .masse-container::-webkit-scrollbar:hover {
            background: transparent;
        }
        .list-columns-checkbox::-webkit-scrollbar-track:horizontal,
        .masse-container::-webkit-scrollbar-track:horizontal {
            background: transparent;
        }

        .list-columns-checkbox::-webkit-scrollbar-thumb,
        .masse-container::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius:8px;
        }
        .link-del{
            text-align:right;
            padding-top:8px;
        }
        {#.list-columns-checkbox::-webkit-scrollbar-thumb:horizontal {
            background-color:#5B0B2B;
            height:10px;
        }#}


        /*******************************/
        .btns_vues_classique_masse{
            display: flex;
            position: absolute;
            right: 15px;
            top: 10px;
        }
        .btns_vues_classique_masse button {
            border: 0;
            font-size: 12px;
            padding: 4px 13px;
            background-color:#fff;
            color:#f57c00;
            border:1px solid #f57c00;
            box-shadow: 0 0 0 transparent;
            border-radius:0;
        }
        .btns_vues_classique_masse button.active {
            background-color:#f57c00;
            color:#fff;
        }
.masse-table td.statut-attente{
    color: #5cb85c;
    background-color: rgba(92,184,92,0.15);
}
.masse-table td.statut-brouillon{
    color: #f57c00;
    background-color: #f6d7b8;
}
.masse-table td.statut-valid{
    color: #3A87AD;
    background-color: #bbdbea;
}
.masse-table td.statut-refuse{
    color: #F44336;
    background-color: #f6b8b3;
} 
.statut-attente .input-group input:focus {
    box-shadow: inset 0 -2px 0#5cb85c;
}
.statut-valid .input-group input:focus {
    box-shadow: inset 0 -2px 0#3A87AD;
}
.statut-refuse .input-group input:focus {
    box-shadow: inset 0 -2px 0 #F44336;
}
.statut-brouillon .input-group input:focus {
    box-shadow: inset 0 -2px 0f57c00;
}
table.table.masse-table{
   margin:0;
   padding:0;
}
.masse-table ul.dropdown-menu {
    left: auto;
    right: auto;
    margin-left: -127px;    
    margin-top: 34px !important;
    top: auto;
}
.masse-table.table>tbody>tr>td, .masse-table .input-group, .masse-table .btn-group, table.table.masse-table {
position:initial !important;    
}
table.table.masse-table th.fixed-el {
    position: absolute;
        z-index: 8;
    width: 122px !important;
    white-space: normal!important;
    line-height: 17px !important;
    left: 20px;
    height: 43px !important;
}
.masse-table tr {
   padding-left:127px;
}
table.table.masse-table th {
    height: 43px !important;
    border-bottom: 1px solid #ddd !important;
    text-align: center;
    vertical-align: middle !important;
    background-color: #efefef;
    padding: 4px 8px !important;
    border-right: 1px solid #ddd;
{#        white-space: normal !important;#}
    line-height: 1.4 !important;
        max-width: 100% !important;
}
table.table.masse-table th.collab-label {
    line-height: 74px !important;
    z-index: 9;
    overflow: visible;
    border-bottom: 0 !important;
    }
.masse-table th:last-child, .masse-table td:last-child {
    border-right: 1px solid transparent;
}
.masse-table td {
    background-color: #fff;
    border-right: 1px solid #ddd;
        padding: 0 !important;
    border-top: 0 !important;
    height: 43px !important;
        overflow: visible !important;
}
.masse-table td .btn-group.pull-right{
    opacity:0;
}
.masse-table td:hover .btn-group.pull-right{
    opacity:1;
}
.masse-table .input-group {
    padding: 0px 5px;
        display: flex;
            justify-content: space-between;
}
.masse-container {
    overflow: auto;
        margin-left: 127px;
}
.input-group input {
    background-color: transparent;
    border: 0;
    box-shadow: 0 0 0;
    font-weight: bold;
        width: 70%;
}
.masse-table th button {
    background-color: transparent;
    border: 0;
}
.left-side {
    width:49%;
    float:left;
}
.right-side {
    width:49%;
    float:right;
}
        @media (max-width:767px){
            .masse-table td .btn-group.pull-right{
    opacity:1;
}
            .col-sm-12.badge_option_grid.fix {
                display: flex;
                flex-direction: column-reverse;
                box-shadow: 0 1px 3px rgba(0,0,0,0.15);
                background-color: #ffffff;
            }
            .badge_option {
                box-shadow: 0 0px 0px rgba(0,0,0,0.15);
            }
            .btns_vues_classique_masse {
                position: relative;
                right: auto;
                top: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                justify-content: center;
            }
            .tabbable ul.nav.nav-tabs {
                justify-content: left;
            }
        }
    @media (max-width:738px){    
        #ModifyColumns .modal-dialog {
    width: 100%;
}
.left-side, .right-side {
    width:100%;
    float:none;
}
.list-columns-checkbox {
    max-width: 100%;
}
}
    </style>
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div class="tabbable" ng-controller="remunerationPropCtrl">
                    {# <ul class="nav nav-tabs padding-12" id="myTabInter">#}

                    <div class="col-sm-12 badge_option_grid fix">
                        <div class="badge_option">
                            <div class="tabs-bar-content">
                                <nav class="tabs-bar test_bar">
                                    <div class="tabs-list-container">
                                        <ul class="tabs-list nav nav-tabs droptabs">
                                            {% if preference.providersMenuList() is not empty %}


                                                {% for menu in preference.providersMenuList() %}
                                                    {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}
                                                    {% if active is not defined %}
                                                        <li class="always-visible active">
                                                            {% set active = true %}
                                                            <a data-toggle="tab" href="#{{menu.setting_menu.routeLinks}}" onclick="return false;">{[{'{{menu.setting_menu.name}}' | translate}]}</a>
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <a data-toggle="tab" href="#{{menu.setting_menu.routeLinks}}" onclick="return false;">{[{'{{menu.setting_menu.name}}' | translate}]}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% endif %}
                                                        {% endfor %}
                                                            {% else %}
                                                                <li class="always-visible active">
                                                                    <a ng-if="showMasse == false" data-toggle="tab" href="#Bonus" onclick="return false;">{[{'BONUS' | translate}]}</a>
                                                                    <a ng-if="showMasse == true" class="grey_link" href="#" onclick="return false;">{[{'BONUS' | translate}]}</a>
                                                                </li>
                                                                <li>
                                                                    <a ng-if="showMasse == false" data-toggle="tab" href="#PayDayVariation" onclick="return false;">{[{'PAY_DAY_VARIATION' | translate}]}</a>
                                                                    <a ng-if="showMasse == true" class="grey_link" href="#" onclick="return false;">{[{'PAY_DAY_VARIATION' | translate}]}</a>
                                                                </li>
                                                                <li> 
                                                                    <a data-toggle="tab" href="#ExtraHours" onclick="return false;">{[{'HOUR_SUPP' | translate}]}</a>
                                                                </li>
                                                                <li>
                                                                    <a data-toggle="tab" href="#Transport" onclick="return false;">{[{'TRANSPORT' | translate}]}</a>
                                                                </li>
                                                                <li>
                                                                    <a data-toggle="tab" href="#Benefit" onclick="return false;">{[{'AVNATAGES_NATURE' | translate}]}</a> 
                                                                </li>
                                                                {% endif %}
                                                                    <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </div>
                                                <div class="btns_vues_classique_masse">
                                                    <button class="classique" ng-class="{'active': showMasse == false }" ng-click="showMasse=false"><i class="glyphicon glyphicon-th-list"></i></button>
                                                    <button class="masse" ng-class="{'active': showMasse == true }" ng-click="showMasse=true"><i class="glyphicon glyphicon-th-large"></i></button>

                                                </div>
                                            </div>                        


                                            <div class="tab-content" ng-hide="showMasse">
                                                {% if preference.providersMenuList() is not empty %}  
                                                    {% for menu in preference.providersMenuList()%}
                                                        {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}

                                                        {% if menu.setting_menu.routeLinks == 'bonus_layout' %}
                                                        <div id="{{menu.setting_menu.routeLinks}}" class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">

                                                            <div ng-controller="bonusCtrl" data-ng-init="datatable();initBonusType()" id="bonusCtrl">
                                                                {% include ('hrm_bonus/index.html.twig') %}
                                                            </div>
                                                        </div>
                                                        {% elseif  menu.setting_menu.routeLinks == 'paydayvariations_layout' %}
                                                        <div id="{{menu.setting_menu.routeLinks}}" class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %} ">
                                                            {% set active_tab = true %}
                                                            <div ng-controller="paydayvariationsCtrl" ng-init="datatable()" id="paydayvariationsCtrl">
                                                                {% include ('paydayvariations/index.html.twig') %}
                                                            </div>
                                                        </div>
                                                        {% elseif  menu.setting_menu.routeLinks == 'hours_layout' %}
                                                        <div id="{{menu.setting_menu.routeLinks}}" class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                                            {% set active_tab = true %}
                                                            <div ng-controller="extrahoursCtrl" ng-init="datatable();getOpenMonths()">
                                                                {% include ('extra_hours/index.html.twig') %}
                                                            </div>
                                                        </div>
                                                        {% elseif  menu.setting_menu.routeLinks == 'hrm_transport_layout' %}
                                                        <div id="{{menu.setting_menu.routeLinks}}" class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                                            {% set active_tab = true %}
                                                            <div ng-controller="transportCtrl" data-ng-init="datatable()" id="transportCtrl" >
                                                                {% include ('transport/index.html.twig') %}
                                                            </div>
                                                        </div>
                                                        {% elseif  menu.setting_menu.routeLinks == 'benefit_layout' %}
                                                        <div id="{{menu.setting_menu.routeLinks}}" class="tab-pane {% if active_tab is not defined %} {% set active_tab = true %} in active {% endif %}">
                                                            {% set active_tab = true %}
                                                            <div ng-controller="benefitCtrl" data-ng-init="datatable()" id="benefitCtrl" >
                                                                {% include ('benefit/index.html.twig') %}
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                            {% endif %}
                                                                {% endfor %}
                                                                    {% else %}                            
                                                                        <div id="Bonus" class="tab-pane in active">
                                                                            {#{% include 'hrm_bonus/index.html.twig' %}#}
                                                                            <div ng-controller="bonusCtrl" data-ng-init="datatable();initBonusType()" id="bonusCtrl">
                                                                                {{ render(controller('BonusBundle:hrm_bonus:index')) }}
                                                                            </div>
                                                                        </div>
                                                                        <div id="PayDayVariation" class="tab-pane">
                                                                            <div ng-controller="paydayvariationsCtrl" ng-init="datatable()" id="paydayvariationsCtrl">
                                                                                {% include 'paydayvariations/index.html.twig' %}
                                                                            </div>
                                                                        </div>
                                                                        <div id="ExtraHours" class="tab-pane">
                                                                            <div ng-controller="extrahoursCtrl" ng-init="datatable();getOpenMonths()">
                                                                                {% include 'extra_hours/index.html.twig' %}
                                                                            </div>
                                                                        </div>
                                                                        <div id="Transport" class="tab-pane">
                                                                            <div ng-controller="transportCtrl" data-ng-init="datatable()" id="transportCtrl" >
                                                                                {{ render(controller('TransportBundle:hrm_transport:index')) }}
                                                                            </div>
                                                                        </div>
                                                                        <div id="Benefit" class="tab-pane">
                                                                            <div ng-controller="benefitCtrl" data-ng-init="datatable()" id="benefitCtrl" >
                                                                                {{ render(controller('BenefitBundle:hrm_benefit:index')) }}
                                                                            </div>
                                                                        </div>
                                                                        {% endif %}
                                                                        </div>
                                                                        <div class="tab-content" ng-show="showMasse">
                                                                            <div class="col-sm-12 header-content">
                                                                                <div class="col-sm-6 col-xs-12 title_header">
                                                                                    <h2>Gestion de Masse</h2>
                                                                                </div>
                                                                                <!-- Split button   -->
                                                                                <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
                                                                                    <div class="btn-group">
                                                                                        <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#ModifyColumns' ng-click="" id="btn_modify_columns">Choisir les colonnes
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="filtre_options">
                                                                                <div class="filtre_options_container">
                                                                                    <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
                                                                                        <div style="width:100%;">
                                                                                            <div class="mat-slide-right pull-right" style="width:100%;">
                                                                                                <form class="search-form form-inline pull-left ">
                                                                                                    <div class="form-group input_search_header">
                                                                                                        <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                                                                                                        <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                                                                                               placeholder="{[{'SEARCH' | translate}]}"></div>
                                                                                                </form>
                                                                                            </div>
                                                                                            <div class="pull-right btn_search_header">
                                                                                                <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

                                                                                        <div class="box_filter n1 searchOp">
                                                                                            <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                                                                                                <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                                                                                                    class="glyphicon glyphicon-chevron-down"></i>
                                                                                            </button>
                                                                                            <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                                                                                                <ul class="tri_option">
                                                                                                    <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                                                                                                        ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}
                                                                                                    </li>
                                                                                                    <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                                                                                                        <li class="separator_item"></li>
                                                                                                        <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.name)"
                                                                                                            ng-class="{'active': contributorSearch == collaborateur.name}"><i
                                                                                                                class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                                                                                                    </span>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="box_filter n2 ">

                                                                                            <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                                                                                                <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                                                                                                <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                                                                                            </button>
                                                                                            <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                                                                    id="btn_filter_statut">
                                                                                                {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                                                                                            </button>

                                                                                            <ul class="dropdown-menu tri_option">
                                                                                                <li class="mdl-menu__item" ng-click="filterByStatus('All')" id="btn_filter_status_all"
                                                                                                    ng-class="{'active': statutSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' | translate}]}
                                                                                                </li>
                                                                                                <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')" id="btn_filter_status_all"
                                                                                                    ng-class="{'active': statutSearch == 'En attente de validation'}"><i
                                                                                                        class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}
                                                                                                </li>
                                                                                                <li class="mdl-menu__item" ng-click="filterByStatus('Valide')" id="btn_filter_status_valid"
                                                                                                    ng-class="{'active': statutSearch == 'Valide'}"><i class="glyphicon glyphicon-ok"></i>{[{'VALID' | translate}]}
                                                                                                </li>
                                                                                                <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')" id="btn_filter_status_draft"
                                                                                                    ng-class="{'active': statutSearch == 'Brouillon'}"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT' | translate}]}
                                                                                                </li>
                                                                                                <li class="mdl-menu__item" ng-click="filterByStatus('Refuse')" id="btn_filter_status_rejected"
                                                                                                    ng-class="{'active': statutSearch == 'Refuse'}"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED' | translate}]}
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>

                                                                                        <div class="box_filter n3 {#not_bordered#}">
                                                                                            <div class="searchDate" style="position:relative;">
                                                                                                <button class="btn tri_up_down" ng-click="toggleCustom()">
                                                                                                    <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                                                                                                        class="glyphicon glyphicon-chevron-down"></i>
                                                                                                </button>
                                                                                                <div id="customListDateF" class="drop-menu" ng-hide="custom">
                                                                                                    <div class="tri_dates">
                                                                                                        <div class="element1" style="display:block;">
                                                                                                            <div>
                                                                                                                <input ng-model='dateSearch' class="form-control date-picker-from-month"
                                                                                                                       id="date-picker-from-month" placeholder="Date"/>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <ul class="tri_option">
                                                                                                        <li class="mdl-menu__item" ng-click="filterByDatePicker('All')"
                                                                                                            ng-class="{'active': dateSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES' | translate}]}
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>

                                                                            <div class="col-sm-12 badge_option_grid">
                                                                                <div class="badge_option">
                                                                                    <div class="tabs-bar-content">
                                                                                        <nav class="tabs-bar test_bar">
                                                                                            <div class="tabs-list-container">
                                                                                                <ul class="tabs-list nav nav-tabs droptabs">
                                                                                                    <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                                                                                                                                  ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                                                                                                        data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                                                                                                    </li>
                                                                                                    <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                                                                                                           ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                                                                                                class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                                                                                                    </li>
                                                                                                    <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                                                                                                           ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                                                                                              data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                                                                                                    </li>
                                                                                                    <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                                                                                                           ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                                                                                                 data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                                                                                                    </li>
                                                                                                    <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                                                                                                           ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                                                                                              data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                                                                                                    </li>

                                                                                                    <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                                                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                                                                                        </ul>
                                                                                                    </li>

                                                                                                </ul>
                                                                                            </div>
                                                                                        </nav>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="space_div"></div>
                                                                            <div class="col-sm-12">
                                                                                <div class="masse-container accordion">
                                                                                <table class="table masse-table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="fixed-el collab-label">Collaborateur</th>
                                                                                            <th colspan="2">Prime 
                                                                                                <button ng-click="showPrime = true" ng-hide="showPrime"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                                                                                <button ng-click="showPrime = false" ng-show="showPrime"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                                                                            </th>
                                                                                            <th>Tranport
                                                                                            <button ng-click="showTransport = true" ng-hide="showTransport"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                                                                                <button ng-click="showTransport = false" ng-show="showTransport"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                                                                            </th>
                                                                                            <th colspan="2">Heure supplémentaire
                                                                                                <button ng-click="showHeureSupp = true" ng-hide="showHeureSupp"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                                                                                <button ng-click="showHeureSupp = false" ng-show="showHeureSupp"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                                                                            </th>
                                                                                            <th>Int sur salaire
                                                                                                <button ng-click="showIntSalaire = true" ng-hide="showIntSalaire"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                                                                                <button ng-click="showIntSalaire = false" ng-show="showIntSalaire"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                                                                            </th>
                                                                                            <th colspan="3">Avantage en Nature
                                                                                                <button ng-click="showAvgNature = true" ng-hide="showAvgNature"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                                                                                <button ng-click="showAvgNature = false" ng-show="showAvgNature"><i class="glyphicon glyphicon-minus-sign"></i></button>
                                                                                            </th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="fixed-el"></th>
                                                                                            <th><span ng-show="showPrime">A un évènement Prime de Noël</span></th>
                                                                                            <th><span ng-show="showPrime">Autre Prime de 13ème mois</span></th>
                                                                                            <th><span ng-show="showTransport">Public</span></th>
                                                                                            <th><span ng-show="showHeureSupp">25%</span></th>
                                                                                            <th><span ng-show="showHeureSupp">50%</span></th>
                                                                                            <th><span ng-show="showIntSalaire">Acompte</span></th>
                                                                                            <th><span ng-show="showAvgNature">Nourriture</span></th>
                                                                                            <th><span ng-show="showAvgNature">Logement</span></th>
                                                                                            <th><span ng-show="showAvgNature">NTIC</span></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th class="fixed-el">Paul Henri</th>
                                                                                            <td class="statut-valid">
                                                                                                <div class="input-group"  ng-show="showPrime">
                                                                                                    
                                                                                                <input value="185" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-brouillon">
                                                                                                <div class="input-group" ng-show="showPrime">
                                                                                            
                                                                                                <input value="100" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showTransport">
                                                                                                    
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showHeureSupp">
                                                                                               
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showHeureSupp">
                                                                                            
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-attente">
                                                                                                <div class="input-group" ng-show="showIntSalaire">
                                                                                                   
                                                                                                <input value="80" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showAvgNature">
                                                                                                   
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-refuse">
                                                                                                <div class="input-group " ng-show="showAvgNature">
                                                                                                  
                                                                                                <input value="65" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showAvgNature">
                                                                                                  
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="fixed-el">Christophe Ballihaut</th>
                                                                                            <td>
                                                                                                <div class="input-group"  ng-show="showPrime">
                                                                                               
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-valid">
                                                                                                <div class="input-group" ng-show="showPrime">
                                                                                                 
                                                                                                <input value="95" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-valid">
                                                                                                <div class="input-group" ng-show="showTransport">
                                                                                             
                                                                                                <input value="80" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-attente">
                                                                                                <div class="input-group" ng-show="showHeureSupp">
                                                                                                    <input value="5" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-attente">
                                                                                                <div class="input-group" ng-show="showHeureSupp">
                                                                                                    <input value="5" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-brouillon">
                                                                                                <div class="input-group" ng-show="showIntSalaire">
                                                                                                <input value="3" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-refuse">
                                                                                                <div class="input-group" ng-show="showAvgNature">
                                                                                                    <input value="71" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="input-group" ng-show="showAvgNature">
                                                                                                 
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="statut-attente">
                                                                                                <div class="input-group" ng-show="showAvgNature">
                                                                                                    <input value="71" type="text" />
                                                                                                <div class="btn-group pull-right">
                                                                                                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_extrahour_{[{task.id}]}">
                                                                                                        <span class="md md-more-vert f20"></span>
                                                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                                                    </button>
                                                                                                    <ul class="dropdown-menu">
                                                                                                        <li><a href="" ng-click="">Consuler</a></li>
                                                                                                        <li><a href="" ng-click="">Modifier</a></li>
                                                                                                        <li><a href="" ng-click="">Annuler</a></li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="ModifyColumns" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="remunerationPropCtrl">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        <h4 class="modal-title">Choisir colonnes</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Choisissez les colonnes à afficher :</p>
                                                                        <div class="columns-content">
                                                                                    <div class="left-side">
                                                                                        <div class="filtre-search-list">
                                                                                            <div class="mat-slide-right" style="width:100%;">
                                                                                                <form class="search-form no-padding ">
                                                                                                    <div class="form-group input_search_header">
                                                                                                        <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                                                                                                        <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                                                                                               placeholder="{[{'SEARCH' | translate}]}"></div>
                                                                                                </form>
                                                                                            </div>
                                                                                            <div class="pull-right btn_search_header">
                                                                                                <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="list-columns-checkbox">
                                                                                            <ul>
                                                                                                {#<li>
                                                                                                    <label>
                                                                                                        <input type="checkbox" ng-model="checkedAll" ng-change="selectAll($event)" />Check/Uncheck All</label>
                                                                                                </li>#}
                                                                                                <li ng-repeat="row in rowsColumns">
                                                                                                    <label>
                                                                                                        <input type="checkbox" ng-checked="row.bool === 1" ng-click="updateItem(row, row.bool);" />{[{row.category}]} {[{row.item}]}</label>
                                                                                                </li>
                                                                                            </ul> 
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="right-side">
                                                                                        <div><p>Colonnes sélectionnées :</p></div>
                                                                                        <div class="list-columns-checkbox bool-list">
                                                                                            <ul>
                                                                                                <li ng-repeat="row in rowsColumns" ng-if="row.bool === 1">
                                                                                                    <label>
                                                                                                        <button ng-click="row.bool = 0" onclick="return false;"><i class="glyphicon glyphicon-remove-sign"></i></button>
                                                                                                        <span>{[{row.category}]} {[{row.item}]}</span></label>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="link-del"><a href="javascript:void(0);" onclick="return false;" ng-click="deleteAllColumns()">Supprimer toutes les colonnes</a></div>
                                                                                    </div>
                                                                                                <div style="clear:both;"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" ng-click="" class="btn action">{[{'SAVE' | translate}]}</button>
                                                                        <button type="button" class="btn btn-white reset" data-dismiss="modal">{[{'CANCEL' | translate}]}</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endblock %}

                                                            {% block AngularjsControllers %}
                                                                {% if preference.providersMenuList() is not empty %}  
                                                                    {% for menu in preference.providersMenuList() %}
                                                                        {% if menu.setting_menu.associatedTo is not null and  menu.setting_menu.associatedTo.routeLinks == 'remuneration_layout' %}

                                                                        {% if menu.setting_menu.routeLinks == 'bonus_layout' %}
                                                                        <script src={{ asset('angular/BonusBundle/bonusCtrl.js') }}></script>
                                                                        {% elseif  menu.setting_menu.routeLinks == 'paydayvariations_layout' %}
                                                                        <script src={{ asset('angular/PaydayvariationsBundle/paydayvariationsCtrl.js')}}></script>
                                                                        {% elseif  menu.setting_menu.routeLinks == 'hours_layout' %}
                                                                        <script src={{ asset('angular/ExtraHoursBundle/extrahoursCtrl.js')}}></script>
                                                                        {% elseif  menu.setting_menu.routeLinks == 'hrm_transport_layout' %}
                                                                        <script src={{ asset('angular/TransportBundle/transportCtrl.js') }}></script>
                                                                        {% elseif  menu.setting_menu.routeLinks == 'benefit_layout' %}
                                                                        <script src={{ asset('angular/BenefitBundle/benefitCtrl.js') }}></script>
                                                                        {% endif %}
                                                                            {% endif %}
                                                                                {% endfor %}
                                                                                    {% else %}
                                                                                        <script src={{ asset('angular/BonusBundle/bonusCtrl.js') }}></script>
                                                                                        <script src={{ asset('angular/PaydayvariationsBundle/paydayvariationsCtrl.js')}}></script>
                                                                                        <script src={{ asset('angular/ExtraHoursBundle/extrahoursCtrl.js')}}></script>
                                                                                        <script src={{ asset('angular/TransportBundle/transportCtrl.js') }}></script>
                                                                                        <script src={{ asset('angular/BenefitBundle/benefitCtrl.js') }}></script>            
                                                                                        {% endif %}
                                                                                            <script src={{ asset('angular/RemunerationPropBundle/remunerationPropCtrl.js') }}></script>            
                                                                                            {% endblock %}
