<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'form_edit_job_description','attr' : { 'class': 'form-horizontal','id':'form_edit_job_description','name':'form_edit_job_description' ,'role':'form', 'ng-submit':'saveNDValidate("JOB")'} }) }}
<div class="space_div without_border"></div>
<div class="">
    <div class="form-group">
        {{ form_label(form.name, "{[{'NAME_COMPANY' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.name' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.departement, "{[{'DEPARTEMENT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.departement, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.departement' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.superior, "{[{'SUPERIOR' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.superior, {'attr': {'type-suggestions':'', 'datasource':'["SUPERIOR"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_description.superior', "ng-change":"change('settingsSuperior', edit_job_description.superior)" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.assignement, "{[{'ASSIGNEMENT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(form.assignement, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.assignement'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plannedJourneyNumber, "{[{'PLANNEDJOURNEYNUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-4">
            <div class="input-grpppoup">
                {{ form_widget(form.plannedJourneyNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.plannedJourneyNumber','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~''  } } ) }}
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-3 control-label no-padding-right  ng-binding" for="hiringbundle_hrm_document_jobdescription_partTimeDayPeriodicity">{[{'EN' | translate}]} </label>  
            <div class="col-sm-9 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.plannedJourneyType, {'attr': {'type-suggestions':'', 'datasource':'[""]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_description.plannedJourneyType', "ng-change":"change('settingsPlannedJourney', edit_job_description.plannedJourneyType, 'edit_plannedJType')" } } ) }}
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.contractType, "{[{'CONTRACT_TYPE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">{[{ edit_job_description.contractType}]}
                {{ form_widget(form.contractType, {'attr': { 'type-suggestions':'', 'datasource':'["CONTRACT_TYPE"]','class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_description.contractType', "ng-change":"change('settingsTypecontracts', edit_job_description.contractType, 'edit_contractType')" } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="hiringbundle_hrm_document_jobdescription_partTimeDayPeriodicity">{[{'IFPART_TIME' | translate}]} </label>  
        <div class="col-sm-4">
            <div class="input-grpppoup">
                {{ form_widget(form.partTimeDayNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.partTimeDayNumber'  } } ) }}
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_label(form.partTimeDayPeriodicity, "{[{'DAY_PER' | translate}]}", {'label_attr': {'class': 'col-sm-4 control-label no-padding-right '} }) }}
            <div class="col-sm-8 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.partTimeDayPeriodicity, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_description.partTimeDayPeriodicity', "ng-change":"change('settingsPeriodicity', edit_job_description.partTimeDayPeriodicity,'partTimeDayPeriodicity')" } } ) }}
                </div>
            </div>
        </div>
    </div>  
    <div class="form-group" ng-hide="edit_job_description.contractType == 2"> 
        {{ form_label(form.startDate, "{[{'DATES' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-4">
            {{ form_label(form.startDate, "{[{'START' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
            <div class="col-sm-9 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.startDate, {'id':'new_startdate','attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.startDate','type':'date','class': 'form-control date-datepicker new_startdate','data-date-format' : 'DD/MM/YYYY' } } ) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_label(form.endDate, "{[{'END' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
            <div class="col-sm-9 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.endDate, {'id':'new_enddate','attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.endDate','type':'date','class': 'form-control date-datepicker new_enddate','data-date-format' : 'DD/MM/YYYY' } } ) }}
                </div>
            </div>
        </div>
    </div>  
    <div class="form-group">
        {{ form_label(form.remunerationAmountFrom, "{[{'REMUNURATION_AMOUNT_FROM' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-4">
            {{ form_label(form.remunerationAmountFrom, "{[{'FROM' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
            <div class="col-sm-9 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.remunerationAmountFrom, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.remunerationAmountFrom','number-format':''~preference.format~'',  'decimals':'numberOfDecimals'   } } ) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_label(form.remunerationAmountTo, "{[{'TO' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-9 no-padding">
                <div class="input-grpppoup">
                    {{ form_widget(form.remunerationAmountTo, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.remunerationAmountTo' ,'number-format':''~preference.format~'' ,'decimals':"numberOfDecimals" } } ) }}
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.remunerationOthers, "{[{'REMUNURATION_OTHERS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.remunerationOthers, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_description.remunerationOthers'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" id="editSaveJob" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button type="submit" class="btn btn-sm btn-success action" id="editValidateJob" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close" ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
