{#<div class="space_div without_border"></div>
<div class="content-offer">
        {{ form_start(form,{'attr' : {'style': 'display:none', 'id':'form-ckeditor'} }) }}  

            {{ form_widget(form.content, {'attr' : {'data': 'data-ckdataeditor'} } ) }}
        <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center form-actions-ckeditor">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="editCKeditor()"
                ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button  type="submit"  class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" ng-click="editCKeditor()" >
            {[{'CANCEL' | translate}]}
        </button>        
    </div>
    {{ form_end(form, {'render_rest': false}) }}  
</div>#}