<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'NAME' | translate}]}
    </label> <div class="col-sm-8">
        <p class="form-control">{[{edit_job_description.name}]}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'DEPARTEMENT' | translate}]}
    </label>
    <div class="col-sm-8">
        <p class="form-control">{[{edit_job_description.departement}]}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'SUPERIOR' | translate}]}
    </label> <div class="col-sm-8">
        <p class="form-control">{[{show.superior.user.first_name}]} {[{show.superior.user.last_name}]}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'ASSIGNEMENT' | translate}]}
    </label>
    <div class="col-sm-8">
        <p class="form-control white-space-pre-line" style="word-wrap: break-word;">{[{edit_job_description.assignement}]}</p>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'PLANNEDJOURNEYNUMBER' | translate}]}
    </label>
    <div class="col-sm-4">
        <p class="form-control">{[{show.plannedJourneyNumber}]} <span ng-if="show.plannedJourneyType">{[{'EN' | translate}]} {[{show.plannedJourneyType.display_name}]}</span></p>
    </div>
</div> 
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'CONTRACT_TYPE' | translate}]}
    </label>
    <div class="col-sm-8">
        <p class="form-control">{[{show.contractType.display_name}]}</p>
    </div>
</div> 
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="hiringbundle_hrm_document_jobdescription_partTimeDayPeriodicity">{[{'IFPART_TIME' | translate}]} </label>  
    <div class="col-sm-4">
        <p class="form-control">{[{show.partTimeDayNumber}]} <span ng-if="show.partTimeDayPeriodicity">{[{'DAY_PER' | translate}]} {[{show.partTimeDayPeriodicity.display_name}]}</span></p>
    </div>
</div>  
<div class="form-group" ng-hide="edit_job_description.contractType == 2"> 
    <label class="col-sm-3 control-label">
        {[{'DATES' | translate}]}
    </label>
    <div class="col-sm-9">
        <div class="col-sm-9 no-padding">
            <p class="form-control"><span ng-if="show.startDate">{[{'START' | translate}]} {[{show.startDate}]}</span> <span ng-if="show.endDate">{[{'END' | translate}]} {[{show.endDate}]}</span></p>
        </div>
    </div>
</div>  
<div class="form-group">
    <label class="col-sm-3 control-label">{[{'REMUNURATION_AMOUNT_FROM' | translate}]}</label>
     <div class="col-sm-4">
        <div class="col-sm-9 no-padding">
            <p class="form-control"><span ng-if="show.remunerationAmountFrom">{[{'FROM' | translate}]} {[{show.remunerationAmountFrom}]}</span> <span ng-if="show.remunerationAmountTo" >{[{'TO' | translate}]} {[{show.remunerationAmountTo}]}</span></p>
        </div>
    </div>
</div> 
<div class="form-group">
    <label class="col-sm-3 control-label">
        {[{'REMUNURATION_OTHERS' | translate}]}
    </label> 
    <div class="col-sm-8">
        <p class="form-control white-space-pre-line" style="word-wrap: break-word;">{[{show.remunerationOthers}]}</p>
    </div>
</div>