{{ form_start(edit_form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_job_others','name':'form_edit_job_others' ,'role':'form', 'ng-submit':'saveNDValidate("OTHERS")'} }) }}
<div class="space_div without_border"></div>
<div class="">
    <div class="form-group">
        {{ form_label(edit_form.otherComment, "{[{'MORE_INFO' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(edit_form.otherComment, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_others.otherComment' } } ) }}
            </div>
        </div>
    </div>    
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" id="EditSaveOthers" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button  class="btn btn-sm btn-success action" type="submit" id="EditValidateOthers" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close" ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(edit_form, {'render_rest': false}) }}