<div class="form-group" >
    <div class="form-group">
        <label class="col-sm-3">{[{'MORE_INFO' | translate }]}</label>  
        <div class="col-sm-9">
            <label>
                <p class="form-control white-space-pre-line" style="word-wrap: break-word;">{[{ show.otherComment }]}</p>
            </label>
        </div>
    </div>
</div>