<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td align="center" valign="top" style="padding:20px 0 20px 0">
                        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                            <tr>
                                <th>Fabereo.com</th>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <p style="font-size:12px; line-height:16px; margin:0;">
                                        <p> Bonjour {{to_FName}} {{to_LName}} <br>Votre responsable
                                                {{ current_user_FName }} {{ current_user_LName }} a créér votre compte HRM.</p> 
                                        <p>Votre Login : "{{ username }}" <br>Votre mot de passe "{{ password }}"</p>
                                        <p>Veuillez consulter votre espace HRM"</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>