
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_TRANSPORTS_NATURE' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        {#      <a href="{{ path('adminRoles_new')|replace({'%23':'#'})}}" class="btn btn-theme" >{[{'BUTTON_NEW' | translate}]}</a>#}
        <button type="button" class="btn btn-theme" data-toggle="modal" id="NewExpTrasportSettingBtn" name="NewExpTrasportSettingBtn" data-target='#NewTrainingSetting'>
            {[{'BUTTON_NEW' | translate}]}
        </button>
    </div>
</div>

<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#       Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading','pointspinner')}}
    <table datatable="ng" class="table table-striped" ng-hide="loading" data-ng-init="init()">
        <thead>
        <tr>
            <th>{[{'NAME' | translate}]}</th>
            <th>{[{'TAX_MODELE' | translate}]}</th>
            <th>{[{'DESCRIPTION' | translate}]}</th>
            <th>{[{'EXTERNAL_CODE' | translate}]}</th>
            <th></th>
        </thead>
        {#        <tbody ng-repeat="(key, task) in response = (filterList | filter: {first_name:contributorSearch||undefined,employee_contract:{contractType:{display_name:contractSearch|| undefined}} && undefined}: true)| orderBy:'contractType.contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">#}
        <tbody>
        {#<code>{[{dataExpTransport}]}</code>#}
        <tr data-ng-repeat="hrm_settings_exp_transport in dataExpTransport.settingsExpTransports">
            <td>{[{ hrm_settings_exp_transport.display_name }]}</td>
            <td>{[{ hrm_settings_exp_transport.tax_model.display_name }]}</td>
            <td>{[{ hrm_settings_exp_transport.description }]}</td>
            <td>{[{ hrm_settings_exp_transport.external_code }]}</td>
            <td class="btns_actions_table">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="md md-more-vert f20"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">

                        <li><a data-toggle="modal" data-target='#EditExpTrasportSetting' ng-click="SelectInfos(hrm_settings_exp_transport.id,'ExpTransport')" aria-haspopup="true" id="edit_request_training_{[{hrm_settings_exp_transport.id}]}" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a></li>
                        <li><a href="javascript:void(0)" ng-click="delete(hrm_settings_exp_transport.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pull-left">
        {[{response.length}]}
        {[{'RESULTS' | translate}]}
    </div>
{#    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>#}
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">
    <div class="col-md-4 col-sm-12 col-xs-12" data-ng-repeat="hrm_settings_exp_transport in  dataExpTransport.settingsExpTransports">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{ hrm_settings_exp_transport.display_name }]}</h2>
                <span></span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">
                        <p>
                            {[{ hrm_settings_exp_transport.description }]}
                        </p>
                    </h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p>
                </p>
                {#<h4 class="no-m-t mdl-color-text--grey-700">{[{task.country_birth}]}</h4>#}
            </div>
            <div class="card-action">
                <div class="card__menu_btns">
                    <div class="mdl-card__menu">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target='#EditExpTrasportSetting' ng-click="SelectInfos(hrm_settings_exp_transport.id,'ExpTransport')" aria-haspopup="true" id="edit_request_training_{[{task.id}]}" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a></li>
                                <li><a href="javascript:void(0)" ng-click="delete(hrm_settings_exp_transport.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--New -->
<div id="NewTrainingSetting" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">{[{'ADD_NEW_HOLIDAY' | translate}]}</h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            {{ render(controller('AdminBundle:hrm_settings_exp_transport:new')) }}
        </div>
    </div>
</div>
<!--Edit -->
<div id="EditExpTrasportSetting" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EDIT_NATURE_TRANSPORT' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

            </div>
            {{ render(controller('AdminBundle:hrm_settings_exp_transport:edit')) }}
        </div>
    </div>
</div>
<!-- Modal -->
{#{% include 'Admin/settingsroles/new.html.twig' %}#}
{#<a class="btn float-btn  btn-theme"  target href="{{path('adminhrm_settings_exp_transport_new')|replace({'%23':'#'})}}">    
        <i class="ace-icon fa fa-plus"></i>
      Nouveau
  </a>#}

