<html lang="en"><head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">
        <title>Modifier le mot de passe</title>

        <meta name="description" content="Request Content page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css')}}">

        <!-- text fonts -->
        {#        <link rel="stylesheet" href="{{ asset('assets/css/fonts.googleapis.com.css')}}">#}

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css')}}">

        <!--[if lte IE 9]>
                <link rel="stylesheet" href="{{ asset('assets/css/ace-part2.min.css')}}" />
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('assets/css/ace-rtl.min.css')}}">

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="{{ asset('assets/css/ace-ie.min.css')}}" />
        <![endif]-->

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]>
        <script src="{{ asset('assets/js/html5shiv.min.js')}}"></script>
        <script src="{{ asset('assets/js/respond.min.js')}}"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/4.5.0/css/font-awesome.min.css') }}" />
        <!-- text fonts -->
        {#        <link rel="stylesheet" href="{{ asset('assets/css/fonts.googleapis.com.css') }}" />#}

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('assets/css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />

        <!--[if lte IE 9]>
                <link rel="stylesheet" href="{{ asset('assets/css/ace-part2.min.css') }}" class="ace-main-stylesheet" />
        <![endif]-->
        <link rel="stylesheet" href="{{ asset('assets/css/ace-skins.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ace-rtl.min.css') }}" />

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="{{ asset('assets/css/ace-ie.min.css') }}" />
        <![endif]-->
    </head>

    <body class="login-layout light-login">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>

                                    <span class="grey" id="id-text2"></span>
                                </h1>
                                <h4 class="blue" id="id-company-text"></h4>
                            </div>

                            <div class="space-6"></div>

                            <div class="position-relative">
                                <div id="request-content-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                Modifier le mot de passe
                                            </h4>
                                            <div class="space-6"></div>
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div>
<label class="block clearfix">
    <span class="block input-icon input-icon-right">
    {{ form_widget(form.new.first,{'attr':{'class':'form-control', 'placeholder':'Nouveau mot de passe'}}) }}
    <i class="ace-icon fa fa-lock"></i>
       </span>
    </label>
<label class="block clearfix">
    <span class="block input-icon input-icon-right">
    {{ form_widget(form.new.second,{'attr':{'class':'form-control', 'placeholder':'Vérification'}}) }}
    <i class="ace-icon fa fa-lock"></i>
   </span>
    </label>
</div>
    
            <div class="clearfix">
                <input type="submit" class="pull-right btn btn-sm btn-primary" value="{{ 'Modifier le mot de passe'|trans({}, 'FOSUserBundle') }}" />
            </div>  
{{ form_rest(form) }}            
</form>

    
<div class="space-6"></div>

            <div class="clearfix">
                                                <span class="lbl pull-right">
                                            <a href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
                                                </span>
                                           </div> 
                                            <div class="space-6"></div>

                                            <div class="social-login">
<span class="red">
                                    {{ form_errors(form.new.first) }}
                                    {{ form_errors(form.new.second) }}
                                    
                                        {% if invalid_username is defined %}
                                          <ul >
                                              <li>
                                          {{ "Le nom d'utilisateur ou l'adresse e-mail '%username%' n'existe pas."|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                                          </li>
                                          </ul>
                                         {% endif %}
</span>


                                            </div>
                                        </div><!-- /.widget-main -->

                                        <div class="toolbar clearfix">
                                            <div>
                                            </div>
                                            <div>
                                                <a href="http://www.fabereo.com" data-target="#signup-box" class="user-signup-link">
                                                    <img style="height: 30px; margin-top: -5px" width="90" height="35" src="{{asset('assets/images/logo-fabereo.png')}}">

                                                </a>
                                            </div>
                                        </div>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->
                           </div><!-- /.position-relative -->
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
        <script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
    </body>
</html>    