<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->

{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'update("ik_update",edit.uid)'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
    <div class="form-group">
        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
        {{ form_errors(form.contributor) }}
        <div class="col-sm-8">
            {{ form_widget(form.contributor,{'attr':{'ng-model':'edit.contributor.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }}
        {{ form_errors(form.displayName) }}
        <div class="col-sm-8">
            {{ form_widget(form.displayName,{'attr':{'ng-model':'edit.displayName', 'id':'name', 'name':'name'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}
        {{ form_errors(form.date) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.date,{'attr':{'ng-model':'edit.date', 'data-date-format' : 'DD/MM/YYYY'}}) }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
        {{ form_errors(form.validator) }}
        <div class="col-sm-8">
            {{ form_widget(form.validator,{'attr':{'ng-model':'edit.validator.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="space-4"></div>
        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.kilometer, "{[{'NUMBER_DIS_UNIT' | translate}]}") }}
        {{ form_errors(form.kilometer) }}
        <div class="col-sm-8">
            {{ form_widget(form.kilometer,{'attr':{'ng-model':'edit.kilometer','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
        </div>
    </div>


    <div class="form-group">
        {{ form_label(form.settingsExpIk, "{[{'KM_COEFF' | translate}]}") }}
        {{ form_errors(form.settingsExpIk) }}
        <div class="col-sm-8">
            {{ form_widget(form.settingsExpIk,{'attr':{'ng-model':'edit.coefficient'}}) }}
        </div>
    </div>
{#    <div ng-init="getBareme()">#}
        <div ng-repeat="coefficient in bareme.settingsExpCoeffs">
            <input ng-if="coefficient.id == edit.coefficient" type="hidden" value="{[{edit.amountIk = (coefficient.coeffValue * edit.kilometer)}]}">
        </div>
{#    </div>#}
    {#    
        <div class="form-group">
            {{ form_label(form.SettingsExpCoeff) }}
            {{ form_errors(form.SettingsExpCoeff) }}
            <div class="col-sm-8">
                {{ form_widget(form.SettingsExpCoeff,{'attr':{'ng-model':'edit.coefficient'}}) }}
            </div>
        </div>  
        <div ng-repeat="val in bareme.settingsExpCoeffs">
            <div ng-if="val.id==edit.coefficient">
                {[{date | date:'yyyy-MM-dd'}]}
    
                <div ng-if="edit.kilometer<=5001">
                    <input type="hidden" value="{[{edit.amount = (val.firstBranch * edit.kilometer)}]}">
                </div>
                <div ng-if="edit.kilometer<=20001 && edit.kilometer>5001">
                    <input type="hidden" value="{[{edit.amount = ((val.secondBranch * edit.kilometer) + val.secondBranchAddition)}]}">
                </div>
                <div ng-if="edit.kilometer>20001">
                    <input type="hidden" value="{[{edit.amount = (val.thirdBranch * edit.kilometer)}]}">
                </div>
            </div>
        </div>#}
    {#    
        <div class="form-group">
            {{ form_label(form.settingsProjects) }}
            {{ form_errors(form.settingsProjects) }}
            <div class="col-sm-8">
                {{ form_widget(form.settingsProjects,{'attr':{'ng-model':'edit.project'}}) }}
            </div>
        </div>   #}

    {#    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
            
            <div class="form-group">
                {{ form_label(form.SettingsStatus) }}
                {{ form_errors(form.SettingsStatus) }}
                <div class="col-sm-8">
                    {{ form_widget(form.SettingsStatus,{'attr':{'ng-model':'edit.status'}}) }}
                </div>
            </div>  
        {% endif %}#}


    {#   
       <div class="form-group">
           {{ form_label(form.settings_pay_period) }}
           {{ form_errors(form.settings_pay_period) }}
           <div class="col-sm-8">
               <div class="input-group">
                   {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'edit.settings_pay_period'}}) }}
                   <span class="input-group-addon">    
                       <i class="fa fa-calendar bigger-110"></i>
                   </span>
               </div>
           </div>
       </div>#}

{#    <div class="form-group">
        {{ form_label(form.amountIk) }}
        {{ form_errors(form.amountIk) }}
        <div class="col-sm-8">
            {{ form_widget(form.amountIk,{'attr':{'ng-value':'edit.amountIk|number:3'}}) }}
        </div>
    </div>#}
        <div class="form-group" >
            <span ng-hide="coefLoad">
                {{ form_label(form.amountIk, "{[{'AMOUNT' | translate}]}") }}
                {{ form_errors(form.amountIk) }}
            </span>
            <div class="col-sm-8">
                <span ng-hide="coefLoad">
                    {{ form_widget(form.amountIk,{'attr':{'ng-value':'edit.amountIk|number:3'}}) }}
                </span>
                <span ng-show="coefLoad">
                    <i ng-if="(edit.coefficient!=null)&&(edit.amountIk!=null)" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw" style="position: absolute;top: 8px;right: 15px;color:#f57c00;"></i>
                </span>
                {#            <i ng-if="(new.coefficient!=null)&&(new.amountIk!=null" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw" style="position: absolute;top: 8px;right: 15px;"></i>#}
            </div>   
        </div>
    <div class="form-group">
        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
        {{ form_errors(form.comment) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment,{'attr':{'ng-model':'edit.comment'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}
        {{ form_errors(form.settings_pay_period) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'edit.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                <span class="input-group-addon">    
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit.attachments.path"  data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" data-fp-services="COMPUTER, WEBCAM" onchange="angular.element(this).scope().uploadEditIkAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >        
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" ng-click="edit.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>                    
            </span>


        </div>
    </div>
</div>
<div class="space_div btns_actions"></div>
<div class="modal-footer form-actions center">
    <input type="hidden" ng-model="app.id" ng-init="app.id = {{preference.getEmpData().getId()}}" >
    <button type="submit" id="EditValiderIK" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
        {[{'BUTTON_VALIDATE' | translate}]}
    </button>
    {#    {% endif %}#}
    <button ng-if='app.id==edit.user.id'  type="submit" id="EditSauvegarderIK" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
        {[{'SAVE' | translate}]}
    </button>
    {#                {% endif %}#}
    <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled"> {[{'CANCEL' | translate}]}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}
