{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'save("Ik")'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" ng-show="new.type == 'Ik'" id="New">
    <input type="hidden" ng-model="app.id" ng-init="app.id = {{preference.getEmpData().getId()}}">
    <div data-ng-init="InitFields(app.id)">
        <div class="form-group">
            {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
            {{ form_errors(form.contributor) }}
            <div class="col-sm-8">
                {{ form_widget(form.contributor,{'attr':{'ng-model':'new.contributor.id', 'ng-init':'new.contributor.id = "'~preference.getEmpData().getId()~'"'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }}
            {{ form_errors(form.displayName) }}
            <div class="col-sm-8">
                {{ form_widget(form.displayName,{'attr':{'ng-model':'new.displayName', 'id':'name', 'name':'name'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}
            {{ form_errors(form.date) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="space-4"></div>
            {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
            {{ form_errors(form.validator) }}
            <div class="col-sm-8">
                {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR",null]','ng-model':'new.validator', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="space-4"></div>
            {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
            {{ form_errors(form.requester) }}
            <div class="col-sm-8">
                {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
            {{ form_errors(form.type) }}
            <div class="col-sm-8">
                {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE", "Ik"]','ng-model':'new.type' }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.kilometer, "{[{'NUMBER_DIS_UNIT' | translate}]}") }}
            {{ form_errors(form.kilometer) }}
            <div class="col-sm-8">
                {{ form_widget(form.kilometer,{'attr':{'ng-model':'new.kilometer','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.settingsExpIk, "{[{'KM_COEFF' | translate}]}") }}
            {{ form_errors(form.settingsExpIk) }}
            <div class="col-sm-8">
                {{ form_widget(form.settingsExpIk,{'attr':{'ng-model':'new.coefficient'}}) }}
            </div>
        </div>
        {#        <div ng-init="getBareme()">#}
        <div ng-repeat="coefficient in bareme.settingsExpCoeffs">
            <input ng-if="coefficient.id == new.coefficient" type="hidden"
                   value="{[{new .amountIk = (coefficient.coeffValue * new .kilometer)}]}">
        </div>
        {#        </div>#}
 {#       <code>{[{new.coefficient!=undefined}]}</code>
        <code>{[{new.amountIk!==undefined}]}</code>
        <code>{[{new.coefficient!=undefined&&new.amountIk!==undefined}]}</code>#}
      
        <div class="form-group" >
                {{ form_label(form.amountIk, "{[{'AMOUNT' | translate}]}") }}
            <div class="col-sm-8">
                <span ng-hide="coefLoad">
                    {{ form_widget(form.amountIk,{'attr':{'ng-model':'new.amountIk','ng-value':'new.amountIk|number:3'}}) }}
                </span>
                <span ng-show="coefLoad">
                    <i ng-if="new.coefficient!=null" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw" style="position: absolute;top: 8px;right: 15px;"></i>
                </span>
                {#            <i ng-if="(new.coefficient!=null)&&(new.amountIk!=null" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw" style="position: absolute;top: 8px;right: 15px;"></i>#}
            </div>   
        </div>
        {#        <div class="form-group" ng-hide="coefLoad">
                    {{ form_label(form.amountIk, "{[{'AMOUNT' | translate}]}") }}
                    {{ form_errors(form.amountIk) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.amountIk,{'attr':{'ng-model':'new.amountIk','ng-value':'new.amountIk|number:3'}}) }}
                    </div>
                </div>
        #}
        <div class="form-group">
            {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
            {{ form_errors(form.comment) }}
            <div class="col-sm-8">
                {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}
            {{ form_errors(form.settings_pay_period) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'new.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group m-t-40">
            <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
            <div class="col-sm-8">
                <span class="block_attach input-icon input-icon-right">
                    <input ng-model="new.attachments.path" data-fp-multiple="false" class=" btn-success btn btn-file action"
                           type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf"
                           data-fp-button-class="" data-fp-hide="false" hideWhenUploading="true"
                           data-fp-container="window" onchange="angular.element(this).scope().uploadNewIkAttachment(event.fpfile);"/>

                    <div>  
                        <img ng-show="new.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                        <img ng-show="new.attachments.mimetype.split('/')[0] =='image'" src="{[{ new.attachments.path }]}" width='100px;' maxHeight='auto' >      
                        <a ng-show="new.attachments.path" class="icon_attach ng-scope" ng-click="new.attachments= null" >
                            <span>
                                <i class="fa fa-trash-o fa-2"></i>
                            </span>
                        </a>
                        <a ng-show="new.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{new.attachments.path}]}" data-lightbox="example-1">
                            <span>
                                <i class="fa fa-eye fa-2"></i>
                            </span>
                        </a>
                        <a ng-show="new.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                            <span>
                                <i class="fa fa-eye fa-2"></i>
                            </span>
                        </a>
                        <a ng-show="new.attachments.path" class="icon_attach ng-scope" href="{[{new.attachments.path}]}" download>
                            <span>
                                <i class="fa fa-download fa-2"></i>
                            </span>
                        </a>
                    </div>                 
                </span>
            </div>
        </div>
        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center ">
            <div class="form-group checkbox with_label">
                <label class="">
                    <input name="form-field-checkbox" id="checkIk" type="checkbox" ng-model="new.checkIk"
                           class="new-item ace input-lg">
                    {[{'ADD_NEW' | translate}]}
                </label>
            </div>

            <button type="submit" id="ValiderIK" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'BUTTON_VALIDATE' | translate}]}
            </button>
            {#        {% endif %}#}
            <button type="submit" id="SauvegarderIK" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'SAVE' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled">
                {[{'CANCEL' | translate}]}
            </button>
        </div>
    </div>

</div>
{{ form_end(form, {'render_rest': false}) }}


<!-- Date script to detect changment-->
<script>
    $(function () {
        $('.datepicker').on('dp.change', function () {
            var scope = angular.element($('.datepicker')).scope();
            var valuefirstone = $(this).val();
            scope.$apply(function () {
                scope.new.date = valuefirstone;
            });
        });
    });
</script>
