<!-- popup Show -->  
{#{[{edit}]}#}
<div id="Show" class="modal fade bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_expense">
                                <i class="fa fa-chevron-left"></i>
                                <span>{[{'RETURN' | translate}]}</span>
                            </button>
                            <!-- condition to make unique modal name -->
                            <h2 class="modal-title">{[{'DETAILS_EXPENSE' | translate}]} {#{[{edit.type}]}#}</h2>
                            <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                                <i class="fa fa-chevron-left"></i>
                                <span>{[{'RETURN' | translate}]}</span>
                            </button>                            
                            <!-- End condition  -->

                        </div>
                        <div class="space_div without_border"></div>   
                        <div class="modal-body form-horizontal show_form">
                            <!-- start commun-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {[{'COLLABORATER' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.contributor.user.first_name}]} {[{edit.contributor.user.last_name}]}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                   {[{'EXPENSE_NAME' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.displayName}]}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {[{'EXPENSE_DATE' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.date | date:'dd/MM/yyyy'}]}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {[{'VALIDATOR' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.validator.user.first_name}]} {[{edit.validator.user.last_name}]}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {[{'REQUESTER' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.requester.user.first_name}]} {[{edit.requester.user.last_name}]}</p>
                                </div>
                            </div>
                            <!-- End commun-->
                            
                                <div class="form-group" ng-if="edit.type=='Ik'">
                                    <label class="col-sm-3 control-label">
                                        {[{'NUMBER_DIS_UNIT' | translate}]}
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.kilometer|number:2}]}</p>
                                    </div>
                                </div>
                                <!-- Start Dining-->
                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'NATURE' | translate}]}
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.dinningType}]}</p>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'AMOUNT_REPAY' | translate}]}
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.amountDin | number:2}]}</p>
                                    </div>
                                </div>
{#                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'TAXES' | translate}]} 20%
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe20Din | number}]}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'TAXES' | translate}]} 10%
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe10Din | number}]}</p>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'TAXES_550' | translate}]} 5,50%
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe5Din | number}]}</p>
                                    </div>
                                </div>#}
                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                    <label class="col-sm-3 control-label">
                                        {[{'AMOUNT_HT' | translate}]}
                                    </label>
                                    <div class="col-sm-8">
                                    <p class="form-control">{[{edit.untaxedAmountDin | number:2}]}</p>
                                    </div>
                                </div>
                                <!-- End Dining-->  


                                <!-- Start Transport-->
                               
                            <div class="form-group" ng-if="edit.type=='Transport'">
                                <label class="col-sm-3 control-label">
                                    {[{'NATURE' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_exp_transport.display_name}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Transport'">
                                <label class="col-sm-3 control-label">
                                    {[{'AMOUNT_REPAY' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.amountTran | number:2}]}</p>
                                </div>
                            </div>
                                <!-- End Transport-->  


                                    <!-- Start Other-->  
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'NATURE' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_expenses.display_name}]}</p>                                
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'ISO_CODE' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.currencyIsoCode}]}</p>
                                </div>
                                <label class="col-sm-3 control-label">
                                    {[{'AMOUNT_REPAY' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.amountOth | number:2}]}</p>
                                    <p class="form-control"><b>Montant à rembourser de base : {[{edit.amountOthBase | number:2}]} Euros</b></p>
                                </div>
                            </div>
{#                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'TAXES_20' | translate}]} 20%
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe20 | number}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'TAXES_10' | translate}]} 10%
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe10 | number}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'TAXES_550' | translate}]} 5,50%
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe5 | number}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'TAXES_210' | translate}]} 2,10%
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.taxe2 | number}]}</p>
                                </div>
                            </div>#}
                            <div class="form-group" ng-if="edit.type=='Autres'">
                                <label class="col-sm-3 control-label">
                                    {[{'AMOUNT_HT' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.untaxedAmountOth | number:2}]}</p>
                                </div>
                            </div>
                                    <!-- End Other -->


                                    <!-- Start Accomodation -->
                            <div class="form-group" ng-if="edit.type=='Hebergement'">
                                <label class="col-sm-3 control-label">
                                    {[{'NATURE' | translate}]}                                
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_exp_accomodation.display_name}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Hebergement'">
                                <label class="col-sm-3 control-label">
                                      {[{'AMOUNT_REPAY' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.amountAcc | number:2}]}</p>
                                </div>
                            </div>
                            {[{calculate_tax(edit.amountAcc, "untaxedAmount", "edit")}]}  
                            <span class='inject-btn'></span>
                            <div class="form-group" ng-if="edit.type=='Hebergement'">
                                <label class="col-sm-3 control-label">
                                     {[{'AMOUNT_HT' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.untaxedAmount | number:2}]}</p>
                                </div>
                            </div>
                             <!-- End Accomodation -->
                            <div class="form-group" ng-if="edit.type=='Ik'">
                                <label class="col-sm-3 control-label">
                                     {[{'KM_COEFF' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_exp_ik.display_name}]} </p>                                               
                                </div>
                            </div>
                                <div class="form-group" ng-if="edit.type=='Restauration'">
                                <label class="col-sm-3 control-label" ng-if="edit.hrm_expenses_guests.length > 0">
                                     Guests
                                </label>  
                                <div class="col-sm-8" ng-if="edit.hrm_expenses_guests.length > 0">
                                        <table class="table">
                                             <thead>
                                                <tr>
                                                   <td>{[{'LAST_NAME' | translate}]}</td>
                                                   <td>{[{'FIRST_NAME' | translate}]}</td>
                                                </tr>
                                               </thead>
                                              <tbody ng-repeat="item in edit.hrm_expenses_guests track by item.uid">
                                                <tr>
                                                    <td>{[{item.firstName}]}</td>
                                                    <td>{[{item.lastName}]}</td>
                                                </tr>
                                            </tbody>
                                        </table> 
                                </div>                                        

                                </div>
                            <!-- Start commun -->
{#                            <div class="form-group" >
                                <label class="col-sm-3 control-label">
                                    {[{'PROJECT' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_projects.display_name}]}</p>
                                </div>
                            </div>#}
                            <div class="form-group" >
                                <label class="col-sm-3 control-label">
                                    {[{'STATUS' | translate}]}
                                </label>
                                <div class="col-sm-8 ">
                                    <p class="form-control">{[{edit.settings_status.display_name}]}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {[{'COMMENTS' | translate}]}
                                </label>
                                <div class="col-sm-8">    
                                    <p class="form-control">{[{edit.comment}]}</p>

                                </div>
                            </div>                             
                            <div class="form-group" >
                                <label class="col-sm-3 control-label">
                                    {[{'PAYPERIOD' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.settings_pay_period}]}</p>
                                </div>
                            </div>
                            <!-- End commun -->    
                            <div class="form-group" ng-if="edit.type=='Ik'">
                                <label class="col-sm-3 control-label">
                                    TTC
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.amountIk | number:3}]}</p>
                                </div>
                            </div>
                            <div class="form-group" ng-if="edit.type=='Transport'" >
                                <label class="col-sm-3 control-label">
                                    {[{'AMOUNT_HT' | translate}]}
                                </label>
                                <div class="col-sm-8">
                                    <p class="form-control">{[{edit.untaxedAmountTrans | number:2}]}</p>

                                </div>
                            </div>
                           
                            <div class="form-group" style="margin-top:20px;">
                                <label class="col-sm-3 control-label">
                                    {[{'ATTACHMENT' | translate}]}
                                </label>
                                <div class="col-sm-8">    
                                    <span class="block_attach">
                                <div>  
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >      
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>                                       
                                    </span>                                    

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div> 