{% extends "::base.html.twig" %}
{% block body %}
    <div ng-app="ikApp" ng-controller="ikCtrl"> 
{#            <div ng-show="ik">#}
                {{ render(controller('ExpenseBundle:ik:new')) }}
{#            </div>#}
            
                {{ render(controller('ExpenseBundle:transport:new')) }}
    {% endblock body %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/moment.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
        {#    <script src={{ asset('angular/ExpenseBundle/expenseCtrl.js')}}></script>#}
        <script src={{ asset('angular/ExpenseBundle/AppFrais.js')}}></script>
        <script src={{ asset('angular/ExpenseBundle/ikCtrl.js')}}></script>
        <script src={{ asset('angular/ExpenseBundle/transportCtrl.js')}}></script>
    {% endblock %}