<p hidden>
    {% if app.user %} {[{ initItems({{ preference.getEmpData().getId() }}) }]} {% endif %}
</p>
{{ form_start(edit_form, {'id':'form_edit_requestabsence' ,'name':'form_edit_requestabsence','attr' : { 'class': 'form-horizontal' ,'role':'form' ,'ng-model':'edit_requestabsence.id'} }) }}
<div class="space_div without_border"></div> 
<div class="modal-body">    
    <div class="form-group">
        {{ form_label(edit_form.employee, "{[{'COLLABORATER' | translate:userData}]}") }}
        {{ form_errors(edit_form.employee) }}   
        <div class="col-sm-8">
            {{ form_widget(edit_form.employee,{'attr':{'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit_requestabsence.employee'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(edit_form.requestdate, "{[{'REQUEST_DATE' | translate:userData}]}") }}  
        {{ form_errors(edit_form.requestdate) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.requestdate, {'attr': {'type':'date','class': 'form-control datepicker_requestdate', 'ng-model':'edit_requestabsence.requestdate','data-date-format' : 'MM/DD/YYYY'}}) }}    
        </div>
    </div>

    <div class="form-group">
        {{ form_label(edit_form.manager, "{[{'VALIDATOR' | translate:userData}]}") }}  
        {{ form_errors(edit_form.manager) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.manager,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR"]','class': 'form-control', 'ng-model':'edit_requestabsence.manager'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(edit_form.requester, "{[{'REQUESTER' | translate:userData}]}") }}  
        {{ form_errors(edit_form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.requesters,{'attr':{'class': 'form-control', 'ng-model':'edit_requestabsence.requester','ng-init':"edit_requestabsence.requester='"~preference.username~"'"}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(edit_form.absencetype, "{[{'TYPE_REQUEST' | translate:userData}]}") }}  
        {{ form_errors(edit_form.absencetype) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.absencetype,{'attr':{'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'edit_requestabsence.absencetype'}}) }}
        </div>
    </div>                   

    <div class="form-group">
        {{ form_label(edit_form.startdate, "{[{'STARTDATE' | translate:userData}]}") }}  
        {{ form_errors(edit_form.startdate) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.startdate,{'id':'edit_startdate','attr':{'class': 'form-control edit_startdate date-timepicker1','ng-model':'edit_requestabsence.startdate','ng-change':'daydiff()'}}) }}
        </div>
    </div>                  

    <div class="form-group">
        {{ form_label(edit_form.enddate , "{[{'ENDDATE' | translate:userData}]}") }}  
        {{ form_errors(edit_form.enddate) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.enddate,{'id':'edit_enddate','attr':{'class': 'form-control edit_enddate date-timepicker1','ng-model':'edit_requestabsence.enddate'}}) }}
        </div>
    </div>    

    <div class="form-group">
        {{ form_label(edit_form.numberdays, "{[{'NDAYS' | translate:userData}]}") }}  
        {{ form_errors(edit_form.numberdays) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.numberdays,{'attr':{'class': 'form-control','ng-model':'edit_requestabsence.numberdays','ng-value':'edit_requestabsence.numberdays|number:2'}}) }}
        </div> 
    </div>    

    <div class="form-group">
        {{ form_label(edit_form.notes, "{[{'COMMENTS' | translate:userData}]}") }}  
        {{ form_errors(edit_form.notes) }}
        <div class="col-sm-8">
            {{ form_widget(edit_form.notes,{'attr':{'class': 'form-control','ng-model':'edit_requestabsence.notes', 'rows':'5'}}) }}
        </div> 
    </div> 
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right required" for="requestabsencebundle_requestabsence_absencetype">{[{'ATTACHMENT' | translate:userData}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit_requestabsence.attachments.path"   data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM" data-fp-button-text="{[{'SELECT_FILE' | translate:userData}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadEditAttachment(event.fpfile);" />

                <div>  
                    <img ng-show="edit_requestabsence.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                    <img ng-show="edit_requestabsence.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit_requestabsence.attachments.path }]}" width='100px;' maxHeight='auto' > 
                    <a ng-show="edit_requestabsence.attachments.path" class="icon_attach ng-scope" ng-click="edit_requestabsence.attachments= null" >
                        <span>
                            <i class="fa fa-trash-o fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit_requestabsence.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit_requestabsence.attachments.path}]}" data-lightbox="example-1">
                        <span>
                            <i class="fa fa-eye fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit_requestabsence.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit_requestabsence.attachments.path}]}">
                        <span>
                            <i class="fa fa-eye fa-2"></i>
                        </span>
                    </a>
                    <a ng-show="edit_requestabsence.attachments.path" class="icon_attach ng-scope" href="{[{edit_requestabsence.attachments.path}]}" download>
                        <span>
                            <i class="fa fa-download fa-2"></i>
                        </span>
                    </a>
                </div>                            
            </span>
        </div>
    </div>  
    <style>
        .btn-file {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
    </style>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button type="submit" ng-click="form_edit_requestabsence.$valid && putrequestabsence('valider')" id="EditValiderAbsence" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="submit" ng-click="form_edit_requestabsence.$valid && putrequestabsence('sauvegarder')" id="EditSauvegarderAbsence" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-click="close()" ng-disabled="IsDisabled"> {[{'CANCEL' | translate:userData}]}</button>  
    </div>
</div>    
{{ form_end(edit_form, {'render_rest': false}) }}   