{% import "Actions/SecondaryActions/Absenceactions.html.twig" as action %}
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_HOLDAYS'|translate}]}</h2>
    </div>
    <!-- Split button   -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
            <div class="btn-group">
                <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#NewAbsenceRequest'
                        id="NewAbsenceRequestBtn" name="NewAbsenceRequestBtn">{[{'BUTTON_NEW'
                    |
                    translate}]}
                </button>
            </div>
            {% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}
            {{ globalaction.global() }}
    </div>
</div>
<input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.getEmpData().getId() }}">
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" id="search-input"
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

             <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchA" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE'
                            | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.username)"
                                ng-class="{'active': contributorSearch == collaborateur.username}"><i
                                        class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <div class="box_filter n2">
                <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_filter_statut">
                    {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

               <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByStatus('All')" id="all"
                        ng-class="{'active': statutSearch == ''}"><a href="javascript:void(0)" id="btn_filter_status_all"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' |
                            translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')" 
                        ng-class="{'active': statutSearch == 'En attente de validation'}"><a href="javascript:void(0)" id="btn_filter_status_waiting"><i
                                class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Validé')" id="valide"
                        ng-class="{'active': statutSearch == 'Validé'}"><a href="javascript:void(0)" id="btn_filter_status_valid"><i class="glyphicon glyphicon-ok"></i>{[{'VALID'
                            | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')" id="brouillon"
                        ng-class="{'active': statutSearch == 'Brouillon'}"><a href="javascript:void(0)" id="btn_filter_status_draft"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT'
                            | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Refuse')" id="refuse"
                        ng-class="{'active': statutSearch == 'Refuse'}"><a href="javascript:void(0)" id="btn_filter_status_rejected"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED'
                            | translate}]}</a>
                    </li>
                </ul>
            </div>
            <div class="box_filter n2 not_bordered" >                
                <div style="position:relative;">
                    <button class="btn tri_up_down" ng-click="toggleCustom()">
                        <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                                class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListDateA" class="drop-menu" ng-hide="custom">
                        <div class="tri_dates">
                            <div class="element1" style="display:inline-block;">
                                <div>
                                    <input ng-model='dateAbsenceSearch'
                                           class="form-control date-picker-from-month"
                                           id="date-picker-from-date-absence" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByAbsenceDatePicker('All')"
                                ng-class="{'active': dateAbsenceSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES'
                                | translate}]}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box_filter n3">
                <button class="btn tri" ng-click="toggleUp2();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up2"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up2"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[{'FILT_TYPE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByAbsenceType('All')"
                        ng-class="{'active': absenceTypeSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'FILTER_BY_TYPE'
                        | translate}]}
                    </li>
                    <span ng-repeat="(key,absencetype) in AbsencesTypesArrayValues">
                        <li class="separator_item"></li>
                        <li class="mdl-menu__item" ng-click="filterByAbsenceType(absencetype)"
                            ng-class="{'active': absenceTypeSearch == absencetype}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{absencetype}]}</li>
                    </span>
                </ul>
            </div>
            <div class="box_filter n4">
                <button type="button" class="btn view_calendar icon_big" data-toggle="modal"
                        data-target='#calendarAbsenceRequest' ng-click="showcalendar()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i
                            class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i
                            class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 badge_option_grid">
    <div class="badge_option">
        <div class="tabs-bar-content">
            <nav class="tabs-bar test_bar">
                <div class="tabs-list-container">
                    <ul class="tabs-list nav nav-tabs droptabs">
                        <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                               ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                               data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                               ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                        class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                               ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                               ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                        data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                               ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                        </li>
                        
                        <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                
                                </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="space_div"></div>
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}
    <table class="table table-striped" ng-hide="loading" id="table-absence">
        <thead>
        <tr>
            <th></th>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>{[{'REQUEST_DATE' | translate}]}</th>
            <th>{[{'TYPE_ALIAS' | translate}]}</th>
            <th class="hideCol">{[{'STARTDATE' | translate}]}</th>
            <th class="hideCol">{[{'ENDDATE' | translate}]}</th>
            <th >{[{'PERIOD' | translate}]}</th>
            <th >{[{'NDAYS' | translate}]}</th>
            <th>{[{'STATUS' | translate}]}</th>
            <th class="hideCol">{[{'JUSTIF' | translate}]}</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, task) in data = (filterList | filter: {startdate_month:dateAbsenceSearch||undefined,status:{display_name:statutSearch|| undefined} ,absencetype:{type:absenceTypeSearch|| undefined},employee:{user:{username:contributorSearch|| undefined}} }: true)| orderBy:'status.display_name':up1| orderBy:'absencetype.type':up2 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <tr>
            {{ globalaction.checkbox("{[{task.id}]}",'remove_Absence','{[{task.settings_pay_period.status}]}',preference.empData.user.roles[0],'{[{task.status.display_name}]}',preference.empData.id) }}

            {#<td>#}
                {#<div class="checkbox"><label><input type="checkbox" name="{[{task.id}]}" id="Absence"#}
                                                    {#data-period="{[{task.settings_pay_period.status}]}"#}
                                                    {#data-role="{[{task.employee.roles[0]}]}"#}
                                                    {#data-statut="{[{task.status.id}]}"#}
                                                    {#data-user="{[{app.id==task.createuid.id}]}"/></label></div>#}
            {#</td>#}
            {#                <td>{[{task.employee.user.username}]}</td>#}
            <td>
                <span ng-if="task.employee.user.first_name!=NULL || task.employee.user.first_name!=''">{[{task.employee.user.first_name}]} {[{task.employee.user.last_name}]}</span>
                <span ng-if="task.employee.user.first_name==NULL || task.employee.user.first_name==''">{[{task.employee.user.username}]}</span>
            </td>
            <td>{[{task.requestdate| date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.absencetype.type}]}</td>
            {#                <td>{[{task.startdate| date:'dd/MM/yyyy'}]}</td>#}
            <td class="hideCol">{[{task.startdate}]}</td>
            <td class="hideCol">{[{task.enddate| date:'dd/MM/yyyy'}]}</td>
            <td>{[{task.startdate_month}]}</td>
            <td>{[{task.numberdays|number:2}]}</td>
            <td ng-if="task.status.id=='1'" class="attente_stat">
                <p>
                   {[{'WAITING' | translate}]}
                </p>
            </td>
            <td ng-if="task.status.id=='2'" class="valide_stat">
                <p>
                   {[{'VALID' | translate}]}
                </p>
            </td>
            <td ng-if="task.status.id=='3'" class="refuse_stat">
                <p>
                    {[{'REJECTED' | translate}]}
                </p>
            </td>
            <td ng-if="task.status.id=='4'" class="brouillon_stat">
                <p>
                    {[{'DRAFT' | translate}]}
                </p>
            </td>
            </td>
            <td class="hideCol">
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   data-lightbox="example-1">
                    <span class="glyphicon glyphicon-paperclip text-muted"></span>

                </a>
                <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                   download>
                    <span class="glyphicon glyphicon-download text-muted"></span>
                </a>
            </td>
            <td class="btns_actions_table">
                {{ action.absencesecondary('confirm_Absence','cancel_Absence','remove_Absence') }}
            </td>
        </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{data.length}]}
        {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
</div>

<div class="col-sm-12 card_grid" ng-hide="showTable">
    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat="(key, task) in data = (filterList | filter: {startdate_month:dateAbsenceSearch||undefined,status:{display_name:statutSearch|| undefined} ,absencetype:{type:absenceTypeSearch|| undefined},employee:{username:contributorSearch|| undefined} }: true)| orderBy:'status.display_name':up1| orderBy:'absencetype.type':up2 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <div class="card bordered">
            <div class="card-header">
                {#                <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{task.employee.user.username}]}</h2>#}
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">
                    <span ng-show="task.employee.user.first_name!=NULL || task.employee.user.first_name!=''">{[{task.employee.user.first_name}]} {[{task.employee.user.last_name}]}</span>
                    <span ng-show="task.employee.user.first_name==NULL || task.employee.user.first_name==''">{[{task.employee.user.username}]}</span>
                </h2>
                <span>{[{task.requestdate}]}</span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">
                        <p ng-if="task.status.display_name=='En attente de validation'" class="attente_stat">
                            {#{[{task.status.display_name}]} #}
                            {[{'WAITING' | translate}]}
                        </p>
                        <p ng-if="task.status.display_name=='Brouillon'" class="brouillon_stat">
                            {[{'DRAFT' | translate}]}
                        </p>
                        <p ng-if="task.status.display_name=='Validé'" class="valide_stat">
                            {[{'VALID' | translate}]}
                        </p>
                        <p ng-if="task.status.display_name=='Refuse'" class="refuse_stat">
                            {[{'REJECTED' | translate}]}
                        </p>
                    </h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p>
                    {[{task.startdate| date:'dd/MM/yyyy'}]}
                </p>
                <p>
                    {[{task.enddate| date:'dd/MM/yyyy'}]}
                </p>
            </div>
            <div class="card__supporting-text">
                <h5></h5>
                <h5 class="no-m-t mdl-color-text--grey-700">{[{task.numberdays}]} Jour(s)</h5>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">
                    <div class="mdl-card__menu">
                        {{ action.absencesecondary('confirm_Absence','cancel_Absence','remove_Absence') }}
                    </div>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       data-lightbox="example-1">
                        <span class="glyphicon glyphicon-paperclip text-muted"></span>
                    </a>
                    <a ng-hide="task.attachments.path==null" class="example-image" ng-href="{[{task.attachments.path}]}"
                       download>
                        <span class="glyphicon glyphicon-download text-muted"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'requestabsence/show.html.twig' %}
<div id="NewAbsenceRequest" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_NEW_HOLIDAY' | translate}]}

                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            {{ render(controller('requestAbsenceBundle:requestAbsence:newAbsence')) }}
        </div>
    </div>
</div>
<div id="EditAbsenceRequest" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'EDIT_ABSENCE' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

            </div>
            {{ render(controller('requestAbsenceBundle:requestAbsence:editmodal')) }}
        </div>
    </div>
</div>

<div id="calendarAbsenceRequest" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'CALENDAR' | translate:userData}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body">
                <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"
                     style="margin: 20px;"></div>
            </div>
        </div>
    </div>
</div>
