{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'ng-submit':'saverequestabsence()', 'class': 'form-horizontal' ,'role':'form', 'id':'myform' } }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
    <div class="form-group">
        {{ form_label(form.employee, "{[{'COLLABORATER' | translate:userData}]}") }}
        {{ form_errors(form.employee) }}
        <div class="col-sm-8">
            {{ form_widget(form.employee, { 'attr': {'type-suggestions':'', 'datasource':'["SELECT_COLLA","'~preference.EmpData.id~'"]','class': 'form-control', 'ng-model': 'requestabsence.employee','ng-init':"requestabsence.employee='"~preference.EmpData.id~"'"} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.requestdate, "{[{'REQUEST_DATE' | translate:userData}]}") }}
        {{ form_errors(form.requestdate) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.requestdate, {'attr': {'type':'date','class': 'form-control datepicker_requestdate', 'ng-model':'requestdate','data-date-format' : 'MM/DD/YYYY', 'ng-model': 'requestabsence.requestdate','ng-init':'currentDate()'} } ) }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.manager, "{[{'VALIDATOR' | translate:userData}]}") }}
        {{ form_errors(form.manager) }}
        <div class="col-sm-8">
            {{ form_widget(form.manager, { 'attr': {'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR",null]','class': 'form-control', 'ng-model': 'requestabsence.manager' } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.requester, "{[{'REQUESTER' | translate:userData}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requesters, { 'attr': {'class': 'form-control', 'ng-model': 'requestabsence.requester','ng-init':"requestabsence.requester='"~preference.EmpData.user.firstname ~" "~ preference.EmpData.user.lastname~"'"} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.absencetype, "{[{'TYPE_REQUEST' | translate:userData}]}") }}
        {{ form_errors(form.absencetype) }}
        <div class="col-sm-8">
            {{ form_widget(form.absencetype, { 'attr': {'type-suggestions':'', 'datasource':'[]','ng-change':'getnbjoursdisponible()','class': 'form-control', 'ng-model': 'requestabsence.absencetype'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.startdate, "{[{'STARTDATE' | translate:userData}]}") }}
        {{ form_errors(form.startdate) }}
        <div class="col-sm-8">
            <div class="input-group">
                <span class="block input-icon input-icon-right">
                    {{ form_widget(form.startdate, {'id':'new_startdate','attr': { 'ng-model': 'requestabsence.startdate','type':'date','class': 'form-control new_startdate date-timepicker1' } } ) }}
{#                <div class="form-control new_startdate date-timepicker1" name="date-timepicker1" id="date-timepicker1"></div>#}
                </span>
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.enddate, "{[{'ENDDATE' | translate:userData}]}") }}
        {{ form_errors(form.enddate) }}
        <div class="col-sm-8">
            <div class="input-group">
                <span class="block input-icon input-icon-right">
                    {{ form_widget(form.enddate, {'id':'new_enddate','attr': {'ng-model': 'requestabsence.enddate','type':'date','class': 'form-control new_enddate date-timepicker1', 'oninput':"check(this)" } } ) }}
{#                <div class="form-control new_startdate date-timepicker1" name="date-timepicker1" id="date-timepicker1"></div>#}
                </span>
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.numberdays, "{[{'NDAYS' | translate:userData}]}") }}
        {{ form_errors(form.numberdays) }}
        <div class="col-sm-8">
            <span class="block input-icon input-icon-right">
                {{ form_widget(form.numberdays, { 'attr': {'class': 'form-control','min':'0','ng-model': 'requestabsence.numberdays','ng-init':'20','preference':''~preference.format~''} }) }}
            </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.notes, "{[{'COMMENTS' | translate:userData}]}") }}
        {{ form_errors(form.notes) }}
        <div class="col-sm-8"><span class="block input-icon input-icon-right">
                {{ form_widget(form.notes, { 'attr': {'class': 'form-control', 'rows':'5', 'ng-model': 'requestabsence.notes'} }) }}
            </span>
        </div>
    </div>
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right  required"
               for="requestabsencebundle_requestabsence_absencetype">{[{'ATTACHMENT' | translate:userData}]}
        </label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="requestabsence.attachments" data-fp-multiple="false"
                       class=" btn-success btn btn-file action" type="filepicker"
                       data-fp-button-text="{[{'SELECT_FILE' | translate:userData}]}" data-fp-button-class=""
                       data-fp-hide="false" hideWhenUploading="true" data-fp-container="window"/>
                <div>
                    <img ng-show="requestabsence.attachments.length > 0" ng-src={[{requestabsence.attachments}]}
                         width='150px;' maxHeight='auto' {#ng-show="requestabsence.attachments != null"#} >
                    <a ng-show="requestabsence.attachments.length > 0" class="del_attach red ng-scope"
                       ng-click="requestabsence.attachments= ''">
                        <span>
                            <i class="fa fa-trash-o fa-2"></i>
                        </span>
                    </a>
                </div>
            </span>
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="createother" id="checkAbsenceRequest" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit" ng-disabled="IsDisabled" id="ValiderAbsence" >
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button ng-disabled="IsDisabled" type="submit" class="btn btn-sm btn-success action" id="SauvegarderAbsence" >
            {[{'SAVE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close" ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}