<div id="AbsenceShow" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" id="btn_return_requestabsence" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">{[{'DETAILS_ABSENCE' | translate}]} </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body form-horizontal show_form">
                <!-- start commun-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COLLABORATER' | translate}]}
                    </label>
                    <div class="col-sm-8 ">
                        <p class="form-control">




                            <span ng-if="edit.employee.user.first_name!=NULL || edit.employee.user.first_name!=''">{[{edit.employee.user.first_name}]} {[{edit.employee.user.last_name}]}</span>
                            <span ng-if="edit.employee.user.first_name==NULL || edit.employee.user.first_name==''">{[{edit.employee.user.username}]}</span>


                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'REQUEST_DATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.requestdate| date:'dd/MM/yyyy'}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'VALIDATOR' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">
                            <span ng-if="edit.manager.user.first_name!=NULL || edit.manager.user.first_name!=''">{[{edit.manager.user.first_name}]} {[{edit.manager.user.last_name}]}</span>
                            <span ng-if="edit.manager.user.first_name==NULL || edit.manager.user.first_name==''">{[{edit.manager.user.username}]}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'REQUESTER' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">
                            <span ng-if="edit.requester.user.first_name!=NULL || edit.requester.user.first_name!=''">{[{edit.requester.user.first_name}]} {[{edit.requester.user.last_name}]}</span>
                            <span ng-if="edit.requester.user.first_name==NULL || edit.requester.user.first_name==''">{[{edit.requester.user.username}]}</span>
                          </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'TYPE_ALIAS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.absencetype.type}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'STARTDATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.startdate| date:'dd/MM/yyyy HH:mm'}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'ENDDATE' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.enddate| date:'dd/MM/yyyy HH:mm'}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'NDAYS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.numberdays|number:2}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'STATUS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.status.display_name}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'COMMENTS' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <p class="form-control">{[{edit.notes}]}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {[{'ATTACHMENT' | translate}]}
                    </label>
                    <div class="col-sm-8">
                        <span class="block_attach">
                            <div>  
                                <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >      
                                <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                    <span>
                                        <i class="fa fa-eye fa-2"></i>
                                    </span>
                                </a>
                                <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                    <span>
                                        <i class="fa fa-eye fa-2"></i>
                                    </span>
                                </a>
                                <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                    <span>
                                        <i class="fa fa-download fa-2"></i>
                                    </span>
                                </a>
                            </div>                                       
                        </span>                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
