<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_settingmodeltax','name':'form_edit_settingmodeltax' ,'role':'form'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
       <div class="form-group">
           {{ form_label(form.display_name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
           <div class="col-sm-5">
               <div class="input-grpppoup">
               {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settinglmodeltax.display_name' } } ) }}
                 </div>
           </div>
       </div>
       <div class="form-group">
           {{ form_label(form.tax, "TVA ", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
           <div class="col-sm-5">
               <div class="input-grpppoup multiple_select">
               {{ form_widget(form.tax, {'attr': { 'class':'select-multiple-modal-tva-edit','ng-model':'edit_settinglmodeltax.tax', 'ng-init':'SettingsTaxList()',
                                            'ng-options': 'SettingsTax.id as SettingsTax.rate + "%" for SettingsTax in SettingsTaxList' } } ) }}
                 </div>
           </div>
{#                 <code>
                 {[{edit_settinglmodeltax.tax[0].rate}]}
                 </code>#}
       </div>
                 
       <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
           <div class="col-sm-5">
               {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settinglmodeltax.description'} } ) }}
           </div>
       </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="update()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>

    {{ form_end(form) }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.select-multiple-modal-tva-edit').select2({tags: true,multiple: true});
    });
</script>