<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<style>
    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 0;
        box-shadow: inset 0 -1px 0 #ddd;
        border-radius: 0;
    }
    .select2-container {
        width:100% !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        line-height: inherit;
        position: inherit;
        background-color: #ffffff;
        border: 1px solid #ddd;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        position: relative;
        top: 2px;
        left: 0;
        font-size: 21px;
        line-height: 1;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 0;
        box-shadow: inset 0 -1px 0 #ddd;
    }
    span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus .selection span.select2-selection.select2-selection--multiple{
        box-shadow: inset 0 -1px 0 #f57c00 !important;
    }
</style>
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_new_settingtaxmodel','name':'form_new_settingtaxmodel' ,'role':'form'} }) }}
{#{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form', 'ng-submit':'save()'}}) }}#}
<div class="space_div without_border"></div>
<div class="modal-body">
    <div class="form-group">
        {{ form_label(form.display_name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'new_settingmodeltax.display_name'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tax, "TVA ", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup multiple_select">
                {{ form_widget(form.tax, {'attr': { 'class':'select-multiple-modal-tva-new','ng-model':'new_settingmodeltax.tax', 'ng-init':'SettingsTaxList()',
                                            'ng-options': 'SettingsTax.id as SettingsTax.rate + "%" for SettingsTax in SettingsTaxList' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_settingmodeltax.description'} } ) }}
        </div>
    </div>
    {#        <div class="form-group">
                {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                <div class="col-sm-5">
                    <select class="js-example-basic-multiple" multiple="multiple">
                        <option value="AL">Alabama</option>
                        <option value="TN">Tunisie</option>
                        <option value="EG">Egypt</option>
    
                        <option value="WY">Wyoming</option>
                      </select>
                </div>
            </div>#}
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="createother" id="checkModelTaxSetting" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="save()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function () {
        $('.select-multiple-modal-tva-new').select2();
    });
</script>