<div id="Edit" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'MODIFY_EXPENSE_TYPE' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- End condition  -->
            </div>

            <span ng-show="detail.type=='Transport'">
                {{ render(controller('AdminBundle:hrm_settings_exp_transport:edit')) }}
            </span>
            <span ng-show="detail.type=='Hebergement'">
                {{ render(controller('AdminBundle:hrm_settings_exp_accommodation:edit')) }}
            </span>


            <span ng-show="detail.type=='Restauration'">
                {{ render(controller('AdminBundle:hrm_settings_exp_dinning:edit')) }}
            </span>
            <span ng-show="detail.type=='Autres'">
                {{ render(controller('AdminBundle:hrm_settings_exp_other:edit')) }}
            </span>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
