<div id="New" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">
                    {[{'ADD_NEW_EXPENSE_TYPE' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close"
                        style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

                <!-- End condition  -->

            </div>


            {{ render(controller('AdminBundle:hrm_settings_exp_accommodation:new')) }}
            {{ render(controller('AdminBundle:hrm_settings_exp_transport:new')) }}
            {#{{ render(controller('AdminBundle:hrm_settings_exp_ik:new')) }}#}
            {{ render(controller('AdminBundle:hrm_settings_exp_dinning:new')) }}
            {{ render(controller('AdminBundle:hrm_settings_exp_other:new')) }}


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>

</style>
