{{ form_start(formjobApplicant, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_job_applicant','name':'form_edit_job_applicant' ,'role':'form', 'ng-submit':'saveNDValidate("APPLICANT")'} }) }}
<div class="space_div without_border"></div>
<div class="">
    <span data-ng-repeat="(key,field) in edit_job_applicant.jobApplicationStudy">
        <div class="form-group tri_add_del_options">
            <label class="col-sm-3 control-label no-padding-right  ng-binding appear_el appear_{[{key+1}]}" for="EDUCATION">{[{'EDUCATION' | translate}]}</label>  
            <div class="col-sm-8 no-padding" ng-model="edit_job_applicant.jobApplicationStudy.checked" ng-click="getChecked(key,'EDITS')" ng-class="{'selected': edit_job_applicant.jobApplicationStudy.checked==key}">
                <div class="col-sm-4">
                    {{ form_widget(formjobApplicant.jobApplicationStudy.studyTypeId, {'attr': {'type-suggestions':'', 'datasource':'["EDUCATION"]',  'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationStudy[$index].studyTypeId', 'ng-change':'change("edit_job_applicant.jobApplicationStudy")'} } ) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(formjobApplicant.jobApplicationStudy.studyLevelId, {'attr': {'type-suggestions':'', 'datasource':'["EDUCATION"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationStudy[$index].studyLevelId', 'ng-change':'change("edit_job_applicant.jobApplicationStudy")' } } ) }}
                </div>
                <div class="col-sm-4">
                    {{ form_widget(formjobApplicant.jobApplicationStudy.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationStudy[$index].name','placeholder':"Nom de l'etablissement", 'ng-change':'change("edit_job_applicant.jobApplicationStudy")'} } ) }}
                </div>
            </div>  
        </div>
    </span>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
            <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit_job_applicant.jobApplicationStudy)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>  {[{'ADD' | translate:userData}]}</a>
            <span ng-show="edit_job_applicant.jobApplicationStudy.length>1">
                <a ng-show="IsEmptyObject(edit_job_applicant.jobApplicationStudy.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-disabled="IsEmptyObject(edit_job_applicant.jobApplicationStudy.checked)"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
                <a ng-hide="IsEmptyObject(edit_job_applicant.jobApplicationStudy.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-click="removeChoice(edit_job_applicant.jobApplicationStudy,edit_job_applicant.jobApplicationStudy,edit_job_applicant.jobApplicationStudy.checked,'New')"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
            </span>
            <span ng-show="edit_job_applicant.jobApplicationStudy.length>1">
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="up(edit_job_applicant.jobApplicationStudy.checked,edit_job_applicant.jobApplicationStudy)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="down(edit_job_applicant.jobApplicationStudy.checked,edit_job_applicant.jobApplicationStudy,edit_job_applicant.jobApplicationStudy.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formjobApplicant.ApplicantStudySup, "{[{'STUDYSUP' | translate}]}") }}
        <div class="col-sm-5 checkbox with_label">
            <label>
                {{ form_widget(formjobApplicant.ApplicantStudySup, {'attr': {'ng-model':'edit_job_applicant.ApplicantStudySup','ng-init':'edit_job_applicant.ApplicantStudySup = 0' , 'class':'new-item ace input-lg','name':'form-field-checkbox' } } ) }}
            </label>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formjobApplicant.ApplicantStudyComment, "{[{'COMMENTS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(formjobApplicant.ApplicantStudyComment, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_applicant.ApplicantStudyComment' } } ) }}
            </div>
        </div>
    </div>    
    <div class="form-group">
        {{ form_label(formjobApplicant.applicantProfessionalExperience, "{[{'EXPERIENCE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(formjobApplicant.applicantProfessionalExperience, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_applicant.applicantProfessionalExperience' } } ) }}
            </div>
        </div>
    </div>
    <span data-ng-repeat="(key,field) in edit_job_applicant.jobApplicationCompany">
        <div class="form-group tri_add_del_options">
            <label class="col-sm-3 control-label no-padding-right  ng-binding appear_el appear_{[{key+1}]}" for="JOB_SECTOR">{[{'JOB_SECTOR' | translate}]} </label>  
            <div class="col-sm-8 no-padding" ng-model="edit_job_applicant.jobApplicationCompany.checked" ng-click="getChecked(key,'EDITC')" ng-class="{'selected': edit_job_applicant.jobApplicationCompany.checked==key}">
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.jobApplicationCompany.jobId, {'attr': {'type-suggestions':'', 'datasource':'["JOB_SECTOR",null]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationCompany[$index].jobId', 'ng-change':'change("edit_job_applicant.jobApplicationCompany")' } } ) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.jobApplicationCompany.industrysectorId, {'attr': {'type-suggestions':'', 'datasource':'["JOB_SECTOR",null]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationCompany[$index].industrysectorId', 'ng-change':'change("edit_job_applicant.jobApplicationCompany")' } } ) }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.jobApplicationCompany.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationCompany[$index].name','placeholder':"Nom de l'etablissement", 'ng-change':'change("edit_job_applicant.jobApplicationCompany")' } } ) }}
                    </div>
                </div>
            </div>  
        </div>
    </span>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
            <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit_job_applicant.jobApplicationCompany)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>  {[{'ADD' | translate:userData}]}</a>
            <span ng-show="edit_job_applicant.jobApplicationCompany.length>1">
                <a ng-show="IsEmptyObject(edit_job_applicant.jobApplicationCompany.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-disabled="IsEmptyObject(edit_job_applicant.jobApplicationCompany.checked)"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
                <a ng-hide="IsEmptyObject(edit_job_applicant.jobApplicationCompany.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-click="removeChoice(edit_job_applicant.jobApplicationCompany,edit_job_applicant.jobApplicationCompany,edit_job_applicant.jobApplicationCompany.checked,'New')"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
            </span>
            <span ng-show="edit_job_applicant.jobApplicationCompany.length>1">
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="up(edit_job_applicant.jobApplicationCompany.checked,edit_job_applicant.jobApplicationCompany)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>

                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="down(edit_job_applicant.jobApplicationCompany.checked,edit_job_applicant.jobApplicationCompany,edit_job_applicant.jobApplicationCompany.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
    <span data-ng-repeat="(key,field) in edit_job_applicant.jobApplicationLanguage">
        <div class="form-group tri_add_del_options">
            {{ form_label(formjobApplicant.language_id, "{[{'LANGUES' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right  appear_el appear_{[{key+1}]}'} }) }}
            <div class="col-sm-8 no-padding" ng-model="edit_job_applicant.jobApplicationLanguage.checked" ng-click="getChecked(key,'EDITL')" ng-class="{'selected': edit_job_applicant.jobApplicationLanguage.checked==key}">
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.language_id, {'attr': {'type-suggestions':'', 'datasource':'["EDUCATION",null]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationLanguage[$index].languageId ', 'ng-change':'change("edit_job_applicant.jobApplicationLanguage")' } } ) }}
                    </div>
                </div>            
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.language_level_id, {'attr': {'type-suggestions':'', 'datasource':'["EDUCATION",null]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationLanguage[$index].languageLevelId', 'ng-change':'change("edit_job_applicant.jobApplicationLanguage")' } } ) }}
                    </div>
                </div>
            </div>  
        </div>
    </span>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
            <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit_job_applicant.jobApplicationLanguage)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>  {[{'ADD' | translate:userData}]}</a>
            <span ng-show="edit_job_applicant.jobApplicationLanguage.length>1">
                <a ng-show="IsEmptyObject(edit_job_applicant.jobApplicationLanguage.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-disabled="IsEmptyObject(edit_job_applicant.jobApplicationLanguage.checked)"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
                <a ng-hide="IsEmptyObject(edit_job_applicant.jobApplicationLanguage.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-click="removeChoice(edit_job_applicant.jobApplicationLanguage,edit_job_applicant.jobApplicationLanguage,edit_job_applicant.jobApplicationLanguage.checked,'New')"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i> 
                    {[{'DELETE' | translate:userData}]}
                </a>
            </span>
            <span ng-show="edit_job_applicant.jobApplicationLanguage.length>1">
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="up(edit_job_applicant.jobApplicationLanguage.checked,edit_job_applicant.jobApplicationLanguage)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="down(edit_job_applicant.jobApplicationLanguage.checked,edit_job_applicant.jobApplicationLanguage,edit_job_applicant.jobApplicationLanguage.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
    <span data-ng-repeat="(key,field) in edit_job_applicant.jobApplicationTechnology">
        <div class="form-group tri_add_del_options">
            <label class="col-sm-3 control-label no-padding-right  ng-binding appear_el appear_{[{key+1}]}" for="COMPUTER">{[{'COMPUTER' | translate}]}</label>  
            <div class="col-sm-8 no-padding" ng-model="edit_job_applicant.jobApplicationTechnology.checked" ng-click="getChecked(key,'EDITT')" ng-class="{'selected': edit_job_applicant.jobApplicationTechnology.checked==key}">
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.technologyId, {'attr': {'type-suggestions':'', 'datasource':'["COMPUTER"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationTechnology[$index].technologyId', 'ng-change':'change("edit_job_applicant.jobApplicationTechnology")' } } ) }}
                    </div>
                </div>            
                <div class="col-sm-4">
                    <div class="input-grpppoup">
                        {{ form_widget(formjobApplicant.technologyLevelId, {'attr': {'type-suggestions':'', 'datasource':'["COMPUTER"]', 'class': 'form-control css-datasource', 'ng-validation':'', 'ng-model':'edit_job_applicant.jobApplicationTechnology[$index].technologyLevelId', 'ng-change':'change("edit_job_applicant.jobApplicationTechnology")' } } ) }}
                    </div>
                </div>
            </div>  
        </div>
    </span>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
            <a class="btn btn-sm btn-success action plus_del" id="addNewJobSector" ng-click="addNewChoice(edit_job_applicant.jobApplicationTechnology)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>  {[{'ADD' | translate:userData}]}</a>
            <span ng-show="edit_job_applicant.jobApplicationTechnology.length>1">
                <a ng-show="IsEmptyObject(edit_job_applicant.jobApplicationTechnology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-disabled="IsEmptyObject(edit_job_applicant.jobApplicationTechnology.checked)">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i> {[{'DELETE' | translate:userData}]}</a>
                <a ng-hide="IsEmptyObject(edit_job_applicant.jobApplicationTechnology.checked)" class="btn btn-sm btn-danger action plus_del" id="addNewJobSector" 
                   ng-click="removeChoice(edit_job_applicant.jobApplicationTechnology,edit_job_applicant.jobApplicationTechnology,edit_job_applicant.jobApplicationTechnology.checked,'New')"
                   ><i class="fa fa-minus-circle" aria-hidden="true"></i>   {[{'DELETE' | translate:userData}]}  </a>
            </span>
            <span ng-show="edit_job_applicant.jobApplicationTechnology.length>1">
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="up(edit_job_applicant.jobApplicationTechnology.checked,edit_job_applicant.jobApplicationTechnology)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-danger action plus_del sort" id="addNewJobSector"
                   ng-click="down(edit_job_applicant.jobApplicationTechnology.checked,edit_job_applicant.jobApplicationTechnology,edit_job_applicant.jobApplicationTechnology.length)"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </span>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formjobApplicant.applicantOthersCompetenciesTags, "{[{'OTHER_SKILLS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                <tags-input useStrings = "true" placeholder="{[{'ADD_SKILL' | translate}]}" ng-model="edit_job_applicant.applicantOthersCompetenciesTags" add-on-paste="true">
                    <auto-complete   min-length="0" source="loadTags($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formjobApplicant.ApplicantExperienceComment, "{[{'COMMENTS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}
        <div class="col-sm-8">
            <div class="input-grpppoup">
                {{ form_widget(formjobApplicant.ApplicantExperienceComment, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_job_applicant.ApplicantExperienceComment' } } ) }}
            </div>
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button ng-click="update_continue_save_applicant()" class="btn btn-sm  btn-success action" id="EditSaveApplicant" type="submit" ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button ng-click="update_continue_validate_applicant()" type="submit" id="EditValidateApplicant" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(formjobApplicant, {'render_rest': false}) }}