<div class="form-group" >
    <div class="form-group" >
        <label class="col-sm-3 control-label">{[{ 'EDUCATION' | translate }]}</label>  
        <div class="col-sm-8" >
            <p class="form-control" data-ng-repeat="study in show.jobApplicationStudy">{[{ study.studyTypeId.display_name }]} {[{ study.studyLevelId.display_name }]} {[{ study.name }]}<br ng-if="show.jobApplicationStudy>1"></p>
        </div>
    </div>  
    <div class="form-group">
        <label class="col-sm-3 control-label">{[{'STUDYSUP' | translate }]}</label>  
        <div class="col-sm-8">
            <p class="form-control">
                <span ng-if="show.applicantStudySup == true">{[{'ALIAS_TRUE' | translate }]}</span>
                <span ng-if="show.applicantStudySup == false">{[{'ALIAS_FALSE' | translate }]} </span>
            </p>
        </div>
    </div>  
    <div class="form-group">
        <label class="col-sm-3 control-label">{[{'COMMENTS' | translate }]}</label>  
        <div class="col-sm-8">
             <p class="form-control white-space-pre-line">{[{edit_job_description.applicantStudyComment}]}</p>
        </div>
    </div>    
    <div class="form-group">
        <label class="col-sm-3 control-label">{[{'EXPERIENCE' | translate }]}</label>  
        <div class="col-sm-8">
            <p class="form-control" ng-if="edit_job_description.applicantProfessionalExperience">{[{edit_job_description.applicantProfessionalExperience }]} an(s)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{[{'JOB_SECTOR' | translate}]} </label>  
        <div class="col-sm-8" >
            <p class="form-control" data-ng-repeat="company in show.jobApplicationCompany">{[{company.jobId.display_name }]} {[{company.industrysectorId.display_name }]} {[{company.name }]}<br></p>
        </div>     
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{[{'LANGUES' | translate}]}</label>
        <div class="col-sm-8 no-padding">
            <div class="col-sm-12" >
                <p class="form-control" data-ng-repeat="language in show.jobApplicationLanguage">{[{language.languageId.display_name }]} {[{language.languageLevelId.display_name }]}<br ng-if="show.jobApplicationLanguage"></p>
            </div>            
        </div>     
    </div>
    <div class="form-group" >
        <label class="col-sm-3 control-label"> {[{'COMPUTER' | translate }]}</label>  
        <div class="col-sm-8">
            <p class="form-control" data-ng-repeat="technology in show.jobApplicationTechnology">{[{technology.technologyId.display_name }]} {[{technology.technologyLevelId.display_name }]} <br ng-if="show.jobApplicationTechnology>1"</p>
        </div>     
    </div>
    <div class="form-group" >
        <label class="col-sm-3 control-label">{[{'OTHER_SKILLS' | translate}]}</label>  
        <div class="col-sm-8 no-padding">
            <div class="col-sm-12" >
                <p class="form-control" data-ng-repeat="competenciesTags in show.applicantOthersCompetenciesTags">{[{ competenciesTags.tag }]}<br ng-if="show.applicantOthersCompetenciesTags>1"</p>
            </div>
        </div>     
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">  {[{'COMMENTS' | translate }]}</label>
        <div class="col-sm-8">
            <p class="form-control white-space-pre-line">{[{ edit_job_description.applicantExperienceComment }]}</p>
        </div>
    </div>
</div>