<div id="ContratCollaborateur" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">
                    {[{'CONTRAT' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    {#                    <span aria-hidden="true">×</span>#}
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>                   
            </div>
            <div class="space_div without_border"></div>  
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role':'form', 'ng-submit':'update("api_EmployeeContract_update",editcontrat.id)', 'enctype': 'multipart/form-data'}}) }}
            <div class="modal-body navs">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12">
                                <li class="active" >
                                    <a data-toggle="tab" href="#formInfoModif" onclick="return false;">{[{'DETAILS' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#formAttachModif" onclick="return false;">{[{'ATTACHMENT' | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="formInfoModif" class="tab-pane in active"> 
                                    <fieldset><br>
                                        <div class="form-group">
                                            {{ form_label(form.contract_number, "{[{'REF_CONTRAT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contract_number, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.contract_number'} })}} 
                                            </div>
                                        </div>
                                        <div class="page-header">
                                            {#                    <h4>{{'Type de contrat'}} </h4>#}
                                            <h4>{[{'CONTRAT_TYPE' | translate}]} </h4>
                                        </div>         
                                        <div class="form-group">
                                            {{ form_label(form.empStatus, "{[{'STATUS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.empStatus, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.empStatus.id',
                    'ng-init':'StatusList()',                 
                    'ng-options': 'status.id as status.display_name for status in status'} })}} 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.contractType, "{[{'CONTRAT_NATURE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }} 
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contractType, {'attr': {'type-suggestions':'', 'datasource':'[]','class': 'form-control', 'ng-model':'editcontrat.contractType.id',
                        'ng-init':'ContractTypeList()', 'ng-options': 'typecontractt.id as typecontractt.display_name for typecontractt in typecontracts.typecontracts'} })}}                 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.contractCustomCondition, "{[{'CUSTOM_CONTRAT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.contractCustomCondition, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.contractCustomCondition'} })}} 
                                            </div>
                                        </div>                            
                                    </fieldset>   
                                    <fieldset>
                                        <div class="space_div"></div>    
                                        <div class="page-header">
                                            {#                    <h4>{{'Poste et Coefficient'}} </h4>#}
                                            <h4>{[{'POSITION_COEF' | translate}]} </h4>
                                        </div>                  
                                        <div class="form-group">
                                            {{ form_label(form.convention, "{[{'CONVENTION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }} 
                                            <div class="col-sm-8">
                                                {{ form_widget(form.convention, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.convention'} })}}                               
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            {{ form_label(form.salGrade, "{[{'POSITION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }} 
                                            <div class="col-sm-8">                    
                                                {{ form_widget(form.salGrade, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.salGrade'} })}} 
                                            </div>                               
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.salClassification, "{[{'CLASSIFICATION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.salClassification, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.salClassification'} })}} 
                                            </div>                
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.salEchelon, "{[{'COEF' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }} 
                                            <div class="col-sm-8">
                                                {{ form_widget(form.salEchelon, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.salEchelon'} })}} 
                                            </div>                         
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.salJobTitle, "{[{'POSITION_NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }} 
                                            <div class="col-sm-8">
                                                {{ form_widget(form.salJobTitle, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.salJobTitle'} })}} 
                                            </div>                         
                                        </div>  
                                    </fieldset>     
                                    <fieldset>
                                        <div class="space_div"></div>    
                                        <div class="page-header">
                                            {#                    <h4>{{'Détails du contrat'}} </h4>#}
                                            <h4>{[{'CONTRAT_DETAIL' | translate}]} </h4>
                                        </div>                                       
                                        <div class="form-group">
                                            {{ form_label(form.salJoinedDate, "{[{'CONTRAT_START_DATE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    {{ form_widget(form.salJoinedDate, {'attr': {'type':'date','class': 'form-control  datepicker salJoinedDate', 'data-date-format': 'DD/MM/YYYY', 'ng-model':'editcontrat.salSeniorityDate'} })}}                   
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.salSeniorityDate, "{[{'SENIORITY_DATE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}

                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    {{ form_widget(form.salSeniorityDate, {'attr': {'class': 'form-control  datepicker salSeniorityDate', 'data-date-format': 'DD/MM/YYYY', 'ng-model':'editcontrat.salSeniorityDate'} })}}                   
                                                    {#                                                    {{ form_widget(form.salSeniorityDate, {'attr': {'type':'date','class': 'form-control  datepicker salJoinedDate', 'data-date-format': 'DD/MM/YYYY', 'ng-model':'editcontrat.salSeniorityDate'} })}}                   #}

                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>     
                                        <div class="form-group"  ng-show="detail.contractType!='1'" class="ng-hide">
                                            {{ form_label(form.salLeftDate, "{[{'END_EMPLOYEMENT' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    {#                                                    {{ form_widget(form.salLeftDate, {'attr': {'class': 'form-control  datepicker', 'data-date-format': 'DD/MM/YYYY', 'ng-model':'editcontrat.salLeftDate'} })}} #}
                                                    {{ form_widget(form.salLeftDate, {'attr': {'type':'date','class': 'form-control  datepicker salLeftDate', 'data-date-format': 'DD/MM/YYYY', 'ng-model':'editcontrat.salLeftDate'} })}}                   

                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="space_div"></div>           
                                        <div class="page-header">
                                            {#                    <h4>{{'Base de rémunératoion'}} </h4>#}
                                            <h4>{[{'BASE_RENUM' | translate}]} </h4>
                                        </div>    
                                        <div class="form-group">
                                            {{ form_label(form.work_timetable, "{[{'WEEKLY_MONTHLY' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right long'} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.work_timetable, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.work_timetable'} })}} 
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                            {{ form_label(form.working_time, "{[{'WORKING_TIME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.working_time, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.working_time'} })}} 
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                            {{ form_label(form.gross_annual_base_salary, "{[{'GROSS_BASE_ANNUEL' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.gross_annual_base_salary, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.gross_annual_base_salary'} })}} 
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                            {{ form_label(form.nb_of_installments, "{[{'NUMBER_MONTHLY' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.nb_of_installments, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.nb_of_installments'} })}} 
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                            {{ form_label(form.fixed_rest_days_agreed, "{[{'FIXED_VACATION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right '} }) }}  
                                            <div class="col-sm-8">
                                                {{ form_widget(form.fixed_rest_days_agreed, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'editcontrat.fixed_rest_days_agreed'} })}} 
                                            </div>
                                        </div>     
                                        <div class="space_div"></div>    
                                        <div class="page-header">
                                            <h4>{[{'OTHER_INFOS' | translate}]} </h4>
                                        </div>    
                                        <div class="form-group">
                                            {{ form_label(form.insuranceContractRef1, "{[{'PENSION_REF' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right long'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.insuranceContractRef1, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.insuranceContractRef1'} })}} 
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            {{ form_label(form.insuranceContractRef2, "{[{'MUTUAL_HEALTH_REF' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.insuranceContractRef2, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.insuranceContractRef2'} })}} 
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            {{ form_label(form.notes, "{[{'COMMENTS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
                                            <div class="col-sm-8">
                                                {{ form_widget(form.notes, {'attr': {'class': 'form-control', 'ng-model':'editcontrat.notes'} })}} 
                                            </div>
                                        </div> 
                                        <!-- /*********************/  -->
                                        {#<div class="block_attach">
                                    <input ng-model="editcontrat.ribAttachments.path" type="filepicker-dragdrop" 
                                           hideWhenUploading="true" data-fp-button-text="or {[{'SELECT_FILE' | translate}]}" 
                                           data-fp-drag-text="<i class='fa fa-cloud-upload'></i>Drag files to attach"  
                                           data-fp-container="window" 
                                           onchange="editcontrat.ribAttachments.path = event.fpfile.url" 
                                           on-success="pickResults=event.fpfile" name="dragDrop" 
                                           disableThumbnails = "false" uploadInBackground = "false" />
                                    </div>#}
                                        {#<img ng-src={[{editcontrat.ribAttachments.path}]}  width='150px;' maxHeight='auto' ng-show="editcontrat.ribAttachments.path.length > 0" >
                                        <p ng-show="editcontrat.ribAttachments.path.length > 0" id="surname" style="margin:0 10px;"></p> #}                           
                                        <!-- /*********************/  -->
                                    </fieldset>          
                                    <div class="space_div btns_actions"></div>
                                    <div class="space_div without_border"></div>  
                                </div>
                                <div id="formAttachModif" class="tab-pane">
                                    <div class="space_div without_border"></div>  
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'ATTACHMENT' | translate}]}</h4>
                                    </div> 
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'CONTRACT_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right" >

                                                <input ng-model="editcontrat.contractAttachment.path" data-fp-multiple="false" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-services="COMPUTER, WEBCAM" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadcontractAttachment(event.fpfile);"/>
                                                <div>  
                                                    <img ng-show="editcontrat.contractAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.contractAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.contractAttachment.path }]}" width='100px;' maxHeight='auto' >  
                                                    <a ng-show="editcontrat.contractAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.contractAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.contractAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.contractAttachment.path}]}" data-lightbox="example-1">                
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.contractAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" ng-href="{[{editcontrat.contractAttachment.path}]}" >
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.contractAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.contractAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'IDENTIFICATION_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right">

                                                <input ng-model="editcontrat.identificationAttachment.path"  data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadidentificationAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.identificationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.identificationAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.identificationAttachment.path }]}" width='100px;' maxHeight='auto' > 
                                                    <a ng-show="editcontrat.identificationAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.identificationAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.identificationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.identificationAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.identificationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.identificationAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.identificationAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.identificationAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                        <!-- /*************************************************************************************************************/ -->     
                                    </div>
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'AUTORISATION_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right" >
                                                <input ng-model="editcontrat.autorsationAttachment.path" ng-change="TestautorsationAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadautorsationAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.autorsationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                                    <img ng-show="editcontrat.autorsationAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.autorsationAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                    <a ng-show="editcontrat.autorsationAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.autorsationAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.autorsationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.autorsationAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.autorsationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.autorsationAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.autorsationAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.autorsationAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'VITAL_CARD_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right">
                                                <input ng-model="editcontrat.vitalCardAttachment.path" ng-change="TestvitalCardAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadvitalCardAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.vitalCardAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                                    <img ng-show="editcontrat.vitalCardAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.vitalCardAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                    <a ng-show="editcontrat.vitalCardAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.vitalCardAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.vitalCardAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.vitalCardAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.vitalCardAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.vitalCardAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.vitalCardAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.vitalCardAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                        <!-- /*************************************************************************************************************/ -->     
                                    </div>
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'SINGLE_DECLARATION_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right" >
                                                <input ng-model="editcontrat.singleDeclarationAttachment.path" ng-change="TestsingleDeclarationAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadsingleDeclarationAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.singleDeclarationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.singleDeclarationAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.singleDeclarationAttachment.path }]}" width='100px;' maxHeight='auto' > 
                                                    <a ng-show="editcontrat.singleDeclarationAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.singleDeclarationAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.singleDeclarationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.singleDeclarationAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.singleDeclarationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.singleDeclarationAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.singleDeclarationAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.singleDeclarationAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'AFFILIATION_PENSION_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right">
                                                <input ng-model="editcontrat.affiliationPensionAttachment.path" ng-change="TestaffiliationPensionAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadaffiliationPensionAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.affiliationPensionAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                                    <img ng-show="editcontrat.affiliationPensionAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.affiliationPensionAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                    <a ng-show="editcontrat.affiliationPensionAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.affiliationPensionAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationPensionAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.affiliationPensionAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationPensionAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.affiliationPensionAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationPensionAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.affiliationPensionAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                        <!-- /*************************************************************************************************************/ -->     
                                    </div>
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'AFFILIATION_HEALTH_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right" >
                                                <input ng-model="editcontrat.affiliationHealthAttachment.path" ng-change="TestaffiliationHealthAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadaffiliationHealthAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.affiliationHealthAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.affiliationHealthAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.affiliationHealthAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                    <a ng-show="editcontrat.affiliationHealthAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.affiliationHealthAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationHealthAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.affiliationHealthAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationHealthAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.affiliationHealthAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a> 
                                                    <a ng-show="editcontrat.affiliationHealthAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.affiliationHealthAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                    </div> 
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'AFFILIATION_COMPLEMENTRY_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right">
                                                <input ng-model="editcontrat.affiliationComplementaryPensionAttachment.path" ng-change="TestaffiliationComplementaryPensionAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" data-fp-extensions=".png, .jpg" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadaffiliationComplementaryPensionAttachment(event.fpfile);"/>
                                                <div>
                                                    <img ng-show="editcontrat.affiliationComplementaryPensionAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.affiliationComplementaryPensionAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.affiliationComplementaryPensionAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                    <a ng-show="editcontrat.affiliationComplementaryPensionAttachment.path.length > 0" class="icon_attach ng-scope" ng-click="editcontrat.affiliationComplementaryPensionAttachment = null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationComplementaryPensionAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.affiliationComplementaryPensionAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.affiliationComplementaryPensionAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.affiliationComplementaryPensionAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a> 
                                                    <a ng-show="editcontrat.affiliationComplementaryPensionAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.affiliationComplementaryPensionAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </span>
                                        </div>
                                        <!-- /*************************************************************************************************************/ -->     
                                    </div>
                                    <div class="form-group m-t-40">
                                        <label class="col-sm-3 control-label no-padding-right  required">{[{'OTHER_ATTACHMENT' | translate}]}</label>
                                        <div class="col-sm-8">
                                            <span class="block_attach input-icon input-icon-right" >
                                                {#   
                                                 <!--  premiere methode -->
                                                <input ng-model="editcontrat.otherAttachment.path" ng-change="TestotherAttachmentIsImage()" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="event.fpfile"/>
                                                     <div> 
                                                         <img ng-show="otherAttachmentIsImage == false" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                                         <img ng-show="otherAttachmentIsImage == true" src="{[{ editcontrat.otherAttachment.path }]}" width='100px;' maxHeight='auto' >
                                                         <a   ng-show="editcontrat.otherAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.otherAttachment= null" >
                                                             <span>
                                                                 <i class="fa fa-trash-o fa-2"></i>
                                                             </span>
                                                         </a>
                                    <a ng-show="editcontrat.otherAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.otherAttachment.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="editcontrat.otherAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.otherAttachment.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>    
                                                    <a ng-show="editcontrat.otherAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.otherAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                     </div>
                                                <!-- fin premiere methode -->
                                                #}
                                                <!-- deuxieme methode -->
                                                <input ng-model=" editcontrat.otherAttachment.path" data-fp-multiple="false" data-fp-services="COMPUTER, WEBCAM" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadotherAttachment(event.fpfile);"/>
                                                <div>  
                                                    <img ng-show="editcontrat.otherAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                                    <img ng-show="editcontrat.otherAttachment.mimetype.split('/')[0] =='image'" src="{[{ editcontrat.otherAttachment.path }]}" width='100px;' maxHeight='auto' > 
                                                    <a ng-show="editcontrat.otherAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.otherAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>

                                                    <a ng-show="editcontrat.otherAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.otherAttachment.path}]}" data-lightbox="example-1">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>
                                                    <a ng-show="editcontrat.otherAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.otherAttachment.path}]}">
                                                        <span>
                                                            <i class="fa fa-eye fa-2"></i>
                                                        </span>
                                                    </a>                                                       
                                                    <a ng-show="editcontrat.otherAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.otherAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                                <!-- fin deuxieme methode -->
                                                {# <-- troixieme methode --> 
                                                <input ng-model=" editcontrat.otherAttachment.path" data-fp-multiple="false" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" class=" btn-success btn btn-file action" type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="event.fpfile"/>
                                                <div>
                                                    <img ng-src="editcontrat.otherAttachment.path" onerror="this.src='https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy'" width='50px;' maxHeight='auto' alt="" >
                                                    <a ng-show="editcontrat.otherAttachment.path" class="icon_attach ng-scope" ng-click="editcontrat.otherAttachment= null" >
                                                        <span>
                                                            <i class="fa fa-trash-o fa-2"></i>
                                                        </span>
                                                    </a>
                                    <a ng-show="editcontrat.contractAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{editcontrat.contractAttachment.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="editcontrat.contractAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{editcontrat.contractAttachment.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>                                                
                                                    <a ng-show="editcontrat.contractAttachment.path" class="icon_attach ng-scope" href="{[{editcontrat.contractAttachment.path}]}" download>
                                                        <span>
                                                            <i class="fa fa-download fa-2"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                               <-- fin troixieme methode --> #}
                                            </span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-actions center">
                    <button type="submit" class="btn float-btn  btn-theme action" id="btn_edit_validate_contract">
                        {[{'BUTTON_VALIDATE' | translate}]}
                    </button>
                    <button type="reset" class="btn  float-btn  btn-theme-annu reset" data-dismiss="modal"> 
                        {[{'CANCEL' | translate}]}
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div> 
</div>

<script src="{{ asset('assets/angular/filepicker.js') }}"></script>
<script type="text/javascript">
    filepicker.setKey("AYMtrggo0TACjDPBMsQ3uz");
    //filepicker.pick(picker_options, onSuccess(Blob){}, onError(FPError){}, onProgress(FPProgress){});
</script>
