<!-- popup Show -->
<div id="CollaborateurContractShow" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" id="btn_return_contract">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'DETAILS_CONTRACT' | translate}]} </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>                 
                <!-- End condition  -->
            </div>
            <div class="space_div without_border"></div>
            <div class="modal-body navs form-horizontal show_form">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs form padding-12">
                                <li class="active" >
                                    <a data-toggle="tab" onclick="return false;" href="#formInfo">{[{'DETAILS' | translate}]}</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" onclick="return false;" href="#formAttach">{[{'ATTACHMENT' | translate}]}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="formInfo" class="tab-pane in active">                 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'REF_CONTRAT' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.contract_number}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>    
                                    <div class="page-header">
                                        <h4>{[{'CONTRAT_TYPE' | translate}]} </h4>       
                                    </div>  
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'STATUS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.empStatus}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'CONTRAT_NATURE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.contractType.display_name}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'CUSTOM_CONTRAT' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.contractCustomCondition}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>    
                                    <div class="page-header">
                                        <h4>{[{'POSITION_COEF' | translate}]} </h4>        
                                    </div>  
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'CONVENTION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.convention}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'POSITION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salGrade}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'CLASSIFICATION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salClassification}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'COEF' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salEchelon}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'POSITION_NAME' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salJobTitle}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>    
                                    <div class="page-header">
                                        <h4>{[{'CONTRAT_DETAIL' | translate}]} </h4>   
                                    </div>             
                                    <!-- Détails du contrat-->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'CONTRAT_START_DATE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salJoinedDate| date:'dd/MM/yyyy'}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'SENIORITY_DATE' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salSeniorityDate| date:'dd/MM/yyyy'}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="edit.contractType.display_name!='CDI'">
                                        <label class="col-sm-3 control-label">
                                            {[{'END_EMPLOYEMENT' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.salLeftDate| date:'dd/MM/yyyy'}]}</p>
                                        </div>
                                    </div>
                                    <div class="space_div"></div>           
                                    <div class="page-header">
                                        <h4>{[{'BASE_RENUM' | translate}]} </h4>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'WEEKLY_MONTHLY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.work_timetable}]}</p>
                                        </div>
                                    </div>                            
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'WORKING_TIME' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.working_time}]}</p>
                                        </div>
                                    </div>                            
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'GROSS_BASE_ANNUEL' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.gross_annual_base_salary}]}</p>
                                        </div>
                                    </div>                            
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'NUMBER_MONTHLY' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.nb_of_installments}]}</p>
                                        </div>
                                    </div>                            
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'FIXED_VACATION' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.fixed_rest_days_agreed}]}</p>
                                        </div>
                                    </div>                                             
                                    <div class="space_div"></div>    
                                    <div class="page-header">
                                        <h4>{[{'OTHER_INFOS' | translate}]} </h4>
                                    </div>                              
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'PENSION_REF' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.insuranceContractRef1}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'MUTUAL_HEALTH_REF' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.insuranceContractRef2}]}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            {[{'COMMENTS' | translate}]}
                                        </label>
                                        <div class="col-sm-8 ">
                                            <p class="form-control">{[{showcontrat.notes}]}</p>
                                        </div>
                                    </div>
                                
                                </div>
                                <div id="formAttach" class="tab-pane">
                                    <div class="space_div without_border"></div>  
                                    <div class="page-header" style="    width: 75%;">
                                        <h4>{[{'ATTACHMENT' | translate}]}</h4>
                                    </div> 
                              
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'CONTRACT_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> 
                                        <img ng-show="showcontrat.contractAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>
                                        <img ng-show="showcontrat.contractAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.contractAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.contractAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.contractAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.contractAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.contractAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.contractAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.contractAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'IDENTIFICATION_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.identificationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.identificationAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.identificationAttachment.path }]}" width='100px;' maxHeight='auto' >   
                                        <a ng-show="showcontrat.identificationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.identificationAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.identificationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.identificationAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.identificationAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.identificationAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'AUTORISATION_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.autorsationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.autorsationAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.autorsationAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.autorsationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.autorsationAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.autorsationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.autorsationAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.autorsationAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.autorsationAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'VITAL_CARD_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.vitalCardAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.vitalCardAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.vitalCardAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.vitalCardAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.vitalCardAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.vitalCardAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.vitalCardAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.vitalCardAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.vitalCardAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'SINGLE_DECLARATION_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.singleDeclarationAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.singleDeclarationAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.singleDeclarationAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.singleDeclarationAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.singleDeclarationAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.singleDeclarationAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.singleDeclarationAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.singleDeclarationAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.singleDeclarationAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>                                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'AFFILIATION_PENSION_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.affiliationPensionAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.affiliationPensionAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.affiliationPensionAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.affiliationPensionAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.affiliationPensionAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationPensionAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.affiliationPensionAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationPensionAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.affiliationPensionAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'AFFILIATION_HEALTH_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.affiliationHealthAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.affiliationHealthAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.affiliationHealthAttachment.path }]}" width='100px;' maxHeight='auto' > 
                                        <a ng-show="showcontrat.affiliationHealthAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.affiliationHealthAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationHealthAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.affiliationHealthAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationHealthAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.affiliationHealthAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'AFFILIATION_COMPLEMENTRY_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.affiliationComplementaryPensionAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'>  
                                        <img ng-show="showcontrat.affiliationComplementaryPensionAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.affiliationComplementaryPensionAttachment.path }]}" width='100px;' maxHeight='auto' >
                                        <a ng-show="showcontrat.affiliationComplementaryPensionAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.affiliationComplementaryPensionAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationComplementaryPensionAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.affiliationComplementaryPensionAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.affiliationComplementaryPensionAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.affiliationComplementaryPensionAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {[{'OTHER_ATTACHMENT' | translate}]}
                                    </label>
                                    <div class="col-sm-8 "> {[{ edit.showcontrat }]} 
                                        <img ng-show="showcontrat.otherAttachment.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                        <img ng-show="showcontrat.otherAttachment.mimetype.split('/')[0] =='image'" src="{[{ showcontrat.otherAttachment.path }]}" width='100px;' maxHeight='auto' > 
                                        <a ng-show="showcontrat.otherAttachment.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{showcontrat.otherAttachment.path}]}" data-lightbox="example-1">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.otherAttachment.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{showcontrat.otherAttachment.path}]}">
                                            <span>
                                                <i class="fa fa-eye fa-2"></i>
                                            </span>
                                        </a>
                                        <a ng-show="showcontrat.otherAttachment.path" class="icon_attach ng-scope" href="{[{showcontrat.otherAttachment.path}]}" download>
                                            <span>
                                                <i class="fa fa-download fa-2"></i>
                                            </span>
                                        </a>                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
    <!-- /.modal-content -->
</div> 
<!-- /.modal-dialog -->
