{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_settings_technology_levels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Seqno</th>
                <th>Display_name</th>
                <th>Description</th>
                <th>Create_date</th>
                <th>Createuid</th>
                <th>Last_update</th>
                <th>Last_update_uid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hrm_settings_technology_level in hrm_settings_technology_levels %}
            <tr>
                <td><a href="{{ path('hrm_settings_technology_level_show', { 'id': hrm_settings_technology_level.id }) }}">{{ hrm_settings_technology_level.id }}</a></td>
                <td>{{ hrm_settings_technology_level.seqno }}</td>
                <td>{{ hrm_settings_technology_level.displayname }}</td>
                <td>{{ hrm_settings_technology_level.description }}</td>
                <td>{% if hrm_settings_technology_level.createdate %}{{ hrm_settings_technology_level.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_settings_technology_level.createUid }}</td>
                <td>{% if hrm_settings_technology_level.lastupdate %}{{ hrm_settings_technology_level.lastupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hrm_settings_technology_level.lastupdateuid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hrm_settings_technology_level_show', { 'id': hrm_settings_technology_level.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hrm_settings_technology_level_edit', { 'id': hrm_settings_technology_level.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hrm_settings_technology_level_new') }}">Create a new hrm_settings_technology_level</a>
        </li>
    </ul>
{% endblock %}
