<div class="footer">
    <div class="footer-inner">
            <div class="footer-content">

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                            <a href="#">
                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

                            <a href="#">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

                            <a href="#">
                                    <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
                    </span>
            </div>
    </div>
</div>