<!-- popup Show -->
<div id="default_pp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'OPEN_PAYPERIOD' | translate}]}</h2>
                <!-- End condition  -->

            </div>
            <div class="modal-body">

                <form class="form-horizontal">

                    <div class="form-group">            
                        <p>                    
                            {[{'UNABLE_CREATE_PAYPERIOD' | translate}]}
                        </p>
                    </div>
                </form>      
                <div class="modal-footer form-actions center">
                    <button type="button" class="btn btn-info action" data-dismiss="modal" id="btn_payperiod_close_unable">{[{'CLOSE' | translate}]}</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> 
