<!-- popup Show -->
<div id="close_pp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'CLOTURE_PAYPERIOD' | translate}]}</h2>
                <!-- End condition  -->

            </div>
            <div class="space_div without_border"></div> 
            <div class="modal-body">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-4">{[{'CLOTURE_PERIOD' | translate}]} :</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-options="item as (item.start_date|timezone|date:'MM/yyyy') for item in ArrayOfPayPeriod.payperiodlist track by item.id" ng-model="payToClose" id="select_pay_to_close"></select>
                        </div>
                    </div>
                    <div class="form-group">
                            <input type="text" class="form-control c_pp_status" ng-model="pp_status" placeholder="{[{'PLACEHOLDER_CLOTURE_PERIOD' | translate}]}" id="input_pay_to_close"></input>
                    </div>
                    <div class="modal-footer form-actions center">
                        <button class="btn btn-info action" ng-click="payperiod_close()" id="confirm_payperiod_close">{[{'CONFIRM_CLOSING' | translate}]}</button>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>     