<!-- popup Show -->
<div id="open_pp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'OPEN_PAYPERIOD' | translate}]}</h2>
                <!-- End condition  -->

            </div>
            <div class="space_div without_border"></div> 
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">   
                        <p class="form-control" style="height: 100% !important;">                                
                            {[{'CURRENT_PAYPERIOD' | translate}]} : {[{ first_pay_period | timezone | date:'MM/yyyy' }]}
                            <br/>
                            {[{'WILL_OPEN_PERIOD' | translate}]} : {[{open_pay_period}]}
                        </p>
                    </div>

                    <div class="form-group">
                        <div id="datetimepicker-open" class="input-group">   
                            <input id="enddate" type="text" ng-model="open_pay_period" class="form-control date-timepicker1" data-date-format="MM/YYYY" 
                                   id="open_payperiod_input" name="open_payperiod_input"></input>
                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div> 
                    <div class="modal-footer form-actions center">
                        <button class="btn btn-info form-control action" ng-click="payperiod_open()" id="open_payperiod_confirm" name="open_payperiod_confirm">{[{'CONFIRM_OPENING' | translate}]}</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->   
</div> 
