<!-- popup Show -->
<div id="add_pp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- condition to make unique modal name -->
                <h2 class="modal-title">{[{'OPEN_PAYPERIOD' | translate}]}</h2>
                <!-- End condition  -->

            </div>
            <div class="space_div without_border"></div> 
            <div class="modal-body">

                <form class="form-horizontal">

                    <div class="control-group">            
                        <p class="form-control" style="height: 100% !important;">                    
                            {[{'INITIALISE_PAYPERIOD' | translate}]}
                            <br/>
                            {[{'DESC_PAYPERIOD' | translate}]}
                            <br/>
                            {[{'ATTENTION_DESC_PAYPERIOD' | translate}]}
                        </p>
                    </div>

                    <div class="control-group">
                        <div id="datetimepicker-start" class="input-group">   
                            <input type="text" class="form-control date-timepicker1" ng-model="pay_period" data-date-format="MM/YYYY" id="pay_period"></input>
                            <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>             
                    </div><br/>
                    <div class="control-group">
                        <button class="btn btn-info action" ng-click="payperiod_add()" id="add_payperiod_confirm" name="add_payperiod_confirm">{[{'CONFIRM_START_ACTIVITY' | translate}]}</button>
                    </div>
                </form>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->   
</div> 
