{% extends 'base.html.twig' %}
{% block body %}
    {% set connectedId = preference.getEmpData().getId() %}
    <div class="col-sm-12" ng-controller="settingsCtrl" data-ng-init="Check('{{connectedId}}')">
        <div class="row m-b-40">
            <div class="col-sm-12 header-content">
                <div class="col-sm-6 col-xs-12 title_header">
                    <h2>{[{'PREF_USER' | translate}]}</h2>
                </div>
            </div>
            <div class="space_div"></div>
            <div class="col-md-12">
                {{ form_start(form, { 'attr' : { 'class': 'form-horizontal settings_user placeholder-form' , 'ng-submit':'Action('~connectedId~')'} }) }}
                {#      Loader Block      #}
                <div class="pointspinner" ng-show="loading"></div>
                {#      End Loader Block      #}

                <span  ng-hide="loading">
                    <div class="form-group">
                        {{ form_label(form.local, "{[{'LANGUE' | translate}]}") }} 
                        <div class="col-sm-8">
                            {{ form_widget(form.local,{'attr':{'ng-model':'preference.local'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.format, "{[{'FORMATDATE' | translate}]}") }}  
                        <div class="col-sm-8">
                            {{ form_widget(form.format,{'attr':{'ng-model':'preference.format'}}) }}
                            <span class="help-block" ng-if="preference.format === 'fr-fr'">
                                Format : {[{today  | date:'dd/MM/yyyy'}]} et 1 234,56                                
                            </span>
                            <span class="help-block" ng-if="preference.format === 'en-us'">
                                Format : {[{today  | date:'MM/dd/yyyy'}]} et 1,234.56                                
                            </span>
                        </div>
                    </div>
                    <div class="space_div btns_actions"></div>
                    <div class="form-actions center">
                        <button type="submit" id="ValiderPreferences" class="btn btn-success action" ng-disabled="IsDisabled">
                            {[{'BUTTON_VALIDATE' | translate}]}
                        </button>
                        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled">
                            <a href="{{path('dashboard_index')}}" id="RedirectURL"> {[{'CANCEL' | translate}]}</a>
                        </button>           
                    </div>
                </span>

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/SettingsBundle/settingsCtrl.js')}}></script>
{% endblock %}