<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'form_edit_company','attr' : { 'class': 'form-horizontal','id':'form_edit_company','name':'form_edit_company' ,'role':'form'} }) }}
<div class="">
    {#company name : {{ preference.EmpData.company.name }} company id {{ preference.EmpData.company.id }} user id {{ preference.EmpData.getId() }}#}
    {#{{ dump(hrmCompany)}}#}
    <div class="form-group">
        {{ form_label(form.name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.name' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.industrySector, "{[{'INDUSTRYSECTOR' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.industrySector, {'attr': {'type-suggestions':'', 'datasource':'["SELECT_SECTOR"]','class': 'form-control', 'ng-validation':'', 'ng-model':'edit.industrySector' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.employeeNumber, "{[{'EMPLOYEENUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.employeeNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.employeeNumber' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.adress, "{[{'ADRESS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.adress, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.adress','placeholder':"{[{'STREET' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {#        {{ form_label(form.adress, "", {'label_attr': {'class': ''} }) }}#}
        <div class="col-sm-3 control-label no-padding-right "></div>
        <div class="col-sm-2">
            <div class="input-grpppoup">
                {{ form_widget(form.postalCode, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.postalCode','placeholder':"{[{'ZIP_CODE' | translate}]}" } } ) }}
            </div>
        </div>

        <div class="col-sm-3">
            <div class="input-grpppoup">
                {{ form_widget(form.city, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.city','placeholder':"{[{'CITY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label no-padding-right "></div>
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.country, {'attr': {'type-suggestions':'', 'datasource':'["COUNTRY"]','class': 'form-control', 'ng-validation':'', 'ng-model':'edit.country','ng-init':'edit.country="FR"','placeholder':"{[{'COUNTRY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.phoneNumber, "{[{'PHONENUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.phoneNumber' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fax, "{[{'FAX' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.fax, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.fax' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email, "{[{'EMAIL' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.email' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.webSite, "{[{'WEBSITE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.webSite, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.webSite' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.siret, "{[{'SIRET' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.siret, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.siret' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.siren, "{[{'SIREN' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.siren, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.siren' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.capitalSocial, "{[{'CAPITALSOCIAL' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.capitalSocial, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.capitalSocial' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tva, "{[{'TVA' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.tva, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.tva' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.naf, "{[{'CODE_NAF' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.naf, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.naf'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.rcs, "{[{'RCS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.rcs, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.rcs'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.rm, "{[{'RM' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.rm, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.rm'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "{[{'DESCRIPTION_ACTIVITE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.description'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.customerType, "{[{'CUSTOMERTYPE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.customerType, {'attr': {'type-suggestions':'', 'datasource':'["SELECT_CUS_TYP"]','class': 'form-control', 'ng-validation':'', 'ng-model':'edit.customerType'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.base_currency_iso_code, "{[{'BASE_CURRENCY' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.base_currency_iso_code, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit.base_currency_iso_code'} } ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#IndexPopUpCurrency'
                ng-click="ShowIndex()"
                id="btn_new_currency">
            {[{'CONFIGURE_CURRENCIES' | translate}]}
        </button>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" id="EditSave" type="submit" ng-click="update()"
                ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}

                    {% include 'company/currency/index.html.twig' %}
