<style>
    .nav.navbar-nav.navbar-right li a .icon-sel {
        display:inline-block;
    }
    .nav.navbar-nav.navbar-right li a .icon-not-sel  {
        display:none;
    }
</style>
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'COMPANY' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
    </div>
</div>
<div style="clear:both;"></div>
<div class="col-sm-12">
    <div class="embedded_costs" data-ng-init="InitFields()">
        {{ render(controller('UserBundle:HrmCompany:edit')) }}
    </div>
</div>
