<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_industry_sector','name':'form_edit_industry_sector' ,'role':'form'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
    {#company name : {{ preference.EmpData.company.name }} company id {{ preference.EmpData.company.id }} user id {{ preference.EmpData.getId() }}#}
    {#{{ dump(hrmCompany)}}#}
    <div class="form-group">
        {{ form_label(form.name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.name' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.industrySector, "{[{'INDUSTRYSECTOR' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.industrySector, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.industrySector' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.employeeNumber, "{[{'EMPLOYEENUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.employeeNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.employeeNumber' } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.adress, "{[{'ADRESS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.adress, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.adress','placeholder':"{[{'STREET' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {#        {{ form_label(form.adress, "", {'label_attr': {'class': ''} }) }}#}
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-2">
            <div class="input-grpppoup">
                {{ form_widget(form.postalCode, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.postalCode','placeholder':"{[{'ZIP_CODE' | translate}]}" } } ) }}
            </div>
        </div>

        <div class="col-sm-3">
            <div class="input-grpppoup">
                {{ form_widget(form.city, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.city','placeholder':"{[{'CITY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 control-label no-padding-right "> </div>
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.country, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.country','placeholder':"{[{'COUNTRY' | translate}]}" } } ) }}
            </div>
        </div>
    </div>    
    <div class="form-group">
        {{ form_label(form.phoneNumber, "{[{'PHONENUMBER' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.phoneNumber' } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.fax, "{[{'FAX' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.fax, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.fax' } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.email, "{[{'EMAIL' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.email' } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.webSite, "{[{'WEBSITE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.webSite, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.webSite' } } ) }}
            </div>
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.siret, "{[{'SIRET' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.siret, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.siret' } } ) }}
            </div>
        </div>
    </div>    
    <div class="form-group">
        {{ form_label(form.siren, "{[{'SIREN' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.siren, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.siren' } } ) }}
            </div>
        </div>
    </div>  
    <div class="form-group">
        {{ form_label(form.capitalSocial, "{[{'CAPITALSOCIAL' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.capitalSocial, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.capitalSocial' } } ) }}
            </div>
        </div>
    </div>  
    <div class="form-group">
        {{ form_label(form.tva, "{[{'TVA' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.tva, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.tva' } } ) }}
            </div>
        </div>
    </div>  
    <div class="form-group">
        {{ form_label(form.naf, "{[{'CODE_NAF' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.naf, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.naf'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.rcs, "{[{'RCS' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.rcs, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.rcs'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.rm, "{[{'RM' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.rm, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.rm'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "{[{'DESCRIPTION_ACTIVITE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.description'} } ) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.customerType, "{[{'CUSTOMERTYPE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.customerType, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_company.customerType'} } ) }}
        </div>
    </div>
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="save_company()"
                ng-disabled="IsDisabled">
            {[{'SAVE' | translate}]}
        </button>
        <button ng-click="save_continue_company()" type="submit" id="ValiderCompany" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
            {[{'SAVE_CONTINUE' | translate}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}