    <div class="page-content">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div ng-controller="companyCtrl" ng-init="init()">
                        {% include 'company/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
