<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_edit_settingbonus','name':'form_edit_settingbonus' ,'role':'form'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
        <div class="form-group">
            {{ form_label(form.display_name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                 <div class="input-grpppoup">
                {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingbonus.display_name' } } ) }}
            </div>
             </div>
        </div>
{#                <code>{[{edit_settingbonus}]}</code>#}
{#        <div class="form-group">
            {{ form_label(form.bonus_type, "{[{'BONUS_TYPE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
            <div class="col-sm-5">
                {{ form_widget(form.bonus_type, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingbonus.bonus_type',
                'ng-init':'PremiumTypeList()','ng-options': 'premiumtype.id as premiumtype.display_name for premiumtype in premiumtypes' } } ) }}           
            </div>
        </div>#}
        <div class="form-group">
            {{ form_label(form.bonus_type, "{[{'BONUS_TYPE'|translate}]}") }}
            {{ form_errors(form.bonus_type) }}
            <div class="col-sm-5">
                {{ form_widget(form.bonus_type,{'attr':{'ng-model':'edit_settingbonus.bonus_type.id'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description, "{[{'DESCRIPTION' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-5">
                {{ form_widget(form.description, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingbonus.description' } } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.external_code, "{[{'EXTERNAL_CODE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
            <div class="col-sm-5">
                {{ form_widget(form.external_code, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingbonus.external_code' } } ) }}
            </div>
        </div>
               {#<div class="form-group">#}
            {#{{ form_label(form.seqno, "{[{'SEQNO' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}#}
            {#<div class="col-sm-5">#}
                 {#<div class="input-grpppoup">#}
                {#{{ form_widget(form.seqno, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'edit_settingbonus.seqno',#}
                    {#'ng-options': 'n for n in getSeqnos(data.subpremiumtypes.length)' } } ) }}#}
                 {#</div>#}
             {#</div>#}
        {#</div>#}
        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center">
            <button class="btn btn-sm  btn-success action" type="submit" ng-click="update()"
                    ng-disabled="IsDisabled">
                {[{'BUTTON_VALIDATE' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                    ng-disabled="IsDisabled">
                {[{'CANCEL' | translate}]}
            </button>
        </div>
    </div>

{{ form_end(form, {'render_rest': false}) }}
