<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->

{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'update("transport_update",edit.uid)'} }) }}
<div class="space_div without_border"></div>  
<div class="modal-body">

            <span ng-if="currencies.result.length>0">
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == edit.currency&&edit.amountTran!=null">
                <input type="hidden"
                       value="{[{edit .currencyIsoCode = (currency.currencyIsoCode)}]}">
                <input type="hidden"
                       value="{[{edit.amountTranBase= (currency.rate * edit .amountTran)|number:2}]}">
                <input type="hidden"
                       value="{[{edit.untaxedAmountTranBase= (currency.rate * edit .untaxedAmountTran)|number:2}]}">
                <input type="hidden"
                       value="{[{edit.taxRate = currency.rate}]}">
            </span>
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == edit.currency&&edit.amountTran==null">
                <input type="hidden"
                       value="{[{edit.amountTranBase= 0|number:2}]}">
                <input type="hidden"
                       value="{[{edit.untaxedAmountTranBase= 0|number:2}]}">
            </span>
        </span>

    <div class="form-group">
        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}  
        {{ form_errors(form.contributor) }}
        <div class="col-sm-8">
            {{ form_widget(form.contributor,{'attr':{'ng-model':'edit.contributor.id'}}) }}
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }} 
        {{ form_errors(form.displayName) }}
        <div class="col-sm-8">
            {{ form_widget(form.displayName,{'attr':{'ng-model':'edit.displayName', 'id':'name', 'name':'name'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}  
        {{ form_errors(form.date) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.date,{'attr':{'ng-model':'edit.date','data-date-format' : 'DD/MM/YYYY'}}) }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
        {{ form_errors(form.validator) }}
        <div class="col-sm-8">
            {{ form_widget(form.validator,{'attr':{'ng-model':'edit.validator.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="space-4"></div>
        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.SettingsExpTransport, "{[{'NATURE' | translate}]}") }}  
        {{ form_errors(form.SettingsExpTransport ) }}
        <div class="col-sm-8">
            {{ form_widget(form.SettingsExpTransport ,{'attr':{'ng-model':'edit.nature', 'ng-change': 'getTaxModelInpout("transport_tax_model", "edit", edit.type, edit.nature, edit.uid)'}}) }}

        </div>
    </div>
{#    <div class="space-4"></div>
    <div class="form-group">
        {{ form_label(form.settingsProjects) }}
        {{ form_errors(form.settingsProjects) }}
        <div class="col-sm-8">
            {{ form_widget(form.settingsProjects,{'attr':{'ng-model':'edit.project'}}) }}
        </div>
    </div>  #} 

{#    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
        <div class="space-4"></div>
        <div class="form-group">
            {{ form_label(form.SettingsStatus) }}
            {{ form_errors(form.SettingsStatus) }}
            <div class="col-sm-8">
                {{ form_widget(form.SettingsStatus,{'attr':{'ng-model':'edit.status'}}) }}
            </div>
        </div>  
    {% endif %}#}
    <div class="form-group">
        {{ form_label(form.amountTran, "{[{'AMOUNT_REPAY' | translate}]}") }}  
        {{ form_errors(form.amountTran) }}
        <div  ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">
            {{ form_widget(form.amountTran,{'attr':{'ng-model':'edit.amountTran','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
            <span ng-if="currencies.result.length>0">Montant de base à rembourser : {[{edit.amountTranBase = (edit.taxRate * edit.amountTran)|number:2}]} Euros</span>
        </div>
        <div class="col-sm-3" ng-if="currencies.result.length>0">
            {{ form_widget(form.company_currency,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','ng-model':'edit.currency'}}) }}
        </div>
    </div>  
        {[{calculate_tax(edit.amountTran, "untaxedAmountTrans", "edit")}]}
          <!-- don't change it -->
         <span class='inject-btn-{[{edit.nature}]}-edit'></span>
          <!-- don't change it -->
    <div class="form-group">
        {{ form_label(form.untaxedAmountTrans, "{[{'AMOUNT_HT' | translate}]}") }}  
        {{ form_errors(form.untaxedAmountTrans) }}
        <div class="col-sm-8">
            {{ form_widget(form.untaxedAmountTrans,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','ng-model':'edit.untaxedAmountTrans','ng-value':'edit.untaxedAmountTrans|number:2'}}) }}
        </div>
    </div>   
    <div class="form-group">
        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}  
        {{ form_errors(form.comment) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment,{'attr':{'ng-model':'edit.comment'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}  
        {{ form_errors(form.settings_pay_period) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'edit.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                <span class="input-group-addon">    
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
{#                <input ng-model="edit.attachments.path"  data-fp-multiple="false" class=" btn-success btn btn-file action " type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="edit.attachments.path = event.fpfile.url"/> 
                <div>
                    <img ng-show="edit.attachments.length > 0" ng-src={[{edit.attachments}]}  width='150px;' maxHeight='auto' >
                    <a ng-show="edit.attachments.length > 0" class="del_attach red ng-scope" ng-click="edit.attachments= ''" >
                        <span>
                            <i class="fa fa-trash-o fa-2"></i>
                        </span>
                    </a>
                </div>#}
                <input ng-model="edit.attachments.path"  data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadEditTrAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >        
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" ng-click="edit.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>  
            </span>
        </div>
    </div>
<div class="space_div btns_actions"></div>
<div class="modal-footer form-actions center">
    <input type="hidden" ng-model="app.id" ng-init="app.id = {{preference.getEmpData().getId()}}" >
        <button type="submit" id="EditValiderTRANSPORT" class="btn btn-sm btn-success action"  ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate}]}
        </button>
    <button ng-if='app.id==edit.user.id'  type="submit" id="EditSauvegarderTRANSPORT" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
        {[{'SAVE' | translate}]}
    </button>
    <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled"> {[{'CANCEL' | translate}]}</button>
</div>
</div>
{{ form_end(form, {'render_rest': false}) }}
