<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->

{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'updateDining("dining_update",edit.uid)'} }) }}
<div class="space_div without_border"></div>  
<div class="modal-body">
    <div class="form-group">
        {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}  
        {{ form_errors(form.contributor) }}
        <div class="col-sm-8">
            {{ form_widget(form.contributor,{'attr':{'ng-model':'edit.contributor.id'}}) }}
        </div>
    </div> 
    <div class="form-group">
        {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }} 
        {{ form_errors(form.displayName) }}
        <div class="col-sm-8">
            {{ form_widget(form.displayName,{'attr':{'ng-model':'edit.displayName', 'id':'name', 'name':'name'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}  
        {{ form_errors(form.date) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.date,{'attr':{'ng-model':'edit.date','data-date-format' : 'DD/MM/YYYY'}}) }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}  
        {{ form_errors(form.validator) }}
        <div class="col-sm-8">
            {{ form_widget(form.validator,{'attr':{'ng-model':'edit.validator.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="space-4"></div>
        {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
        {{ form_errors(form.requester) }}
        <div class="col-sm-8">
            {{ form_widget(form.requester,{'attr':{'ng-model':'edit.requester.id'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.settingsExpDining, "{[{'NATURE' | translate}]}") }}  
        {{ form_errors(form.settingsExpDining) }}
        <div class="col-sm-8">
            {{ form_widget(form.settingsExpDining,{'attr':{'ng-model':'edit.settingsExpDining', 'ng-change': 'getTaxModelInpout("dining_tax_model", "edit", edit.type, edit.settingsExpDining, edit.uid)'}}) }}
        </div>
    </div>
    <span ng-if="currencies.result.length>0">
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == edit.currency&&edit.amountOth!=null">
                <input type="hidden"
                       value="{[{edit .currencyIsoCode = (currency.currencyIsoCode)}]}">
                <input type="hidden"
                       value="{[{edit.amountOthBase= (currency.rate * edit .amountOth)|number:2}]}">
                <input type="hidden"
                       value="{[{edit.untaxedAmountOthBase= (currency.rate * edit .untaxedAmountOth)|number:2}]}">
                <input type="hidden"
                       value="{[{edit.taxRate = currency.rate}]}">
            </span>
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == edit.currency&&edit.amountOth==null">
                <input type="hidden"
                       value="{[{edit.amountOthBase= 0|number:2}]}">
                <input type="hidden"
                       value="{[{edit.untaxedAmountOthBase= 0|number:2}]}">
            </span>
        </span>
    <div class="form-group">
        {{ form_label(form.amountDin, "{[{'AMOUNT_REPAY' | translate}]}") }}  
        {{ form_errors(form.amountDin) }}
        <div  ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">
            {{ form_widget(form.amountDin,{'attr':{'ng-model':'edit.amountDin','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
        </div>
        <div class="col-sm-3" ng-if="currencies.result.length>0">
            {{ form_widget(form.company_currency,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','ng-model':'edit.currency'}}) }}
        </div>
    </div> 
     {[{calculate_tax(edit.amountDin, "untaxedAmountDin", "edit")}]} 
   {# <input type="hidden" value="{[{edit.untaxedAmountDin = edit.amountDin - edit.taxe20Din - edit.taxe10Din - edit.taxe5Din}]}">

    
    <div class="form-group">
        {{ form_label(form.taxe20Din) }}
        {{ form_errors(form.taxe20Din) }}
        <div class="col-sm-8">
            {{ form_widget(form.taxe20Din,{'attr':{'ng-model':'edit.taxe20Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
        </div>
    </div>   
    
    <div class="form-group">
        {{ form_label(form.taxe10Din) }}
        {{ form_errors(form.taxe10Din) }}
        <div class="col-sm-8">
            {{ form_widget(form.taxe10Din,{'attr':{'ng-model':'edit.taxe10Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
        </div>
    </div>   
    
    <div class="form-group">
        {{ form_label(form.taxe5Din) }}
        {{ form_errors(form.taxe5Din) }}
        <div class="col-sm-8">
            {{ form_widget(form.taxe5Din,{'attr':{'ng-model':'edit.taxe5Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
        </div>
    </div>  #} 
            <!-- don't change it -->
         <span class='inject-btn-{[{edit.settingsExpDining}]}-edit'></span>
          <!-- don't change it -->
          
    <div class="form-group">
        {{ form_label(form.untaxedAmountDin, "{[{'AMOUNT_HT' | translate}]}") }}  
        {{ form_errors(form.untaxedAmountDin) }}
        <div class="col-sm-8">
            {{ form_widget(form.untaxedAmountDin,{'attr':{'ng-model':'edit.untaxedAmountDin','ng-value':'edit.untaxedAmountDin|number:2'}}) }}
        </div>
    </div>   

        <div ng-show="restauration">
        <div  class="form-group">
            {#            <div class="form-group">#}
            {{ form_label(form.collaborateur) }}
            {{ form_errors(form.collaborateur) }}
            <div class="col-sm-2">
                {{ form_widget(form.collaborateur,{'attr':{'ng-model':'edit.collaborateur'}}) }}
            </div>
        </div>            

        <div id="guests-edit" class="guests-edit form-group" data-prototype="
             <div class=&quot;space-4&quot;></div>
             <div   class=&quot;form-group&quot;>
             <label class=&quot;col-sm-3 control-label no-padding-right asterix required&quot; for=&quot;expensebundle_hrm_expenses_dining_hrmExpensesGuests___name___firstName&quot;>Nom</label>

             <div class=&quot;col-sm-8&quot;>
             <input type=&quot;text&quot; id=&quot;expensebundle_hrm_expenses_dining_hrmExpensesGuests___name___firstName&quot; name=&quot;expensebundle_hrm_expenses_dining[hrmExpensesGuests][__name__][firstName]&quot; required=&quot;required&quot; class=&quot;form-control&quot; ng-model=&quot;edit.firstName.firstName__name__&quot; />
             </div>
             </div>

             <div class=&quot;space-4&quot;></div>
             <div   class=&quot;form-group&quot;>
             <label class=&quot;col-sm-3 control-label no-padding-right asterix required&quot; for=&quot;expensebundle_hrm_expenses_dining_hrmExpensesGuests___name___lastName&quot;>Prenom</label>

             <div class=&quot;col-sm-8&quot;>
             <input type=&quot;text&quot; id=&quot;expensebundle_hrm_expenses_dining_hrmExpensesGuests___name___lastName&quot; name=&quot;expensebundle_hrm_expenses_dining[hrmExpensesGuests][__name__][lastName]&quot; required=&quot;required&quot; class=&quot;form-control&quot; ng-model=&quot;edit.lastName.lastName__name__&quot; />
             </div>
             </div>
             ">

            {#% for key, guest in form.hrmExpensesGuests %}                
                {% set id = form.hrmExpensesGuests.children[key].vars.value.uid %}
                {% set firstName = form.hrmExpensesGuests.children[key].vars.value.firstName %}
                {% set lastName = form.hrmExpensesGuests.children[key].vars.value.lastName %}
                <div   class="form-group">
                    {{ form_label(guest.firstName) }}
                    {{ form_errors(guest.firstName) }}
                    <div class="col-sm-2">
                        {{ form_widget(guest.firstName,{'attr':{'ng-model':'edit.hrm_expenses_guests.firstName.firstName'~key~''}}) }}
                    </div>
                </div>
                <div   class="form-group">
                    {{ form_label(guest.lastName) }}
                    {{ form_errors(guest.lastName) }}
                    <div class="col-sm-2">
                        {{ form_widget(guest.lastName,{'attr':{'ng-model':'edit.hrm_expenses_guests.lastName.lastName'~key~''}}) }}
                    </div>
                </div>
            {% endfor %#}
        </div>
        <!-- START show or delete existing guest-->
        <div class="form-group" ng-repeat="item in edit.hrm_expenses_guests track by item.uid">
            <span>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right asterix required">{[{'LAST_NAME' | translate}]}</label>

                    <div class="col-sm-8">
                        <input type="text" ng-model="item.firstName"  class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right asterix required">{[{'FIRST_NAME' | translate}]}</label>

                    <div class="col-sm-8">
                        <input type="text" ng-model="item.lastName"  class="form-control">
                    </div>
                </div>
                <a class="col-sm-3 control-label no-padding-right" href="#" style="color:orange!important;" ng-click="removeInputEdit(item)"><i class="ace-icon glyphicon glyphicon-minus"></i>delete this guest</a>
            </span>
        </div><!-- END show or delete existing guest-->
    </div>

  {#  
    <div class="form-group">
        {{ form_label(form.settingsProjects) }}
        {{ form_errors(form.settingsProjects) }}
        <div class="col-sm-8">
            {{ form_widget(form.settingsProjects,{'attr':{'ng-model':'edit.project'}}) }}
        </div>
    </div>  #} 
{#
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
        
        <div class="form-group">
            {{ form_label(form.SettingsStatus) }}
            {{ form_errors(form.SettingsStatus) }}
            <div class="col-sm-8">
                {{ form_widget(form.SettingsStatus,{'attr':{'ng-model':'edit.status'}}) }}
            </div>
        </div>  
    {% endif %}#}
    <div class="form-group">
        {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}  
        {{ form_errors(form.comment) }}
        <div class="col-sm-8">
            {{ form_widget(form.comment,{'attr':{'ng-model':'edit.comment'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}  
        {{ form_errors(form.settings_pay_period) }}
        <div class="col-sm-8">
            <div class="input-group">
                {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'edit.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                <span class="input-group-addon">    
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group m-t-40">
        <label class="col-sm-3 control-label no-padding-right required">{[{'ATTACHMENT' | translate}]}</label>
        <div class="col-sm-8">
            <span class="block_attach input-icon input-icon-right">
                <input ng-model="edit.attachments.path"  data-fp-multiple="false" class=" btn-success btn btn-file action" type="filepicker" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-button-class="" data-fp-hide="false"  hideWhenUploading="true" data-fp-container="window" onchange="angular.element(this).scope().uploadEditDiAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="edit.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="edit.attachments.mimetype.split('/')[0] =='image'" src="{[{ edit.attachments.path }]}" width='100px;' maxHeight='auto' >        
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" ng-click="edit.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{edit.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{edit.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="edit.attachments.path" class="icon_attach ng-scope" href="{[{edit.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div>  
            </span>


        </div>
    </div>
<div class="space_div btns_actions"></div>
<div class="modal-footer form-actions center">
  {#  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
        <button type="submit" class="btn btn-sm btn-success" >
            Valider
        </button>
    {% else %}#}
    <input type="hidden" ng-model="app.id" ng-init="app.id = {{preference.getEmpData().getId()}}" >
        <button type="submit" id="EditValiderDINING" class="btn btn-sm btn-success action"  ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate}]}
        </button>
{#    {% endif %}#}

    <button ng-if='app.id==edit.user.id' type="submit" id="EditSauvegarderDINING" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
        {[{'SAVE' | translate}]}
    </button>
    {#                {% endif %}#}
    <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled"> {[{'CANCEL' | translate}]}</button>                                                
</div>
</div>
{{ form_end(form, {'render_rest': false}) }}

 {#   <script type="text/javascript">
        $(document).ready(function () {     //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
                    //show datepicker when clicking on the icon
                    .next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
        });
    </script>#}
    <script>
    var $collectionHolder;
// setup an "add a guest" link
    var $addGuestLink = $('<a  class="col-sm-3 control-label no-padding-right" href="#" class="add_guest_link" style="color:orange!important;"><i class="ace-icon glyphicon glyphicon-plus"></i>Add Guest</a>');
    var $newLinkLi = $('<div class="form-group"></div>').append($addGuestLink);

    jQuery(document).ready(function () {

        // Get the ul that holds the collection of guests
        $collectionHolder = $('div.guests-edit');
        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('div').each(function () {
            addGuestFormDeleteLink($(this));
        });
        // add the "add a guest" anchor and li to the guests ul
        $collectionHolder.append($newLinkLi);
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $addGuestLink.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new guest form (see next code block)
            addGuestForm($collectionHolder, $newLinkLi);
        });
    });
    function addGuestForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier

        var index = $collectionHolder.children().length
        var newForm = $collectionHolder.data('prototype').replace(/__name__/g, index);
        //  angular.element('#guests').scope().addInput(newForm);
        // get the new index
        $collectionHolder.data('index', index + 1);{#    alert(index);#}
        // Display the form in the page in an li, before the "Add a guest" link li
        var $newFormLi = $('<div class="form-group"></div>').append(newForm);
        angular.element('#guests-edit').injector().invoke(function ($compile) {
            var $scope = angular.element('#guests-edit').scope();
            $compile($newFormLi)($scope);
            $scope.$apply();
        });

        $newLinkLi.after($newFormLi);
        // add a delete link to the new form

        // perform any model changes or method invocations here on angular app.
        var res = addGuestFormDeleteLink($newFormLi, index + 1);
        index = res;
    }

    function addGuestFormDeleteLink($guestFormLi, index) {
        var $removeFormA = $('<a class="col-sm-3 control-label no-padding-right" href="#" style="color:orange!important;"><i class="ace-icon glyphicon glyphicon-minus"></i>delete this guest</a>');
        $guestFormLi.append($removeFormA);
        $removeFormA.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // remove the li for the guest form

            $guestFormLi.remove();
            angular.element('#guests-edit').scope().removeInputEdit($guestFormLi, index);
        });
    }

</script>
