<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.getLocal() %}
    {% set format = app.user.employee[0].preference.getFormat()|lower %}
{% endif %}
<!-- End Check and Set default language -->


{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form' ,'ng-submit':'saveDining()'} }) }}
<div ng-show="dining">
    <div class="modal-body">

        <div class="form-group">
            {{ form_label(form.contributor, "{[{'COLLABORATER' | translate}]}") }}
            {{ form_errors(form.contributor) }}
            <div class="col-sm-8">
                {{ form_widget(form.contributor,{'attr':{'ng-model':'new.contributor.id', 'ng-init':'new.contributor.id = "'~preference.getEmpData().getId()~'"'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.displayName, "{[{'EXPENSE_NAME' | translate}]}") }}
            {{ form_errors(form.displayName) }}
            <div class="col-sm-8">
                {{ form_widget(form.displayName,{'attr':{'ng-model':'new.displayName'}}) }}
            </div>
        </div>


        <div class="form-group">
            {{ form_label(form.date, "{[{'EXPENSE_DATE' | translate}]}") }}
            {{ form_errors(form.date) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.date,{'attr':{'ng-model':'new.date', 'ng-init':'new.date = CurrentDate'}}) }}
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.validator, "{[{'VALIDATOR' | translate}]}") }}
            {{ form_errors(form.validator) }}
            <div class="col-sm-8">
                {{ form_widget(form.validator,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_VALIDATOR",null]','ng-model':'new.validator'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="space-4"></div>
            {{ form_label(form.requester, "{[{'REQUESTER' | translate}]}") }}
            {{ form_errors(form.requester) }}
            <div class="col-sm-8">
                {{ form_widget(form.requester,{'attr':{'ng-model':'new.requester.id', 'ng-init':'new.requester.id = "'~preference.employeeId~'"'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
            {{ form_errors(form.type) }}
            <div class="col-sm-8">
                {{ form_widget(form.type,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE"]','ng-model':'new.type'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.settingsExpDining, "{[{'NATURE' | translate}]}") }}
            {{ form_errors(form.settingsExpDining) }}
            <div class="col-sm-8">
                {{ form_widget(form.settingsExpDining,{'attr':{'ng-model':'new.settingsExpDining',
                    'ng-change':'getTaxModelInpout("dining_tax_model", "new", new.type, new.settingsExpDining)'}}) }}
            </div>
        </div>
        <span ng-if="currencies.result.length>0">
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountDin!=null">
                <input type="hidden"
                       value="{[{new .currencyIsoCode = (currency.currencyIsoCode)}]}">
                <input type="hidden"
                       value="{[{new.amountDinBase= (currency.rate * new .amountDin)|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountDinBase= (currency.rate * new .untaxedAmountDin)|number:2}]}">
                <input type="hidden"
                       value="{[{new.taxRate = currency.rate}]}">
            </span>
            <span ng-repeat="currency in currencies.result"
                  ng-if="currency.id == new.currency&&new.amountDin==null">
                <input type="hidden"
                       value="{[{new.amountDinBase= 0|number:2}]}">
                <input type="hidden"
                       value="{[{new.untaxedAmountDinBase= 0|number:2}]}">
            </span>
        </span>
        <div class="form-group">
            {{ form_label(form.amountDin, "{[{'AMOUNT_REPAY' | translate}]}") }}
            {{ form_errors(form.amountDin) }}
            <div  ng-class="{'col-sm-5' : currencies.result.length>0, 'col-sm-8' : currencies.result.length==0}">
                {{ form_widget(form.amountDin,{'attr':{'ng-model':'new.amountDin','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?' ,'preference':''~preference.format~'' }}) }}
                <span ng-if="currencies.result.length>0">Montant de base à rembourser : {[{new.amountDinBase = (new.taxRate * new.amountDin)|number:2}]} Euros</span>
            </div>
            <div class="col-sm-3" ng-if="currencies.result.length>0">
                {{ form_widget(form.company_currency,{'attr':{'type-suggestions':'', 'datasource':'["SELECT_TYPE",null]','ng-model':'new.currency'}}) }}
            </div>
        </div>
        {[{calculate_tax(new.amountDin, "untaxedAmountDin")}]}
        {#   <input type="hidden" value="{[{new .untaxedAmountDin = new .amountDin - new .taxe20Din - new .taxe10Din - new .taxe5Din}]}">


           <div class="form-group">
               {{ form_label(form.taxe20Din) }}
               {{ form_errors(form.taxe20Din) }}
               <div class="col-sm-8">
                   {{ form_widget(form.taxe20Din,{'attr':{'ng-model':'new.taxe20Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
               </div>
           </div>

           <div class="form-group">
               {{ form_label(form.taxe10Din) }}
               {{ form_errors(form.taxe10Din) }}
               <div class="col-sm-8">
                   {{ form_widget(form.taxe10Din,{'attr':{'ng-model':'new.taxe10Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
               </div>
           </div>

           <div class="form-group">
               {{ form_label(form.taxe5Din) }}
               {{ form_errors(form.taxe5Din) }}
               <div class="col-sm-8">
                   {{ form_widget(form.taxe5Din,{'attr':{'ng-model':'new.taxe5Din','step':'0.01','min':'0','pattern':'[0-9]+([\,|\.][0-9]+)?'}}) }}
               </div>
           </div>   #}

        <!-- don't change it -->
        <span class='inject-btn-{[{new.settingsExpDining}]}-new'></span>
        <!-- don't change it -->

        <div class="form-group">
            {{ form_label(form.untaxedAmountDin, "{[{'AMOUNT_HT' | translate}]}") }}
            {{ form_errors(form.untaxedAmountDin) }}
            <div class="col-sm-8">
                {{ form_widget(form.untaxedAmountDin,{'attr':{'ng-model':'new.untaxedAmountDin','ng-value':'new.untaxedAmountDin|number:2'}}) }}
            </div>
        </div>

        {% macro tagCollectionItem(formData) %}


            <div class="form-group">
                {{ form_label(formData.firstName) }}
                {{ form_errors(formData.firstName) }}
                <div class="col-sm-8">
                    {{ form_widget(formData.firstName) }}
                </div>
            </div>


            <div class="form-group">
                {{ form_label(formData.lastName) }}
                {{ form_errors(formData.lastName) }}
                <div class="col-sm-8">
                    {{ form_widget(formData.lastName) }}
                </div>
            </div>
        {% endmacro %}

        <div ng-show="restauration">
            <div class="form-group">

                {{ form_label(form.collaborateur) }}
                {{ form_errors(form.collaborateur) }}
                <div class="col-sm-8">
                    {{ form_widget(form.collaborateur,{'attr':{'ng-model':'new.collaborateur','ng-init':'new.collaborateur="'~preference.username|capitalize~'"'}}) }}
                </div>
            </div>
            <div id="guests" class="guests form-group"
                 data-prototype="{{ _self.tagCollectionItem(form.hrmExpensesGuests.vars.prototype)|e }}">
                {% for guest in form.hrmExpensesGuests %}
                    {{ _self.tagCollectionItem(guest) }}
                {% endfor %}
            </div>
        </div>
        {#
          <div class="form-group">
              {{ form_label(form.settingsProjects) }}
              {{ form_errors(form.settingsProjects) }}
              <div class="col-sm-8">
                  {{ form_widget(form.settingsProjects,{'attr':{'ng-model':'new.project'}}) }}
              </div>
          </div>#}
        {#
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}

                    <div class="form-group">
                        {{ form_label(form.SettingsStatus) }}
                        {{ form_errors(form.SettingsStatus) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.SettingsStatus,{'attr':{'ng-model':'new.status'}}) }}
                        </div>
                    </div>
                {% endif %}#}

        <div class="form-group">
            {{ form_label(form.comment, "{[{'COMMENTS' | translate}]}") }}
            {{ form_errors(form.comment) }}
            <div class="col-sm-8">
                {{ form_widget(form.comment,{'attr':{'ng-model':'new.comment'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.settings_pay_period, "{[{'PAYPERIOD' | translate}]}") }}
            {{ form_errors(form.settings_pay_period) }}
            <div class="col-sm-8">
                <div class="input-group">
                    {{ form_widget(form.settings_pay_period,{'attr':{'ng-model':'new.settings_pay_period',  'paypperiod-datepicker':''}}) }}
                    <span class="input-group-addon">    
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group m-t-40">
            <label class="col-sm-3 control-label no-padding-right  required">{[{'ATTACHMENT' | translate}]}</label>
            <div class="col-sm-8">
                <span class="block_attach input-icon input-icon-right">
                    <input ng-model="new.attachments.path" data-fp-multiple="false" class=" btn-success btn btn-file action"
                           type="filepicker" data-fp-button-text="{[{'SELECT_FILE' | translate}]}" data-fp-extensions=".bmp,.tiff,.gif,.png,.jpg,.jpeg,.pdf" data-fp-services="COMPUTER, WEBCAM"
                           data-fp-button-class="" data-fp-hide="false" hideWhenUploading="true"
                           data-fp-container="window" onchange="angular.element(this).scope().uploadNewDiAttachment(event.fpfile);"/>
                                <div>  
                                    <img ng-show="new.attachments.mimetype ==='application/pdf'" src="https://cdn.filepicker.io/api/file/5U2IJOT8SdmCO05Jzuiy" width='50px;' maxHeight='auto'> 
                                    <img ng-show="new.attachments.mimetype.split('/')[0] =='image'" src="{[{ new.attachments.path }]}" width='100px;' maxHeight='auto' >      
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope" ng-click="new.attachments= null" >
                                        <span>
                                            <i class="fa fa-trash-o fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype.split('/')[0] =='image'" class="icon_attach example-image" ng-href="{[{new.attachments.path}]}" data-lightbox="example-1">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.mimetype ==='application/pdf'" class="icon_attach ng-scope" target="_blank" href="{[{new.attachments.path}]}">
                                        <span>
                                            <i class="fa fa-eye fa-2"></i>
                                        </span>
                                    </a>
                                    <a ng-show="new.attachments.path" class="icon_attach ng-scope" href="{[{new.attachments.path}]}" download>
                                        <span>
                                            <i class="fa fa-download fa-2"></i>
                                        </span>
                                    </a>
                                </div> 
                </span>
            </div>
        </div>
        <div class="space_div btns_actions"></div>
        <div class="modal-footer form-actions center">
            <div class="form-group checkbox with_label">
                <label class="">
                    <input name="form-field-checkbox" id="checkDining" type="checkbox" ng-model="new.checkDining"
                           class="new-item ace input-lg">
                    {[{'ADD_NEW' | translate}]}
                </label>
            </div>
            <button type="submit" id="ValiderDINING" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'BUTTON_VALIDATE' | translate}]}
            </button>
            <button type="submit" id="SauvegarderDINING" class="btn btn-sm btn-success action" ng-disabled="IsDisabled">
                {[{'SAVE' | translate}]}
            </button>
            <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" ng-disabled="IsDisabled">
                {[{'CANCEL' | translate}]}
            </button>

        </div>


    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
{#<script src="{{ asset('assets/js/jquery.min.js') }}"></script>#}

{#<script>#}


    {#var $collectionHolderNew;#}
    {#// setup an "add a guest" link#}
    {#var $addGuestLinkNew = $('<a  class="col-sm-3 control-label no-padding-right" href="#" class="add_guest_link" style="color:orange!important;"><i class="ace-icon glyphicon glyphicon-plus"></i>Add Guest</a>');#}
    {#var $newLinkLiNew = $('<div class="form-group"></div>').append($addGuestLinkNew);#}
    {#jQuery(document).ready(function () {#}
        {#// Get the ul that holds the collection of guests#}
        {#$collectionHolderNew = $('div.guests');#}
        {#// add a delete link to all of the existing tag form li elements#}
        {#$collectionHolderNew.find('div').each(function () {#}
            {#addGuestFormDeleteLinkNew($(this));#}
        {#});#}
        {#// add the "add a guest" anchor and li to the guests ul#}
        {#$collectionHolderNew.append($newLinkLiNew);#}
        {#// count the current form inputs we have (e.g. 2), use that as the new#}
        {#// index when inserting a new item (e.g. 2)#}
        {#$collectionHolderNew.data('index', $collectionHolderNew.find(':input').length);#}
        {#$addGuestLinkNew.on('click', function (e) {#}
            {#// prevent the link from creating a "#" on the URL#}
            {#e.preventDefault();#}
            {#// add a new guest form (see next code block)#}
            {#addGuestFormNew($collectionHolderNew, $newLinkLiNew);#}
        {#});#}
    {#});#}

    {#function addGuestFormNew($collectionHolderNew, $newLinkLi) {#}
        {#// Get the data-prototype explained earlier#}

        {#var index = $collectionHolderNew.children().length#}
        {#var newForm = $collectionHolderNew.data('prototype').replace(/__name__/g, index);#}
        {#//  angular.element('#guests').scope().addInput(newForm);#}
        {#// get the new index#}
        {#$collectionHolderNew.data('index', index + 1);#}{#    alert(index);#}
        {#// Display the form in the page in an li, before the "Add a guest" link li#}
        {#var $newFormLi = $('<div class="form-group onload-delete"></div>').append(newForm);#}
        {#angular.element('#guests').injector().invoke(function ($compile) {#}
            {#var $scope = angular.element('#guests').scope();#}
            {#$compile($newFormLi)($scope);#}
            {#$scope.$apply();#}
        {#});#}

        {#$newLinkLi.after($newFormLi);#}
        {#// add a delete link to the new form#}

        {#// perform any model changes or method invocations here on angular app.#}
        {#var res = addGuestFormDeleteLinkNew($newFormLi, index + 1);#}
        {#index = res;#}
    {#}#}

    {#function addGuestFormDeleteLinkNew($guestFormLi, index) {#}
        {#var $removeFormA = $('<a class="col-sm-3 control-label no-padding-right" href="#" style="color:orange!important;"><i class="ace-icon glyphicon glyphicon-minus"></i>delete this guest</a>');#}
        {#$guestFormLi.append($removeFormA);#}
        {#$removeFormA.on('click', function (e) {#}
            {#// prevent the link from creating a "#" on the URL#}
            {#e.preventDefault();#}
            {#// remove the li for the guest form#}

            {#$guestFormLi.remove();#}
            {#angular.element('#guests').scope().removeInput($guestFormLi, index);#}
        {#});#}
    {#}#}

    {#jQuery(document).ready(function () {#}
        {#$('#New').on('hide.bs.modal', function () {#}
            {#$collectionHolderNew = $('div.guests');#}
            {#// add a delete link to all of the existing tag form li elements#}
            {#$collectionHolderNew.find('div.onload-delete').each(function () {#}
                {#$(this).remove();#}
            {#});#}

        {#});#}
    {#});#}
{#</script>#}
