<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_contract_link' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <button type="button" class="btn btn-theme" data-toggle="modal" id="Newcontract_linkBtn" name="Newcontract_linkBtn" data-target='#Newcontract_link'>
            {[{'BUTTON_NEW' | translate}]}
        </button>
    </div>
</div>
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" placeholder="{[{'SEARCH' | translate}]}"> </div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-contract_link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>

    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#       Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading','pointspinner')}}
    <table datatable="ng" class="table table-striped" ng-hide="loading" data-ng-init="init()">
        <thead>
        <tr>
            <th>{[{'TITLE' | translate}]}</th>
            <th>{[{'HREF' | translate}]}</th>
            <th>{[{'contract_link_TARGET' | translate}]}</th>
            <th>{[{'contract_link_CATEGORY' | translate}]}</th>
            <th>{[{'DESCRIPTION' | translate}]}</th>
            <th></th>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="tasks" class="list">
        {#<tbody>#}
        <tr ng-repeat="contract_link in tasks" class="item">
            {#<tr data-ng-repeat="contract_link in tasks">        #}
            <td>{[{ contract_link.title }]}</td>
            <td>{[{ contract_link.href }]}</td>
            <td>{[{ contract_link.target }]}</td>
            <td>{[{ contract_link.hrm_contract_link_category.title }]}</td>
            <td>{[{ contract_link.description }]}</td>
            <td class="btns_actions_table">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="md md-more-vert f20"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target='#Editcontract_link' ng-click="SelectInfos(contract_link.id,'contract_link')" aria-haspopup="true" id="edit_setting_bonus_{[{task.id}]}" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a></li>
                        <li><a href="javascript:void(0)" ng-click="delete('api_hrm_contract_link_delete',contract_link.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pull-left">
        {[{response.length}]}
        {[{'RESULTS' | translate}]}
    </div>
    {#    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-contract_link-numbers="true"></uib-pagination>#}
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">
    <div class="col-md-4 col-sm-12 col-xs-12" data-ng-repeat="contract_link in tasks">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{ contract_link.title }]}</h2>
                <span>{[{contract_link.hrm_contract_link_category.title}]}</span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">
                        <p>
                            {[{ contract_link.href }]}
                        </p>
                    </h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p>
                </p>
                {#<h4 class="no-m-t mdl-color-text--grey-700">{[{task.country_birth}]}</h4>#}
            </div>
            <div class="card-action">
                <div class="card__menu_btns">
                    <div class="mdl-card__menu">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target='#Editcontract_link' ng-click="SelectInfos(contract_link.id,'contract_link')" aria-haspopup="true" id="edit_setting_bonus_{[{task.id}]}" aria-expanded="false">{[{'BUTTON_EDIT' | translate}]}</a></li>
                                <li><a href="javascript:void(0)" ng-click="delete('api_hrm_contract_link_delete',contract_link.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="Newcontract_link" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">{[{'ADD_NEW_contract_link' | translate}]}</h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>
            </div>
            {{ render(controller('AdminBundle:hrm_contract_link_data:new')) }}
        </div>
    </div>
</div>
<!--Edit -->
<div id="Editcontract_link" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-ng-init="InitFields()">
            <div class="modal-header">
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-chevron-left"></i>
                    <span style="">{[{'RETURN' | translate}]}</span>
                </button>
                <h2 class="modal-title">
                    {[{'EDIT_contract_link' | translate}]}
                </h2>
                <button type="button" class="btn_retour close" data-dismiss="modal" aria-label="Close" style="opacity:0;">
                    <i class="fa fa-chevron-left"></i>
                    <span>{[{'RETURN' | translate}]}</span>
                </button>

            </div>
            {{ render(controller('AdminBundle:hrm_contract_link_data:edit')) }}
        </div>
    </div>
</div>

