{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-content">
        <!-- /.modal -->
        <div class="row">
            <div class="col-md-12">
                <div>
                    {#<div ng-controller="expenseTypesCtrl"  data-ng-init="datatable()">#}
                    <div ng-controller="contractLinkDataCtrl" >
                        {#<div class="blockloader" ng-show="loading"></div>#}
                        {% include 'Admin/contract_link/hrm_contract_link_data/index.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block AngularjsControllers %}
    <script src={{ asset('angular/AdminBundle/contractLinkDataCtrl.js')}}></script>
{% endblock %}
