{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hrm_job_link_datum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hrm_job_link_datum.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ hrm_job_link_datum.title }}</td>
            </tr>
            <tr>
                <th>Href</th>
                <td>{{ hrm_job_link_datum.href }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ hrm_job_link_datum.target }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hrm_job_link_datum.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_link_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('job_link_edit', { 'id': hrm_job_link_datum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
