<aside class="sidebar fixed" style="width: 260px; left: 0px; ">
    <div class="nav-side-menu">
        <div class="menu-links menu-list">
            <ul id="menu-content" class="menu-content in">
                {% if preference.providersMenuList() is not empty %}
                    {% for menu in preference.providersMenuList() %}
                        {% if menu.setting_menu.associatedTo is null%}
                    <li>
                        <a href="{{ path(menu.setting_menu.routeLinks)|replace({'%23':'#!'}) }}">
                            <i>
                                <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/'~menu.setting_menu.iconLinks|replace({'*': preference.providerId})) }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/'~menu.setting_menu.iconLinks|replace({'*': preference.providerId})|replace({'.': '-sel.'})) }}"/>
                            </i>
                            <span>{[{'{{menu.setting_menu.name}}' | translate}]}</span>
                        </a>
                    </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <li>
                    {#<a href="{{ path('dashboard_index') }}">#}
                    <a href="{{path('dashboard_single_page')|replace({'%23':'#!'})}}">
                        <i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/home-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/home-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'DASH' | translate}]}</span>
                    </a>
                </li>
                {% if is_granted('ROLE_RESPONSABLE')%}
                <li>
                    <a href="{{ path('hiring_single_page')|replace({'%23':'#!'}) }}" id="TabHiring" name="TabHiring">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/window-application-search.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/window-application-search_sel.svg') }}"/>
                        </i>
                        <span>{[{'RECRUTEMENT' | translate}]}</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ path('collaborator_single_page')|replace({'%23':'#!'}) }}" id="TabCollaborator" name="TabCollaborator">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/account-group-1.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/account-group-1-sel.svg') }}"/>
                        </i>
                        <span>{[{'COLLABORATERS' | translate}]}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('expense_single_page')|replace({'%23':'#!'}) }}" id="TabExpense" name="TabExpense">
                        <i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/credit-card.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/credit-card-sel.svg') }}"/>
                        </i><span>{[{'NOTE_FRAIS' | translate}]}</span>
                    </a>
                </li> 
                <li>
                    <a href="{{ path('absence_single_page')|replace({'%23':'#!'}) }}" id="TabHolidays">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/new-notepad-text.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/new-notepad-text-sel.svg') }}"/>
                        </i><span>{[{'ABSENCE_G' | translate}]}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('remuneration_single_page')|replace({'%23':'#!'}) }}" id="TabRemuneration">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/dollar-sign-circle.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/dollar-sign-circle-sel.svg') }}"/>
                        </i><span>{[{'REMUNERATION' | translate}]}</span>
                    </a>
                </li>
{#                <li>
                    <a href="{{ path('bonus_layout') }}" id="TabBonus">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/gift-sharing.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/gift-sharing-sel.svg') }}"/>
                        </i><span>{[{'BONUS' | translate}]}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('paydayvariations_layout') }}" id="TabPaydayVariations">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/business-bag-cash.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/business-bag-cash-sel.svg') }}"/>
                        </i><span>{[{'PAY_DAY_VARIATION' | translate}]}</span>
                    </a>
                </li>#}
                {% if is_granted('ROLE_RESPONSABLE')%}
{#                <li>
                    <a href="{{ path('hours_layout') }}" id="TabHours">
                        <i>
                            <img class="icon-not-sel"
                                 src="{{ asset('assets/img/icons/streamline/timer-full.svg') }}"/>
                            <img class="icon-sel"
                                 src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/timer-full-sel.svg') }}"/>
                        </i><span>{[{'HOUR_SUPP' | translate}]}</span>
                    </a>
                </li>#}
{#               <li>
                    <a href="{{ path('training_layout')|replace({'%23':'#'}) }}">
                        <i>
                            <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/book-1.svg') }}" />
                            <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/book-1-sel.svg') }}" />
                        </i><span>{[{'TRAINING' | translate}]}</span>
                    </a>
                </li>#}
                {% endif %}
                    {# <li>
                         <a href="{{ path('requestabsence_index')|replace({'%23':'#'}) }}">
                                             <i>
                                 <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/bookmark-1.svg') }}" />
                                 <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/bookmark-1-sel.svg') }}" />
                             </i><span>Eléments variables</span>
                         </a>
                     </li>
                     <li>
                         <a href="{{ path('requestabsence_index')|replace({'%23':'#'}) }}">
                                             <i>
                                 <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/gift-sharing.svg') }}" />
                                 <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/gift-sharing-sel.svg') }}" />
                             </i><span>Primes/*BONUS*/</span>
                         </a>
                     </li>
                     <li>
                         <a href="{{ path('requestabsence_index')|replace({'%23':'#'}) }}">
                                             <i>
                                 <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/dollar-sign-circle.svg') }}" />
                                 <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/dollar-sign-circle-sel.svg') }}" />
                             </i><span>Avantage en nature</span>
                         </a>
                     </li>
                     <li>
                         <a href="{{ path('requestabsence_index')|replace({'%23':'#'}) }}">
                                             <i>
                                 <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/car-1.svg') }}" />
                                 <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/car-1-sel.svg') }}" />
                             </i><span>Transport/*TRANSPORT*/</span>
                         </a>
                     </li>
                     <li>
                         <a href="{{ path('requestabsence_index')|replace({'%23':'#'}) }}">
                                             <i>
                                 <img class="icon-not-sel" src="{{ asset('assets/img/icons/streamline/clock-2.svg') }}" />
                                 <img class="icon-sel" src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/clock-2-sel.svg') }}" />
                             </i><span>Heures supp/*HOUR_SUPP*/</span>
                         </a>
                     </li>#}
{#                    <li>
                        <a href="{{ path('hrm_transport_layout') }}" id="TabTransport">
                            <i>
                                <img class="icon-not-sel"
                                     src="{{ asset('assets/img/icons/streamline/bullet-train.svg') }}"/>
                                <img class="icon-sel"
                                     src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/bullet-train-sel.svg') }}"/>
                            </i><span>{[{'TRANSPORT' | translate}]}</span>
                        </a>
                    </li>#}
                    {% if is_granted('ROLE_RESPONSABLE')%}
{#                        <li>
                            <a href="{{ path('benefit_layout') }}"  id="TabBenefit"  name="TabBenefit" >
                                <i>
                                    <img class="icon-not-sel"
                                         src="{{ asset('assets/img/icons/streamline/checklist_benif.svg') }}"/>
                                    <img class="icon-sel"
                                         src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/checklist_benif_sel.svg') }}"/>
                                </i><span>{[{'AVNATAGES_NATURE' | translate}]}</span>
                            </a>
                        </li>#}
{#                        <li>
                            <a href="{{ path('hrmcompany_layout') }}" id="TabCompany"
                                <i>
                                    <img class="icon-not-sel"
                                         src="{{ asset('assets/img/icons/streamline/company.svg') }}"/>
                                    <img class="icon-sel"
                                         src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/company-sel.svg') }}"/>
                                </i><span>{[{'COMPANY' | translate}]}</span>
                            </a>
                        </li>#}
                        <li>
                            <a href="{{ path('export_single_page')|replace({'%23':'#!'}) }}" id="TabExport"
                                <i>
                                    <img class="icon-not-sel"
                                         src="{{ asset('assets/img/icons/streamline/file-excel.svg') }}"/>
                                    <img class="icon-sel"
                                         src="{{ asset('assets/img/icons/streamline/provider_'~preference.providerId~'/file-excel-sel.svg') }}"/>
                                </i><span>{[{'EXPORT' | translate}]}</span>
                            </a>
                        </li>
                        
                        
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </aside>
