
{% import "Actions/SecondaryActions/actions.html.twig" as action %}
<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_EXPENSES'|translate}]}</h2>
    </div>
    <!-- Split button   -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
        <div class="btn-group">
            <button type="button" class="btn btn-theme" data-toggle="modal" data-target='#New' id="btn_new_expense">{[{'BUTTON_NEW'
                |
                translate}]}
            </button>
        </div>

        {% import "Actions/GlobalActions/global_actions.html.twig" as globalaction %}
        {{ globalaction.global() }}

    </div>
</div>

<input type="hidden" ng-model="app.id" ng-init="app.id = {{ preference.getEmpData().getId() }}">
<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" {#id="search-input"#}
                                   placeholder="{[{'SEARCH' | translate}]}"></div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"><i class="md md-search f20"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

            <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i
                        class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByContributor('All')"
                            ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}
                        </li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur.username)"
                                ng-class="{'active': contributorSearch == collaborateur.username}"><i
                                    class="glyphicon glyphicon-ok"></i>{[{collaborateur.name}]}</li>
                        </span>
                    </ul>
                </div>
            </div>


            <div class="box_filter n2 ">

                <button class="btn mdl-button mdl-js-button tri" ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        id="btn_filter_statut">
                    {[{'FILT_STATUT' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByStatus('All')" id="all"
                        ng-class="{'active': statutSearch == ''}"><a href="javascript:void(0)" id="btn_filter_status_all"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' |
                            translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('En attente de validation')" id="btn_filter_status_waiting"
                        ng-class="{'active': statutSearch == 'En attente de validation'}"><a href="javascript:void(0)" id="btn_filter_status_waiting"><i
                                class="glyphicon glyphicon-ok"></i>{[{'WAITING' | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Validé')" id="valide"
                        ng-class="{'active': statutSearch == 'Validé'}"><a href="javascript:void(0)" id="btn_filter_status_valid"><i class="glyphicon glyphicon-ok"></i>{[{'VALID'
                            | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Brouillon')" id="brouillon"
                        ng-class="{'active': statutSearch == 'Brouillon'}"><a href="javascript:void(0)" id="btn_filter_status_draft"><i class="glyphicon glyphicon-ok"></i>{[{'DRAFT'
                            | translate}]}</a>
                    </li>
                    <li class="mdl-menu__item" ng-click="filterByStatus('Refuse')" id="refuse"
                        ng-class="{'active': statutSearch == 'Refuse'}"><a href="javascript:void(0)" id="btn_filter_status_rejected"><i class="glyphicon glyphicon-ok"></i>{[{'REJECTED'
                            | translate}]}</a>
                    </li>
                </ul>
            </div>
            <div class="box_filter n2 {#not_bordered#}">
                <div class="searchDate" style="position:relative;">
                    <button class="btn tri_up_down" ng-click="toggleCustom()">
                        <i class="glyphicon glyphicon-calendar"></i> {[{'ALL_DATES' | translate}]} <i
                            class="glyphicon glyphicon-chevron-down"></i>
                    </button>
                    <div id="customListDateF" class="drop-menu" ng-hide="custom">
                        <div class="tri_dates">
                            <div class="element1" style="display:block;">
                                <div>
                                    <input ng-model='dateSearch' class="form-control date-picker-from-month"
                                           id="date-picker-from-month" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <ul class="tri_option">
                            <li class="mdl-menu__item" ng-click="filterByDatePicker('All')"
                                ng-class="{'active': dateSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_DATES' | translate}]}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="box_filter n3">
                <button class="btn tri" ng-click="toggleUp2();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up2"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up2"></i>
                </button>
                <div>
                    <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="btnType">
                        {[{'FILT_TYPE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                    </button>

                    <ul class="dropdown-menu tri_option" id="selectType">
                        <li class="mdl-menu__item" ng-click="filterByType('All')" id="all"
                            ng-class="{'active': typeSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL' | translate}]}
                        </li>
                        <li class="mdl-menu__item" ng-click="filterByType('Ik')" id="ik"
                            ng-class="{'active': typeSearch == 'Ik'}"><i class="glyphicon glyphicon-ok"></i>Ik
                        </li>
                        <li class="mdl-menu__item" ng-click="filterByType('Transport')" id="transport"
                            ng-class="{'active': typeSearch == 'Transport'}"><i class="glyphicon glyphicon-ok"></i>{[{'TRANSPORT' | translate}]}
                        </li>
                        <li class="mdl-menu__item" ng-click="filterByType('Hebergement')" id="hebergement"
                            ng-class="{'active': typeSearch == 'Hebergement'}"><i class="glyphicon glyphicon-ok"></i>{[{'ACCOMMPDATION' | translate}]}
                        </li>
                        <li class="mdl-menu__item" ng-click="filterByType('Restauration')" id="restauration"
                            ng-class="{'active': typeSearch == 'Restauration'}"><i class="glyphicon glyphicon-ok"></i>{[{'CATERING' | translate}]}
                        </li>
                        <li class="mdl-menu__item" ng-click="filterByType('Autres')" id="autres"
                            ng-class="{'active': typeSearch == 'Autres'}"><i class="glyphicon glyphicon-ok"></i>{[{'OTHERS' | translate}]}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();">
                    <i class="glyphicon glyphicon-th"></i>
                </button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();">
                    <i class="glyphicon glyphicon-th-list"></i>
                </button>
            </div>
        </div>

    </div>
</div>

<div class="col-sm-12 badge_option_grid">
    <div class="badge_option">
        <div class="tabs-bar-content">
            <nav class="tabs-bar test_bar">
                <div class="tabs-list-container">
                    <ul class="tabs-list nav nav-tabs droptabs">
                        <li class="always-visible"><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('All')"
                                                      ng-class="{'active': statutSearch == ''}"><span class="badge badge-success"
                                                                            data-badge="{[{FiltersData.length}]}">{[{'FILTER_BY_TYPE' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('En attente de validation')"
                               ng-class="{'active': statutSearch == 'En attente de validation'}"><span
                                    class="badge badge-success" data-badge="{[{TotalAttente(FiltersData)}]}">{[{'WAITING' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Validé')"
                               ng-class="{'active': statutSearch == 'Validé'}"><span class="badge badge-success"
                                                                                  data-badge="{[{TotalValide(FiltersData)}]}">{[{'VALID' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Brouillon')"
                               ng-class="{'active': statutSearch == 'Brouillon'}"><span class="badge badge-success"
                                                                                     data-badge="{[{TotalBrouillon(FiltersData)}]}">{[{'DRAFT' | translate}]}</span></a>
                        </li>
                        <li><a href="javascript: void(0)" data-toggle="tab" ng-click="filterByStatus('Refusé')"
                               ng-class="{'active': statutSearch == 'Refusé'}"><span class="badge badge-success"
                                                                                  data-badge="{[{TotalRefuse(FiltersData)}]}">{[{'REJECTED' | translate}]}</span></a>
                        </li>

                        <li class="dropdown plusList pull-right"> <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">{[{'BUTTON_PLUS' | translate}]} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{ loading.spinner('loading','pointspinner') }}

    <table class="table table-striped" ng-hide="loading" id="table-expenses">
        <thead>
            <tr>
                <th></th>
                <th>{[{'COLLABORATER' | translate}]}</th>
                <th class="hideCol">{[{'NAME' | translate}]}</th>
                <th >{[{'DATE_ALIAS' | translate}]}</th>
                    {#            <th>Projet</th>#}
                <th>{[{'TYPE_ALIAS' | translate}]}</th>
                <th>{[{'PAYPERIOD' | translate}]}</th>
                <th>{[{'AMOUNT' | translate}]}</th>
                <th>{[{'STATUS' | translate}]}</th>
                <th class="hideCol">{[{'JUSTIF' | translate}]}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat=" (key,task) in data = (filterList | filter: {settings_pay_period_month:dateSearch|| undefined,type:typeSearch|| undefined,settings_status:{display_name:statutSearch|| undefined}  ,contributor:{user:{username:contributorSearch|| undefined}} }: true) | orderBy:'settings_pay_period.id' | orderBy:'type':up2| orderBy:'settings_status.id':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">
            <tr>

                {{ globalaction.checkbox("{[{task.uid}]}",'remove_{[{task.type}]}','{[{task.settings_pay_period.status}]}',preference.empData.user.roles[0],'{[{task.settings_status.display_name}]}',preference.empData.id) }}

                <td>{[{task.contributor.user.first_name }]} {[{task.contributor.user.last_name}]}</td>
                <td class="hideCol">{[{task.displayName}]}</td>
                <td>{[{task.date}]}</td>
                {#            <td>{[{task.settings_projects.display_name}]}</td>  #}
                <td>{[{task.type}]}</td>
                <td >{[{task.settings_pay_period_month}]}</td>
                <td  ng-if="task.type=='Ik'">{[{task.amountIkBase | currency}]}</td>
                <td ng-if="task.type=='Transport'">{[{task.amountTranBase | currency}]}</td>
                <td ng-if="task.type=='Hebergement'">{[{task.amountAccBase| currency}]}</td>
                <td ng-if="task.type=='Restauration'">{[{task.amountDinBase | currency}]}</td>
                <td ng-if="task.type=='Autres'">{[{task.amountOthBase | currency}]}</td>
                <td ng-if="task.settings_status.id=='1'" class="attente_stat">
                    <p>
                        {[{'WAITING' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                    <p>
                        {[{'DRAFT' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='2'" class="valide_stat">
                    <p>
                        {[{'VALID' | translate}]}
                    </p>
                </td>
                <td ng-if="task.settings_status.id=='3'" class="refuse_stat">
                    <p>
                        {[{'REJECTED' | translate}]}
                    </p>
                </td>
                <td class="hideCol">
                    <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}"
                       data-lightbox="example-1">
                        <span class="glyphicon glyphicon-paperclip text-muted"></span>
                    </a>
                    <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}" download>
                        <span class="glyphicon glyphicon-download text-muted"></span>
                    </a>
                </td>


                <td class="btns_actions_table" ng-if="task.type=='Ik'">
                    {{ action.secondary('confirm_Ik','cancel_Ik','remove_Ik') }}
                </td>

                <td class="btns_actions_table" ng-if="task.type=='Transport'">
                    {{ action.secondary('confirm_Transport','cancel_Transport','remove_Transport') }}
                </td>

                <td class="btns_actions_table" ng-if="task.type=='Hebergement'">
                    {{ action.secondary('confirm_Hebergement','cancel_Hebergement','remove_Hebergement') }}
                </td>

                <td class="btns_actions_table" ng-if="task.type=='Restauration'">
                    {{ action.secondary('confirm_Restauration','cancel_Restauration','remove_Restauration') }}
                </td>

                <td class="btns_actions_table" ng-if="task.type=='Autres'">
                    {{ action.secondary('confirm_Autres','cancel_Autres','remove_Autres') }}
                </td>
            </tr>
        <tbody>
    </table>
    <div class="pull-left">
        {[{data.length}]} {[{'RESULTS' | translate}]}
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}"
                    previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize"
                    class="pagination-sm pull-right" boundary-link-numbers="true">

    </uib-pagination>
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">

    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    <div ng-show="loading" class="col-md-12 col-sm-12 col-xs-12">
        {{ loading.spinner('loading','pointspinner') }}
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-12 col-xs-12"
         ng-repeat=" (key,task) in data = (filterList | filter: {settings_pay_period_month:dateSearch|| undefined,type:typeSearch|| undefined,settings_status:{display_name:statutSearch|| undefined}  ,contributor:{username:contributorSearch|| undefined} }: true) | orderBy:'settings_pay_period.id' | orderBy:'type':up2| orderBy:'settings_status.id':up1 | start: (currentPage - 1) * perPage | limitTo: perPage">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{task.displayName}]}</h2>
                <span style="">{[{task.date | date:'dd/MM/yyyy'}]}</span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">{[{task.contributor.user.username}]}</h4>
                    <p>{[{task.type}]}</p>
                </div>
            </div>
            <div class="card__supporting-text">
                <p ng-if="task.settings_status.id=='1'" class="attente_stat">
                    {#  {[{task.settings_status.display_name}]} #}
                    {[{'WAITING' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='4'" class="brouillon_stat">
                    {[{'DRAFT' | translate}]}
               </p>
                <p ng-if="task.settings_status.id=='2'" class="valide_stat">
                    {[{'VALID' | translate}]}
                </p>
                <p ng-if="task.settings_status.id=='3'" class="refuse_stat">
                    {[{'REJECTED' | translate}]}
                </p>
                <h4 ng-if="task.type=='Ik'" class="no-m-t mdl-color-text--grey-700">{[{task.amountIk | number:2}]}
                    €</h4>
                <h4 ng-if="task.type=='Transport'" class="no-m-t mdl-color-text--grey-700">{[{task.amountTran |
                    number:2}]} €</h4>
                <h4 ng-if="task.type=='Hebergement'" class="no-m-t mdl-color-text--grey-700">{[{task.amountAcc |
                    number:2}]} €</h4>
                <h4 ng-if="task.type=='Restauration'" class="no-m-t mdl-color-text--grey-700">{[{task.amountDin |
                    number:2}]} €</h4>
                <h4 ng-if="task.type=='Autres'" class="no-m-t mdl-color-text--grey-700">{[{task.amountOth | number:2}]}
                    €</h4>
            </div>
            <div class="card-action">
                <div class="card__menu_btns">
                    <div class="mdl-card__menu" ng-if="task.type=='Ik'">
                        {{ action.secondary('confirm_Ik','cancel_Ik','remove_Ik') }}
                    </div>

                    <div class="mdl-card__menu" ng-if="task.type=='Transport'">
                        {{ action.secondary('confirm_Transport','cancel_Transport','remove_Transport') }}
                    </div>

                    <div class="mdl-card__menu" ng-if="task.type=='Hebergement'">
                        {{ action.secondary('confirm_Hebergement','cancel_Hebergement','remove_Hebergement') }}
                    </div>

                    <div class="mdl-card__menu" ng-if="task.type=='Restauration'">
                        {{ action.secondary('confirm_Restauration','cancel_Restauration','remove_Restauration') }}
                    </div>

                    <div class="mdl-card__menu" ng-if="task.type=='Autres'">
                        {{ action.secondary('confirm_Autres','cancel_Autres','remove_Autres') }}
                    </div>
                    <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}"
                       data-lightbox="example-1">
                        <span class="glyphicon glyphicon-paperclip text-muted"></span>

                    </a>
                    <a ng-show="task.attachments.path" class="example-image" ng-href="{[{task.attachments.path}]}"
                       download>
                        <span class="glyphicon glyphicon-download text-muted"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->

<!--New -->
{% include 'hrm_expense/modal_new_expense.html.twig' %}

<!--Show -->
{% include 'hrm_expense/hrm_expense_ik/popup_show.html.twig' %}

<!--edit -->
{% include 'hrm_expense/modal_edit_expense.html.twig' %}

<!-- Modal -->
{#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{'MSG_CONF_DELETE' | translate}]}</h4>
            </div>
            <div class="modal-body">
                <p>{[{'MSG_DELETE' | translate}]}</p>
            </div>
            <div class="modal-footer">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                    <button type="button" ng-click="RemoveAll()" class="btn btn-warning">{[{'YES_ALIAS' | translate}]}</button>
                {% else %}
                    <button type="button" ng-click="CollaborateurRemoveAll()" class="btn btn-warning">{[{'YES_ALIAS' | translate}]}</button>
                {% endif %}
                <button type="button" class="btn btn-white btn-default" data-dismiss="modal">{[{'CANCEL' | translate}]}</button>
            </div>
        </div>
    </div>
</div>#}
<style type="text/css">
    .lb-number {
        display: none !important;
    }

    .lb-nav {
        display: none !important;
    }

    .lb-prev {
        display: none !important;
    }

    .lb-next {
        display: none !important;
    }
</style>
<script>
    $(function () {
        $('.date-picker-from-month').datepicker({
            format: 'mm/yyyy',
            autoclose: true,
            todayHighlight: false, //If true, highlights the current date.
            startView: "months",
            minViewMode: "months",
        }).on("changeDate", function (e) {
            try {
                date = moment(e.date).format('MM/YYYY')
            } catch (e) {
                date = null;
            }
            var scope = angular.element($('#date-picker-from-month')).scope();
            scope.$apply(function () {
                scope.dateSearch = date;
            });
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    });
</script>
<script src="{{ asset('assets/angular/filepicker.js') }}"></script>
<script type="text/javascript">
    filepicker.setKey("AYMtrggo0TACjDPBMsQ3uz");
    //filepicker.pick(picker_options, onSuccess(Blob){}, onError(FPError){}, onProgress(FPProgress){});
</script>
