<div id="paiPeriodExpenseCtrl" ng-controller="payPeriodExpenseCtrl" data-ng-init="get()">
<div class="space_div"></div>   
    <!-- Frais, Primes et autres -->
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="input-group pull-left">
                <input type="hidden" ng-model="searchText.item" class="form-control pull-left" >
            </div>
        </div>      
    </div>
<div class="col-sm-12">    
<fieldset>
        <legend>{[{'SUMMARY_BONUS' | translate}]}</legend>    
        
        
    {#   Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading_expense','pointspinner')}}
    
    <table class="table table-striped" ng-hide="loading_expense">   
        <thead>
            <tr>
                <th>{[{'COLLABORATER' | translate}]}</th>
                <th>{[{'EXPENSE' | translate}]}</th>
                <th class="blur">{[{'BONUS' | translate}]}</th>
                <th class="blur">{[{'PAY_DAY_VARIATION' | translate}]}</th>   
                <th class="blur">{[{'TRANSPORT' | translate}]}</th>
                <th class="blur">{[{'ADVANTAGE' | translate}]}</th>
                <th>{[{'PERIOD' | translate}]}</th>              
            </tr>
        </thead>
        <tbody ng-repeat="(key, task) in data = (filterList | filter: {period:payPeriodSearch.item|| undefined,username:contributorSearch|| undefined } : true)  | start: (currentPage - 1) * perPage | limitTo: perPage">
            <tr>
                <td>{[{ task.username }]} </td>
                <td>{[{ task.expense_amount | number}]} </td>
                <td>{[{ task.bonus_amount | number}]} </td>
                <td>{[{ task.payday_amount | number}]}</td>
                <td>{[{ task.transport_amount| number}]} </td>
                <td>{[{ task.advantage_amount | number}]} </td>
                <td>{[{ slct_pay_period }]}</td>
            </tr>
        </tbody>
    </table> 
    <div class="pull-left">
        {[{data.length}]}
        {[{'RESULTS' | translate}]}   
    </div>
    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
</fieldset>
</div>
    <!-- END Frais, Primes et autres -->
    <!-- show pay period -->
    <script src="{{ asset('assets/js/moment.min.js')}}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>


    <script type="text/javascript">
        $(function () {
            
             $('.date-picker-slct').datepicker({
                        autoclose: true,
                        todayHighlight: true,
                        startView: "months",
                        minViewMode: 1,
                }).on("changeDate", function(e) {
                    try { date = moment(e.date).format('YYYY-MM');
                          pp_date = moment(e.date).format('MM/YYYY');
                    }catch(e){ date = null; pp_date = null;}
                    angular.element($('#paiPeriodExpenseCtrl')).scope().slct_pay_period = pp_date;
                    angular.element($('#paiPeriodExpenseCtrl')).scope().datatable(date);
                }).next().on(ace.click_event, function () {
                        $(this).prev().focus();
                });                   
        });


    </script>     
</div>
