<div class="col-sm-12">
    <!-- Split button -->
    <div class="btn-group pull-left">
        <label>{[{'PERIOD' | translate}]}</label>
        <select ng-options="item.start_date as item.start_date  for item in ArrayOfPayPeriod.payperiodlist" ng-model="payPeriod">
            <option value="">{[{'FILTER_BY_DATE' | translate}]}</option>
        </select>
    </div>
    <div class="btn-group pull-right" style="margin-right: 30px;margin-bottom: 10px;">
        <span ng-switch="payperiodLength">
            <button ng-switch-when="0" type="button" class="btn btn-theme"  data-toggle="modal" data-target='#add_pp'>{[{'OPEN_PERIOD' | translate}]}</button>
            <button ng-switch-when="1" type="button" class="btn btn-theme"  data-toggle="modal" data-target='#open_pp'>{[{'OPEN_PERIOD' | translate}]}</button>
            <button ng-switch-default type="button" class="btn btn-theme"  data-toggle="modal" data-target='#default_pp'>{[{'OPEN_PERIOD' | translate}]}</button>
        </span>
        <span ng-show="payperiodLength >= 1">
            <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <!-- <li data-toggle="modal" data-target='#add_pp'><a href="#">Ajouter</a></li>-->
                <li data-toggle="modal" data-target='#close_pp'><a href="#">{[{'CLOSE' | translate}]}</a></li>
                <li><a href="{{path('apiSettingsPayPeriod_export_csv')}}">{[{'EXPORT' | translate}]}</a></li>
            </ul>
        </span>
        {% include 'dashboard/payPeriod/popup_open.html.twig' %}
        {% include 'dashboard/payPeriod/popup_add.html.twig' %}
        {% include 'dashboard/payPeriod/popup_close.html.twig' %}
        {% include 'dashboard/payPeriod/popup_default.html.twig' %}
    </div>
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="input-group pull-left">
                <input type="text" ng-model="searchText" class="form-control pull-left" placeholder="Search for...">
            </div>
        </div>
{#        <div class="col-sm-6 pull-right">
            <div class="input-group pull-right">
                <select ng-model="collaborateurSearch" ng-options="collaborateur for collaborateur in CollabArrayValues">
                    <option value="">{[{'FILTER_BY_EMPLOYEE' | translate}]}</option>
                </select>
            </div>
        </div>#}
    </div>
</div>
{[{ expense }]}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>{[{'EXPENSE' | translate}]}</th>
            <th>{[{'BONUS' | translate}]}</th>
            <th>{[{'PAY_DAY_VARIATION' | translate}]}</th>
            <th>{[{'TRANSPORT' | translate}]}</th>
            <th>{[{'ADVANTAGE' | translate}]}</th>
            <th>{[{'PERIOD' | translate}]}</th>
        </tr>
    </thead>
    <tbody ng-repeat="(key, task) in data = (filterList | filter: {startdate:payPeriod|| undefined,first_name:contributorSearch|| undefined } : true)  | start: (currentPage - 1) * perPage | limitTo: perPage">
        <tr>
            <td>{[{task.first_name task.last_name}]} </td>
            <td>{[{task.expense_amount}]} </td>
            <td>{[{task.bonus_amount}]} </td>
            <td> {[{task.payday_amount}]}</td>
            <td>{[{task.publictransport_amount}]} </td>
            <td>{[{task.advantage_dinning_amount}]} </td>
            <td>{[{task.startdate}]}</td>
        </tr>
    </tbody>
</table>
<div class="pull-left">
    {[{data.length}]}
    {[{'RESULTS' | translate}]}
</div>
<uib-pagination total-items="data.length" items-per-page="10" next-text="Next" previous-text="Previous" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
<!-- Frais, Primes et autres -->
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="input-group pull-left">
                <input type="text" ng-model="searchText" class="form-control pull-left" placeholder="Search for...">
            </div>
        </div>
        <div class="col-sm-6 pull-right">
            <div class="input-group pull-right">
                <select ng-model="collaborateurSearch" ng-options="collaborateur for collaborateur in CollabArrayValues">
                    <option value="">{[{'FILTER_BY_EMPLOYEE' | translate}]}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{[{'COLLABORATER' | translate}]}</th>
            <th>{[{'EXPENSE' | translate}]}</th>
            <th>{[{'BONUS' | translate}]}</th>
            <th>{[{'PAY_DAY_VARIATION' | translate}]}</th>
            <th>{[{'TRANSPORT' | translate}]}</th>
            <th>{[{'ADVANTAGE' | translate}]}</th>
            <th>{[{'PERIOD' | translate}]}</th>
        </tr>
    </thead>
    {#<tbody ng-repeat="(key, frai) in data = (filterList | filter: {startdate:payPeriod|| undefined,first_name:collaborateurSearch|| undefined } : true)  | start: (currentPage - 1) * perPage | limitTo: perPage">
      #}
    <tbody ng-repeat="(key, task)  in dataExpenceBonus">
    <tr>
            <td>{[{task.bonus_amounts}]} </td>
            <td>{[{task.emp}]} </td>
            <td> </td>
            <td> </td>
            <td ng-switch on="">
                <span ng-if='!task.nbr_nbr_transport'>0</span>
                <span ng-if='task.nbr_nbr_transport'>{[{task.nbr_nbr_transport}]}</span>
                J </td>
            <td>{[{task.startdate}]}</td>
        </tr>
    </tbody>
</table>
<div class="pull-left">
    {[{data.length}]}
    {[{'RESULTS' | translate}]}
</div>
<uib-pagination total-items="data.length" items-per-page="10" next-text="Next" previous-text="Previous" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>
<!-- END Frais, Primes et autres -->
<!-- show pay period -->
{#<script src="{{ asset('assets/js/moment.min.js')}}"></script>
<script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>#}