{% extends 'base.html.twig' %}
{% block body %}
    {#  <link href="{{ asset('assets/charts/css/vendors.min.css')}}" rel="stylesheet" />
      <link href="{{ asset('assets/charts/css/styles.min.css')}}" rel="stylesheet" /> #}
    <style>
        g.c3-chart-arc.c3-target.c3-target-0-requests text, g.c3-chart-arc.c3-target.c3-target-0-demandes text{
            fill-opacity: 0 !important;
        }
        tr.c3-tooltip-name--0-requests, tr.c3-tooltip-name--0-demandes{
            display:none !important;
        }
        g.c3-legend-item text, .c3-chart-arc.c3-target text, .c3-tooltip-container td{
            font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
        }
    </style>
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div class="col-sm-12 header-content">
                    <div class="col-sm-6 col-xs-12 title_header">
                        <h2>{[{'DASH' | translate}]}</h2>
                    </div>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                        <!-- Split button -->

                    {% endif %}
                </div>
                    {% include 'dashboard/charts/donut.html.twig' %}
                    {% include 'dashboard/charts/grids.html.twig' %}
                    {% include 'dashboard/charts/bar.html.twig' %}
                    {#     <ul class="nav nav-tabs padding-12" id="myTab4" ng-controller="expenseCtrl">
    
                            <li class="active" >
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                                    <a data-toggle="tab" href="#Expense" id="expense">{[{'EXPENSE' | translate}]}</a>
                                {%else%}
                                    <a data-toggle="tab" href="#Expense" id="expense">{[{'FRAIS_P' | translate}]}</a>
                                {%endif%}
                            </li>
                            <li>
                                <a data-toggle="tab" id="TabHolidays" name="TabHolidays" href="#Abscences">{[{'ABSENCE' | translate}]}</a>
                            </li>
                            {% if is_granted('ROLE_RESPONSABLE') %}
                                <li>
                                    <a data-toggle="tab" href="#Export">{[{'EXPORT' | translate}]}</a>
                                </li>
                            {%endif%}
                        </ul>
                        <div class="tab-content">
                            <div id="Expense" class="tab-pane in active">
                                <div id="fraisCtrl" ng-controller="expenseCtrl" data-ng-init="datatable()">
                                    {% include 'dashboard/expense.html.twig' %}
                                </div>
                            </div>
                            <div id="Abscences" class="tab-pane">
                                <div id="absenceCtrl" ng-controller="requestAbsenceCtrl" data-ng-init="datatable()">
                                    {% include 'dashboard/Absence.html.twig' %}
                                </div>
                            </div>
                            {% if is_granted('ROLE_RESPONSABLE') %}
                                <div id="Export" class="tab-pane">
                                    {% include 'dashboard/ExportAbsence.html.twig' %}
                                    {% include 'dashboard/ExportExpense.html.twig' %}
                                </div>
                            {% endif %} #}
            </div>
        </div>
    </div>
{# <script charset="utf-8" src="{{ asset('assets/charts/js/vendors.min.js')}}"></script>
 <script charset="utf-8" src="{{ asset('assets/charts/js/app.min.js')}}"></script>  #}     
{% endblock %}

{% block AngularjsControllers %}
    <script src={{ asset('angular/ExpenseBundle/expenseCtrl.js')}}></script>
    <script src={{ asset('angular/requestAbsenceBundle/requestAbsenceCtrl.js')}}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodCtrl.js')}}></script>
    <script src={{ asset('angular/PayPeriodBundle/payPeriodExpenseCtrl.js')}}></script>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        $(function () {


            $('.date-picker-slct-expense').datepicker({
                format: 'mm/yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                startDate: "01/1900"
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-expense')).scope().expenseMonthDonutChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.date-picker-slct-absence').datepicker({
                format: 'mm/yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                startDate: "01/1900"
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-absence')).scope().absencesMonthDonutChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            /********* select by years ******************/
            $('.date-picker-slct-expense-years').datepicker({
                format: 'yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "years",
                minViewMode: "years",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-expense')).scope().expenseYearsBarCharts(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.date-picker-slct-absence-years').datepicker({
                format: 'yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "years",
                minViewMode: "years",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#bar-chart-absence')).scope().absencesYearsBarCharts(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
        });
        
        /********** data grid ************/
 $('.date-picker-slct-expense-grid').datepicker({
                format: 'mm/yyyy',
                startDate: "01/1900",
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#grid-chart-expense')).scope().expenseMonthGridChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.date-picker-slct-absence-grid').datepicker({
                format: 'mm/yyyy',
                startDate: "01/1900",
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#grid-chart-absence')).scope().absencesMonthGridChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });        

    </script> 
{% endblock %}