    <style>
        g.c3-chart-arc.c3-target.c3-target-0-requests text, g.c3-chart-arc.c3-target.c3-target-0-demandes text{
            fill-opacity: 0 !important;
        }
        tr.c3-tooltip-name--0-requests, tr.c3-tooltip-name--0-demandes{
            display:none !important;
        }
        g.c3-legend-item text, .c3-chart-arc.c3-target text, .c3-tooltip-container td{
            font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
        }
    </style>
    <div class="page-content">
        <div class="row" id="fuelux-wizard-container">
            <div class="col-sm-12">
                <div class="col-sm-12 header-content">
                    <div class="col-sm-6 col-xs-12 title_header">
                        <h2>{[{'DASH' | translate}]}</h2>
                    </div>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RESPONSABLE') %}
                        <!-- Split button -->

                    {% endif %}
                </div>
                {% include 'dashboard/charts/donut.html.twig' %}
                {% include 'dashboard/charts/grids.html.twig' %}
                {% include 'dashboard/charts/bar.html.twig' %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {


            $('.date-picker-slct-expense').datepicker({
                format: 'mm/yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                startDate: "01/1900"
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-expense')).scope().expenseMonthDonutChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.date-picker-slct-absence').datepicker({
                format: 'mm/yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "months",
                minViewMode: "months",
                startDate: "01/1900"
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY-MM');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-absence')).scope().absencesMonthDonutChart(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            /********* select by years ******************/
            $('.date-picker-slct-expense-years').datepicker({
                format: 'yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "years",
                minViewMode: "years",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#donut-chart-expense')).scope().expenseYearsBarCharts(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('.date-picker-slct-absence-years').datepicker({
                format: 'yyyy',
                autoclose: true,
                todayHighlight: true, //If true, highlights the current date.
                startView: "years",
                minViewMode: "years",
                /* beforeShowMonth:function(d)
                 {                               
                 return 'highlight';
                 }*/
            }).on("changeDate", function (e) {
                try {
                    date_y_m = moment(e.date).format('YYYY');
                } catch (e) {
                    date_y_m = null;
                }
                angular.element($('#bar-chart-absence')).scope().absencesYearsBarCharts(date_y_m);
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
        });

        /********** data grid ************/
        $('.date-picker-slct-expense-grid').datepicker({
            format: 'mm/yyyy',
            startDate: "01/1900",
            autoclose: true,
            todayHighlight: true, //If true, highlights the current date.
            startView: "months",
            minViewMode: "months",
            /* beforeShowMonth:function(d)
             {
             return 'highlight';
             }*/
        }).on("changeDate", function (e) {
            try {
                date_y_m = moment(e.date).format('YYYY-MM');
            } catch (e) {
                date_y_m = null;
            }
            angular.element($('#grid-chart-expense')).scope().expenseMonthGridChart(date_y_m);
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('.date-picker-slct-absence-grid').datepicker({
            format: 'mm/yyyy',
            startDate: "01/1900",
            autoclose: true,
            todayHighlight: true, //If true, highlights the current date.
            startView: "months",
            minViewMode: "months",
            /* beforeShowMonth:function(d)
             {
             return 'highlight';
             }*/
        }).on("changeDate", function (e) {
            try {
                date_y_m = moment(e.date).format('YYYY-MM');
            } catch (e) {
                date_y_m = null;
            }
            angular.element($('#grid-chart-absence')).scope().absencesMonthGridChart(date_y_m);
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

    </script>
