<div class="col-sm-12 header-content">
    <div class="col-sm-6 col-xs-12 title_header">
        <h2>{[{'LIST_VEHICULES' | translate}]}</h2>
    </div>
    <!-- Split button -->
    <div class="col-sm-6 col-xs-12 btns_header " style="margin-bottom: 10px;">
{#      <a href="{{ path('adminRoles_new')|replace({'%23':'#'})}}" class="btn btn-theme" >{[{'BUTTON_NEW' | translate}]}</a>#}
        <button type="button" class="btn btn-theme"  data-toggle="modal" data-target='#New' ng-click="">{[{'BUTTON_NEW' | translate}]}</button>
    </div>
</div>
{#<div class="filtre_options">
    <div class="filtre_options_container">
        <div class="col-md-4 col-sm-12 wrap_btns_head_tab_left">
            <div style="width:100%;">
                <div class="mat-slide-right pull-right" style="width:100%;">
                    <form class="search-form form-inline pull-left ">
                        <div class="form-group input_search_header">
                            <label class="sr-only" for="search-input">{[{'SEARCH' | translate}]}</label>
                            <input type="text" class="form-control" ng-model="searchText" placeholder="{[{'SEARCH' | translate}]}"> </div>
                    </form>
                </div>
                <div class="pull-right btn_search_header">
                    <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                </div>
            </div>
        </div>                
        <div class="col-md-8 col-sm-12 wrap_btns_head_tab_right">

            <div class="box_filter n1 searchOp">
                <button class="btn tri_up_down" ng-click="toggleCustomSearch()">
                    <i class="glyphicon glyphicon-user"></i> {[{'ALL_EMPLOYEE' | translate}]} <i class="glyphicon glyphicon-chevron-down"></i>
                </button>
                <div id="customListSearchF" class="drop-menu" ng-hide="custom_search">
                    <ul class="tri_option">
                        <li class="mdl-menu__item" ng-click="filterByContributor('All')" ng-class="{'active': contributorSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}</li>
                        <span ng-repeat="(key,collaborateur) in CollabArrayValues">
                            <li class="separator_item"></li>
                            <li class="mdl-menu__item" ng-click="filterByContributor(collaborateur)" ng-class="{'active': contributorSearch == collaborateur}"><i class="glyphicon glyphicon-ok"></i>{[{collaborateur}]}</li>
                        </span>
                    </ul> 
                </div>  
            </div>  


            <div class="box_filter n2 pull-right" >

                <button class="btn mdl-button mdl-js-button tri"   ng-click="toggleUp1();">
                    <i class="glyphicon glyphicon-arrow-down" ng-show="up1"></i>
                    <i class="glyphicon glyphicon-arrow-up" ng-hide="up1"></i>
                </button>
                <button class="btn tri_up_down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {[{'FILTER_BY_CONTRAT' | translate}]}  <i class="glyphicon glyphicon-chevron-down"></i>
                </button>

                <ul class="dropdown-menu tri_option">
                    <li class="mdl-menu__item" ng-click="filterByContract('All')" ng-class="{'active': contractSearch == ''}"><i class="glyphicon glyphicon-ok"></i>{[{'ALL_EMPLOYEE' | translate}]}</li>
                    <span ng-repeat="(key,contract) in contractList">
                        <li class="separator_item"></li>
                        <li class="mdl-menu__item" ng-click="filterByContract(contract)" ng-class="{'active': contractSearch == contract}"><i class="glyphicon glyphicon-ok"></i>{[{contract}]}</li>
                    </span>
                </ul> 						
            </div>
            <div class="box_filter n4">
                <button class="btn view_module" ng-class="{'selected_view': showCard}" ng-click="showCardP();"><i class="glyphicon glyphicon-th"></i></button>
                <button class="btn view_list" ng-class="{'selected_view': showTable}" ng-click="showTab();"><i class="glyphicon glyphicon-th-list"></i></button>
            </div>
        </div>

    </div>            
</div> #} 
<div class="space_div"></div>
<!-- Présenation table -->
<div class="col-sm-12 table_grid" ng-show="showTable">

    {#       Appear/Disappear Loading in datatables param(scope Name,Class of spinner) #}
    {% import "loader/tableLoader.html.twig" as loading %}
    {{loading.spinner('loading','pointspinner')}}
    <table datatable="ng" class="table table-striped" ng-hide="loading" data-ng-init="init()">
        <thead>
            <tr>
                <th>{[{'NAME' | translate}]}</th>
                <th>{[{'DESCRIPTION' | translate}]}</th>
                <th></th>
        </thead>
{#        <tbody ng-repeat="(key, task) in response = (filterList | filter: {first_name:contributorSearch||undefined,employee_contract:{contractType:{display_name:contractSearch|| undefined}} && undefined}: true)| orderBy:'contractType.contractType.display_name':up1  | start: (currentPage - 1) * perPage | limitTo: perPage">#}
        <tbody>
            <tr data-ng-repeat="settingsAdvVehicle in data.settingsAdvVehicles">
                <td>{[{ settingsAdvVehicle.display_name }]}</td>
                <td>{[{ settingsAdvVehicle.description }]}</td>             
                <td class="btns_actions_table"> 
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="md md-more-vert f20"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">

                            <li><a href="javascript:void(0)" ng-click="path('adminSettingsGiftContext_edit', settingsgiftcontext.id)" data-rel="tooltip" title="Edit" ><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                            <li><a href="javascript:void(0)" ng-click="delete(settingsAdvVehicle.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                        </ul>
                    </div>
                </td>       
            </tr>
        </tbody>
    </table>
    <div class="pull-left">
        {[{response.length}]}
        {[{'RESULTS' | translate}]} 
    </div>
{#    <uib-pagination total-items="data.length" items-per-page="10" next-text="{[{'NEXT' | translate}]}" previous-text="{[{'PREVIOUS' | translate}]}" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true"></uib-pagination>#}
</div>
<!-- Présenation Card -->
<div class="col-sm-12 card_grid" ng-hide="showTable">
    <div class="col-md-4 col-sm-12 col-xs-12" data-ng-repeat="settingsAdvVehicle in data.settingsAdvVehicles">
        <div class="card bordered">
            <div class="card-header">
                <h2 class="mdl-card__title-text mdl-color-text--orange-700">{[{ settingsAdvVehicle.display_name }]}</h2>
                <span></span>
            </div>
            <div class="card-content">
                <div class="p-00">
                    <h4 class="no-m-t mdl-color-text--grey-700">
                        <p>
                            {[{ settingsAdvVehicle.description }]}
                        </p>                     
                    </h4>
                </div>
            </div>
            <div class="card__supporting-text">
                <p>
                </p>   
                {#<h4 class="no-m-t mdl-color-text--grey-700">{[{task.country_birth}]}</h4>#}                          
            </div>
            <div class="card-action">
                <div class="card__menu_btns">
                    <div class="mdl-card__menu"> 
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-theme btn-sm icon-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="md md-more-vert f20"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="path('adminSettingsGiftContext_edit', settingsgiftcontext.id)" data-rel="tooltip" title="Edit" ><i class="icon-arrow-up"></i>{[{'BUTTON_EDIT' | translate}]}</a></li>
                                <li><a href="javascript:void(0)" ng-click="delete(settingsAdvVehicle.id)" class="tooltip-error" data-rel="tooltip" title="Delete"><i class="icon-arrow-up"></i>{[{'REMOVE' | translate}]}</a></li>
                            </ul>
                        </div>
                    </div>     
                </div>
            </div>
        </div>

    </div>
</div>                      

<!-- Modal -->

<!--New -->
{#{% include 'Admin/settingsroles/new.html.twig' %}#}
{#<a class="btn float-btn  btn-theme"  target href="{{path('adminSettingsAdvVehicle_new')|replace({'%23':'#'})}}">    
        <i class="ace-icon fa fa-plus"></i>
   Nouveau
  </a>#}
