<!-- End Check and Set default language -->
{{ form_start(form, { 'attr' : { 'class': 'form-horizontal' ,'role':'form', 'id':'myform' ,'ng-submit':'save("dining")'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body" id="New" ng-show="data.type=='Restauration'">

    <div class="form-group">
        {{ form_label(form.type, "{[{'EXPENSE_TYPE' | translate}]}") }}
        {{ form_errors(form.type) }}
        <div class="col-sm-5">
            {{ form_widget(form.type,{'attr':{'ng-model':'data.type'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.display_name, "{[{'NAME' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'data.display_name'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.taxModel, "{[{'TAX_MODELE' | translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.taxModel, {'attr': {'class': 'form-control', 'ng-model':'data.tax_model'} } ) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'data.description'} } ) }}
        </div>
    </div>
{#          <div class="form-group">
        {{ form_label(form.seqno, "{[{'SEQNO'|translate}]}", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        <div class="col-sm-5">
            <div class="input-grpppoup">
                {{ form_widget(form.seqno, {'attr': {'type':'text','class': 'form-control', 'ng-model':'data.seqno'} } ) }}
            </div>
        </div>
    </div>#}
    <div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="checkbox" id="checkbox" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
