{% extends 'base.html.twig' %}
{% block body %}
    <div align="center">
        <div class="error-404">
            <span class="error-icon">
                <i class="fa fa-exclamation-triangle"></i></span>
            <h1 class="entry-title">{{ status_code }}-Page Introuvable</h1></div>
        <h5>
            Nous avons rencontré une erreur inattendue. Notre équipe a été notifiée. Merci de votre compréhension et réessayer ultérieurement.
        </h5>
    </div>
    <style>
        .error-404 .error-icon {
            font-size: 100px;
            color: #a94442;
        }
        h1,h5{
            color: #f57b00;
            font-weight: 300;
            font-family: Open Sans, Helvetica, Arial, sans-serif;
            margin: 0 0 15px;
        }
    </style>
{% endblock %}