<!-- Check and Set default language -->
{% if app.user.employee[0].preference is empty %}
    {% set local = 'fr' %}
    {% set format = 'fr' %}
{% else %}
    {% set local = app.user.employee[0].preference.local %}
    {% set format = app.user.employee[0].preference.format|lower %}
{% endif %}
<!-- End Check and Set default language -->
{{ form_start(form, {'full_name': 'menuTitle','attr' : { 'class': 'form-horizontal','id':'form_new_settingtraining','name':'form_new_settingtraining' ,'role':'form'} }) }}
<div class="space_div without_border"></div>
<div class="modal-body">
    
       <div class="form-group">
           {{ form_label(form.display_name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right asterix'} }) }}
           <div class="col-sm-5">
               <div class="input-grpppoup">
               {{ form_widget(form.display_name, {'attr': {'type':'text','class': 'form-control', 'ng-validation':'', 'ng-model':'new_settingtrainingtype.display_name'} } ) }}
                 </div>
           </div>
       </div>
       <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
           <div class="col-sm-5">
               {{ form_widget(form.description, {'attr': {'class': 'form-control', 'ng-validation':'', 'ng-model':'new_settingtrainingtype.description'} } ) }}
           </div>
       </div>
{#<div class="form-actions center navbar-fixed-bottom" style="margin-bottom: 0px">

    <input name="form-field-checkbox" type="checkbox" class="new-item ace input-lg">
    <span class="lbl bigger-120"> Créer un autre</span>    
        <button type="submit" class="btn float-btn  btn-theme">
              Valider
        </button>    
     <button type="button" class="btn  float-btn  btn-theme-annu" ng-click="path('adminTrainingType_index')"> Annuler</button>              
    
 </div>#}
<div class="space_div btns_actions"></div>
    <div class="modal-footer form-actions center">
        <div class="checkbox with_label">
            <label>
                <input name="form-field-checkbox" ng-model="createother" id="checkAbsenceSetting" type="checkbox"
                       class="new-item ace input-lg">
                {[{'ADD_NEW' | translate:userData}]}
            </label>
        </div>
        <button class="btn btn-sm  btn-success action" type="submit" ng-click="save()"
                ng-disabled="IsDisabled">
            {[{'BUTTON_VALIDATE' | translate:userData}]}
        </button>
        <button type="button" class="btn btn-white btn-default reset" data-dismiss="modal" aria-label="Close"
                ng-disabled="IsDisabled">
            {[{'CANCEL' | translate:userData}]}
        </button>
    </div>
</div>
    {{ form_end(form) }}
 </div> 
 </div> 
 </div> 
